extends layout
block vars
    - var title = "Ошибка 404";
block content
    .Err
        .Err_code 404
        .Err_title Извините, страница не найдена.
        .Err_picWrap
            img(src="/img/red_branch_with_bird.svg", alt="")
        .Err_desc
            .TextBlock
                p Что-то пошло не так, всегда рады проконсультировать
                    br
                    | Вас по телефону:
                p
                    span(style="font-size: 150%;") +7 495 933-88-55
        .Err_btnWrap
            a(href="/").Btn.Btn-size2.Btn-color2 Вернутся на главную
block page_bottom
    //-script(src="/js/script_file_for_this_page.js")