extends layout
block vars
    - var title = "О проекте";
block content
    .PopupBtn.PopupBtn-n2(style="opacity:0;")
        .PopupBtn_btn.PopupBtn_btn-birdIco
            .PopupBtn_wave.PopupBtn_wave-n1
            .PopupBtn_wave.PopupBtn_wave-n2

        .PopupBtn_content
            .PopupBtn_wrp
                h4 Акция «Золотая пора»
                p Квартиры с большими окнами от 3,4 млн руб. Выгода до 1,2 млн руб.
                .PopupBtn_btns
                    a(href="/promo_single.html").Btn.Btn-white Перейти к акции
                    a(href="/promos.html").PopupBtn_link Все акции
    header.PageHead.wow.fadeInUp
        +Breadcrumbs
        h1.PageHead_title #{title}
    .Bird.Bird-n1.wow.fadeIn(data-wow-delay="0.4s")
    .Bird.Bird-n1.Bird-animate
    .Box.Box-smExtended
        .FeatureCard.wow.fadeInUp(data-wow-delay="0.4s")
            .FeatureCard_topWrap
                .FeatureCard_details
                    .FeatureCard_num 01
                    h5.FeatureCard_head Миниполис
                .FeatureCard_mainPicture(style="background-image: url(/tmp/slideshow/4.jpg);")
            .FeatureCard_textPlate
                .FeatureCard_textContent
                    .FeatureCard_textPicture(style="background: url('/img/feature_cards_pics/red_birds_in_textblock.svg') center left no-repeat;")
                    .FeatureCard_text
                        p Миниполис “Серебрица” — пространство неповторимым ритмом жизни. Миниполис расположен на северо-западе от Москвы, всего в девяти километрах от МКАД. 
                    .FeatureCard_text.FeatureCard_text-red
                        p Тут нет городской суеты, и в любое время года и в любую погоду особое, легкое настроение. Дела идут на лад, а на душе светло и спокойно. 

        .FeatureCard.FeatureCard-reversed.wow.fadeInUp(data-wow-delay="0.2s")
            .FeatureCard_topWrap
                .FeatureCard_details.FeatureCard_details-redBg(style="background-image: url(/img/feature_cards_pics/bamboo_head_pattern.svg);background-size: 90% auto;")
                    .FeatureCard_num 02
                    h5.FeatureCard_head Экология
                .FeatureCard_mainPicture(style="background-image: url(/tmp/slideshow/3.jpg);")
            .FeatureCard_textPlate
                .FeatureCard_textContent
                    .FeatureCard_textPicture(style="background: url('/img/feature_cards_pics/bamboo.svg') bottom left 25px no-repeat;")
                    .FeatureCard_text
                        p Миниполис в Опалихе расположен в экологическом районе и окружен живописным лесом. 
                    .FeatureCard_text.FeatureCard_text-green
                        p Здесь воздух по-настоящему чист, а природа поражает своей первозданной красотой и умиротворенностью. Птица-серебрица обитает только там, где царят гармония и счастье.

        .FeatureCard.wow.fadeInUp(data-wow-delay="0.2s")
            .FeatureCard_topWrap
                .FeatureCard_details.FeatureCard_details-violetBg(style="background-image: url(/img/feature_cards_pics/simple_pattern.svg);background-size: contain;")
                    .FeatureCard_num 03
                    h5.FeatureCard_head Пространство
                .FeatureCard_mainPicture(style="background-image: url(/tmp/slideshow/4.jpg);")
            .FeatureCard_textPlate.FeatureCard_textPlate-mdExtended
                .FeatureCard_textContent
                    .FeatureCard_textPicture(style="background: url('/img/feature_cards_pics/bird_in_pattern_lines.svg') left 23% center no-repeat; background-size: cover;border-right: solid 1px #EFEFEF;")
                    .FeatureCard_text
                        p В миниполисе “Серебрица” каждый элемент продуман до мелочей. Здесь всё под рукой и радует глаз.
                    .FeatureCard_text.FeatureCard_text-yellow
                        p Удобное расположение, развитая инфраструктура, размещение объектов, архитектура, интерьеры — всё создается для комфортной и гармоничной семейной жизни. Всё на своём месте и служит для удобства каждого жителя миниполиса.

        .FeatureCard.FeatureCard-reversed.wow.fadeInUp(data-wow-delay="0.2s")
            .FeatureCard_topWrap
                .FeatureCard_details.FeatureCard_details-yellowBg(style="background-image: url(/img/feature_cards_pics/railroad_head_pattern.svg);background-size: contain; background-position: bottom 10% center;")
                    .FeatureCard_num 04
                    h5.FeatureCard_head Транспортная доступность
                .FeatureCard_mainPicture(style="background-image: url(/tmp/slideshow/3.jpg);")
            .FeatureCard_textPlate.FeatureCard_textPlate-mdExtended
                .FeatureCard_textContent
                    .FeatureCard_textPicture(style="background: url('/img/feature_cards_pics/roads.svg') center no-repeat; background-size: auto 101%;")
                    .FeatureCard_text
                        p Каждый может выбрать для себя оптимальный способ добраться до Москвы и вернуться обратно! 
                    .FeatureCard_text.FeatureCard_text-violet
                        p Домчаться на личном автомобиле, послушать музыку в автобусе или почитать интересную книгу в электричке — варианты на любой вкус! Полчаса — и вы в центре города!

block page_bottom
    script(src="/js/about.js")