extends layout
block vars
   - var title = "Title of this Аrticle";
block content
   +PopupBtn
   header.PageHead
      +Breadcrumbs([
         {url: "/articles.html", title: "Новости"},
      ])
      h1.PageHead_title #{title}
   .Box.Box-smExtended
      .articles.articles--single
         .articles__header
            a(href="./article_single.html").articles__link.articles__link--inactive Предыдущая
            a(href="./article_single.html").articles__link Следующая
         .articles__wrp
            .article
               .article__date 10.09<span class="article__date-hide-smPlus">.17</span>
                  span.article__date-show-smPlus 2017
               a(href="/article_single.html").article__title #{title}
               p.article__text Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus ut imperdiet justo. Quisque pellentesque ac elit… Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus ut imperdiet justo. Quisque pellentesque ac elit…Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus ut imperdiet justo. Quisque pellentesque ac elit…
               p.article__text Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus ut imperdiet justo. Quisque pellentesque ac elit…Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus ut imperdiet justo. Quisque pellentesque ac elit…
            .article__form
                form.Form#articleForm(data-action="/ajax/form-captcha-error-response.json" autocomplete="off")
                    .Form_grid.Form_grid-v2
                        .Form_col
                            .Form_item
                                input.Form_field(placeholder='Фамилия *' name='lastname' required="required")
                        .Form_col
                            .Form_item
                                input.Form_field(placeholder='Имя *' name='firstname' required="required")
                        .Form_col
                            .Form_item
                                input.Form_field(placeholder='Отчество' name='patronymic')
                        .Form_col
                            .Form_item
                                input.Form_field(placeholder='E-mail*' name='form_field[p__41][value]' type="email" required="required")
                        .Form_col
                            .Form_item
                                input.Form_field(placeholder='Телефон*' name='form_field[p__4197][value]' type="tel" required="required")
                        .Form_col
                            .Form_item
                                input.Form_field(placeholder='Второй телефон' name='form_field[p__5197][value]' type="tel")
                        .Form_col
                            .Form_item.Form_item-captchaItem
                                .Form_captchaPicWrap
                                    img.Form_captchaPic(src='/tmp/104x53.png' alt='' title='обновить картинку')                                  
                                .Form_captchaInputWrap
                                    input.Form_field(name='captcha' placeholder='Код с картинки*' required='required')
                        .Form_col
                            .Form_item
                                input(type='hidden' name='form_field[p__4200][title]' value='Количество сопровождающих')
                                input.Form_field(placeholder='Количество сопровождающих  *' type="number" min="0" max="15" name='form_field[p__4200][value]' required="required")

                        .Form_col.Form_col-forAccept
                            .Form_item.Form_item-chkItem
                                .Form_checkbox
                                    label
                                        input.Form_chkbInp(type='checkbox' name='agree' required='required')
                                        i.Form_chkbView &nbsp;                 
                                    .Form_chkText Согласие на 
                                        a.Form_chkLinkTxt(href='http://www.pdf995.com/samples/pdf.pdf' target='_blank' rel='nofollow noopener') обработку персональных данных
                        .Form_col.Form_col-forBtn
                            .Form_item.Form_item-btn
                                button.Btn.Btn-extended(type="submit") Отправить
block page_bottom
    script(src="/js/article_single.js")