extends layout
block vars
   - var title = "Новости";
block content
   header.PageHead.wow.fadeInUp
      +Breadcrumbs
      h1.PageHead_title #{title}
   +PopupBtn
   .Box.Box-smExtended
      .articles
         .articles__header.wow.fadeInUp
            .articles__select-wrp
               .articles__select
                  select
                     option Все новости
                     option Свежие
               .articles__select
                  select
                     option 2017
                     option 2016
                     option 2015
                     option 2014
                     option 2013
            .articles__search
               input.articles__search-field(type="text" placeholder="Поиск")
               input.articles__search-btn(type="submit")
         .articles__wrp
            .article.wow.fadeInUp(data-wow-delay="0.1s")
               .article__date 10.09<span class="article__date-hide-smPlus">.17</span>
                  span.article__date-show-smPlus 2017
               a(href="/article_single.html").article__title Title of this feature slice
               p.article__text Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus ut imperdiet justo. Quisque pellentesque ac elit…
               a(href="/article_single.html").article__link Перейти
            .article.wow.fadeInUp(data-wow-delay="0.2s")
               .article__date 10.09<span class="article__date-hide-smPlus">.17</span>
                  span.article__date-show-smPlus 2017
               a(href="/article_single.html").article__title Phase
               p.article__text Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus ut imperdiet justo. Quisque pellentesque ac elit…
               a(href="/article_single.html").article__link Перейти
            .article.wow.fadeInUp(data-wow-delay="0.3s")
               .article__date 10.09<span class="article__date-hide-smPlus">.17</span>
                  span.article__date-show-smPlus 2017
               a(href="/article_single.html").article__title Title of this feature
               p.article__text Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus ut imperdiet justo. Quisque pellentesque ac elit…
               a(href="/article_single.html").article__link Перейти
            .article.wow.fadeInUp(data-wow-delay="0.4s")
               .article__date 10.09<span class="article__date-hide-smPlus">.17</span>
                  span.article__date-show-smPlus 2017
               a(href="/article_single.html").article__title Title of this feature slice vestibulm ante
               p.article__text Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus ut imperdiet justo. Quisque pellentesque ac elit…
               a(href="/article_single.html").article__link Перейти
            .article.wow.fadeInUp(data-wow-delay="0.5s")
               .article__date 10.09<span class="article__date-hide-smPlus">.17</span>
                  span.article__date-show-smPlus 2017
               a(href="/article_single.html").article__title Vestibulm ante slice
               p.article__text Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus ut imperdiet justo. Quisque pellentesque ac elit…
               a(href="/article_single.html").article__link Перейти
block page_bottom
   script(src="/js/articles.js")