extends layout
block vars
    - var title = "Blank page";
block content
    header.PageHead
        +Breadcrumbs([ 
            {url: "/", title: "Категория"},
            {url: "/", title: "Подкатегория"},
        ])
        h1.PageHead_title #{title}
    +PopupBtn
    each i in [1,2]
        .Box
            .TextBlock
                h3  Пример пустой страницы. Можно использовать как шаблон для новых страниц.
                p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam quis repellat nulla beatae ea natus quae ratione excepturi fugit. Ea aut placeat accusamus impedit veritatis, debitis quis beatae enim optio ullam aperiam, ipsum minima quasi alias consequatur pariatur quo, sunt sed, amet. Amet inventore tempore, nostrum omnis, libero at cum animi, vero distinctio repellat ex in! Vero ab hic aperiam quaerat nesciunt officiis alias, repellat optio eaque cumque! Excepturi odio, officiis ut. Animi aut dolorum optio vitae expedita. 
                p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam quis repellat nulla beatae ea natus quae ratione excepturi fugit. Ea aut placeat accusamus impedit veritatis, debitis quis beatae enim optio ullam aperiam, ipsum minima quasi alias consequatur pariatur quo, sunt sed, amet. Amet inventore tempore, nostrum omnis, libero at cum animi, vero distinctio repellat ex in! Vero ab hic aperiam quaerat nesciunt officiis alias

block page_bottom
    //-script(src="/js/script_file_for_this_page.js")
    .PopBnr#ppbn_1
        img.PopBnr_img(src="/tmp/1500x1000.png" alt="")
    script.
        new PopBnr("#ppbn_1", {showMode: "session"});