extends layout
block vars
	- var title = "Ипотека";
	include includes/chunks/banks_list.pug
block content
	header.PageHead.PageHead-withButton.wow.fadeInUp
		+Breadcrumbs
		h1.PageHead_title #{title}

	.calculator
		.Box.Box-smExtended.wow.fadeInUp(data-wow-delay="0.2s")
			.Teaser_txtWrap.Teaser_txtWrap_FullWidth
				p Миниполис Серебрица аккредитован в&nbsp;ведущих банках, которые предлагают наиболее выгодные для вас условия кредитования. К&nbsp;каждому клиенту у&nbsp;нас индивидуальный подход.

				p Сделку ведет наш кредитный менеджер. Он&nbsp;ответит на&nbsp;любые вопросы, связанные с&nbsp;покупкой квартиры в&nbsp;миниполисе Серебрица. Кредитный менеджер поможет подобрать вам ипотечную программу на&nbsp;самых выгодных условиях и&nbsp;окажет профессиональную помощь в&nbsp;сборе документов и&nbsp;общении с&nbsp;банком.

			section.calculator__section
				h2 Ипотечный калькулятор

				.calculator-desc
					aside.calculator-desc__item
						h3.calculator-desc__tlt Параметры кредита

						.calculator-params(data-calculator-params)
							.calculator-params__item(data-params-item)
								.calculator-params__lbl Стоимость недвижимости
								.calculator-params__slider(id='calc-flat-price-slider', data-params-slider='{"disabled": false, "min": 2787097, "max" : 7468208, "step": 100000, "val": 4000000, "type": "price"}')
								input.calculator-params__input(id="calc-flat-price", type="text", data-params-input)

							.calculator-params__item(data-params-item)
								.calculator-params__lbl Первоначальный взнос
								.calculator-params__slider(id='calc-first-pay-slider' data-params-slider='{"disabled": false, "min": 400000, "max" : 3400000, "step": 100000, "val": 2000000, "type": "payment"}')
								.calculator-params__double
									input.calculator-params__input(id="calc-first-pay", type="text", data-params-input)
									input.calculator-params__input._percent(id="calc-first-pay-percent", type="text", readonly, data-params-percent)

							.calculator-params__item(data-params-item)
								.calculator-params__lbl Сумма кредита
								.calculator-params__slider(id='calc-credit-amount-slider' data-params-slider='{"disabled": true, "min": 1000000, "max" : 7468208, "step": 100000, "val": 2000000, "type": "amount"}')
								input.calculator-params__input(id="calc-credit-amount", type="text", readonly, data-params-input)

							.calculator-params__item(data-params-item)
								.calculator-params__lbl Срок ипотеки
								.calculator-params__slider(id='calc-credit-period-slider' data-params-slider='{"disabled": false, "min": 5, "max" : 30, "step": 1, "val": 10, "type": "period"}')
								input.calculator-params__input(id="calc-credit-period", type="text", readonly, data-params-input)

							.calculator-params__item(data-params-item)
								.calculator-params__lbl Возраст заемщика
								.calculator-params__slider(id='calc-user-age-slider' data-params-slider='{"disabled": false, "min": 18, "max" : 65, "step": 1, "val": 35, "type": "age"}')
								input.calculator-params__input(id="calc-user-age", type="text", readonly, data-params-input)

							.calculator-params__item(data-calc-show)
								a.Btn(href="/filters_typicals.html", data-calculator-submit) Рассчитать
								a.Btn._simple._print(href="", data-calculator-print-btn)
								a.Btn._simple._email(href="#calculator-email", data-fancybox="calculator-email")

					.calculator-desc__item._hide(data-calc-result)
						.Preloader_pic
							include ./includes/svg/loader.svg

						h3.calculator-desc__tlt Подобранные программы

						.calculator-result
							.calculator-result__more(data-show-more) Показать больше банков
							.calculator-result__inner

			section.calculator__section
				h2 Комфортные условия

				.calculator-benefits
					.calculator-benefits__item
						.calculator-benefits__ico._manager
						.calculator-benefits__tlt Персональный менеджер
						.calculator-benefits__txt Мы&nbsp;поможем заполнить единую анкету и&nbsp;направим в&nbsp;несколько банков

					.calculator-benefits__item
						.calculator-benefits__ico._time
						.calculator-benefits__tlt Экономия времени
						.calculator-benefits__txt Сокращенные сроки одобрения заявки и&nbsp;электронной регистрации документов

					.calculator-benefits__item
						.calculator-benefits__ico._hypo
						.calculator-benefits__tlt Мы сделали ипотеку комфортной
						.calculator-benefits__txt Берем на&nbsp;себя все заботы по&nbsp;безопасной регистрации сделки

					.calculator-benefits__item
						.calculator-benefits__ico._rate
						.calculator-benefits__tlt Выгодные условия
						.calculator-benefits__txt Сниженные ставки по&nbsp;ипотечным программам ведущих банков-партнеров

			section.calculator__section
				.calculator-order
					.calculator-order__part
						h2 Заявка на ипотеку

						form.calculator-form(action="/ajax/calc-form-response.json", method="get", data-calc-form)
							input(type="hidden", name="calc-order-price", id="calc-order-price")
							input(type="hidden", name="calc-order-first-pay", id="calc-order-first-pay")
							input(type="hidden", name="calc-order-credit-amount", id="calc-order-credit-amount")
							input(type="hidden", name="calc-order-credit-period", id="calc-order-credit-period")
							input(type="hidden", name="calc-order-user-age", id="calc-order-user-age")
							.calculator-form__field
								input.calculator-form__input(type="text", name="calc-order-sirname", placeholder="Фамилия*", required)
							.calculator-form__field
								input.calculator-form__input(type="text", name="calc-order-name", placeholder="Имя*", required)
							.calculator-form__field
								input.calculator-form__input(type="text", name="calc-order-patr", placeholder="Отчество")
							.calculator-form__field
								input.calculator-form__input(type="email", name="calc-order-email", placeholder="E-mail*", required)
							.calculator-form__field
								input.calculator-form__input(type="tel", name="calc-order-phone", placeholder="Телефон*", required)
							.calculator-form__field
								em.calculator-form__note *обязательные к заполнению
								label.custom-checkbox
									input.custom-checkbox__inp(type="checkbox", name="calc-order-personal", required)
									span.custom-checkbox__ico
									span.custom-checkbox__txt Согласие на&nbsp;
										a(href="") обработку персональных данных
							.calculator-form__field
								input.Btn(type="submit", value="Отправить")

					.calculator-order__part
						h3 Необходимые документы

						.calculator-docs
							.calculator-docs__item Паспорт<br> РФ&nbsp;оригинал
							.calculator-docs__item Справка 2-НДФЛ или иной документ, подтверждающий доход (справка по&nbsp;форме Банка, копия налоговой декларации, и&nbsp;т.п.)
							.calculator-docs__item Трудовая книжка<br> или иной документ, подтверждающий занятость, например, трудовой договор и&nbsp;т.п.

			.calculator-print(data-calculator-print)
				img.calculator-print__img(src="http://a-6.sandbox.blue-ant.ru/img/logo_white.jpg", width="150px", alt="")
				p Вы сделали расчет в ипотечном калькуляторе, используя следующие параметры:
				.calculator-print__header
				table.calculator-print__body
					thead.calculator-print__thead
						tr
							th Название
							th Ставка
							th Срок до
							th Платеж в месяц
					tbody.calculator-print__tbody

			.calculator-email#calculator-email
				.calculator-email__tlt Отправить на почту
				p Введите ваш e-mail, и мы отправим вам рассчет ипотеки
				form(action="/ajax/calc-email-response.json", method="get", data-calculator-email).calculator-form
					.calculator-form__field
						input.calculator-form__input(type="email", name="calc-details-email", placeholder="E-mail*", required)
						em.calculator-form__note *поля, обязательные к заполнению
					.calculator-form__field
						input(type="submit", value="Отправить").Btn

block page_bottom
	script(src="/js/calculator.js")
