extends layout
block vars
    - var title = "Помещение №411";
block content
    
    a.StickyBtn.StickyBtn-green.StickyBtn-settings.StickyBtn-forFlatTypePage(href="/filters_typicals.html" title="Подбор по параметрам")
    header.PageHead
        a.PageHead_toBack(href="/filters_typicals.html")
            include includes/svg/angle_right.svg
            |Вернуться
        .PageHead_commercialBread
            +Breadcrumbs()
    include includes/blocks/PageBtn.pug

    .Box.Box-smExtended
        .FlatSingle
            .FlatSingle_plan
                .FlatSingle_planThumb.wow.fadeInLeft
                    .FlatSingle_planThumbBtn.FlatSingle_planThumbBtn-prev
                        include includes/svg/angle_right.svg
                    .FlatSingle_planThumbBtn.FlatSingle_planThumbBtn-next
                        include includes/svg/angle_right.svg
                    .swiper-container
                        .swiper-wrapper
                            span.swiper-slide.FlatSingle_planThumbItem Планировка
                            span.swiper-slide.FlatSingle_planThumbItem 3D Планировка
                            span.swiper-slide.FlatSingle_planThumbItem Перепланировка 1
                .FlatSingle_slider.swiper-container.wow.fadeInLeft
                    .swiper-wrapper
                        .swiper-slide
                            img.FlatSingle_slide(src="/tmp/plans/3.svg", alt=title)
                .FlatSingle_commercialBlock.wow.fadeInUp
                    .FlatSingle_commercialBlockWrap
                        .FlatSingle_commercialBlockLeft
                            .FlatSingle_commercialBlockTitle План секции
                            include includes/svg/commercial_single/plan.svg
                        .FlatSingle_commercialBlockRight
                            .FlatSingle_commercialBlockTitle Ген. план
                            include includes/svg/commercial_single/genplan.svg
                
            .FlatSingle_info.wow.fadeInUp
                h1.FlatInfo_title=title
                .Tbl.Tbl-LeftTxt.Tbl-commercialSingle
                    .Tbl_tr
                        .Tbl_th Корпус:
                        .Tbl_th Срок сдачи:
                    .Tbl_tr.Tbl_tr-fontBig
                        .Tbl_td.Tbl_td-tightTop.Tbl_td-nowrap 2
                        .Tbl_td.Tbl_td-tightTop 4 квартал 2018
                .Tbl.Tbl-LeftTxt.Tbl-commercialSingle
                    .Tbl_tr
                        .Tbl_th Площадь:
                        .Tbl_th Стоимость:
                    .Tbl_tr.Tbl_tr-fontBig
                        .Tbl_td.Tbl_td-tightTop.Tbl_td-nowrap 35.8 м#[sup 2]
                        .Tbl_td.Tbl_td-tightTop
                            .FlatSingle_prices 5 860 000 ₽
                                //- del.FlatSingle_oldPrice 5 860 000 ₽
                                //- ins.FlatSingle_newPrice 5 200 000 ₽
                .FlatSingle_desc
                .FlatSingle_commercialControls
                    a(data-fancybox="" href="#orderModal").Btn.Btn-color2.Btn-big Оставить заявку
                    a( href="#").BtnPresentation.FlatSingle_presentationLink Скачать презентацию
                
block page_bottom
    script(src="/js/flat_single.js")