extends layout
block vars
   - var title = "Контакты";
   - var withouBottomPusher = true;
block content
   .FullScreenContainer.FullScreenContainer-xsNative
      .contacts
         a.StickyBtn.StickyBtn-settings.StickyBtn-forContactsPage(href="/filters_typicals.html" title="Подбор по параметрам")
         .contacts_map#contactsMap
         .Accordion.contacts_accordion
            h3.Accordion_label.contacts_accordionLabel(data-type="office") Офис продаж
            .Accordion_content.contacts_accordionContent
               .contacts_accordionContentWrp
                  p Московская область, г. Красногорск, ул. Опалиха
                  p Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus ut imperdiet justo. Quisque pellentesque ac elit maximus viverra. Suspendisse urna tellus, maximus nec est quis, sagittis tincidunt lorem.
                  p Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus ut imperdiet justo. Quisque pellentesque ac elit maximus viverra. Suspendisse urna tellus, maximus nec est quis, sagittis tincidunt lorem.
            h3.Accordion_label.contacts_accordionLabel(data-type="route") Общественный транспорт
            .Accordion_content.contacts_accordionContent
               .contacts_accordionContentWrp
                  .contacts_address
                     p <span>Метро «Тушинская»</span> (№542п, 120)- ост. ул. Кирова
                     p Ост. ул. Кирова (№833,833к)– платформа Опалиха
                     p Далее пешком 135 м.
                  .contacts_address
                     p <span>Метро «Сходненская»</span> (№492к) – ост. Ул. Кирова
                     p Ост. ул. Кирова (№833,833к)– платформа Опалиха
                     p Далее пешком 135 м.
            h3.Accordion_label.contacts_accordionLabel(data-type="office") Личный транспорт
            .Accordion_content.contacts_accordionContent
               .contacts_accordionContentWrp
                  .contacts_address
                     p <span>Метро «Тушинская»</span> (№542п, 120)- ост. ул. Кирова
                     p Ост. ул. Кирова (№833,833к)– платформа Опалиха
                     p Далее пешком 135 м.
                  .contacts_address
                     p <span>Метро «Тушинская»</span> (№542п, 120)- ост. ул. Кирова
                     p Ост. ул. Кирова (№833,833к)– платформа Опалиха
                     p Далее пешком 135 м.
block page_bottom
   script(src="/js/contacts.js")