extends layout
block vars
    - var title = "О застройщике";
block content
    header.PageHead.wow.fadeInUp
        +Breadcrumbs
        h1.PageHead_title #{title}
    +PopupBtn(style="opacity:0;")
    .Bird.Bird-n2.wow.fadeIn(data-wow-delay="0.4s")
    .Bird.Bird-n2.Bird-animate
    .Box.Box-smExtended
        .Teaser.wow.fadeInUp(data-wow-delay="0.1s")
            .Teaser_picWrap
                a.Teaser_picture.Teaser_picture-withGallery(href="javascript:void(0);" data-src-json="/ajax/developer_page_gallery.json" style="background-image:url(/tmp/718x468_n1.jpg)") &nbsp;
            .Teaser_txtWrap
                h4.Teaser_head Все продумано до мелочей
                .Teaser_text
                    p Компания Сити-XXI век пионеры концептуального строительства. Мы убеждены, что хорошая архитектура актуальна десятилетиями. 
                    p Архитектура миниполиса «Серебрица» нененавязчива и  гармнична с окружающей средой, мы детально продумали каждую деталь дома, его пропорции, цвета, фактуры поверхностей.
        .Teaser.Teaser-reversed.wow.fadeInUp(data-wow-delay="0.2s")
            .Teaser_picWrap
                a.Teaser_picture.Teaser_picture-withGallery(href="javascript:void(0);" data-src-json="/ajax/developer_page_gallery.json" style="background-image:url(/tmp/718x468_n2.jpg)") &nbsp;
            .Teaser_txtWrap
                h4.Teaser_head Красота и грация
                .Teaser_text
                    p Плитка, панели с фактурой дерева создают ритм и симметрию. В кварирах и подъездах спроектированнны большие окна, благодаря чему проект выглядит легким и современным. Мы верим, что смогли создать гнездышко вашей мечты!
    .Box.Box-smExtended.wow.fadeInUp
        .Hr
        .DefList
            .DefList_item
                h5.DefList_title.DefList_title-red Монолит раз и на всю жизнь
                .DefList_desc
                    p Высокие показатели энергоэффективности, использование современных качественных матреиалов современных качественных материалов в строительстве - далеко не все аргументы в пользу приобретения квартиры в монолитном доме. 
                    p Такая недвижимость избавляет новых владельцев от пустой траты денег и может стать выгодной инвестицией в будущее
            .DefList_item
                h5.DefList_title Комфорт жилья
                .DefList_desc
                    p Квартира — это то место, где мы можем сделать все так, как будет комфортно именно нам. При создании миниполиса в Опалихе в первую очередь мы думали о будущих жителях.
                    p Мы заботливо продумали все мелочи так, чтобы вы чувствовали себя комфортно и спокойно не только у себя в квартире, но и за ее пределами: в подъезде, во дворе, на детских площадках и прогулочных зонах.
            .DefList_item
                    h5.DefList_title Комфорт жилья
                    .DefList_desc
                        p Квартира — это то место, где мы можем сделать все так, как будет комфортно именно нам. При создании миниполиса в Опалихе в первую очередь мы думали о будущих жителях.
                        p Мы заботливо продумали все мелочи так, чтобы вы чувствовали себя комфортно и спокойно не только у себя в квартире, но и за ее пределами: в подъезде, во дворе, на детских площадках и прогулочных зонах.

block page_bottom
    script(src="/js/developer.js")