extends layout
block vars
   - var title = "Динамика строительства";
block content
   header.PageHead
      +Breadcrumbs
      h1.PageHead_title #{title}
   +PopupBtn
   .Box.Box-smExtended.Box-noPadding
      .diaryTop
         .diaryTop_select.diaryTop_select-year
            select(name="year")
               option(value="2018") 2018
               option(value="2017") 2017
               option(value="2016") 2016
         .diaryTop_select
            select(name="type")
               option(selected value="buildings") По корпусам
               option(value="months") По месяцам
         .diaryTop_grab
      .diary.swiper-container
         .swiper-wrapper
            .swiper-slide.diary_item
               .diary_img(style="background-image: url('/tmp/gallery/gallery1.jpg')")
               .diary_bottom
                  .diary_title Офис
                  .diary_bottomCount 12 фото
               a.diary_link(href="/subdiary_by_buildings.html")
            .swiper-slide.diary_item
               .diary_img(style="background-image: url('/tmp/gallery/gallery1.jpg')")
               .diary_bottom
                  .diary_title Парки
                  .diary_bottomCount 10 фото
               a.diary_link(href="/subdiary_by_buildings.html")
            .swiper-slide.diary_item
               .diary_img(style="background-image: url('/tmp/900.png')")
               .diary_bottom
                  .diary_title Парки
                  .diary_bottomCount 5 фото
               a.diary_link(href="/subdiary_by_buildings.html")
         .diary_btn.diary_btn-prev
         .diary_btn.diary_btn-next

      .diaryThumb.swiper-container
         .swiper-wrapper
            .swiper-slide.diaryThumb_item
               .diaryThumb_text Корпус 1
            .swiper-slide.diaryThumb_item
               .diaryThumb_text Корпус 2
            .swiper-slide.diaryThumb_item
               .diaryThumb_text Корпус 3

block page_bottom
   script(src="/js/diary.js")