extends layout
block vars
    - var title = "Район";
block content
    header.PageHead.wow.fadeInUp
        +Breadcrumbs
    //- +ArticleBurger
    +PopupBtn
    article.Utp
        .Box.Box-smExtended.wow.fadeInUp(data-wow-delay="0.2s")
            
            h1.PageHead_title #{title}
            .Utp_desc
                .Teaser.Teaser-fullText
                    .Teaser_txtWrap.Teaser_txtWrap-fullWidth
                        h4.Teaser_head.Teaser_head-noDesktopDecore(data-titleScroll="title2")  Посмотрите инфраструктуру на интерактивной карте
                        .Teaser_text.hidden-md.hidden-sm
                            p Выберите из списка интересующие вас объекты
        .Utp_mapWrap.wow.fadeInUp(data-wow-delay="0.2s")
            .MapFilter
                .StickyBtn.StickyBtn-settings.StickyBtn-mapFilter.MapFilter_openBtn
                .MapFilter_map
                .MapFilter_filter
                    .MapFilter_close
                    .MapFilter_filterTitle Объекты <br> инфраструктуры
                    ul.MapFilter_filterList
                        li.MapFilter_filterItem.MapFilter_filterItem-orange(data-filterType="bank")
                            span.MapFilter_itemName Банки
                            span.MapFilter_itemPic
                                include includes/svg/district_filter/bank.svg
                        li.MapFilter_filterItem.MapFilter_filterItem-green(data-filterType="sport")
                            span.MapFilter_itemName Спорт
                            span.MapFilter_itemPic
                                include includes/svg/district_filter/sport.svg 
                        li.MapFilter_filterItem.MapFilter_filterItem-blue(data-filterType="fun")
                            span.MapFilter_itemName Досуг
                            span.MapFilter_itemPic
                                include includes/svg/district_filter/fun.svg 
                        li.MapFilter_filterItem.MapFilter_filterItem-red(data-filterType="medical")
                            span.MapFilter_itemName Медицина
                            span.MapFilter_itemPic
                                include includes/svg/district_filter/medical.svg 
                        li.MapFilter_filterItem.MapFilter_filterItem-lightGreen(data-filterType="shop")
                            span.MapFilter_itemName Торговые центры
                            span.MapFilter_itemPic
                                include includes/svg/district_filter/shop.svg 
                        li.MapFilter_filterItem.MapFilter_filterItem-darkRed(data-filterType="market")
                            span.MapFilter_itemName Супермаркеты
                            span.MapFilter_itemPic
                                include includes/svg/district_filter/market.svg
                        li.MapFilter_filterItem.MapFilter_filterItem-yellow(data-filterType="church")
                            span.MapFilter_itemName Храмы и церкви
                            span.MapFilter_itemPic
                                include includes/svg/district_filter/church.svg 
                        li.MapFilter_filterItem.MapFilter_filterItem-lightRed(data-filterType="cafe")
                            span.MapFilter_itemName Кафе и рестораны
                            span.MapFilter_itemPic
                                include includes/svg/district_filter/cafe.svg 

                    button.MapFilter_reset Сбросить фильтр
                        include includes/svg/reload.svg

        .Box.Box-smExtended.wow.fadeInUp(data-wow-delay="0.2s")
            .Utp_desc
                .Teaser.Teaser-reversed.wow.fadeInUp
                    .Teaser_picWrap
                        .Teaser_picture(style="background-image:url(/tmp/718x468_n1.jpg)")
                    .Teaser_txtWrap
                        h4.Teaser_head(data-titleScroll="title2")  Продуманное окружение
                        .Teaser_text
                            p Выбирая район, мы заботились о том, чтобы он полностью отвечал потребностям жителей. В миниполисе есть всё необходимое для гармоничной жизни.
                            p Вблизи располагаются все торговые центры и магазины с самым необходимым.
            .Utp_desc
                .Teaser.wow.fadeInUp
                    .Teaser_picWrap
                        .Teaser_picture(style="background-image:url(/tmp/718x468_n1.jpg)")
                    .Teaser_txtWrap
                        .Teaser_text
                            p А для более серьезного шоппинга всегда под рукой гипермаркеты «Лента», «Ашан», «Леруа Мерлен», «OBI» и «Hoff». Продуктовые сети представлены всеми основными игроками: от повседневной «Пятёрочки» до изысканного «Глобус Гурмэ». На случай, когда совсем не хочется готовить, всегда можно отправиться в близлежащее кафе или ресторан. 
                            p Вокруг «Серебрицы» есть государственные и частные детские сады, школы, лицеи, гимназии, в том числе — гимназия с дошкольной ступенью. Неподалеку расположены фитнес-центры, городская поликлиника, круглосуточные аптеки.
            .Utp_desc
                .Teaser.Teaser-reversed.wow.fadeInUp
                    .Teaser_picWrap
                        .Teaser_picture(style="background-image:url(/tmp/718x468_n1.jpg)")
                    .Teaser_txtWrap
                        .Teaser_text
                            p В 15 минутах от миниполиса «Серебрица» расположен огромный спортивный кластер: знаменитый стадион «Зоркий», теннисная академия Шамиля Тарпищева, футбольная академия Сергея Юрана, лыжный стадион, плавательный бассейн, биатлонное стрельбище, футбольный стадион «Машиностроитель». В ближайшее время этот впечатляющий список дополнится академией хоккея имени Владимира Петрова и Федеральным центром по подготовке национальных сборных  по борьбе, который разместится на территории  в 20 тысяч квадратных метров! Здесь ваши будущие чемпионы смогут добиться своих первых побед и начать путь к настоящим мировым и олимпийским рекордам!
            .Utp_desc
                .Teaser.wow.fadeInUp
                    .Teaser_picWrap
                        .Teaser_picture(style="background-image:url(/tmp/718x468_n1.jpg)")
                    .Teaser_txtWrap
                        .Teaser_text
                            p К услугам любителей культурного отдыха ландшафтный парк в районе Митино и природно-исторический парк  в Строгино, усадьба Архангельское, Красногорский историко-художественный музей, музей Покорителей Вселенной.
                            p Для тех, кто предпочитает более активный досуг, в районе есть фитнес-центры. Рядом с ними располагаются салоны красоты и парикмахерская.
                            p «Серебрица» — территория благополучия
block page_bottom
    script
      | window.MapFilterObjsMarkers = [{ title: 'Детский сад', coord: [55.82555480, 37.24892050], img: '/img/map_markers/detskiy_sad.png', hover: true, type: 'all'},{title: 'Знаменская церковь', coord: [55.82454570, 37.23891140], img: '/img/map_markers/church.png', hover: true, type: 'church'},{title: 'Остановка', coord: [55.82451570, 37.23191140], img: '/img/map_markers/ostanovka.png', hover: true, type: 'all'},{title: 'Магазин', coord: [55.82421570, 37.23591140], img: '/img/map_markers/shops.png', hover: true, type: 'market'},{title: 'Пейнтбольный клуб «Серебрянка»', coord: [55.82421570, 37.23491140], img: '/img/map_markers/joy.png', hover: true, type: 'fun'},{title: 'Ж/д станция «Опалиха»', coord: [55.82654515, 37.24115661], img: '/img/map_markers/transport.png', hover: true, type: 'all'},{title: 'Офис продаж', coord: [55.82654485, 37.23891061], img: '/img/map_markers/office_icon.png', hover: true, type: 'all'}];
    script(src="/js/district.js")