extends layout
block vars
    - var title = "Документы";
block content
    header.PageHead.wow.fadeInUp
        +Breadcrumbs()
        h1.PageHead_title #{title}
    +PopupBtn(style="opacity:0;")
    .Bird.Bird-n1.wow.fadeIn(data-wow-delay="0.4s")
    .Bird.Bird-n1.Bird-animate
    .Box.wow.fadeInUp(data-wow-delay="0.2s")
        .Accordion
            h3.Accordion_label ДДУ
            .Accordion_content
                include ./includes/blocks/DocList
            h3.Accordion_label Проектная декларация
            .Accordion_content
                include ./includes/blocks/DocList
            h3.Accordion_label Разрешение на&nbsp;строительство
            .Accordion_content
                include ./includes/blocks/DocList
            h3.Accordion_label Экспертное заключение
            .Accordion_content
                include ./includes/blocks/DocList
block page_bottom
    script(src="/js/docs.js")