extends layout
block vars
    - var title = "Эко-девелопмент";
block content
    header.PageHead.wow.fadeInUp
        +Breadcrumbs
        h1.PageHead_title #{title}
    +PopupBtn(style="opacity:0;")
    .Bird.Bird-n3.wow.fadeIn(data-wow-delay="0.4s")
    .Bird.Bird-n3.Bird-animate
    .Box.Box-smExtended
        .Teaser.wow.fadeInUp(data-wow-delay="0.1s")
            .Teaser_picWrap
                a.Teaser_picture.Teaser_picture-withGallery(href="javascript:void(0);" data-src-json="/ajax/developer_page_gallery.json" style="background-image:url(/tmp/1024x768.png)") &nbsp;
            .Teaser_txtWrap
                .Teaser_text
                    p Пространство жилого комплекса гармонично соседствует с природой Опалиховского лесопарка. В процессе строительства мы стремились сохранить уникальный растительный и животный мир этого места.

                    p &nbsp;

                    p В Опалиховский лесопарк входят два участка, объявленные государственными памятниками природы, где произрастают редкие и исчезающие виды растений. Всего на территории Опалихского лесопарка зарегистрировано 11 видов редких растений и животных, занесенных в Красную книгу Российской Федерации и Красную книгу Московской области.
        .Teaser.Teaser-reversed.wow.fadeInUp(data-wow-delay="0.2s")
            .Teaser_txtWrap
                h4.Teaser_head Современные технологии
                .Teaser_text
                    p Сохранить каждое дерево на строительном участке — задача дорогая и сложная. Но мы сделали это, чтобы территория жилого комплекса осталась полноценной частью экосистемы Опалиховского лесопарка. С помощью современных технологий и ручного труда нам удалось сберечь полторы тысячи деревьев. Это дубы, рябины, клёны, ивы, ели и сосны, тополя, берёзы и ольхи. Скоро среди старожилов появятся и молодые деревца, посаженные нашими озеленителями.
            .Teaser_txtWrap
                h4.Teaser_head Тенденции
                .Teaser_text
                    p Следуя тенденциям современного ландшафтного дизайна, мы спроектировали дворы в Серебрице так, чтобы там было место солнцу и буйной зелени, площадке для игр и уютным уголкам, где можно отдохнуть в тишине. Газоны вдоль домов украсит живая изгородь из спиреи, сирени, жимолости, гортензии, барбариса, а площадки для сбора мусора укроют кусты пузыреплодника и кизильника.
        .Teaser.Teaser-reversed.wow.fadeInUp(data-wow-delay="0.2s")
            .Teaser_txtWrap
                h4.Teaser_head Защита природы —
                .Teaser_text
                    p одна из наших ключевых ценностей. Поэтому на территории “Серебрицы”  будет реализована современная программа раздельного сбора мусора и сбора отработавших бытовых гальванических элементов (батареек).

                    p Нам удалось создать уникальное пространство гармонии городской среды и первозданной дикой природы, где будет комфортно проживать всем обитателям “Серебрицы”.
            .Teaser_picWrap
                a.Teaser_picture.Teaser_picture-withGallery(href="javascript:void(0);" data-src-json="/ajax/developer_page_gallery.json" style="background-image:url(/tmp/1024x768.png)") &nbsp;

block page_bottom
