extends layout
block vars
    - var title = "Избранное";
block content

    section#favoritesPage.Box.Box-smExtended.Favorites
        h1.PageHead_title Избранное

        .js-list
            .CardsList_groupList
                each i in [1, 2, 3, 4]
                    .FlatCard
                        a.FlatCard_link(href="/flat_type.html")
                        //a.FlatCard_starLink.js-favorite-link._active(href="#") - пример активной
                        a.FlatCard_starLink._active.js-favorite-link(href="#")
                            span.FlatCard_starLink1
                                include includes/svg/icon_starFavor_active.svg
                            span.FlatCard_starLink2
                                include includes/svg/icon_starFavor.svg
                        .FlatCard_head Секция&nbsp;5 / Корпус&nbsp;4 / Этаж&nbsp;3 / Квартира&nbsp;2
                        .FlatCard_content
                            .FlatCard_schemeWrap
                                img.FlatCard_scheme(src=`/tmp/plans/1.svg`, alt="")
                            .FlatCard_paramsWrap
                                .FlatCard_leafLine
                                table.FlatCard_paramsTbl
                                    tr.FlatCard_paramsRow
                                        td.FlatCard_paramsCell
                                            span.FlatCard_paramsVal 78.4
                                        td.FlatCard_paramsCell
                                            span.FlatCard_paramsVal
                                                include includes/svg/small_cross.svg
                                                //include includes/svg/check.svg
                                        td.FlatCard_paramsCell
                                            span.FlatCard_paramsVal 5 340 125 ₽
                                    tr.FlatCard_paramsRow
                                        td.FlatCard_paramsCell
                                            span.FlatCard_paramsLabel площадь
                                        td.FlatCard_paramsCell
                                            span.FlatCard_paramsLabel отделка
                                        td.FlatCard_paramsCell
                                            span.FlatCard_paramsLabel цена


            .Favorites_btn
                a(href="#").Btn.Btn-color2.Btn-big Сохранить в pdf

        .Favorites_empty.js-empty.hidden
            h5.Favorites_emptyTlt Нет сохраненных квартир
            p Сохраняйте понравившиеся квартиры<br>в избранное простым нажатием на<br>звездочку.
            include includes/svg/bird_for_favorites.svg
            .Favorites_btn
                a(href="#").Btn.Btn-color2.Btn-big Добавить квартиры

block page_bottom
    script(src="/js/favorites.js")
