extends layout
block vars
    - var title = "Избранное";
block content
            
    section.Box.Box-smExtended.Favorites
        h1.PageHead_title Избранное

        .Favorites_empty
            h5.Favorites_emptyTlt Нет сохраненных квартир
            p Сохраняйте понравившиеся квартиры<br>в избранное простым нажатием на<br>звездочку.
            include includes/svg/bird_for_favorites.svg
            .Favorites_btn
                a(href="#").Btn.Btn-color2.Btn-big Добавить квартиры

block page_bottom