extends layout
block vars
    - var title = "Комфорт продуманный до мелочей";
block content
    header.PageHead.wow.fadeInUp
        +Breadcrumbs
        h1.PageHead_title #{title}
    +ArticleBurger
    +PopupBtn
    .Box.Box-smExtended.wow.fadeInUp(data-wow-delay="0.2s")
        article.Utp
            .Utp_picWrap
                img.Utp_picture(src="/tmp/slideshow/3.jpg", alt=title)
            br
            .Utp_desc
                .Teaser.wow.fadeInUp
                    .Teaser_picWrap
                        .Teaser_picture(style="background-image:url(/tmp/718x468_n1.jpg)")
                    .Teaser_txtWrap
                        h4.Teaser_head(data-titleScroll="title1") Дом
                        .Teaser_text
                            p Высокая функциональность планировочных решений — квартиры без отделки и без межкомнатных перегородок
                            p Просторные подъезды с витражным остеклением, дизайнерской отделкой и высокими потолками в 3,5 м
                            p Благоприятные видовые характеритики из любого корпуса объекта
            .Utp_colSplitter.wow.fadeInUp(data-wow-delay="0.2s")
                .Utp_col
                    .TextBlock
                        ul
                            li Монолитная технология строительства
                            li Современная архитектура
                            li Комфорт-класс
                            li Низкая плотность застройки
                            li Качественные, и современные инженерные решения
                            li Высококачественные двухкамерные стеклопакеты KBE REHAU
                            li Бесшумные лифты KONE MONO SPACE
                            li Собственный водозаборный узел и станция очистки воды

                .Utp_col
                    .TextBlock
                        ul
                            li Увеличенные оконные проемы 1,8 м
                            li Увеличенные метры комфорта за счет утепленных лоджий
                            li Высота потолков не менее 2,85 м
                            li Сквозные входные группы на уровне земли без ступеней и пандусов
                            li Специальные выносные корзин ы для кондиционеров
                            li Помещение для хранения велосипедов
                            li Колясочные
                            li Кладовые
            br
            br
            .Utp_desc
                .Teaser.Teaser-reversed.wow.fadeInUp
                    .Teaser_picWrap
                        .Teaser_picture(style="background-image:url(/tmp/718x468_n1.jpg)")
                    .Teaser_txtWrap
                        h4.Teaser_head(data-titleScroll="title2")  Окружение
                        .Teaser_text
                            p Прекрасно обжитый район, в котором нет недостатка в торговых, бытовых и сервисных услугах
                            p Хорошая транспортная доступность, где до ж/д станции «Опалиха» в 10 минут ходьбы
                            p Раскошная экология — соседство с лесом, отсутствие вредных производств
            .Utp_colSplitter.wow.fadeInUp(data-wow-delay="0.2s")
                .Utp_col
                    .TextBlock
                        ul
                           li Муниципальная школа на 825 мест и детский сад на 250 мест в пешей доступности от дома
                           li Собственный торговый центр с 1000 м2 коммерческих помещений на первом этаже
                           li 3889 м2 коммерческих помещений на первых этажах жилых домов. вход во все магазины осуществляется исключительно снаружи квартала
                           li Отдельностоящий охраняемый паркинг в 8 этажей (1175 машиномест)
                           li Гостевой паркинг на 512 парковочных мест

                .Utp_col
                    .TextBlock
                        ul
                            li Крупные гипермаркеты всего в 15 минутах на автомобиле («Глобус» и «Леруа Мерлен»)
                            li Мусорные контейнеры расположены максимально комфортно — с учетом траекторий движения жителей за пределами двора
                            li Контейнеры для раздельного сбора мусора и сбор батареек в каждом подъезде
                            li Мы поддерживаем жителей миниполиса во всех начинаниях, поэтому приоритетное право аренды коммерческих помещений принадлежит жителям
            br
            br
            .Utp_desc
                .Teaser.wow.fadeInUp
                    .Teaser_picWrap
                        .Teaser_picture(style="background-image:url(/tmp/718x468_n1.jpg)")
                    .Teaser_txtWrap
                        h4.Teaser_head(data-titleScroll="title3")  Красота
                        .Teaser_text
                            p Уникальный ландшафтный дизайн
                            p Нам удалось сохранить более чем 1500 деревьев на территории комплекса
                            p Подсветка деревьев
            .Utp_colSplitter.wow.fadeInUp(data-wow-delay="0.2s")
                .Utp_col
                    .TextBlock
                        ul
                            li Реставрированный памятник геологам в центре бульвара
                            li Оригинальная ротонда и бювет с минеральной водой на бульваре
                            li Современная, удобная и продуманная навигация в стилистике бренда органично вписана в ландшафт, внутри подъездов, дворов, внутри паркинга

                .Utp_col
                    .TextBlock
                        ul
                            li Благоустроенный пешеходный бульвар с нестандартным деревянным покрытием протяженностью в 278 метров
                            li Оригинальные и экологичные мафы от лавочки до освещения
                            li В вечерние часы каждый двор подсвечивается мягким ландшафтным светом, делая акценты на архитектуре и озеленении, создавая уют и тепло
            br
            br
            .Utp_desc
                .Teaser.Teaser-reversed.wow.fadeInUp
                    .Teaser_picWrap
                        .Teaser_picture(style="background-image:url(/tmp/718x468_n1.jpg)")
                    .Teaser_txtWrap
                        h4.Teaser_head(data-titleScroll="title4") Комплексный подход к обеспечению и безопасности
                        .Teaser_text
                            p Миниполис «Серебрица» участник государственной программы «Безопасный Регион»
                            p Вся территория миниполиса хорошо освещена
                            p Вся территория оборудована камерами наблюдения
            .Utp_colSplitter.wow.fadeInUp(data-wow-delay="0.2s")
                .Utp_col
                    .TextBlock
                        ul
                            li 2 кпп Огороженная и охраняемая территория
                            li Шлагбаумы на въезде и выезде
                            li Дворы без машин
                            li Парковки для автомобилей отделены от дворов и детских площадок
                .Utp_col
                    .TextBlock
                        ul
                            li Персональные электронные ключи для доступа на территорию
                            li Консьерж в каждом подъезде
                            li Возможность подключения видеодомофона
                            li Собственная управляющая компания
            br
            br
            .Utp_desc
                .Teaser.wow.fadeInUp
                    .Teaser_picWrap
                        .Teaser_picture(style="background-image:url(/tmp/718x468_n1.jpg)")
                    .Teaser_txtWrap
                        h4.Teaser_head(data-titleScroll="title5")  Для отдыха детей и взрослых
                        .Teaser_text
                            p Самые качественные и безопасные детские площадки с использованием дерева от компании Proludic, Kompan и Lappset
                            p Баскетбольные, футбольные и хоккейные площадки, теннисные столы, ворк-аут зона для активной жизни
            .Utp_colSplitter.wow.fadeInUp(data-wow-delay="0.2s")
                .Utp_col
                    .TextBlock
                        ul
                            li Велосипедные дорожки и парковки
                            li Благоустроенный лес, лыжной и велосипедной трассой, зоной барбекю, площадками для отдыха с гамаками и беседками
                            li Для встреч с друзьями и семейных ужинов на первых этажах расположены кондитерские, булочные и кафе
                            li Перголы, гамаки

                .Utp_col
                    .TextBlock
                        ul
                            li Кружки, курсы, студии, выставки, лекции, тематические фестивали и праздники в рамках «Соседского Клуба»
                            li Грамотно оснащенная площадка для выгула и дрессировки собак
                            li Свободный wi-fi и коворкинг на свежем воздухе
            br
            br
block page_bottom
    //-script(src="/js/script_file_for_this_page.js")