extends layout
block vars
    - var title = "Безопасность";
block content
    header.PageHead.wow.fadeInUp
        +Breadcrumbs
        h1.PageHead_title #{title}
    +PopupBtn(style="opacity:0;")
    .Bird.Bird-n4.wow.fadeIn(data-wow-delay="0.4s")
    .Bird.Bird-n4.Bird-animate
    .Box.Box-smExtended
        article.Utp
            .Utp_picWrap.wow.fadeInUp(data-wow-delay="0.1s")
                img.Utp_picture(src="/tmp/slideshow/1.jpg", alt=title)
            .Utp_desc.wow.fadeInUp(data-wow-delay="0.1s")
                .Utp_colSplitter
                    .Utp_col
                        .TextBlock
                            p Миниполис “Серебрица” — это атмосфера комфорта и спокойствия, которая не ограничивается стенами вашей квартиры и дома. Здесь дружат с соседями,  отпускают детей поиграть на площадку, организуют пикники в близлежащем лесу. 
                    .Utp_col
                        .TextBlock
                            p В “Серебрице” можно и нужно наслаждаться каждым новым днём, потому что весь миниполис — ваш дом, где уют и безопасность — в каждом уголке. 
                br
                .Teaser.wow.fadeInUp
                    .Teaser_picWrap
                        .Teaser_picture(style="background-image:url(/tmp/718x468_n2.jpg)")
                    .Teaser_txtWrap
                        h4.Teaser_head Удобные и безопасные подъезды
                        .Teaser_text
                            p к которым ведут просторные входные группы увеличенной площади, с потолками в 3,5 метра. Противоскользящее покрытие и входы на уровне земли обеспечивают необходимый уровень комфорта в любую погоду. Каждый подъезд оборудован металлической входной дверью и теплозвукоизолирован.

                .Teaser.Teaser-reversed.wow.fadeInUp
                    .Teaser_picWrap
                        .Teaser_picture(style="background-image:url(/tmp/718x468_n1.jpg)")
                    .Teaser_txtWrap
                        .Teaser_text
                            p Панорамное остекление делает их по-настоящему светлыми, а изысканный дизайн с зеркалами и декоративными элементами завершает общую картину уюта. Молодые родители всегда могут воспользоваться колясочной, а любители велопрогулок — специальными помещениями для хранения велосипедов. Здесь же расположатся и дополнительные кладовые, где можно хранить личные вещи, освобождая больше пространства внутри квартиры.
                .Teaser.wow.fadeInUp
                    .Teaser_picWrap
                        .Teaser_picture(style="background-image:url(/tmp/718x468_n2.jpg)")
                    .Teaser_txtWrap
                        h4.Teaser_head Надёжные лифты
                        .Teaser_text
                            p марки KONE, где и подъемный механизм, и система торможения и конструкция кабины продуманы таким образом, чтобы обеспечить максимально плавный ход лифта и добиться минимального энергопотребления. Лифты KONE сочетают в себе максимальную надежность и прекрасный, качественный дизайн.
                .Teaser.Teaser-reversed.wow.fadeInUp
                    .Teaser_picWrap
                        .Teaser_picture(style="background-image:url(/tmp/718x468_n1.jpg)")
                    .Teaser_txtWrap
                        h4.Teaser_head Безопасные пешеходные дворы
                        .Teaser_text
                            p удобные для передвижения без автомобильного транспорта для жителей любых возрастов — от самых маленьких до пожилых.
                .Teaser.wow.fadeInUp
                    .Teaser_picWrap
                        .Teaser_picture(style="background-image:url(/tmp/718x468_n2.jpg)")
                    .Teaser_txtWrap
                        h4.Teaser_head Огороженная и охраняемая территория
                        .Teaser_text
                            p гарантирующая комфорт жителей миниполиса: два КПП, шлагбаумы на въезде и выезде с территории, современная система видеонаблюдения.


block page_bottom
    //-script(src="/js/script_file_for_this_page.js")