extends layout
block vars
    - var title = "Эко-пространство";
block content
    header.PageHead
        +Breadcrumbs
        h1.PageHead_title #{title}
    +PopupBtn(style="opacity:0;")
    .Bird.Bird-n4.wow.fadeIn(data-wow-delay="0.4s")
    .Bird.Bird-n4.Bird-animate
    .Box.Box-smExtended
        article.Utp
            .Utp_picWrap.wow.fadeInUp(data-wow-delay="0.1s")
                img.Utp_picture(src="/tmp/slideshow/2.jpg", alt=title)
            .Teaser.Teaser-noMargin.wow.fadeInUp(data-wow-delay="0.2s")
                .Teaser_txtWrap.Teaser_txtWrap-fullWidth
                    h2.Teaser_head Уникальная природа
            .Utp_desc.wow.fadeInUp(data-wow-delay="0.2s")
                .Utp_colSplitter
                    .Utp_col
                        .TextBlock
                            p Миниполис “Серебрица” расположился в пешей доступности от железнодорожной станции “Опалиха”, в одноименном районе ближнего Подмосковья.  В середине прошлого века Опалиха получила известность в качестве одного из крупнейших дачных посёлков в зоне лесопаркового защитного пояса Москвы. Здесь отдыхали знаменитые писатели и поэты, спортсмены, артисты и ученые, например, Игорь Васильевич Курчатов, Сергей Павлович Королёв. Район всегда  славился своей исключительно благоприятной экологической обстановкой, поэтому здесь располагались  ведомственные дома отдыха, пансионаты и дачные участки.
                    .Utp_col
                        .TextBlock
                            p За благополучную экологию Опалихи стоит благодарить не один лишь «зеленый пояс» столицы, но и крайне удачную розу ветров данной местности. Воздух из близлежащего  мегаполиса фактически никогда не перемещается на северо-запад, поэтому жители “Серебрицы” в любое время года наслаждаются чистейшим воздухом, напоенным лесными ароматами. 
                            p Роскошные леса — не только гарантия чистого воздуха, но и место для приятных прогулок на природе, которых зачастую не хватает жителям крупных городов.
                br
                .Teaser.wow.fadeInUp
                    .Teaser_picWrap
                        .Teaser_picture(style="background-image:url(/tmp/718x468_n2.jpg)")
                    .Teaser_txtWrap
                        h4.Teaser_head Территория благополучия
                        .Teaser_text
                            p #[strong Свободные от машин внутренние дворы:] никакого дополнительного шума и загрязнений, безопасность для всех жителей миниполиса, включая самых маленьких.
                            p Благоустроенный лес с оборудованной лыжной и велосипедной трассой, зоной барбекю, площадками для отдыха и гамаками, в которых можно расслабиться в летнюю пору.
                .Teaser.Teaser-reversed.wow.fadeInUp
                    .Teaser_picWrap
                        .Teaser_picture(style="background-image:url(/tmp/718x468_n1.jpg)")
                    .Teaser_txtWrap
                        .Teaser_text
                            p #[strong Использование экологичных материалов:] для строительства детских и спортивных площадок, игровых зон, организации клумб и цветников мы применяем только безопасные, экологически чистые материалы и передовые технологии. Особые зоны с деревянными настилами и перголами — отличное место для отдыха в теплое время года. Все они организованы по современным стандартам. 
                            p #[strong Площадка для собак,] на которой есть все необходимое для выгула, дрессировки и игр с домашним любимцем.
                .Teaser.wow.fadeInUp
                    .Teaser_picWrap
                        .Teaser_picture(style="background-image:url(/tmp/718x468_n2.jpg)")
                    .Teaser_txtWrap
                        .Teaser_text
                            p #[strong Инфраструктура для здоровой жизни:] если вам по вкусу активный отдых, к вашим услугам баскетбольные, футбольные и хоккейные площадки, теннисные столы, полноценное оборудование для воркаута. 
                            p #[strong Собственный бульвар] протяженностью почти 300 метров, с коворкинг-зонами, ротондой и дизайнерским озеленением. Подходит для приятных прогулок, отдыха и даже работы в теплое время года! 


block page_bottom
    //-script(src="/js/script_file_for_this_page.js")