extends layout
block vars
    - var title = "Жильё высокого класса";
block content
    header.PageHead.wow.fadeInUp
        +Breadcrumbs
        h1.PageHead_title #{title}
    +PopupBtn(style="opacity:0;")
    .Bird.Bird-n4.wow.fadeIn(data-wow-delay="0.4s")
    .Bird.Bird-n4.Bird-animate
    .Box.Box-smExtended
        article.Utp
            .Utp_picWrap.wow.fadeInUp(data-wow-delay="0.1s")
                img.Utp_picture(src="/tmp/slideshow/4.jpg", alt=title)
            .Utp_desc
                .Teaser.Teaser-noMargin.wow.fadeInUp(data-wow-delay="0.2s")
                    .Teaser_txtWrap.Teaser_txtWrap-fullWidth
                        h2.Teaser_head Миниполис #[br] “Серебрица” – это...
                .Utp_colSplitter.wow.fadeInUp(data-wow-delay="0.2s")
                    .Utp_col
                        .TextBlock
                            ul
                                li #[strong 5 кирпично-монолитных домов] на 1923 квартиры. Фасады домов отделаны самыми современными материалами: фиброцементными панелями, клинкерной плиткой, аквапанелями и панелями, имитирующими дерево. Все кондиционеры убираются в декоративные корзины, поэтому изначальный дизайн зданий сохраняет свои элегантные линии, предусмотренные архитектурным проектом.
                                li #[strong Спортивные площадки], оснащенные самым современным оборудованием для полноценного уличного воркаута. Занятия на свежем воздухе, в окружении первозданной природы — это не только полезно для здоровья, но и по-настоящему приятно.
                    .Utp_col
                        .TextBlock
                            ul
                                li #[strong Муниципальные школа] и детский сад с уникальной архитектурой, построенные в рамках концепции развивающей территории. Современные и полностью безопасные детские игровые площадки.
                                li #[strong Восьмиэтажный гаражный комплекс] на 1260 отапливаемых машиномест разного размера, а также гостевые стоянки на 512 мест. Места всегда хватит и для жильцов и для их гостей, а улицы миниполиса останутся свободными от машин!
                                li #[strong Торгово-развлекательный центр], в котором найдется все необходимое для повседневной жизни и отдыха от работы и житейских забот. Приятно, когда всё под рукой!
                br
                .Teaser.wow.fadeInUp
                    .Teaser_picWrap
                        .Teaser_picture(style="background-image:url(/tmp/718x468_n1.jpg)")
                    .Teaser_txtWrap
                        h4.Teaser_head Квартиры мечты
                        .Teaser_text
                            p Квартиры в домах миниполиса “Серебрица” — со свободной планировкой. Их можно расширять, объединять, модифицировать. Свободная планировка – прекрасная возможность устроить всё именно так, как хочется вам. Вы можете выбрать квартиру без отделки, без межкомнатных перегородок, с классическим зонированием или евроформата.
                .Teaser.Teaser-reversed.wow.fadeInUp
                    .Teaser_picWrap
                        .Teaser_picture(style="background-image:url(/tmp/718x468_n2.jpg)")
                    .Teaser_txtWrap
                        .Teaser_text
                            p Для больших семей у нас есть квартиры с двумя санузлами и просторными гардеробными комнатами, как в голливудских фильмах!
                            p Современные технологии строительства дают возможность сделать несущими только внешние стены, и владельцы квартиры могут свободно выбирать и менять планировки. Закреплены только точки размещения кухни и санузла, хотя и эти пространства оформляются в соответствии с пожеланиями жильцов, не говоря уже об остальных частях квартиры. 
                .Teaser.wow.fadeInUp
                    .Teaser_picWrap
                        .Teaser_picture(style="background-image:url(/tmp/718x468_n1.jpg)")
                    .Teaser_txtWrap
                        .Teaser_text
                            p Если же вы захотите переоборудовать балкон или лоджию, чтобы увеличить кухню или обустроить собственный кабинет, это не составит никакого труда! Все лоджии здесь уже утеплены! 
                            p В миниполисе “Серебрица” найдутся квартиры на любой вкус: модные студии, продуманные однокомнатные, удобные двухкомнатные и просторные трехкомнатные для больших семей!
                .Teaser.Teaser-reversed.wow.fadeInUp
                    .Teaser_picWrap
                        .Teaser_picture(style="background-image:url(/tmp/718x468_n1.jpg)")
                    .Teaser_txtWrap
                        h4.Teaser_head Продуманное окружение
                        .Teaser_text
                            p Выбирая район, мы заботились о том, чтобы он полностью отвечал потребностям жителей. В миниполисе есть всё необходимое для гармоничной жизни. 
                            p Вблизи располагаются все торговые центры и магазины с самым необходимым.
                .Teaser.wow.fadeInUp
                    .Teaser_picWrap
                        .Teaser_picture(style="background-image:url(/tmp/718x468_n2.jpg)")
                    .Teaser_txtWrap
                        .Teaser_text
                            p А для более серьезного шоппинга всегда под рукой гипермаркеты «Лента», «Ашан», «Леруа Мерлен», OBI и Hoff. Продуктовые сети представлены всеми основными игроками: от повседневной «Пятёрочки» до изысканного «Глобус Гурмэ». На случай, когда совсем не хочется готовить, всегда можно отправиться в близлежащее кафе или ресторан. 
                            p Вокруг “Серебрицы” есть государственные и частные детские сады, школы, лицеи, гимназии, в том числе — гимназия с дошкольной ступенью. Неподалеку расположены фитнес-центры, городская поликлиника, круглосуточные аптеки.
                .Teaser.Teaser-reversed.wow.fadeInUp
                    .Teaser_picWrap
                        .Teaser_picture(style="background-image:url(/tmp/718x468_n1.jpg)")
                    .Teaser_txtWrap
                        .Teaser_text
                            p В 15 минутах от миниполиса “Серебрица” расположен огромный спортивный кластер: знаменитый стадион “Зоркий”, теннисная академия Шамиля Тарпищева, футбольная академия Сергея Юрана, лыжный стадион, плавательный бассейн, биатлонное стрельбище, футбольный стадион “Машиностроитель”. В ближайшее время этот впечатляющий список дополнится академией хоккея имени Владимира Петрова и Федеральным центром по подготовке национальных сборных по борьбе, который разместится на территории в 20 тысяч квадратных метров! Здесь ваши будущие чемпионы смогут добиться своих первых побед и начать путь к настоящим мировым и олимпийским рекордам!
                .Teaser.wow.fadeInUp
                    .Teaser_picWrap
                        .Teaser_picture(style="background-image:url(/tmp/718x468_n2.jpg)")
                    .Teaser_txtWrap
                        .Teaser_text
                            p К услугам любителей культурного отдыха ландшафтный парк в районе Митино и природно-исторический парк в Строгино, усадьбы Опалиха-Алексеевское и Архангельское, Красногорский историко-художественный музей, музей Покорителей Вселенной.
                            p Для тех, кто предпочитает более активный досуг, в районе есть фитнес-центры. Рядом с ними располагаются салоны красоты и парикмахерская.
                            p “Серебрица” — территория благополучия!
                .Teaser.Teaser-reversed.wow.fadeInUp
                    .Teaser_picWrap
                        .Teaser_picture(style="background-image:url(/tmp/718x468_n1.jpg)")
                    .Teaser_txtWrap
                        h4.Teaser_head Транспортная доступность
                        .Teaser_text
                            p Продуманное расположение миниполиса позволяет идеально совмещать работу в столице и комфортную, безмятежную жизнь за городом, лишенную постоянного шума и непрерывной суеты. Жители “Серебрицы” могут свободно выбирать наиболее удобный способ добраться до Москвы и вернуться обратно.
                .Teaser.wow.fadeInUp
                    .Teaser_picWrap
                        .Teaser_picture(style="background-image:url(/tmp/718x468_n2.jpg)")
                    .Teaser_txtWrap
                        .Teaser_text
                            p Домчаться на личном автомобиле, послушать музыку в автобусе или почитать интересную книгу в электричке — каждый выберет что-то на свой вкус.  
                            p Полчаса на машине по Волоколамскому или 45 минут по Новорижскому шоссе. Столько же на электричке до метро Дмитровская или 40 минут — до станции Рижская. На автобусе: 30 минут до “Тушинской” или 35 минут до “Митино”. Это уже как минимум шесть вариантов! Такой выбор маршрутов позволит выбрать оптимальный путь в любое время суток, чтобы избежать пробок и задержек.
block page_bottom
    //-script(src="/js/script_file_for_this_page.js")