extends layout
block vars
	- var title = "Выбор по параметрам";
block content
	+PopupBtn
	header.Box.Box-filtersPageTop.Box-smExtended
		.hidden-xs
			nav.FiltersNav
				.FiltersNav_left
					.FiltersNav_opt Подобрать по параметрам
					a.FiltersNav_switch.FiltersNav_switch-left(href="/filters_typicals.html")
					.FiltersNav_opt
						a.FiltersNav_link.FiltersNav_link-navigate(href="/filters_typicals.html") по типу
				.FiltersNav_right
					a.FiltersNav_link(href="/genplan.html") На генплане
		.hidden-sm.hidden-md
			select.FilterMobileSwitcher(autocomplete="off")
				option(value="/filters_typicals.html") Подбор по типу
				option(value="/filters_options.html" selected) Подбор по параметрам
				option(value="/genplan.html") На генплане
	.Box.Box-smExtended
		+FilterSidebar('horizontal')
			+FilterForm("/ajax/get_flats_example.json", '', 'horizontal')
			//- +FilterForm("http://serebrica-a.dev.blue-ant.ru/ajax/get_flats_example.json", '', 'horizontal')
			//- +FilterForm("https://серебрица.рф/ajax/get_flats_example.json", '', 'horizontal')

		.Tbl.Tbl-flatList2
			.Tbl_thead.Tbl_thead-bordered
				.Tbl_tr
					.Tbl_th.hidden-xs Планировка
					.Tbl_th(data-sort-by="num") <span class="hidden-xs">Квартира </span>№
					.Tbl_th(data-sort-by="floor") Эт<span class="hidden-md hidden-sm">.</span><span class="hidden-xs">аж</span>
					.Tbl_th.hidden-xs.hidden-sm(data-sort-by="section") Секция
					.Tbl_th(data-sort-by="bld") К<span class="hidden-md hidden-sm">.</span><span class="hidden-xs">орпус</span>
					.Tbl_th(data-sort-by="rooms") Ком<span class="hidden-md hidden-sm">.</span><span class="hidden-xs">нат</span>
					.Tbl_th(data-sort-by="area") Площ<span class="hidden-md hidden-sm">.</span><span class="hidden-xs">адь</span>
					.Tbl_th.hidden-xs.hidden-sm(data-sort-by="furnish") Отделка
					.Tbl_th(data-sort-by="price") Цена

			.Tbl_tbody#filterResultsContainer
				//- a(href=`/flat_single.html`).Tbl_tr.Tbl_tr-link
					.Tbl_td.hidden-xs
						.Tbl_thumb(style="background-image:url('/tmp/200x200.png');")
					.Tbl_td 20
					.Tbl_td 30
					.Tbl_td.hidden-xs.hidden-sm 40
					.Tbl_td 4К
					.Tbl_td 3
					.Tbl_td 44м#[sup 2]
					.Tbl_td.hidden-xs.hidden-sm
						include includes/svg/check_bold.svg
					.Tbl_td.Tbl_td-nowrap
						del.Tbl_delText 5 650 000 ₽
						br
						ins.Tbl_insText 4 999 999 ₽
				//- each i in [1,2,3,4,5,6,7,8,9,1,2,3,4,5,6,7,8,9]
					a(href=`/flat_single${i % 2 != 0 ? "2": ""}.html`).Tbl_tr.Tbl_tr-link
						.Tbl_td.hidden-xs
							.Tbl_thumb(style="background-image:url('/tmp/200x200.png');")
						.Tbl_td #{i}
						.Tbl_td #{i+1}
						.Tbl_td.hidden-xs.hidden-sm #{i+2}
						.Tbl_td 4К
						.Tbl_td 3
						.Tbl_td 3#{i}.#{i-1}м#[sup 2]
						.Tbl_td.hidden-xs.hidden-sm
							include includes/svg/check_bold.svg
						.Tbl_td.Tbl_td-nowrap 4 950 000 ₽
		div(style="padding-top: 40px;text-align:center;")
			button.Btn.Btn-color2.Btn-big#getMoreFlats(style="display:none;") Загрузить еще 
				span#extraFlatsCounter 12

block page_bottom
	script(src="/js/filters_options.js")