extends layout
block vars
	- var title = "Выбор по параметрам";
block content
	+PopupBtn
	header.Box.Box-filtersPageTop.Box-smExtended
		.hidden-xs
			nav.FiltersNav
				.FiltersNav_left
					.FiltersNav_opt Подобрать по параметрам
					a.FiltersNav_switch.FiltersNav_switch-left(href="/filters_typicals.html")
					.FiltersNav_opt
						a.FiltersNav_link(href="/filters_typicals.html") По типу
				.FiltersNav_right
					a.FiltersNav_link(href="/genplan.html") На генплане
		.hidden-sm.hidden-md
			select.FilterMobileSwitcher(autocomplete="off")
				option(value="/filters_typicals.html") Подбор по типу
				option(value="/filters_options.html" selected) Подбор по параметрам
				option(value="/genplan.html") На генплане
	.Box.Box-smExtended
		+FilterSidebar('horizontal')
			+FilterForm("/ajax/get_flats_example.json", '', 'horizontal')
				input(type="checkbox" name="not_living" data-persist-id=`not_living` value="0").CustomCheckbox_input

		.FilterComplex
			+ColorLegend([
                    {
                        hashCode: "#ca6e86",
                        label: "1-я квартира",
						attr: "item_1"
                    },
                    {
                        hashCode: "#a6b961",
                        label: "2-я квартира",
						attr: "item_2"
                    },
                    {
                        hashCode: "#a09acc",
                        label: "3-я квартира",
						attr: "item_3"
                    },
                    {
                        hashCode: "#f7eda9",
                        label: "Квартира-студия",
						attr: "item_0"
                    },
                    {
                        hashCode: "#a4d3da",
                        label: "Нежилое помещение",
						attr: "not_living"
                    },
                    {
                        hashCode: "#e9e7e7",
                        label: "Проданные"
                    },
                ], mods={
                    list: "ColorLegend_list-tight ColorLegend_list-filter",
                })
			.FilterComplex_wrap
				.FilterComplex_left
					.FilterComplex_blockTitle Выберите квартиру
					.FilterComplex_sectionScheme
						.FilterComplex_sectionSchemeDesc
							img.FilterComplex_sectionSchemeCompass(src="./img/compass_black.svg" style="transform: rotate(15deg)")
							.FilterComplex_sectionSchemeNum Корпус 6

						include includes/svg/scheme-complex.svg
				
				.FilterComplex_right
					.FilterComplex_house
						.FilterComplex_blockTitle Выберите этаж
						.FloorBuildNav
							.FloorBuildNav_links
								a.FloorBuildNav_link(href="#") 8 этаж
								a.FloorBuildNav_link(href="#") 7 этаж
								a.FloorBuildNav_link(href="#") 6 этаж
								a.FloorBuildNav_link(href="#") 5 этаж
								a.FloorBuildNav_link(href="#") 4 этаж
								a.FloorBuildNav_link(href="#") 3 этаж
								a.FloorBuildNav_link.FloorBuildNav_link-active(href="/filters_complex2.html") 2 этаж
								a.FloorBuildNav_link(href="/filters_complex.html") 1 этаж
							include includes/svg/complex-house.svg
					
					.FilterComplex_sections
						.FilterComplex_blockTitle Выберите корпус
						include includes/svg/complex-houses.svg

block page_bottom
	script(src="/js/filters_complex.js")