extends layout
block vars
    - var title = "Выбор кладовок"
block content
    +PopupBtn
    style.
        .Scheme_shape-parking{
            fill: #F7F7F7;
        }
    +filtersHeader(1)
    .Box.Box-smExtended
        +FilterSidebar('horizontal')
            +FilterForm("/ajax/get_flats_example.json", '', 'horizontal')
    section#filterResult.Box.Box-smExtended
        .EstatePickup
            .EstatePickup_scheme
                .EstatePickup_svgWrap.EstatePickup_svgWrap-fullWidth!="\n"
                    include includes/svg/floor_scheme.svg
            .EstatePickup_mapWrap!="\n"
                //- include includes/svg/houses_scheme.svg
                include includes/svg/korpusa2.svg
                +ColorLegend

        .CardsList.CardsList-forEstateCards.hidden-md
            each i in [1,2,3]
                .EstateCard
                    h6.EstateCard_head Кладовка № 3
                    .EstateCard_inner
                        dl.EstateCard_params
                            dt.EstateCard_paramName Площадь:
                            dd.EstateCard_paramValue 60,7 м
                            dt.EstateCard_paramName Цена:
                            dd.EstateCard_paramValue 1 600 770 ₽
                        .EstateCard_btnWrap
                            a.Btn.Btn-size2.Btn-ghost(data-fancybox="" data-gallery="false" href="#orderModal") Отправить заявку

    //- +FilterSidebar
    //-         form#filterForm.FilterForm(autocomplete="off")
    //-             .FilterForm_item
    //-                 .FilterForm_label Корпус:
    //-                 .FilterForm_checkboxesRow
    //-                     each item in ['1', '2', '3', '4', '5']
    //-                         .CustomCheckbox
    //-                             label.CustomCheckbox_label
    //-                                 input(type="checkbox" name="storeroom_house[]" data-persist-id=`storeroom_house_${item}` value=`${item}`).CustomCheckbox_input
    //-                                 span.CustomCheckbox_view #{item === '0' ? 'C' : item}
    //-             .FilterForm_item
    //-                 .FilterForm_label Секция:
    //-                 .FilterForm_checkboxesRow
    //-                     each item in ['1', '2', '3', '4']
    //-                         .CustomCheckbox
    //-                             label.CustomCheckbox_label
    //-                                 input(type="checkbox" name="storeroom_section[]" data-persist-id=`storeroom_section_${item}` value=`${item}`).CustomCheckbox_input
    //-                                 span.CustomCheckbox_view #{item === '0' ? 'C' : item}
    button#filtersAsideTogger.StickyBtn.StickyBtn-settings.hidden-sm.hidden-md


block page_bottom
    include includes/chunks/storerooms_page_inline_script
    script(src="/js/filters_storerooms.js")