extends layout
block vars
    - var title = "Выбор коммерческих помещений"
block content
    +PopupBtn
    style.
        .Scheme_shape-parking{
            fill: #F7F7F7;
        }
    +filtersHeader(2)
    .Box.Box-smExtended.FilterCommercialPage
        +FilterSidebar('horizontal')
            +FilterForm("/ajax/get_commercial.json", '', 'horizontalCommercial')
        .Tbl.Tbl-flatList2.Tbl-commercial
            .Tbl_thead.Tbl_thead-bordered
                .Tbl_tr
                    .Tbl_th.hidden-xs Планировка
                    .Tbl_th <span class="hidden-xs">Площадь, </span>м<sup>2</sup>
                    .Tbl_th  Расп<span class="hidden-md hidden-sm">.</span><span class="hidden-xs">оложение</span>
                    .Tbl_th Сдача
                    .Tbl_th Статус
                    .Tbl_th(data-sort-by="price") <span class="hidden-xs">Цена, </span>₽

            .Tbl_tbody#filterResultsContainer
        .FilterCommercialPage_NotFound#filterResultNotFound
        div(style="padding-top: 20px;text-align:center;")
            button.Btn.Btn-color2.Btn-big#getMoreFlats(style="display:none;") Загрузить еще 
                span#extraFlatsCounter 12


block page_bottom
    include includes/chunks/storerooms_page_inline_script
    script(src="/js/filters_commercial.js")