extends layout
block vars
    - var title = "Выбор парковки";
block content
    +PopupBtn
    style.
        .Scheme_shape-parking{
            fill: #ECCBD5;
        }
    +filtersHeader(1)
    section#filterResult.Box.Box-smExtended
        .EstatePickup
            .EstatePickup_scheme
                .EstatePickup_svgWrap!="\n"
                    include includes/svg/parking_scheme_example.svg
                a.EstatePickup_arrow.EstatePickup_arrow-prev(href="/filters_parking.html") 
                    include ./includes/svg/angle_right.svg
                    | Корпус 1
                a.EstatePickup_arrow.EstatePickup_arrow-next(href="/filters_parking.html") Корпус 3
                    include ./includes/svg/angle_right.svg
            .EstatePickup_mapWrap!="\n"
                include includes/svg/houses_scheme.svg
                +ColorLegend
        .CardsList.CardsList-forEstateCards.hidden-md
            each i in [1,2,3]
                .EstateCard
                    h6.EstateCard_head Парковка № 47
                    .EstateCard_inner
                        dl.EstateCard_params
                            dt.EstateCard_paramName Площадь:
                            dd.EstateCard_paramValue 6,7 м
                            dt.EstateCard_paramName Цена:
                            dd.EstateCard_paramValue 250 500 ₽
                        .EstateCard_btnWrap
                            a.Btn.Btn-size2.Btn-ghost(data-fancybox="" data-gallery="false" href="#orderModal") Отправить заявку

    +FilterSidebar
            form#filterForm.FilterForm(autocomplete="off")
                .FilterForm_item
                    .FilterForm_label Корпус:
                    .FilterForm_checkboxesRow
                        each item in ['1', '2', '3', '4', '5']
                            .CustomCheckbox
                                label.CustomCheckbox_label
                                    input(type="checkbox" name="parking_house[]" value=`${item}`).CustomCheckbox_input
                                    span.CustomCheckbox_view #{item === '0' ? 'C' : item}
                .FilterForm_item
                    .FilterForm_label Уровень:
                    .FilterForm_checkboxesRow
                        each item in ['1']
                            .CustomCheckbox
                                label.CustomCheckbox_label
                                    input(type="checkbox" name="pariking_level[]" value=`${item}`).CustomCheckbox_input
                                    span.CustomCheckbox_view #{item === '0' ? 'C' : item}
                .FilterForm_item
                    .FilterForm_label Часть:
                    .FilterForm_checkboxesRow
                        each item in ['1', '2']
                            .CustomCheckbox
                                label.CustomCheckbox_label
                                    input(type="checkbox" name="parking_part[]" value=`${item}`).CustomCheckbox_input
                                    span.CustomCheckbox_view #{item === '0' ? 'C' : item}
    button#filtersAsideTogger.StickyBtn.StickyBtn-settings.hidden-sm.hidden-md

block page_bottom
    script(src="/js/filters_parking.js")