extends layout
block vars
    - var title = "Выбор по параметрам";
block content
    header.Box.Box-filtersPageTopNoBird.Box-smExtended
        .hidden-xs
            nav.FiltersNav.FiltersNav-typical
                .FiltersNav_left
                    .FiltersNav_opt Подобрать 
                        a.FiltersNav_link.FiltersNav_link-navigate(href="/filters_options.html") по параметрам
                    a.FiltersNav_switch.FiltersNav_switch-right(href="/filters_options.html")
                    .FiltersNav_opt по типу
                .FiltersNav_right
                    a.FiltersNav_link(href="/genplan.html") На генплане
        .hidden-sm.hidden-md
            select.FilterMobileSwitcher(autocomplete="off")
                option(value="/filters_typicals.html" selected) Подбор по типу
                option(value="/filters_options.html") Подбор по параметрам
        
        +FilterSidebar('horizontal')
            //- +FilterForm("/ajax/get_typicals_example.json", '', 'horizontal')
            +FilterForm("https://xn--80ablaq9bcd5c.xn--p1ai/ajax/get_typicals_example.json", '', 'horizontal')
            
    section#filterResult.Box.Box-smExtended
        //- .NoPlansFound
            p.NoPlansFound_text Планировки по заданным параметрам не найдены,#[br.hidden-xs] пожалуйста измените параметры поиска.
            p.NoPlansFound_text.NoPlansFound_text-red или выберите из похожих планировок:
        
        .CardsList.CardsList-flatPlans
            each i in [1, "promo", 2, 3, 4]
                if(i === "promo")
                    .FlatCard.FlatCard-promo
                        .FlatCard_promoInner
                            .FlatCard_discountVal 50%
                            h6.FlatCard_promoHead Квартир уже продано
                            .FlatCard_promoText 
                                p Успейте купить#[br] по стартовым ценам!
                            a.Btn.Btn-color3.Btn-size2(href="/promo_single.html") Узнать подробнее
                else
                    a.FlatCard(href="/flat_type.html")
                        .FlatCard_head Тип 2S_1
                        .FlatCard_content
                            .FlatCard_schemeWrap
                                img.FlatCard_scheme(src=`/tmp/plans/${i}.svg`, alt="")
                            .FlatCard_paramsWrap
                                .FlatCard_leafLine
                                table.FlatCard_paramsTbl
                                    tr.FlatCard_paramsRow
                                        td.FlatCard_paramsCell
                                            span.FlatCard_paramsVal 78.4
                                        td.FlatCard_paramsCell
                                            span.FlatCard_paramsVal
                                                include includes/svg/small_cross.svg
                                        td.FlatCard_paramsCell
                                            span.FlatCard_paramsVal
                                                include includes/svg/check.svg
                                        td.FlatCard_paramsCell
                                            span.FlatCard_paramsVal
                                                include includes/svg/small_cross.svg
                                    tr.FlatCard_paramsRow
                                        td.FlatCard_paramsCell
                                            span.FlatCard_paramsLabel площадь
                                        td.FlatCard_paramsCell
                                            span.FlatCard_paramsLabel отделка
                                        td.FlatCard_paramsCell
                                            span.FlatCard_paramsLabel балкон
                                        td.FlatCard_paramsCell
                                            span.FlatCard_paramsLabel вид во двор

block page_bottom
    script(src="/js/filters_typicals.js")