extends layout
block vars
    - var title = "Планировка №5";
block content
    .Box.Box-smExtended
        header.PageHead.PageHead-flatType
            a.PageHead_toBack(href="/filters_typicals.html")
                include includes/svg/angle_right.svg
                |Вернуться
    .Box.Box-smExtended
        .FlatListContainer.wow.fadeInUp
            .Tbl.Tbl-flatList
                h4.Tbl_caption Подходящие квартиры
                .Tbl_tr
                    .Tbl_th <span class="hidden-xs">Квартира </span>№
                    .Tbl_th Секция
                    .Tbl_th  Эт<span class="hidden-md hidden-sm">.</span><span class="hidden-xs">аж</span>
                    .Tbl_th.hidden-xs Спален
                    .Tbl_th Площ<span class="hidden-md hidden-sm">.</span><span class="hidden-xs">адь</span>
                    .Tbl_th.hidden-xs.hidden-sm Отделка
                    .Tbl_th.hidden-xs.hidden-sm Балкон
                    .Tbl_th.hidden-xs.hidden-sm Вид во двор
                    .Tbl_th <span class="hidden-md hidden-sm">Цена</span><span class="hidden-xs">Стоимость</span>
                    .Tbl_th &nbsp;
                a(href=`/flat_single${i % 2 != 0 ? "2": ""}.html`).Tbl_tr.Tbl_tr-link
                    .Tbl_td 20
                    .Tbl_td 30
                    .Tbl_td 40
                    .Tbl_td.hidden-xs 3
                    .Tbl_td 44м#[sup 2]
                    .Tbl_td.hidden-xs.hidden-sm
                        include includes/svg/check_bold.svg
                    .Tbl_td.hidden-xs.hidden-sm
                        include includes/svg/cross_bold.svg
                    .Tbl_td.hidden-xs.hidden-sm
                        include includes/svg/check_bold.svg
                    .Tbl_td.Tbl_td-nowrap
                        del.Tbl_delText 5 650 000 ₽
                        br
                        ins.Tbl_insText 4 999 999 ₽
                    .Tbl_td._favorites
                        //a.FlatCard_starLink.js-favorite-link._active(href="#") - пример активной
                        span.FlatCard_starLink.js-favorite-link(href="#") &nbsp;
                            span.FlatCard_starLink1
                                include includes/svg/icon_starFavor_active.svg
                            span.FlatCard_starLink2
                                include includes/svg/icon_starFavor.svg
                each i in [1,2,3,4,5,6,7,8,9,1,2,3,4,5,6,7,8,9]
                    a(href=`/flat_single${i % 2 != 0 ? "2": ""}.html`).Tbl_tr.Tbl_tr-link
                        .Tbl_td #{i}
                        .Tbl_td #{i+1}
                        .Tbl_td #{i+2}
                        .Tbl_td.hidden-xs 3
                        .Tbl_td 3#{i}.#{i-1}м#[sup 2]
                        .Tbl_td.hidden-xs.hidden-sm
                            include includes/svg/check_bold.svg
                        .Tbl_td.hidden-xs.hidden-sm
                            include includes/svg/cross_bold.svg
                        .Tbl_td.hidden-xs.hidden-sm
                            include includes/svg/check_bold.svg
                        .Tbl_td.Tbl_td-nowrap 4 950 000 ₽
                        .Tbl_td._favorites
                            //a.FlatCard_starLink.js-favorite-link._active(href="#") - пример активной
                            span.FlatCard_starLink.js-favorite-link(href="#") &nbsp;
                                span.FlatCard_starLink1
                                    include includes/svg/icon_starFavor_active.svg
                                span.FlatCard_starLink2
                                    include includes/svg/icon_starFavor.svg
    +FilterSidebar
        +FilterForm("/ajax/get_flats_by_type_example.json", true)

block page_bottom
    script(src="/js/flat_type.js")
    script(src="/js/favorites.js")
