extends layout
block vars
    - var title = "Квартира №411";
block content
    a.StickyBtn.StickyBtn-green.StickyBtn-settings.StickyBtn-forFlatTypePage(href="/filters_typicals.html" title="Подбор по параметрам")
    header.PageHead
        a.PageHead_toBack(href="/filters_typicals.html")
            include includes/svg/angle_right.svg
            |Вернуться

    include includes/blocks/PageBtn.pug

    .Box.Box-smExtended
        .FlatSingle
            .FlatSingle_plan
                .FlatSingle_planThumb.wow.fadeInLeft
                    .FlatSingle_planThumbBtn.FlatSingle_planThumbBtn-prev
                        include includes/svg/angle_right.svg
                    .FlatSingle_planThumbBtn.FlatSingle_planThumbBtn-next
                        include includes/svg/angle_right.svg
                    .swiper-container
                        .swiper-wrapper
                            span.swiper-slide.FlatSingle_planThumbItem Планировка
                            span.swiper-slide.FlatSingle_planThumbItem 3D Планировка
                            span.swiper-slide.FlatSingle_planThumbItem Перепланировка 1
                .FlatSingle_slider.swiper-container.wow.fadeInLeft
                    .swiper-wrapper
                        .swiper-slide
                            img.FlatSingle_slide(src="/tmp/plans/3.svg", alt=title)
                .FlatSingle_location.wow.fadeInUp
                    .FlatSingle_compass(style="transform: rotate(45deg)")
                        img.FlatSingle_compassImg(src="./img/compass_black.svg")
                    .FlatSingle_buildLayout!="\n"
                        style.
                            .Scheme_houseNum{display:none;}
                        include includes/svg/houses_scheme.svg
                        .FlatSingle_infrastruct.FlatSingle_infrastruct-school(title="Школа")
                        .FlatSingle_infrastruct.FlatSingle_infrastruct-kinder(title="Детский сад")
                        .FlatSingle_metro ст. Опалиха
                .FlatSingle_preview.wow.fadeInUp
                    .FlatSingle_previewTitle Варианты отделки:
                    .FlatSingle_previewBtn.FlatSingle_previewBtn-prev
                    .FlatSingle_previewBtn.FlatSingle_previewBtn-next
                    .swiper-container
                        .swiper-wrapper
                            .swiper-slide
                                .FlatSingle_previewItem(data-fancybox='flatFancy' href="/tmp/200x200.png" style='background-image: url("/tmp/200x200.png")')
                            .swiper-slide
                                .FlatSingle_previewItem(data-fancybox='flatFancy' href="/tmp/900.png" style='background-image: url("/tmp/900.png")')
                            .swiper-slide
                                .FlatSingle_previewItem(data-fancybox='flatFancy' href="/tmp/gallery/gallery1.jpg" style='background-image: url("/tmp/gallery/gallery1.jpg")')
                            .swiper-slide
                                .FlatSingle_previewItem(data-fancybox='flatFancy' href="/tmp/gallery/gallery1.jpg" style='background-image: url("/tmp/gallery/gallery1.jpg")')
            .FlatSingle_info.wow.fadeInUp
                h1.FlatInfo_title=title
                .FlatSingle_favorites
                    //a.FlatCard_starLink.js-favorite-link._active(href="#") - пример активной
                    a.FlatCard_starLink.js-favorite-link(href="#")
                        span.FlatCard_starLink1
                            include includes/svg/icon_starFavor_active.svg
                        span.FlatCard_starLink2
                            include includes/svg/icon_starFavor.svg
                        span.FlatSingle_starToolp._add Добавить в избранное
                        span.FlatSingle_starToolp._del Удалить из избранного
                .Tbl.Tbl-LeftTxt
                    .Tbl_tr
                        .Tbl_th Площадь:
                        .Tbl_th Стоимость:
                    .Tbl_tr.Tbl_tr-fontBig
                        .Tbl_td.Tbl_td-tightTop.Tbl_td-nowrap 35.8м#[sup 2]
                        .Tbl_td.Tbl_td-tightTop.Tbl_td-nowrap
                            .FlatSingle_prices
                                del.FlatSingle_oldPrice 5 860 000 ₽
                                ins.FlatSingle_newPrice 5 200 000 ₽
                .Tbl
                    .Tbl_tr
                        .Tbl_th cекция
                        .Tbl_th этаж
                        .Tbl_th спален
                        .Tbl_th отделка
                        .Tbl_th балкон
                        .Tbl_th вид во двор
                    .Tbl_tr.Tbl_tr-bold
                        .Tbl_td.Tbl_td-tightTop 3
                        .Tbl_td.Tbl_td-tightTop 5
                        .Tbl_td.Tbl_td-tightTop 2
                        .Tbl_td.Tbl_td-tightTop
                            include includes/svg/check_bold.svg
                        .Tbl_td.Tbl_td-tightTop
                            include includes/svg/cross_bold.svg
                        .Tbl_td.Tbl_td-tightTop
                            include includes/svg/check_bold.svg
                .FlatSingle_desc
                    .FlatSingle_descItem Солнечная сторона
                        include includes/svg/check_bold.svg
                    .FlatSingle_descItem Гардеробная
                        include includes/svg/check_bold.svg
                    .FlatSingle_descItem Раздельный санузел
                        include includes/svg/check_bold.svg
                a(data-fancybox="" href="#orderModal").Btn.Btn-color2.Btn-big Оставить заявку
block page_bottom
    script(src="/js/flat_single.js")
    script(src="/js/favorites.js")
