extends layout
block vars
	- let title = "Квартира №410";
block content
	a.StickyBtn.StickyBtn-green.StickyBtn-settings.StickyBtn-forFlatTypePage(href="/filters_typicals.html" title="Подбор по параметрам")
	header.PageHead
		a.PageHead_toBack(href="/filters_typicals.html")
			include includes/svg/angle_right.svg
			|Вернуться
	include includes/blocks/PageBtn.pug

	.Box.Box-smExtended
		.FlatSingle
			.FlatSingle_plan
				.FlatSingle_planThumb.wow.fadeInLeft
					.FlatSingle_planThumbBtn.FlatSingle_planThumbBtn-prev
						include includes/svg/angle_right.svg
					.FlatSingle_planThumbBtn.FlatSingle_planThumbBtn-next
						include includes/svg/angle_right.svg
					.swiper-container
						.swiper-wrapper
							span.swiper-slide.FlatSingle_planThumbItem Планировка
							span.swiper-slide.FlatSingle_planThumbItem 3D Планировка
							span.swiper-slide.FlatSingle_planThumbItem Перепланировка 1
							span.swiper-slide.FlatSingle_planThumbItem Перепланировка 1
				.FlatSingle_slider.swiper-container.wow.fadeInLeft
					.swiper-wrapper
						.swiper-slide
							img.FlatSingle_slide(src="/tmp/plans/1.svg", alt=title)
						.swiper-slide
							img.FlatSingle_slide(src="/tmp/plans/2.svg", alt=title)
						.swiper-slide
							img.FlatSingle_slide(src="/tmp/plans/3.svg", alt=title)
						.swiper-slide
							img.FlatSingle_slide(src="/tmp/plans/3.svg", alt=title)
				.FlatSingle_location.wow.fadeInUp
					.FlatSingle_compass(style="transform: rotate(45deg)")
						img.FlatSingle_compassImg(src="./img/compass_black.svg")
					.FlatSingle_buildLayout!="\n"
						style.
							.Scheme_houseNum{display:none;}
						include includes/svg/houses_scheme.svg
						.FlatSingle_infrastruct.FlatSingle_infrastruct-school(title="Школа")
						.FlatSingle_infrastruct.FlatSingle_infrastruct-kinder(title="Детский сад")
						.FlatSingle_metro ст. Опалиха
				.FlatSingle_preview.wow.fadeInUp
					.FlatSingle_previewTitle Варианты отделки:
					.FlatSingle_previewBtn.FlatSingle_previewBtn-prev
					.FlatSingle_previewBtn.FlatSingle_previewBtn-next
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								.FlatSingle_previewItem(data-fancybox='flatFancy' href="/tmp/200x200.png" style='background-image: url("/tmp/200x200.png")')
							.swiper-slide
								.FlatSingle_previewItem(data-fancybox='flatFancy' href="/tmp/900.png" style='background-image: url("/tmp/900.png")')
							.swiper-slide
								.FlatSingle_previewItem(data-fancybox='flatFancy' href="/tmp/gallery/gallery1.jpg" style='background-image: url("/tmp/gallery/gallery1.jpg")')
			.FlatSingle_info.wow.fadeInUp
				h1.FlatInfo_title=title
				.Tbl.Tbl-LeftTxt
					.Tbl_tr
						.Tbl_th Площадь:
						.Tbl_th.Tbl_td-nowrap (Метраж по комн..)
						.Tbl_th Стоимость:
					.Tbl_tr.Tbl_tr-fontBig
						.Tbl_td.Tbl_td-tightTop.Tbl_td-nowrap 35.8м#[sup 2]
						.Tbl_td.Tbl_td-tightTop.Tbl_td-nowrap
							a#scrollToFootageLink.hidden-md(href="#") #[u Показать]
							a#showFootagePopupLink.hidden-xs.hidden-sm(href="#" style="cursor:help;") #[u Показать]
						.Tbl_td.Tbl_td-tightTop.Tbl_td-nowrap 5 200 000 ₽

				.TechBtns
					.TechBtns__item(data-toggle-form, for="follow-email")
						span.TechBtns__txt Следить за ценой
						input(id="follow-email", type="checkbox", name="").TechBtns__inp
						span.TechBtns__ico._email

					a.TechBtns__item(href="http://serebrica-a.dev.blue-ant.ru/genplan/korpus_2/section_5/flat/k2s5f4n1r1/?print=pdf")
						span.TechBtns__txt Скачать pdf
						span.TechBtns__ico._pdf

				.TechFormWrapper
					.TechFormWrapper__close
					form(action="/ajax/form-response.ajax", method="get", data-follow-form).TechForm
						.TechForm__step._success
							.TechForm__tlt Готово!
							p Мы будем держать вас в курсе<br> на счет цены этой квартиры
						p Напишите вашу почту, и мы уведомим вас, если цена изменится
						.TechForm__step
							input(type="email", name="follow-email", placeholder="E-mail", required).TechForm__inp
							input(type="submit", value="Отправить").TechForm__sbmt

				.Tbl
					.Tbl_tr
						.Tbl_th cекция
						.Tbl_th этаж
						.Tbl_th спален
						.Tbl_th отделка
						.Tbl_th балкон
						.Tbl_th.Tbl_td-nowrap вид во двор
					.Tbl_tr.Tbl_tr-bold
						.Tbl_td.Tbl_td-tightTop 3
						.Tbl_td.Tbl_td-tightTop 5
						.Tbl_td.Tbl_td-tightTop 1
						.Tbl_td.Tbl_td-tightTop
							include includes/svg/check_bold.svg
						.Tbl_td.Tbl_td-tightTop
							include includes/svg/cross_bold.svg
						.Tbl_td.Tbl_td-tightTop
							include includes/svg/check_bold.svg
				.FlatSingle_desc
					.FlatSingle_descItem Солнечная сторона
						include includes/svg/check_bold.svg
					.FlatSingle_descItem Гардеробная
						include includes/svg/check_bold.svg
					.FlatSingle_descItem Раздельный санузел
						include includes/svg/check_bold.svg
				a(data-fancybox="" href="#orderModal").Btn.Btn-color2.Btn-big Оставить заявку
				#footageBlock.FlatSingle_footage
					.Panel
						h4.Panel_head Метраж по комнатам
						.Panel_content
							-
								let rooms = [
									{
										"name": "Комната 1",
										"footage": 20.6
									},
									{
										"name": "Комната 2",
										"footage": 21.8
									},
									{
										"name": "Кухня",
										"footage": 10.4
									},
									{
										"name": "Туалет",
										"footage": 5
									},
									{
										"name": "Туалет 2",
										"footage": 4
									},
									{
										"name": "Гардеробная",
										"footage": 5.2
									},
									{
										"name": "Холл (общ.)",
										"footage": 20.6
									},
									{
										"name": "Холл 1",
										"footage": 23
									}
								]
							ul.DottedLineList
								each room in rooms
									li.DottedLineList_row
										span.DottedLineList_label #{room.name}
										span.DottedLineList_value #{room.footage} м#[sup 2]
block page_bottom
	script(src="/js/flat_single.js")
