extends layout
block vars
   - var title = "Визуализация объекта";
block content
   header.PageHead
      +Breadcrumbs([{url: "/gallery.html", title: "Галерея"}])
      h1.PageHead_title #{title}
   +PopupBtn
   .Box.Box-smExtended.Box-noPadding
      .gallery-count <span class="gallery-count__current">1</span> / <span class="gallery-count__total"></span> Фото
      .gallery.gallery--detail.swiper-container
         .swiper-wrapper
            .swiper-slide.gallery__item
               .gallery__img(style="background-image: url('/tmp/gallery/gallery1.jpg')")
               .gallery__nav
                  a(href="/gallery.html").gallery__close
                     include ../assets/img/close__gallery.svg
                  .gallery__fullscr.js-modal(data-fancybox="gallery1" href="/tmp/gallery/gallery1.jpg")
                     include ../assets/img/fullscreen.svg
            .swiper-slide.gallery__item
               .gallery__img(style="background-image: url('/tmp/gallery/gallery1.jpg')")
               .gallery__nav
                  a(href="/gallery.html").gallery__close
                     include ../assets/img/close__gallery.svg
                  .gallery__fullscr.js-modal(data-fancybox="gallery1" href="/tmp/gallery/gallery1.jpg")
                     include ../assets/img/fullscreen.svg
            .swiper-slide.gallery__item
               .gallery__img(style="background-image: url('/tmp/900.png')")
               .gallery__nav
                  a(href="/gallery.html").gallery__close
                     include ../assets/img/close__gallery.svg
                  .gallery__fullscr.js-modal(data-fancybox="gallery1" href="/tmp/900.png")
                     include ../assets/img/fullscreen.svg
         .gallery__btn.gallery__btn--prev
         .gallery__btn.gallery__btn--next

block page_bottom
   script(src="/js/gallery.js")
