extends layout
block vars
   - var title = "Галерея";
block content
   header.PageHead
      +Breadcrumbs
      h1.PageHead_title #{title}
   +PopupBtn
   .Box.Box-smExtended.Box-noPadding
      .gallery.swiper-container
         .swiper-wrapper
            .swiper-slide.gallery__item
               .gallery__img(style="background-image: url('/tmp/gallery/gallery1.jpg')")
               .gallery__bottom
                  .gallery__title Офис
                  .gallery__count 12 фото
               a(href="/gallery_n2.html")
            .swiper-slide.gallery__item
               .gallery__img(style="background-image: url('/tmp/gallery/gallery1.jpg')")
               .gallery__bottom
                  .gallery__title Парки
                  .gallery__count 10 фото
               a(href="/gallery_n2.html")
            .swiper-slide.gallery__item
               .gallery__img(style="background-image: url('/tmp/900.png')")
               .gallery__bottom
                  .gallery__title Парки
                  .gallery__count 5 фото
               a(href="/gallery_n2.html")
         .gallery__btn.gallery__btn--prev
         .gallery__btn.gallery__btn--next

block page_bottom
   script(src="/js/gallery.js")