extends layout
block vars
    - var title = "Генплан";
    - var withouBottomPusher = true;
block content
    .FullScreenContainer
        .Genplan
            +Fitblock('/img/genplan.jpg', 2664, 1264, 'Fitblock-xsScrollable Fitblock-smScrollable')
                //- .Genplan_tooltip(style="top:74%;left:31%;") Станция Опалиха 10 минут пешком
                .SvgWrap
                    include ./includes/svg/genplan.svg
                .Genplan_marker.Genplan_marker-bow(style="top:17%;left:35%;")
                    span.Genplan_markerNum 1
                    .Genplan_markerRibbon Корпус / II-ая очередь
                .Genplan_marker.Genplan_marker-bow(style="top:34%;left:58%;")
                    span.Genplan_markerNum 2
                    .Genplan_markerRibbon Корпус / I-ая очередь
                .Genplan_marker.Genplan_marker-bow(style="top:42%;left:66%;")
                    span.Genplan_markerNum 3
                    .Genplan_markerRibbon Корпус / I-ая очередь
                .Genplan_marker.Genplan_marker-bow(style="top:49%;left:36%;")
                    span.Genplan_markerNum 4
                    .Genplan_markerRibbon Корпус / I-ая очередь
                .Genplan_marker.Genplan_marker-bow(style="top:35%;left:20%;")
                    span.Genplan_markerNum 5
                    .Genplan_markerRibbon Корпус / II-ая очередь
                .Genplan_marker.Genplan_marker-v1(style="top:67%;left:21%;")
                    span.Genplan_markerIcon.Genplan_markerIcon-parking(style="background-image: url('./img/genplan/parking.svg')")
                    .Genplan_markerRibbon Торгово-гаражный комплекс
                .Genplan_marker(style="top:55%;left:85%;")
                    span.Genplan_markerIcon(style="background-image: url('./img/genplan/kindergarten.svg')")
                    .Genplan_markerRibbon.Genplan_markerRibbon-greenText Дет. сад / I-ая очередь
                .Genplan_marker(style="top:66%;left:71%;")
                    span.Genplan_markerIcon(style="background-image: url('./img/genplan/school.svg')")
                    .Genplan_markerRibbon.Genplan_markerRibbon-blueText Школа / II-ая очередь


                .Genplan_route.Genplan_route-left(style="left: 4%; top: 86%") Волоколамск
                .Genplan_route.Genplan_route-right(style="left: 10%; top: 87%") Москва
                    
                // END: main buildings
            .Compass
            a.StickyBtn.StickyBtn-settings.StickyBtn-forGenplan(href="/filters_typicals.html" title="Подбор по параметрам")
    
block page_bottom
    script(src="/js/genplan.js")