extends layout
include includes/blocks/BldNav
block vars
    - var title = "Корпус 2  этаж 2";
block content
    a.StickyBtn.StickyBtn-settings.StickyBtn-forFlatTypePage(href="/filters_typicals.html" title="Подбор по параметрам")
    .Box.Box-smExtended.Box-xsNoPadding
        .HouseInfo
            .HouseInfo_leftCol
                .HouseInfo_photoWrap
                    img.HouseInfo_photo(src="/tmp/single_house.jpg" alt=title) 
                    include includes/svg/house_masks.svg
                    .Compass
            .HouseInfo_rightCol
                +BldNav({
                    additionalClasses: "BldNav-forHousePage",
                    items:[
                        {
                            name: "Этаж",
                            val: 2,
                            prevArrowLink: "/house_floor_1.html",
                            disableNextArrow: true,
                            huge: true,
                        }
                    ]})
                .HouseInfo_shemeWrap
                    include includes/svg/house_scheme_typical_floor.svg
                    h1.HouseInfo_title Корпус 2
                        span.HouseInfo_subtitle Выберите секцию

                +ColorLegend([
                    {
                        hashCode: "#ca6e86",
                        label: "1-я квартира",
                    },
                    {
                        hashCode: "#a6b961",
                        label: "2-я квартира",
                    },
                    {
                        hashCode: "#a09acc",
                        label: "3-я квартира",
                    },
                    {
                        hashCode: "#f7eda9",
                        label: "Квартира-студия",
                    },
                    {
                        hashCode: "#a4d3da",
                        label: "Нежилое помещение",
                    },
                    {
                        hashCode: "#e9e7e7",
                        label: "Проданные",
                    },
                ], mods={
                    list: "ColorLegend_list-tight",
                })

block page_bottom
    script(src="/js/house.js")

