extends layout
block vars
    - var title = "Интеллектуальные технологии";
block content
    header.PageHead.wow.fadeInUp
        +Breadcrumbs
        h1.PageHead_title #{title}
    +PopupBtn(style="opacity:0;")
    .Bird.Bird-n2.wow.fadeIn(data-wow-delay="0.4s")
    .Bird.Bird-n2.Bird-animate
    .Box.Box-smExtended
        .Teaser.wow.fadeInUp(data-wow-delay="0.1s")
            .Teaser_picWrap
                a.Teaser_picture.Teaser_picture-withGallery(href="javascript:void(0);" data-src-json="/ajax/developer_page_gallery.json" style="background-image:url(/tmp/i_tech/EAP-KONE-MonoSpace.jpg)") &nbsp;
            .Teaser_txtWrap
                h4.Teaser_head Современные информационные системы и методики проектирования
                .Teaser_text
                    p При строительстве миниполиса мы используем информационное моделирование (BIM-проектирование) для всех строящихся зданий. BIM-проектирование перевело проектные работы на качественно новый уровень.
        .Teaser.wow.fadeInUp(data-wow-delay="0.2s")
            .Teaser_txtWrap
                .Teaser_text
                    p В  основе BIM-проектирования лежит принцип сбора и обработки всей информации об объекте: архитектурной, конструкторской, технологической, экономической — с учетом всех взаимных связей.

                    p В итоге мы получаем максимально полную модель здания, куда входят не только стандартные проектные документы, но и весь объем сопутствующей информации. Это позволяет обеспечить стопроцентное соответствие эксплуатационных характеристик возведенного объекта требованиям заказчика.
            .Teaser_picWrap
                a.Teaser_picture.Teaser_picture-withGallery(href="javascript:void(0);" data-src-json="/ajax/developer_page_gallery.json" style="background-image:url(/tmp/i_tech/EAP-KONE-Design-signalization.jpg)") &nbsp;
        .Teaser.wow.fadeInUp(data-wow-delay="0.2s")
            .Teaser_picWrap
                a.Teaser_picture.Teaser_picture-withGallery.Teaser_picture-vertical(href="javascript:void(0);" data-src-json="/ajax/developer_page_gallery.json" style="background-image:url(/tmp/i_tech/_DSC5603.jpg)") &nbsp;
            .Teaser_txtWrap
                .Teaser_text
                    p Комплексный сбор и учет данных помогают тщательно проработать особенности конструкций, подобрать материалы, продумать инженерное оснащение и коммуникации, а также методы и сроки реализации проекта еще на стадии проектирования.

                    p Благодаря BIM-модели, мы заранее получаем полную картину жизненного цикла здания. За счет этого можно добиться существенной оптимизации процесса строительных работ, сократить сроки и повысить качество строительства.

                    p Помимо передовых технологий проектирования непосредственно на строительной площадке мы используем и другие информационные решения, которые позволяют нам увеличить эффективность работ. Одно из таких решений - знаменитое ORACLE Latista. С помощью ORACLE Latista мы заметно упростили и ускорили процесс внесения замечаний клиента по объектам.

                    p Современные облачные решения позволяют прямо на месте, во время осмотра объекта вносить в базу данных замечания клиента, привязывая их к рабочим чертежам и сопровождая актуальными фотографиями и комментариями. После этого акт осмотра моментально попадает к подрядчику - по электронной почте. Никакой бюрократии, всё происходит в режиме реального времени.

        h3.Hr Надежные и комфортные лифты KONE N MonoSpace®

        .Teaser.wow.fadeInUp(data-wow-delay="0.1s")
            .Teaser_picWrap
                a.Teaser_picture.Teaser_picture-withGallery.Teaser_picture-vertical(href="javascript:void(0);" data-src-json="/ajax/developer_page_gallery.json" style="background-image:url(/tmp/i_tech/kds330-cover.jpg)") &nbsp;
            .Teaser_txtWrap
                h2.Teaser_head Безопасность и удобство - превыше всего!
                .Teaser_text
                    p KONE N MonoSpace® — сильный и известный бренд на рынке лифтового оборудование. Лифты этой марки работают бесшумно при спуске и подъеме. Шум практически не предается на прилегающие поверхности.

                    p KONE N MonoSpace® отличаются повышенным комфортом и безопасностью. Дизайн лифтовых кабин неоднократно получал награды престижных дизайнерских премий, таких как Red dot и Good Design.

                    p KONE N MonoSpace® — “зелёная марка”, которую отличают высокие показатели энергоэффективности, соответствующие нашей концепции эко-девелопмента.

        .Hr

        .Teaser.wow.fadeInUp(data-wow-delay="0.1s")
            .Teaser_txtWrap
                .Teaser_txtInner
                    h3.Teaser_head.Simple Бесшумные
                    .Teaser_text
                        p Изолированные башмаки и модернизированная система канатов эффективно подавляют шум и вибрацию при движении.
                        p Обновленные тормоза блокируют передачу шума в окружающие помещения.
                        p Кабина лифта спроектирована так, чтобы обеспечивать максимальную шумоизоляцию.
                .Teaser_txtInner
                    h3.Teaser_head.Simple Надежные и безопасные
                    .Teaser_text
                        p Система контроля двигателя мягко ускоряет лифт, плавно тормозит его и точно выравнивает кабину относительно пола этажа.
                        p Новая автоматическая функция тестирования ежедневно проверяет состояние тормозной системы.
            .Teaser_picWrap
                a.Teaser_picture.Teaser_picture-withGallery.Teaser_picture-vertical(href="javascript:void(0);" data-src-json="/ajax/developer_page_gallery.json" style="background-image:url(/tmp/i_tech/NMX7_14_C7_b.jpg)") &nbsp;

        .Teaser.wow.fadeInUp(data-wow-delay="0.1s")
            .Teaser_picWrap
                a.Teaser_picture.Teaser_picture-withGallery.Teaser_picture-vertical(href="javascript:void(0);" data-src-json="/ajax/developer_page_gallery.json" style="background-image:url(/tmp/i_tech/EAP_com_reflection_cover_N_Mono.jpg)") &nbsp;
            .Teaser_txtWrap
                .Teaser_txtInner
                    h3.Teaser_head.Simple Комфортные
                    .Teaser_text
                        p Компактный механизм KONE EcoDisc®с инновационной медной обмоткой сокращает потери энергии, позволяет использовать более просторную кабину с большей грузоподъемностью, обеспечивает более плавное ускорение и торможение.
                        p Перед сдачей в эксплуатацию компания KONE обязательно тестирует комфортность каждого лифта.
                .Teaser_txtInner
                    h3.Teaser_head.Simple Премиальный дизайн
                    .Teaser_text
                        p Каждый элемент лифтовой кабины воплощает в себя передовые идеи дизайна. В оформлении используются самые современные материалы. Отделка кабины сочетает в себе элегантные текстуры, формы, и продуманное освещение — внешний вид не только радует глаз, но и создает ощущение истинного комфорта.
                        p Концепции дизайна лифтов и сигнализационных устройств KONE получили четыре премии Red Dot Design Award и две награды конкурса Good Design Award.

        .Teaser.wow.fadeInUp(data-wow-delay="0.1s")
            .Teaser_txtWrap
                h3.Teaser_head.Simple Экологичные
                .Teaser_text
                    p Лифты KONE N MonoSpace® потребляют на 20% меньше энергии, чем лифты предыдущих моделей.
                    p Эко-эффективный рекуперативный привод возвращает в систему энергию, которую можно повторно использовать в здании.
                    p Светодиодные лампы служат в десять раз дольше, чем галогенные лампы и потребляют на 80% меньше электроэнергии.
                    p Когда лифт не используется, система переводит его в режим ожидания, обеспечивая дополнительную экономию энергии.

            .Teaser_picWrap
                a.Teaser_picture.Teaser_picture-withGallery.Teaser_picture-vertical(href="javascript:void(0);" data-src-json="/ajax/developer_page_gallery.json" style="background-image:url(/tmp/i_tech/22016_big_draft.jpg)") &nbsp;

        .Hr.Text Окна KBE REHAU - на страже комфорта!

        .Teaser.wow.fadeInUp(data-wow-delay="0.1s")
            .Teaser_picWrap
                a.Teaser_picture.Teaser_picture-withGallery(href="javascript:void(0);" data-src-json="/ajax/developer_page_gallery.json" style="background-image:url(/tmp/1024x768.png)") &nbsp;
            .Teaser_txtWrap
                .Teaser_text
                    p Квартиры в “Серебрице” оснащены двухкамерными стеклопакетами KBE REHAU. REHAU — марка, доказавшая свою надежность в самых разных климатических условиях. Окна REHAU соответствуют лучшим стандартам по водо- и звуконепроницаемость, теплопроводности и устойчивости ко взлому.

                    p Достаточно сказать, что они удовлетворяют требованиям немецкого Национального стандарта (RAL), а это само по себе свидетельствует о высоком качестве продукта!

        .Teaser.wow.fadeInUp(data-wow-delay="0.1s")
            .Teaser_txtWrap
                .Teaser_text
                    p В окнах REHAU реализована особо надежная система защиты от пыли, влаги и сквозняков. Два контура двухлепесткового уплотнения защитят от этих внешних факторов и обеспечат комфорт в доме.

                    p Но защита от пыли и влаги — это еще не всё! В квартиру должен поступать свежий воздух. Для этих целей запроектированы клапаны проветривания. Окна REHAU долговечны и надежны, поверхность профиля сохраняет свой внешний вид долгие годы. А предусмотренные проектом увеличенные размеры оконных проемов гарантируют хорошее освещение жилого пространства за счет естественного света.

            .Teaser_picWrap
                a.Teaser_picture.Teaser_picture-withGallery(href="javascript:void(0);" data-src-json="/ajax/developer_page_gallery.json" style="background-image:url(/tmp/1024x768.png)") &nbsp;

        h3.Hr Собственный водозаборный узел

        .Teaser.wow.fadeInUp(data-wow-delay="0.1s")
            .Teaser_picWrap
                a.Teaser_picture.Teaser_picture-withGallery(href="javascript:void(0);" data-src-json="/ajax/developer_page_gallery.json" style="background-image:url(/tmp/1024x768.png)") &nbsp;
            .Teaser_txtWrap
                h2.Teaser_head Компания «Сити-XXI век»
                .Teaser_text
                    p а правах государственно-частного партнерства осуществляет реконструкцию водозаборного узла №6, расположенного в Опалихе.
                    p Проектом предусмотрена как непосредственно реконструкция, так и строительство новой насосной станции, а также установка нового оборудования для очистки воды  и снижения в ней концентрации растворенного железа.

        .Teaser.wow.fadeInUp(data-wow-delay="0.1s")
            .Teaser_txtWrap
                .Teaser_text
                    p Новая система многоступенчатой фильтрации воды обеспечит снижение концентрации железа, сероводорода, марганца, сульфидов, нитратов, а также уменьшение осадка и мутности воды до значений в несколько раз меньше предусмотренных САНПиН.
                    p &nbsp;
                    p “Серебрица” — территория благополучия!
            .Teaser_picWrap
                a.Teaser_picture.Teaser_picture-withGallery(href="javascript:void(0);" data-src-json="/ajax/developer_page_gallery.json" style="background-image:url(/tmp/1024x768.png)") &nbsp;

block page_bottom
