extends layout
block vars
    - var title = "Главная";
    - var withouBottomPusher = true;
block content
    .FullScreenContainer
        .Slideshow
            .Slideshow_slider.swiper-container
                .Slideshow_track.swiper-wrapper
                    .Slideshow_item.Slideshow_item-darkened.swiper-slide(style="background-image:url(/tmp/slideshow/Main_image_1.jpg)")
                    .Slideshow_item.Slideshow_item-darkened.swiper-slide(style="background-image:url(/tmp/slideshow/Main_image_2.jpg)")
                    .Slideshow_item.Slideshow_item-darkened.swiper-slide(style="background-image:url(/tmp/slideshow/Main_image_3.jpg)")
                    .Slideshow_item.Slideshow_item-darkened.swiper-slide(style="background-image:url(/tmp/slideshow/Main_image_4.jpg)")
            .Slideshow_pagination.hidden-xs
                button.Slideshow_arrow.Slideshow_arrow-prev
                button.Slideshow_arrow.Slideshow_arrow-next

        .Slideshow
            .Slideshow_slider.swiper-container
                .Slideshow_track.swiper-wrapper
                        // START: slide
                        .Slideshow_item.swiper-slide
                            .Slideshow_itemContent
                                h4.Slideshow_head Комфорт продуманный до&nbsp;мелочей
                                .Slideshow_text
                                    p
                                        a(target="_blank" href="/infrastructure/transport/") до метро &laquo;Тушинская&raquo;&nbsp;—&nbsp;
                                            strong(style="font-size: 1.2em") 15 минут
                                    p
                                        a(target="_blank" href="/genplan/flats/") площадь&nbsp;— от&nbsp;
                                            strong(style="font-size: 1.2em") 27
                                            | до
                                            strong(style="font-size: 1.2em") 89,9
                                            |&nbsp;кв.м.
                                    p
                                        a(target="_blank" href="/about/") срок сдачи&nbsp;—&nbsp;
                                            strong(style="font-size: 1.2em") IV квартал 2020

                                a.Btn.Btn-extended.Btn-color3(href="/feature_single.html") Подробнее
                        // END: slide

                        // START: slide
                        .Slideshow_item.swiper-slide
                            .Slideshow_itemContent
                                h4.Slideshow_head Опции более высокого класса&nbsp;жилья
                                .Slideshow_text
                                    p Увеличенная площадь остекления Современная архитектура жилых зданий и паркинга и многое другое..
                                a.Btn.Btn-extended.Btn-color3(href="/feature_single_n2.html") Подробнее
                        // END: slide

                        // START: slide
                        .Slideshow_item.swiper-slide
                            .Slideshow_itemContent
                                h4.Slideshow_head Эко-пространство
                                .Slideshow_text
                                    p Детские площадки с максимальным использованием эко-материалов
                                    p Использование современных технологий в проекте освещения и в благоустройстве и многое другое..
                                a.Btn.Btn-extended.Btn-color3(href="/feature_single_n3.html") Подробнее
                        // END: slide

                        // START: slide
                        .Slideshow_item.swiper-slide
                            .Slideshow_itemContent
                                h4.Slideshow_head Безопасность
                                .Slideshow_text
                                    p Безопасная огороженная территория с камерами видеонаблюдения
                                    p Дворы без машин
                                a.Btn.Btn-extended.Btn-color3(href="/feature_single_n4.html") Подробнее
                        // END: slide
            .Slideshow_pagination.hidden-sm.hidden-md
                button.Slideshow_arrow.Slideshow_arrow-prev
                button.Slideshow_arrow.Slideshow_arrow-next
        .PopupBtn.PopupBtn-n1
            .PopupBtn_btn
                .PopupBtn_wave.PopupBtn_wave-n1
                .PopupBtn_wave.PopupBtn_wave-n2
            .PopupBtn_content
                .PopupBtn_wrp
                    h4 Акция «Золотая пора»
                    p Квартиры с большими окнами от 3,4 млн руб. Выгода до 1,2 млн руб.
                    .PopupBtn_btns
                        a(href="/promo_single.html").Btn.Btn-white Перейти к акции
                        a(href="/promos.html").PopupBtn_link Все акции

        .AwardsIcon
            img(src="img/icon_winnerUA.png")

        .TimeCounter_index
            include includes/blocks/TimeCounter.pug


block page_bottom
    script(src="/js/homepage.js")
