extends layout
block vars
    - var title = "Инфраструктура района";
    - var withouBottomPusher = true;
block content
    .FullScreenContainer
        .InfrasExternal
            a.StickyBtn.StickyBtn-settings.StickyBtn-forContactsPage(href="/filters_typicals.html" title="Подбор по параметрам")
            .InfrasExternal_map#infrasMap
            .InfrasExternal_title Инфраструктура<br>района
block page_bottom
    script
      | window.infrasObjsMarkers = [{ title: 'Детский сад', coord: [55.82555480, 37.24892050], img: '/img/map_markers/detskiy_sad.png', hover: true},{title: 'Знаменская церковь', coord: [55.82454570, 37.23891140], img: '/img/map_markers/church.png', hover: true},{title: 'Остановка', coord: [55.82451570, 37.23191140], img: '/img/map_markers/ostanovka.png', hover: true},{title: 'Магазин', coord: [55.82421570, 37.23591140], img: '/img/map_markers/shops.png', hover: true},{title: 'Пейнтбольный клуб «Серебрянка»', coord: [55.82421570, 37.23491140], img: '/img/map_markers/joy.png', hover: true},{title: 'Ж/д станция «Опалиха»', coord: [55.82654515, 37.24115661], img: '/img/map_markers/transport.png', hover: true},{title: 'Офис продаж', coord: [55.82654485, 37.23891061], img: '/img/map_markers/office_icon.png', hover: true}];
    script(src="/js/infras_external.js")