extends layout
block vars
    - var title = "Благоустройство";
block content
    header.PageHead.wow.fadeInUp
        +Breadcrumbs
    //- +ArticleBurger
    +PopupBtn
    article.Utp
        .Box.Box-smExtended.wow.fadeInUp(data-wow-delay="0.2s")
            
            h1.PageHead_title #{title}
            .Utp_desc
                .Teaser.Teaser-fullText
                    .Teaser_txtWrap.Teaser_txtWrap-fullWidth
                        h4.Teaser_head(data-titleScroll="title2")  Анатомия двора
        

        .Box.Box-smExtended.wow.fadeInUp(data-wow-delay="0.2s")
            .Utp_desc
                .Teaser.wow.fadeInUp
                    .Teaser_picWrap
                        .Teaser_picture(style="background-image:url(/tmp/718x468_n1.jpg)")
                    .Teaser_txtWrap
                        .Teaser_text
                            p А для более серьезного шоппинга всегда под рукой гипермаркеты «Лента», «Ашан», «Леруа Мерлен», «OBI» и «Hoff». Продуктовые сети представлены всеми основными игроками: от повседневной «Пятёрочки» до изысканного «Глобус Гурмэ». На случай, когда совсем не хочется готовить, всегда можно отправиться в близлежащее кафе или ресторан. 
                            p Вокруг «Серебрицы» есть государственные и частные детские сады, школы, лицеи, гимназии, в том числе — гимназия с дошкольной ступенью. Неподалеку расположены фитнес-центры, городская поликлиника, круглосуточные аптеки.
        .InfrasArticleGenplan.wow.fadeInUp(data-wow-delay="0.2s")
            .InfrasArticleGenplan_sidebar
                +FilterSidebar("horizontalInfras")
                    .FilterSidebar_zones
                        .FilterSidebar_zone.FilterSidebar_zone-left
                            .FilterSidebar_zoneTitle Основные зоны
                            .FilterSidebar_zoneList
                                .FilterSidebar_zoneItem(data-zoneName="living")
                                    .FilterSidebar_zoneLabel
                                        .FilterSidebar_zoneName Жилые комплексы
                                        .FilterSidebar_zoneCheckPic
                                            include includes/svg/filter_zone/filter-bird.svg
                                .FilterSidebar_zoneItem(data-zoneName="school")
                                    .FilterSidebar_zoneLabel
                                        .FilterSidebar_zoneName Школа
                                        .FilterSidebar_zoneCheckPic
                                            include includes/svg/filter_zone/filter-school.svg
                                .FilterSidebar_zoneItem(data-zoneName="kindergarten")
                                    .FilterSidebar_zoneLabel
                                        .FilterSidebar_zoneName Детский сад
                                        .FilterSidebar_zoneCheckPic
                                            include includes/svg/filter_zone/filter-baby.svg
                                .FilterSidebar_zoneItem(data-zoneName="ogtk")
                                    .FilterSidebar_zoneLabel
                                        .FilterSidebar_zoneName ОГТК
                                        .FilterSidebar_zoneCheckPic
                                            include includes/svg/filter_zone/filter-shop.svg
                                .FilterSidebar_zoneItem(data-zoneName="play")
                                    .FilterSidebar_zoneLabel
                                        .FilterSidebar_zoneName Детские площадки
                                        .FilterSidebar_zoneCheckPic
                                            include includes/svg/filter_zone/filter-toy.svg
                                .FilterSidebar_zoneItem(data-zoneName="roads")
                                    .FilterSidebar_zoneLabel
                                        .FilterSidebar_zoneName Движение автомобилей
                                        .FilterSidebar_zoneCheckPic
                                            include includes/svg/filter_zone/filter-wheel.svg
                                .FilterSidebar_zoneItem(data-zoneName="forest")
                                    .FilterSidebar_zoneLabel
                                        .FilterSidebar_zoneName Лес и благоустройство
                                        .FilterSidebar_zoneCheckPic
                                            include includes/svg/filter_zone/filter-plant.svg
                                .FilterSidebar_zoneItem(data-zoneName="sport")
                                    .FilterSidebar_zoneLabel
                                        .FilterSidebar_zoneName Спортивные площадки
                                        .FilterSidebar_zoneCheckPic
                                            include includes/svg/filter_zone/filter-basket.svg


                        .FilterSidebar_zone.FilterSidebar_zone-right
                            .FilterSidebar_zoneTitle Дополнительные зоны
                            .FilterSidebar_zoneList
                                .FilterSidebar_zoneItem(data-zoneName="boulevard")
                                    .FilterSidebar_zoneLabel
                                        .FilterSidebar_zoneName Пешеходный бульвар
                                        .FilterSidebar_zoneCheckPic
                                            include includes/svg/filter_zone/filter-family.svg
                                .FilterSidebar_zoneItem(data-zoneName="bicycle_path")
                                    .FilterSidebar_zoneLabel
                                        .FilterSidebar_zoneName Велодорожки на территории
                                        .FilterSidebar_zoneCheckPic
                                            include includes/svg/filter_zone/filter-bycicle.svg
                                .FilterSidebar_zoneItem(data-zoneName="parking")
                                    .FilterSidebar_zoneLabel
                                        .FilterSidebar_zoneName Система открытых автостоянок
                                        .FilterSidebar_zoneCheckPic
                                            include includes/svg/filter_zone/filter-parking.svg
                                .FilterSidebar_zoneItem(data-zoneName="bicycle")
                                    .FilterSidebar_zoneLabel
                                        .FilterSidebar_zoneName Специальные навесы-перголы для хранения велосипедов
                                        .FilterSidebar_zoneCheckPic
                                            include includes/svg/filter_zone/filter-b_parking.svg
                                .FilterSidebar_zoneItem(data-zoneName="coffee")
                                    .FilterSidebar_zoneLabel
                                        .FilterSidebar_zoneName Кафе и рестораны на бульваре
                                        .FilterSidebar_zoneCheckPic
                                            include includes/svg/filter_zone/filter-coffee.svg
                                .FilterSidebar_zoneItem(data-zoneName="bbq")
                                    .FilterSidebar_zoneLabel
                                        .FilterSidebar_zoneName Барбекю, места для пикников
                                        .FilterSidebar_zoneCheckPic
                                            include includes/svg/filter_zone/filter-bbq.svg
                                .FilterSidebar_zoneItem(data-zoneName="coworking")
                                    .FilterSidebar_zoneLabel
                                        .FilterSidebar_zoneName Коворкинг зоны, под открытым небом со свободным Wi-Fi
                                        .FilterSidebar_zoneCheckPic
                                            include includes/svg/filter_zone/filter-wifi.svg
                                .FilterSidebar_zoneItem(data-zoneName="light")
                                    .FilterSidebar_zoneLabel
                                        .FilterSidebar_zoneName Подсветка деревьев
                                        .FilterSidebar_zoneCheckPic
                                            include includes/svg/filter_zone/filter-light.svg
                                //- .FilterSidebar_zoneItem(data-zoneName="selfie")
                                //-     .FilterSidebar_zoneLabel
                                //-         .FilterSidebar_zoneName Лавки на парковках, зона для селфи
                                //-         .FilterSidebar_zoneCheckPic
                                //-             include includes/svg/filter_zone/filter-selfie.svg
                                .FilterSidebar_zoneItem(data-zoneName="dogs")
                                    .FilterSidebar_zoneLabel
                                        .FilterSidebar_zoneName Площадки для выгул собак
                                        .FilterSidebar_zoneCheckPic
                                            include includes/svg/filter_zone/filter-dog.svg
                                .FilterSidebar_zoneItem(data-zoneName="garbage")
                                    .FilterSidebar_zoneLabel
                                        .FilterSidebar_zoneName Места сбора мусора
                                        .FilterSidebar_zoneCheckPic
                                            include includes/svg/filter_zone/filter-recycle.svg
                                .FilterSidebar_zoneItem(data-zoneName="shield")
                                    .FilterSidebar_zoneLabel
                                        .FilterSidebar_zoneName Безопасность
                                        .FilterSidebar_zoneCheckPic
                                            include includes/svg/filter_zone/filter-shield.svg
            .InfrasArticleGenplan_wrap
                +Fitblock('/img/genplan.jpg', 2664, 1264, 'Fitblock-xsScrollable Fitblock-smScrollable Fitblock-genplanArticle')
                    .InfrasArticleGenplan_overlay.InfrasInternal
                        .Genplan_marker.Genplan_marker-bow(style="top:17%;left:35%;" data-zoneIcon="living")
                            span.Genplan_markerNum 1
                            .Genplan_markerRibbon Корпус / II-ая очередь
                        .Genplan_marker.Genplan_marker-bow(style="top:34%;left:58%;" data-zoneIcon="living")
                            span.Genplan_markerNum 2
                            .Genplan_markerRibbon Корпус / I-ая очередь
                        .Genplan_marker.Genplan_marker-bow(style="top:42%;left:66%;" data-zoneIcon="living")
                            span.Genplan_markerNum 3
                            .Genplan_markerRibbon Корпус / I-ая очередь
                        .Genplan_marker.Genplan_marker-bow(style="top:49%;left:36%;" data-zoneIcon="living")
                            span.Genplan_markerNum 4
                            .Genplan_markerRibbon Корпус / I-ая очередь
                        .Genplan_marker.Genplan_marker-bow(style="top:35%;left:20%;" data-zoneIcon="living")
                            span.Genplan_markerNum 5
                            .Genplan_markerRibbon Корпус / II-ая очередь
                        //- .InfrasInternal_marker(style="top: 30%; left: 50%" data-zoneIcon="living")
                        //-     include includes/svg/filter_zone/filter-bird.svg
                        //- .InfrasInternal_marker(style="top: 16%; left: 37%" data-zoneIcon="living")
                        //-     include includes/svg/filter_zone/filter-bird.svg
                        //- .InfrasInternal_marker(style="top: 39%; left: 23%" data-zoneIcon="living")
                        //-     include includes/svg/filter_zone/filter-bird.svg
                        //- .InfrasInternal_marker(style="top: 50%; left: 50%" data-zoneIcon="living")
                        //-     include includes/svg/filter_zone/filter-bird.svg
                        //- .InfrasInternal_marker(style="top: 32%; left: 69%" data-zoneIcon="living")
                            include includes/svg/filter_zone/filter-bird.svg
                        .InfrasInternal_marker(style="top: 60%; left: 69%" data-zoneIcon="school")
                            include includes/svg/filter_zone/filter-school.svg
                        .InfrasInternal_marker(style="top: 49%; left: 88%" data-zoneIcon="kindergarten")
                            include includes/svg/filter_zone/filter-baby.svg
                        .InfrasInternal_marker(style="top: 46%; left: 81%" data-zoneIcon="play")
                            include includes/svg/filter_zone/filter-toy.svg
                        .InfrasInternal_marker(style="top: 42%; left: 69%" data-zoneIcon="play")
                            include includes/svg/filter_zone/filter-toy.svg
                        .InfrasInternal_marker(style="top: 37%; left: 47%" data-zoneIcon="play")
                            include includes/svg/filter_zone/filter-toy.svg
                        .InfrasInternal_marker(style="top: 52%; left: 41%" data-zoneIcon="play")
                            include includes/svg/filter_zone/filter-toy.svg
                        .InfrasInternal_marker(style="top: 23%; left: 33%" data-zoneIcon="play")
                            include includes/svg/filter_zone/filter-toy.svg
                        .InfrasInternal_marker(style="top: 32%; left: 21%" data-zoneIcon="play")
                            include includes/svg/filter_zone/filter-toy.svg
                        .InfrasInternal_marker(style="top: 54%; left: 58%" data-zoneIcon="roads")
                            include includes/svg/filter_zone/filter-wheel.svg
                        .InfrasInternal_marker(style="top: 20%; left: 13%" data-zoneIcon="forest")
                            include includes/svg/filter_zone/filter-plant.svg
                        .InfrasInternal_marker(style="top: 87%; left: 76%" data-zoneIcon="sport")
                            include includes/svg/filter_zone/filter-basket.svg
                        .InfrasInternal_marker(style="top: 90%; left: 72%" data-zoneIcon="sport")
                            include includes/svg/filter_zone/filter-basket.svg
                        .InfrasInternal_marker(style="top: 85%; left: 66%" data-zoneIcon="sport")
                            include includes/svg/filter_zone/filter-basket.svg
                        .InfrasInternal_marker(style="top: 80%; left: 56%" data-zoneIcon="sport")
                            include includes/svg/filter_zone/filter-basket.svg
                        .InfrasInternal_marker(style="top: 21%; left: 25%" data-zoneIcon="sport")
                            include includes/svg/filter_zone/filter-basket.svg
                        .InfrasInternal_marker(style="top: 26%; left: 17%" data-zoneIcon="sport")
                            include includes/svg/filter_zone/filter-basket.svg
                        .InfrasInternal_marker(style="top: 44%; left: 31%" data-zoneIcon="boulevard")
                            include includes/svg/filter_zone/filter-family.svg
                        .InfrasInternal_marker(style="top: 63%; left: 54%" data-zoneIcon="bicycle_path")
                            include includes/svg/filter_zone/filter-bycicle.svg
                        .InfrasInternal_marker(style="top: 35%; left: 63%" data-zoneIcon="bicycle_path")
                            include includes/svg/filter_zone/filter-bycicle.svg
                        .InfrasInternal_marker(style="top: 20%; left: 25%" data-zoneIcon="bicycle_path")
                            include includes/svg/filter_zone/filter-bycicle.svg
                        .InfrasInternal_marker(style="top: 65%; left: 56%" data-zoneIcon="parking")
                            include includes/svg/filter_zone/filter-parking.svg
                        .InfrasInternal_marker(style="top: 81%; left: 28%" data-zoneIcon="parking")
                            include includes/svg/filter_zone/filter-parking.svg
                        .InfrasInternal_marker(style="top: 81%; left: 22%" data-zoneIcon="parking")
                            include includes/svg/filter_zone/filter-parking.svg
                        .InfrasInternal_marker(style="top: 76%; left: 7%" data-zoneIcon="parking")
                            include includes/svg/filter_zone/filter-parking.svg
                        .InfrasInternal_marker(style="top: 48%; left: 16%" data-zoneIcon="parking")
                            include includes/svg/filter_zone/filter-parking.svg
                        .InfrasInternal_marker(style="top: 33%; left: 40%" data-zoneIcon="parking")
                            include includes/svg/filter_zone/filter-parking.svg
                        .InfrasInternal_marker(style="top: 65%; left: 28%" data-zoneIcon="parking")
                            include includes/svg/filter_zone/filter-parking.svg
                        .InfrasInternal_marker(style="top: 22%; left: 48%" data-zoneIcon="parking")
                            include includes/svg/filter_zone/filter-parking.svg
                        .InfrasInternal_marker(style="top: 43%; left: 86%" data-zoneIcon="parking")
                            include includes/svg/filter_zone/filter-parking.svg
                        .InfrasInternal_marker(style="top: 71%; left: 42%" data-zoneIcon="parking")
                            include includes/svg/filter_zone/filter-parking.svg
                        .InfrasInternal_marker(style="top: 47%; left: 67%" data-zoneIcon="bicycle")
                            include includes/svg/filter_zone/filter-b_parking.svg
                        .InfrasInternal_marker(style="top: 56%; left: 61%" data-zoneIcon="bicycle")
                            include includes/svg/filter_zone/filter-b_parking.svg
                        .InfrasInternal_marker(style="top: 40%; left: 46%" data-zoneIcon="bicycle")
                            include includes/svg/filter_zone/filter-b_parking.svg
                        .InfrasInternal_marker(style="top: 31%; left: 33%" data-zoneIcon="bicycle")
                            include includes/svg/filter_zone/filter-b_parking.svg
                        .InfrasInternal_marker(style="top: 63%; left: 52%" data-zoneIcon="bicycle")
                            include includes/svg/filter_zone/filter-b_parking.svg
                        .InfrasInternal_marker(style="top: 32%; left: 27%" data-zoneIcon="bicycle")
                            include includes/svg/filter_zone/filter-b_parking.svg
                        .InfrasInternal_marker(style="top: 16%; left: 27%" data-zoneIcon="bbq")
                            include includes/svg/filter_zone/filter-bbq.svg
                        .InfrasInternal_marker(style="top: 10%; left: 24%" data-zoneIcon="coworking")
                            include includes/svg/filter_zone/filter-wifi.svg
                        .InfrasInternal_marker(style="top: 68%; left: 88%" data-zoneIcon="selfie")
                            include includes/svg/filter_zone/filter-selfie.svg
                        .InfrasInternal_marker(style="top: 72%; left: 57%" data-zoneIcon="selfie")
                            include includes/svg/filter_zone/filter-selfie.svg
                        .InfrasInternal_marker(style="top: 60%; left: 21%" data-zoneIcon="selfie")
                            include includes/svg/filter_zone/filter-selfie.svg
                        .InfrasInternal_marker(style="top: 38%; left: 10%" data-zoneIcon="selfie")
                            include includes/svg/filter_zone/filter-selfie.svg
                        .InfrasInternal_marker(style="top: 49%; left: 60%" data-zoneIcon="selfie")
                            include includes/svg/filter_zone/filter-selfie.svg
                        .InfrasInternal_marker(style="top: 37%; left: 36%" data-zoneIcon="selfie")
                            include includes/svg/filter_zone/filter-selfie.svg
                        .InfrasInternal_marker(style="top: 10%; left: 32%" data-zoneIcon="garbage")
                            include includes/svg/filter_zone/filter-recycle.svg
                        .InfrasInternal_marker(style="top: 23%; left: 46%" data-zoneIcon="garbage")
                            include includes/svg/filter_zone/filter-recycle.svg
                        .InfrasInternal_marker(style="top: 30%; left: 65%" data-zoneIcon="garbage")
                            include includes/svg/filter_zone/filter-recycle.svg
                        .InfrasInternal_marker(style="top: 51%; left: 95%" data-zoneIcon="garbage")
                            include includes/svg/filter_zone/filter-recycle.svg
                        .InfrasInternal_marker(style="top: 64%; left: 31%" data-zoneIcon="garbage")
                            include includes/svg/filter_zone/filter-recycle.svg
                        .InfrasInternal_marker(style="top: 61%; left: 15%" data-zoneIcon="ogtk")
                            include includes/svg/filter_zone/filter-shop.svg
                        .InfrasInternal_marker(style="top: 11%; left: 31%" data-zoneIcon="coffee")
                            include includes/svg/filter_zone/filter-coffee.svg
                        .InfrasInternal_marker(style="top: 22%; left: 46%" data-zoneIcon="coffee")
                            include includes/svg/filter_zone/filter-coffee.svg
                        .InfrasInternal_marker(style="top: 30%; left: 42%" data-zoneIcon="coffee")
                            include includes/svg/filter_zone/filter-coffee.svg
                        .InfrasInternal_marker(style="top: 30%; left: 38%" data-zoneIcon="coffee")
                            include includes/svg/filter_zone/filter-coffee.svg
                        .InfrasInternal_marker(style="top: 30%; left: 28%" data-zoneIcon="coffee")
                            include includes/svg/filter_zone/filter-coffee.svg
                        .InfrasInternal_marker(style="top: 30%; left: 14%" data-zoneIcon="coffee")
                            include includes/svg/filter_zone/filter-coffee.svg
                        .InfrasInternal_marker(style="top: 44%; left: 27%" data-zoneIcon="coffee")
                            include includes/svg/filter_zone/filter-coffee.svg
                        .InfrasInternal_marker(style="top: 39%; left: 35%" data-zoneIcon="coffee")
                            include includes/svg/filter_zone/filter-coffee.svg
                        .InfrasInternal_marker(style="top: 41%; left: 48%" data-zoneIcon="coffee")
                            include includes/svg/filter_zone/filter-coffee.svg
                        .InfrasInternal_marker(style="top: 66%; left: 42%" data-zoneIcon="coffee")
                            include includes/svg/filter_zone/filter-coffee.svg

                        .InfrasInternal_marker(style="top: 81%; left: 15%" data-zoneIcon="shield")
                            include includes/svg/filter_zone/filter-shield.svg
                        .InfrasInternal_marker(style="top: 24%; left: 67%" data-zoneIcon="shield")
                            include includes/svg/filter_zone/filter-shield.svg
                        .InfrasInternal_marker(style="top: 29%; left: 29%" data-zoneIcon="light")
                            include includes/svg/filter_zone/filter-light.svg
                        .InfrasInternal_marker(style="top: 46%; left: 29%" data-zoneIcon="light")
                            include includes/svg/filter_zone/filter-light.svg
                        .InfrasInternal_marker(style="top: 46%; left: 55%" data-zoneIcon="light")
                            include includes/svg/filter_zone/filter-light.svg
                        .InfrasInternal_marker(style="top: 42%; left: 4%" data-zoneIcon="dogs")
                            include includes/svg/filter_zone/filter-dog.svg
                        .InfrasArticleGenplan_psi(style="top: 52%; left: 41%")
                            .SwingedBird
                                .SwingedBird_marker
                                    include ./includes/svg/swinged_bird.svg
                                .SwingedBird_desc Загляни во двор
                        .SvgWrap
                            include ./includes/svg/infrastructure.svg
                        
                        .InfrasArticleScheme
                            .InfrasArticleScheme_close
                            img.InfrasArticleScheme_img(src="/img/infras-atricle_scheme.jpg")
                            .InfrasArticleScheme_marker.InfrasArticleScheme_marker-hover(style="top: 12%; left: 52%")
                                .InfrasArticleScheme_markerPic(style="background-color: #438c7e")
                                    include ./includes/svg/infras_article_scheme/flower.svg
                                .InfrasArticleScheme_markerRibbon Зона мини-огородов для пенсионеров
                            .InfrasArticleScheme_marker.InfrasArticleScheme_marker-hover(style="top: 12%; left: 62%")
                                .InfrasArticleScheme_markerPic(style="background-color: #3bccac")
                                    include ./includes/svg/infras_article_scheme/parking.svg
                                .InfrasArticleScheme_markerRibbon Парковка
                            .InfrasArticleScheme_marker.InfrasArticleScheme_marker-hover(style="top: 29%; left: 19%")
                                .InfrasArticleScheme_markerPic(style="background-color: #4a6dad")
                                    include ./includes/svg/infras_article_scheme/tramp.svg
                                .InfrasArticleScheme_markerRibbon Батуты
                            .InfrasArticleScheme_marker.InfrasArticleScheme_marker-hover(style="top: 33%; left: 42%")
                                .InfrasArticleScheme_markerPic(style="background-color: #67c7f2")
                                    include ./includes/svg/infras_article_scheme/chess.svg
                                .InfrasArticleScheme_markerRibbon Зона со столами для мастер классов
                            .InfrasArticleScheme_marker.InfrasArticleScheme_marker-hover(style="top: 33%; left: 54%")
                                .InfrasArticleScheme_markerPic(style="background-color: #ff7365")
                                    include ./includes/svg/infras_article_scheme/sandbox.svg
                                .InfrasArticleScheme_markerRibbon Песочница
                            .InfrasArticleScheme_marker.InfrasArticleScheme_marker-hover(style="top: 35%; left: 63%")
                                .InfrasArticleScheme_markerPic(style="background-color: #4a6dad")
                                    include ./includes/svg/infras_article_scheme/ball.svg
                                .InfrasArticleScheme_markerRibbon Зона активных игр
                            .InfrasArticleScheme_marker.InfrasArticleScheme_marker-hover(style="top: 24%; left: 81%")
                                .InfrasArticleScheme_markerPic(style="background-color: #438c7e")
                                    include ./includes/svg/infras_article_scheme/grabble.svg
                                .InfrasArticleScheme_markerRibbon Японский садик c граблями
                            .InfrasArticleScheme_marker.InfrasArticleScheme_marker-hover(style="top: 32%; left: 67%")
                                .InfrasArticleScheme_markerPic(style="background-color: #438c7e")
                                    include ./includes/svg/infras_article_scheme/park.svg
                                .InfrasArticleScheme_markerRibbon Яблоневый сад
                            .InfrasArticleScheme_marker.InfrasArticleScheme_marker-hover(style="top: 52%; left: 22%")
                                .InfrasArticleScheme_markerPic(style="background-color: #fec818")
                                    include ./includes/svg/infras_article_scheme/cup.svg
                                .InfrasArticleScheme_markerRibbon Зона соревнований
                            .InfrasArticleScheme_marker.InfrasArticleScheme_marker-hover(style="top: 51%; left: 50%")
                                .InfrasArticleScheme_markerPic(style="background-color: #3bccac")
                                    include ./includes/svg/infras_article_scheme/baby-place.svg
                                .InfrasArticleScheme_markerRibbon Детская площадка для детей 4-6 лет
                            .InfrasArticleScheme_marker.InfrasArticleScheme_marker-hover(style="top: 49%; left: 36%")
                                .InfrasArticleScheme_markerPic(style="background-color: #3bccac")
                                    include ./includes/svg/infras_article_scheme/baby-place.svg
                                .InfrasArticleScheme_markerRibbon Детская площадка для детей 7-10 лет
                            .InfrasArticleScheme_marker.InfrasArticleScheme_marker-hover(style="top: 45%; left: 70.5%")
                                .InfrasArticleScheme_markerPic(style="background-color: #67c7f2")
                                    include ./includes/svg/infras_article_scheme/baby-bottle.svg
                                .InfrasArticleScheme_markerRibbon Зона отдыха и кормления
                            .InfrasArticleScheme_marker.InfrasArticleScheme_marker-hover(style="top: 50%; left: 80.5%")
                                .InfrasArticleScheme_markerPic(style="background-color: #3bccac")
                                    include ./includes/svg/infras_article_scheme/baby-place.svg
                                .InfrasArticleScheme_markerRibbon Детская площадка для детей 0-3 лет
                            .InfrasArticleScheme_marker.InfrasArticleScheme_marker-hover(style="top: 63%; left: 77.5%")
                                .InfrasArticleScheme_markerPic(style="background-color: #dcda61")
                                    include ./includes/svg/infras_article_scheme/lily.svg
                                .InfrasArticleScheme_markerRibbon Зона познания
                            .InfrasArticleScheme_marker.InfrasArticleScheme_marker-hover(style="top: 64%; left: 66.5%")
                                .InfrasArticleScheme_markerPic(style="background-color: #ff7365")
                                    include ./includes/svg/infras_article_scheme/carriage.svg
                                .InfrasArticleScheme_markerRibbon Парковка для колясок
                            .InfrasArticleScheme_marker.InfrasArticleScheme_marker-hover(style="top: 67%; left: 56.5%")
                                .InfrasArticleScheme_markerPic(style="background-color: #fec818")
                                    include ./includes/svg/infras_article_scheme/beach.svg
                                .InfrasArticleScheme_markerRibbon Зона отдыха на шезлонгах на газоне
                            .InfrasArticleScheme_marker.InfrasArticleScheme_marker-hover(style="top: 75%; left: 36%")
                                .InfrasArticleScheme_markerPic(style="background-color: #ff7365")
                                    include ./includes/svg/infras_article_scheme/car.svg
                                .InfrasArticleScheme_markerRibbon Трасса для машинок на радиоуправлении
                            .InfrasArticleScheme_marker.InfrasArticleScheme_marker-hover(style="top: 65%; left: 20%")
                                .InfrasArticleScheme_markerPic(style="background-color: #4a6dad")
                                    include ./includes/svg/infras_article_scheme/bike.svg
                                .InfrasArticleScheme_markerRibbon Велодорожки

        .Box.Box-smExtended.wow.fadeInUp(data-wow-delay="0.2s")
            .Utp_desc
                .Teaser.Teaser-reversed.wow.fadeInUp
                    .Teaser_picWrap
                        .Teaser_picture(style="background-image:url(/tmp/718x468_n1.jpg)")
                    .Teaser_txtWrap
                        h4.Teaser_head(data-titleScroll="title2")  Продуманное окружение
                        .Teaser_text
                            p Выбирая район, мы заботились о том, чтобы он полностью отвечал потребностям жителей. В миниполисе есть всё необходимое для гармоничной жизни.
                            p Вблизи располагаются все торговые центры и магазины с самым необходимым.
            .Utp_desc
                .Teaser.wow.fadeInUp
                    .Teaser_picWrap
                        .Teaser_picture(style="background-image:url(/tmp/718x468_n1.jpg)")
                    .Teaser_txtWrap
                        h4.Teaser_head(data-titleScroll="title2")  Продуманное окружение
                        .Teaser_text
                            p А для более серьезного шоппинга всегда под рукой гипермаркеты «Лента», «Ашан», «Леруа Мерлен», «OBI» и «Hoff». Продуктовые сети представлены всеми основными игроками: от повседневной «Пятёрочки» до изысканного «Глобус Гурмэ». На случай, когда совсем не хочется готовить, всегда можно отправиться в близлежащее кафе или ресторан. 
                            p Вокруг «Серебрицы» есть государственные и частные детские сады, школы, лицеи, гимназии, в том числе — гимназия с дошкольной ступенью. Неподалеку расположены фитнес-центры, городская поликлиника, круглосуточные аптеки.
            .Utp_desc
                .Teaser.Teaser-reversed.wow.fadeInUp
                    .Teaser_picWrap
                        .Teaser_picture(style="background-image:url(/tmp/718x468_n1.jpg)")
                    .Teaser_txtWrap
                        .Teaser_text
                            p В 15 минутах от миниполиса «Серебрица» расположен огромный спортивный кластер: знаменитый стадион «Зоркий», теннисная академия Шамиля Тарпищева, футбольная академия Сергея Юрана, лыжный стадион, плавательный бассейн, биатлонное стрельбище, футбольный стадион «Машиностроитель». В ближайшее время этот впечатляющий список дополнится академией хоккея имени Владимира Петрова и Федеральным центром по подготовке национальных сборных  по борьбе, который разместится на территории  в 20 тысяч квадратных метров! Здесь ваши будущие чемпионы смогут добиться своих первых побед и начать путь к настоящим мировым и олимпийским рекордам!
            .Utp_desc
                .Teaser.wow.fadeInUp
                    .Teaser_picWrap
                        .Teaser_picture(style="background-image:url(/tmp/718x468_n1.jpg)")
                    .Teaser_txtWrap
                        h4.Teaser_head(data-titleScroll="title2")  Продуманное окружение
                        .Teaser_text
                            p К услугам любителей культурного отдыха ландшафтный парк в районе Митино и природно-исторический парк  в Строгино, усадьба Архангельское, Красногорский историко-художественный музей, музей Покорителей Вселенной.
                            p Для тех, кто предпочитает более активный досуг, в районе есть фитнес-центры. Рядом с ними располагаются салоны красоты и парикмахерская.
                            p «Серебрица» — территория благополучия

            .Utp_desc
                .Teaser.Teaser-reversed.wow.fadeInUp
                    .Teaser_picWrap
                        .Teaser_picture(style="background-image:url(/tmp/718x468_n1.jpg)")
                    .Teaser_txtWrap
                        h4.Teaser_head(data-titleScroll="title2")  Продуманное окружение
                        .Teaser_text
                            p К услугам любителей культурного отдыха ландшафтный парк в районе Митино и природно-исторический парк  в Строгино, усадьба Архангельское, Красногорский историко-художественный музей, музей Покорителей Вселенной.
block page_bottom
    script
      | window.MapFilterObjsMarkers = [{ title: 'Детский сад', coord: [55.82555480, 37.24892050], img: '/img/map_markers/detskiy_sad.png', hover: true, type: 'all'},{title: 'Знаменская церковь', coord: [55.82454570, 37.23891140], img: '/img/map_markers/church.png', hover: true, type: 'church'},{title: 'Остановка', coord: [55.82451570, 37.23191140], img: '/img/map_markers/ostanovka.png', hover: true, type: 'all'},{title: 'Магазин', coord: [55.82421570, 37.23591140], img: '/img/map_markers/shops.png', hover: true, type: 'market'},{title: 'Пейнтбольный клуб «Серебрянка»', coord: [55.82421570, 37.23491140], img: '/img/map_markers/joy.png', hover: true, type: 'fun'},{title: 'Ж/д станция «Опалиха»', coord: [55.82654515, 37.24115661], img: '/img/map_markers/transport.png', hover: true, type: 'all'},{title: 'Офис продаж', coord: [55.82654485, 37.23891061], img: '/img/map_markers/office_icon.png', hover: true, type: 'all'}];
    script(src="/js/infras_article.js")