extends layout
block vars
    - var title = "Благоустройство";
    - var withouBottomPusher = true;
block content
    .FullScreenContainer.FullScreenContainer-fullWidth
        h1.FullScreenContainer_title #{title}
        +Fitblock('/img/genplan.jpg', 2664, 1264, 'Fitblock-xsScrollable Fitblock-smScrollable', '/img/black-clouds-png-4.png')
            .InfrasInternal
                .InfrasInternal_marker(style="top: 30%; left: 50%" data-zoneIcon="living")
                    include includes/svg/filter_zone/filter-bird.svg
                .InfrasInternal_marker(style="top: 16%; left: 37%" data-zoneIcon="living")
                    include includes/svg/filter_zone/filter-bird.svg
                .InfrasInternal_marker(style="top: 39%; left: 23%" data-zoneIcon="living")
                    include includes/svg/filter_zone/filter-bird.svg
                .InfrasInternal_marker(style="top: 50%; left: 50%" data-zoneIcon="living")
                    include includes/svg/filter_zone/filter-bird.svg
                .InfrasInternal_marker(style="top: 32%; left: 69%" data-zoneIcon="living")
                    include includes/svg/filter_zone/filter-bird.svg
                .InfrasInternal_marker(style="top: 60%; left: 69%" data-zoneIcon="school")
                    include includes/svg/filter_zone/filter-school.svg
                .InfrasInternal_marker(style="top: 49%; left: 88%" data-zoneIcon="kindergarten")
                    include includes/svg/filter_zone/filter-baby.svg
                .InfrasInternal_marker(style="top: 46%; left: 81%" data-zoneIcon="play")
                    include includes/svg/filter_zone/filter-toy.svg
                .InfrasInternal_marker(style="top: 42%; left: 69%" data-zoneIcon="play")
                    include includes/svg/filter_zone/filter-toy.svg
                .InfrasInternal_marker(style="top: 37%; left: 47%" data-zoneIcon="play")
                    include includes/svg/filter_zone/filter-toy.svg
                .InfrasInternal_marker(style="top: 52%; left: 41%" data-zoneIcon="play")
                    include includes/svg/filter_zone/filter-toy.svg
                .InfrasInternal_marker(style="top: 23%; left: 33%" data-zoneIcon="play")
                    include includes/svg/filter_zone/filter-toy.svg
                .InfrasInternal_marker(style="top: 32%; left: 21%" data-zoneIcon="play")
                    include includes/svg/filter_zone/filter-toy.svg
                .InfrasInternal_marker(style="top: 54%; left: 58%" data-zoneIcon="roads")
                    include includes/svg/filter_zone/filter-wheel.svg
                .InfrasInternal_marker(style="top: 20%; left: 13%" data-zoneIcon="forest")
                    include includes/svg/filter_zone/filter-plant.svg
                .InfrasInternal_marker(style="top: 87%; left: 76%" data-zoneIcon="sport")
                    include includes/svg/filter_zone/filter-basket.svg
                .InfrasInternal_marker(style="top: 90%; left: 72%" data-zoneIcon="sport")
                    include includes/svg/filter_zone/filter-basket.svg
                .InfrasInternal_marker(style="top: 85%; left: 66%" data-zoneIcon="sport")
                    include includes/svg/filter_zone/filter-basket.svg
                .InfrasInternal_marker(style="top: 80%; left: 56%" data-zoneIcon="sport")
                    include includes/svg/filter_zone/filter-basket.svg
                .InfrasInternal_marker(style="top: 21%; left: 25%" data-zoneIcon="sport")
                    include includes/svg/filter_zone/filter-basket.svg
                .InfrasInternal_marker(style="top: 26%; left: 17%" data-zoneIcon="sport")
                    include includes/svg/filter_zone/filter-basket.svg
                .InfrasInternal_marker(style="top: 44%; left: 31%" data-zoneIcon="boulevard")
                    include includes/svg/filter_zone/filter-family.svg
                .InfrasInternal_marker(style="top: 63%; left: 54%" data-zoneIcon="bicycle_path")
                    include includes/svg/filter_zone/filter-bycicle.svg
                .InfrasInternal_marker(style="top: 35%; left: 63%" data-zoneIcon="bicycle_path")
                    include includes/svg/filter_zone/filter-bycicle.svg
                .InfrasInternal_marker(style="top: 20%; left: 25%" data-zoneIcon="bicycle_path")
                    include includes/svg/filter_zone/filter-bycicle.svg
                .InfrasInternal_marker(style="top: 65%; left: 56%" data-zoneIcon="parking")
                    include includes/svg/filter_zone/filter-parking.svg
                .InfrasInternal_marker(style="top: 81%; left: 28%" data-zoneIcon="parking")
                    include includes/svg/filter_zone/filter-parking.svg
                .InfrasInternal_marker(style="top: 81%; left: 22%" data-zoneIcon="parking")
                    include includes/svg/filter_zone/filter-parking.svg
                .InfrasInternal_marker(style="top: 76%; left: 7%" data-zoneIcon="parking")
                    include includes/svg/filter_zone/filter-parking.svg
                .InfrasInternal_marker(style="top: 48%; left: 16%" data-zoneIcon="parking")
                    include includes/svg/filter_zone/filter-parking.svg
                .InfrasInternal_marker(style="top: 33%; left: 40%" data-zoneIcon="parking")
                    include includes/svg/filter_zone/filter-parking.svg
                .InfrasInternal_marker(style="top: 65%; left: 28%" data-zoneIcon="parking")
                    include includes/svg/filter_zone/filter-parking.svg
                .InfrasInternal_marker(style="top: 22%; left: 48%" data-zoneIcon="parking")
                    include includes/svg/filter_zone/filter-parking.svg
                .InfrasInternal_marker(style="top: 43%; left: 86%" data-zoneIcon="parking")
                    include includes/svg/filter_zone/filter-parking.svg
                .InfrasInternal_marker(style="top: 71%; left: 42%" data-zoneIcon="parking")
                    include includes/svg/filter_zone/filter-parking.svg
                .InfrasInternal_marker(style="top: 47%; left: 67%" data-zoneIcon="bicycle")
                    include includes/svg/filter_zone/filter-b_parking.svg
                .InfrasInternal_marker(style="top: 56%; left: 61%" data-zoneIcon="bicycle")
                    include includes/svg/filter_zone/filter-b_parking.svg
                .InfrasInternal_marker(style="top: 40%; left: 46%" data-zoneIcon="bicycle")
                    include includes/svg/filter_zone/filter-b_parking.svg
                .InfrasInternal_marker(style="top: 31%; left: 33%" data-zoneIcon="bicycle")
                    include includes/svg/filter_zone/filter-b_parking.svg
                .InfrasInternal_marker(style="top: 63%; left: 52%" data-zoneIcon="bicycle")
                    include includes/svg/filter_zone/filter-b_parking.svg
                .InfrasInternal_marker(style="top: 32%; left: 27%" data-zoneIcon="bicycle")
                    include includes/svg/filter_zone/filter-b_parking.svg
                .InfrasInternal_marker(style="top: 16%; left: 27%" data-zoneIcon="bbq")
                    include includes/svg/filter_zone/filter-bbq.svg
                .InfrasInternal_marker(style="top: 10%; left: 24%" data-zoneIcon="coworking")
                    include includes/svg/filter_zone/filter-wifi.svg
                .InfrasInternal_marker(style="top: 68%; left: 88%" data-zoneIcon="selfie")
                    include includes/svg/filter_zone/filter-selfie.svg
                .InfrasInternal_marker(style="top: 72%; left: 57%" data-zoneIcon="selfie")
                    include includes/svg/filter_zone/filter-selfie.svg
                .InfrasInternal_marker(style="top: 60%; left: 21%" data-zoneIcon="selfie")
                    include includes/svg/filter_zone/filter-selfie.svg
                .InfrasInternal_marker(style="top: 38%; left: 10%" data-zoneIcon="selfie")
                    include includes/svg/filter_zone/filter-selfie.svg
                .InfrasInternal_marker(style="top: 49%; left: 60%" data-zoneIcon="selfie")
                    include includes/svg/filter_zone/filter-selfie.svg
                .InfrasInternal_marker(style="top: 37%; left: 36%" data-zoneIcon="selfie")
                    include includes/svg/filter_zone/filter-selfie.svg
                .InfrasInternal_marker(style="top: 10%; left: 32%" data-zoneIcon="garbage")
                    include includes/svg/filter_zone/filter-recycle.svg
                .InfrasInternal_marker(style="top: 23%; left: 46%" data-zoneIcon="garbage")
                    include includes/svg/filter_zone/filter-recycle.svg
                .InfrasInternal_marker(style="top: 30%; left: 65%" data-zoneIcon="garbage")
                    include includes/svg/filter_zone/filter-recycle.svg
                .InfrasInternal_marker(style="top: 51%; left: 95%" data-zoneIcon="garbage")
                    include includes/svg/filter_zone/filter-recycle.svg
                .InfrasInternal_marker(style="top: 64%; left: 31%" data-zoneIcon="garbage")
                    include includes/svg/filter_zone/filter-recycle.svg
                .InfrasInternal_marker(style="top: 61%; left: 15%" data-zoneIcon="ogtk")
                    include includes/svg/filter_zone/filter-shop.svg
                .InfrasInternal_marker(style="top: 11%; left: 31%" data-zoneIcon="coffee")
                    include includes/svg/filter_zone/filter-coffee.svg
                .InfrasInternal_marker(style="top: 22%; left: 46%" data-zoneIcon="coffee")
                    include includes/svg/filter_zone/filter-coffee.svg
                .InfrasInternal_marker(style="top: 30%; left: 42%" data-zoneIcon="coffee")
                    include includes/svg/filter_zone/filter-coffee.svg
                .InfrasInternal_marker(style="top: 30%; left: 38%" data-zoneIcon="coffee")
                    include includes/svg/filter_zone/filter-coffee.svg
                .InfrasInternal_marker(style="top: 30%; left: 28%" data-zoneIcon="coffee")
                    include includes/svg/filter_zone/filter-coffee.svg
                .InfrasInternal_marker(style="top: 30%; left: 14%" data-zoneIcon="coffee")
                    include includes/svg/filter_zone/filter-coffee.svg
                .InfrasInternal_marker(style="top: 44%; left: 27%" data-zoneIcon="coffee")
                    include includes/svg/filter_zone/filter-coffee.svg
                .InfrasInternal_marker(style="top: 39%; left: 35%" data-zoneIcon="coffee")
                    include includes/svg/filter_zone/filter-coffee.svg
                .InfrasInternal_marker(style="top: 41%; left: 48%" data-zoneIcon="coffee")
                    include includes/svg/filter_zone/filter-coffee.svg
                .InfrasInternal_marker(style="top: 66%; left: 42%" data-zoneIcon="coffee")
                    include includes/svg/filter_zone/filter-coffee.svg

                .InfrasInternal_marker(style="top: 81%; left: 15%" data-zoneIcon="shield")
                    include includes/svg/filter_zone/filter-shield.svg
                .InfrasInternal_marker(style="top: 24%; left: 67%" data-zoneIcon="shield")
                    include includes/svg/filter_zone/filter-shield.svg
                .InfrasInternal_marker(style="top: 29%; left: 29%" data-zoneIcon="light")
                    include includes/svg/filter_zone/filter-light.svg
                .InfrasInternal_marker(style="top: 46%; left: 29%" data-zoneIcon="light")
                    include includes/svg/filter_zone/filter-light.svg
                .InfrasInternal_marker(style="top: 46%; left: 55%" data-zoneIcon="light")
                    include includes/svg/filter_zone/filter-light.svg
                .InfrasInternal_marker(style="top: 42%; left: 4%" data-zoneIcon="dogs")
                    include includes/svg/filter_zone/filter-dog.svg
                .SvgWrap
                    include ./includes/svg/infrastructure.svg
    .InfrasInternal_sidebar
        +FilterSidebar("Фильтр")
            .FilterSidebar_zones
                .FilterSidebar_zone
                    .FilterSidebar_zoneTitle Основные зоны
                    .FilterSidebar_zoneList
                        .FilterSidebar_zoneItem(data-zoneName="living")
                            .FilterSidebar_zoneLabel
                                .FilterSidebar_zoneName Жилые комплексы
                                .FilterSidebar_zoneCheckPic
                                    include includes/svg/filter_zone/filter-bird.svg
                        .FilterSidebar_zoneItem(data-zoneName="school")
                            .FilterSidebar_zoneLabel
                                .FilterSidebar_zoneName Школа
                                .FilterSidebar_zoneCheckPic
                                    include includes/svg/filter_zone/filter-school.svg
                        .FilterSidebar_zoneItem(data-zoneName="kindergarten")
                            .FilterSidebar_zoneLabel
                                .FilterSidebar_zoneName Детский сад
                                .FilterSidebar_zoneCheckPic
                                    include includes/svg/filter_zone/filter-baby.svg
                        .FilterSidebar_zoneItem(data-zoneName="ogtk")
                            .FilterSidebar_zoneLabel
                                .FilterSidebar_zoneName ОГТК
                                .FilterSidebar_zoneCheckPic
                                    include includes/svg/filter_zone/filter-shop.svg
                        .FilterSidebar_zoneItem(data-zoneName="play")
                            .FilterSidebar_zoneLabel
                                .FilterSidebar_zoneName Детские площадки
                                .FilterSidebar_zoneCheckPic
                                    include includes/svg/filter_zone/filter-toy.svg
                        .FilterSidebar_zoneItem(data-zoneName="roads")
                            .FilterSidebar_zoneLabel
                                .FilterSidebar_zoneName Движение автомобилей
                                .FilterSidebar_zoneCheckPic
                                    include includes/svg/filter_zone/filter-wheel.svg
                        .FilterSidebar_zoneItem(data-zoneName="forest")
                            .FilterSidebar_zoneLabel
                                .FilterSidebar_zoneName Лес и благоустройство
                                .FilterSidebar_zoneCheckPic
                                    include includes/svg/filter_zone/filter-plant.svg
                        .FilterSidebar_zoneItem(data-zoneName="sport")
                            .FilterSidebar_zoneLabel
                                .FilterSidebar_zoneName Спортивные площадки
                                .FilterSidebar_zoneCheckPic
                                    include includes/svg/filter_zone/filter-basket.svg


                .FilterSidebar_zone
                    .FilterSidebar_zoneTitle.FilterSidebar_zoneTitle-slide Дополнительные зоны
                    .FilterSidebar_zoneList
                        .FilterSidebar_zoneItem(data-zoneName="boulevard")
                            .FilterSidebar_zoneLabel
                                .FilterSidebar_zoneName Пешеходный бульвар
                                .FilterSidebar_zoneCheckPic
                                    include includes/svg/filter_zone/filter-family.svg
                        .FilterSidebar_zoneItem(data-zoneName="bicycle_path")
                            .FilterSidebar_zoneLabel
                                .FilterSidebar_zoneName Велодорожки на территории
                                .FilterSidebar_zoneCheckPic
                                    include includes/svg/filter_zone/filter-bycicle.svg
                        .FilterSidebar_zoneItem(data-zoneName="parking")
                            .FilterSidebar_zoneLabel
                                .FilterSidebar_zoneName Система открытых автостоянок
                                .FilterSidebar_zoneCheckPic
                                    include includes/svg/filter_zone/filter-parking.svg
                        .FilterSidebar_zoneItem(data-zoneName="bicycle")
                            .FilterSidebar_zoneLabel
                                .FilterSidebar_zoneName Специальные навесы-перголы для хранения велосипедов
                                .FilterSidebar_zoneCheckPic
                                    include includes/svg/filter_zone/filter-b_parking.svg
                        .FilterSidebar_zoneItem(data-zoneName="coffee")
                            .FilterSidebar_zoneLabel
                                .FilterSidebar_zoneName Кафе и рестораны на бульваре
                                .FilterSidebar_zoneCheckPic
                                    include includes/svg/filter_zone/filter-coffee.svg
                        .FilterSidebar_zoneItem(data-zoneName="bbq")
                            .FilterSidebar_zoneLabel
                                .FilterSidebar_zoneName Барбекю, места для пикников
                                .FilterSidebar_zoneCheckPic
                                    include includes/svg/filter_zone/filter-bbq.svg
                        .FilterSidebar_zoneItem(data-zoneName="coworking")
                            .FilterSidebar_zoneLabel
                                .FilterSidebar_zoneName Коворкинг зоны, под открытым небом со свободным Wi-Fi
                                .FilterSidebar_zoneCheckPic
                                    include includes/svg/filter_zone/filter-wifi.svg
                        .FilterSidebar_zoneItem(data-zoneName="light")
                            .FilterSidebar_zoneLabel
                                .FilterSidebar_zoneName Подсветка деревьев
                                .FilterSidebar_zoneCheckPic
                                    include includes/svg/filter_zone/filter-light.svg
                        .FilterSidebar_zoneItem(data-zoneName="selfie")
                            .FilterSidebar_zoneLabel
                                .FilterSidebar_zoneName Лавки на парковках, зона для селфи
                                .FilterSidebar_zoneCheckPic
                                    include includes/svg/filter_zone/filter-selfie.svg
                        .FilterSidebar_zoneItem(data-zoneName="dogs")
                            .FilterSidebar_zoneLabel
                                .FilterSidebar_zoneName Площадки для выгул собак
                                .FilterSidebar_zoneCheckPic
                                    include includes/svg/filter_zone/filter-dog.svg
                        .FilterSidebar_zoneItem(data-zoneName="garbage")
                            .FilterSidebar_zoneLabel
                                .FilterSidebar_zoneName Места сбора мусора
                                .FilterSidebar_zoneCheckPic
                                    include includes/svg/filter_zone/filter-recycle.svg
                        .FilterSidebar_zoneItem(data-zoneName="shield")
                            .FilterSidebar_zoneLabel
                                .FilterSidebar_zoneName Безопасность
                                .FilterSidebar_zoneCheckPic
                                    include includes/svg/filter_zone/filter-shield.svg

block page_bottom
    script(src="/js/infras_internal.js")
