extends layout
block vars
    - var title = "Рассрочка";
block content
    header.PageHead
        +Breadcrumbs
        h1.PageHead_title #{title}
    .Bird.Bird-n1.wow.fadeIn(data-wow-delay="0.4s")
    .Bird.Bird-n1.Bird-animate
    +PopupBtn(style="opacity:0;")
    .Box
        .CardsList.CardsList-offers
            .OfferCard
                h4.OfferCard_head На 6 месяцев
                .OfferCard_desc
                    p 1-ый взнос - 40% в течение 5 рабочих дней после регистрации ДДУ, остаток в течение 6 месяцев, без процентов, равными частями ежемесячно.
            .OfferCard.OfferCard-v1
                h4.OfferCard_head На 9 месяцев
                .OfferCard_desc
                    p 1-ый взнос - 40% в течение 5 рабочих дней после регистрации ДДУ, остаток в течение 9 месяцев, без процентов, равными частями ежемесячно, на квартиры общей площадью более 40 кв. м.
            .OfferCard.OfferCard-v2
                h4.OfferCard_head На 12 месяцев
                .OfferCard_desc
                    p 1-ый взнос - 30% в течение 5 рабочих дней после регистрации ДДУ, остаток на 12 месяцев под 12% годовых, на весь остаток, равными частями ежемесячно.
        .TextBlock
            p **Vestibulum #[a(href="#") ante ipsum primis in faucibus] orci luctus et ultrices posuere cubilia Curae; Phasellus ut imperdiet justo. Quisque pellentesque ac elit maximus viverra. Suspendisse urna tellus, maximus nec est quis, sagittis tincidunt lorem.
            p Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus ut imperdiet justo.

block page_bottom
    //-script(src="/js/installment.js")