include includes/mixins/index
doctype html
block vars
html(lang="ru")
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		meta(name="format-detection" content="telephone=no")
		title #{title} | Серебрица
		link(rel="icon" type="image/png" href="/img/favicon.png" sizes="32x32")
		link(href='/css/vendor.css', rel='stylesheet')
		link(href='/css/style.css', rel='stylesheet')
		script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCWxj7vtc8t8crBp19U19khip1siOuUg0&amp;region=RU")
	body
		#pagePreloader.Preloader(style="display: none")
			.Preloader_pic
				include ./includes/svg/loader.svg
		.Underlay
			.Underlay_grid
				each i in [1,2,3,4,5]
					div(class=`Underlay_line Underlay_line-n${i}`)
			.Underlay_pattern.Underlay_pattern-n1
			.Underlay_pattern.Underlay_pattern-n2
		header.Header
			a.Header_logo(href="/")
			.Header_center
				.Header_item._item1.hidden-xs
						span +7 495 933-88-55
				.Header_item._item2.hidden-sm.hidden-xs
						a(href="#orderModal" data-fancybox="") Обратный звонок
				.Header_item._item3.hidden-sm.hidden-xs
						a(href="/mortgage.html") Как купить?
				.Header_item._item4.hidden-xs
						a.Btn(href="/filters_typicals.html") Выбрать квартиру
				.Header_item.hidden-sm.hidden-md
						a(href="#") Звонок
				a#favoritesCount.Header_favoritesCount(href="#") 4
			.Header_item.Header_item-menuBtnWrap
				a(href="#").Header_menuBtn Меню
					.Header_menuBurger
						include ./includes/svg/menu_btn_1.svg

		main.Content
			block content
			unless withouBottomPusher
				.BottomPusher
		footer.Footer
			.Footer_side
				span.Footer_copy 2019 @ Серебрица
				a.Footer_logo.hidden-md-low(href="http://minipolis.ru/" target="_blank" rel="nofollow noopener")
					include ./includes/svg/minipolis_logo.svg
				a.Footer_logo(href="https://city-xxi.ru/" target="_blank" rel="nofollow noopener")
					include ./includes/svg/serebrica_large.svg
					include ./includes/svg/serebrica.svg
				a.Footer_logo(href="http://blue-ant.ru/" target="_blank" rel="nofollow noopener")
					include ./includes/svg/blueant.svg
			.Footer_side
				a.Footer_soc(href="http://serebrica-forum.ru/" target="_blank" rel="nofollow noopener") Форум
				a.Footer_soc(href="http://vk.com" target="_blank" rel="nofollow noopener") Vkontakte
				a.Footer_soc(href="http://facebook.com" target="_blank" rel="nofollow noopener") Facebook

		include ./includes/chunks/order_modal.pug
		include ./includes/blocks/Menu

		.TurnScreenModal
			img.TurnScreenModal_img(src="/img/turn_screen.svg")
			.TurnScreenModal_txt Для оптимального отображения сайта поверните ваше устройство на 90 градусов или разверните окно браузера на весь экран.

		script(src='/js/vendor.js')
		script(src='/js/common.js')

		block page_bottom
