extends layout
block vars
    - var title = "форма заявки";
block content
    +PopupBtn
    div(style="padding:120px 20px")
        a.Btn(data-fancybox="order_modal" href="#orderModal") Показать модальное окно


block page_bottom
    script.
        $.fancybox.open($("#orderModal"));
    //-script(src="/js/script_file_for_this_page.js")