extends layout
block vars
    - var title = "Ипотека";
    include includes/chunks/banks_list.pug
block content
    header.PageHead.PageHead-withButton.wow.fadeInUp
        +Breadcrumbs
        h1.PageHead_title #{title}
        button.Btn.Btn-color2.Btn-forPageHeading(data-fancybox="order_modal" href="#orderModal") Отправить заявку
    +PopupBtn
    .Box.Box-smExtended.wow.fadeInUp(data-wow-delay="0.2s")
        .BankList
            .BankList_top
                table.BankList_tbl
                    thead.BankList_tblHead
                        tr
                            th.BankList_colHead Банк
                            th.BankList_colHead Срок кредита
                            th.BankList_colHead 
                                span.hidden-xs Первоначальный 
                                span.hidden-md.hidden-sm Первый 
                                | взнос
                            th.BankList_colHead Ставка в год
            .BankList_plate
                table.BankList_tbl
                    tbody.BankList_tblBody.BankList_tblBody-closed
                        each bank, index in banks
                            tr(class=`BankList_row ${index < 5 ? "BankList_row-primary": ""}`)
                                td.BankList_cell 
                                    img.BankList_logo(src=`${bank.logo}`, alt=`${bank.name}`, title=`${bank.name}`)
                                td.BankList_cell до #{bank.yearsTo} лет
                                td.BankList_cell #{bank.firstPay}%
                                td.BankList_cell #{bank.rate}%
                .BankList_bottomRow
                    a.BankList_showMore(href="#") Показать больше банков 
                        include includes/svg/angle_down.svg
            footer.BankList_footer
                .TextBlock 
                    p *Работаем с 15 банками-партнёрами, предлагаем покупателям выгодные процентные ставки — от 7,5 %.
        .Teaser
            .Teaser_picWrap
                .Teaser_picture(style="background-image:url(/tmp/718x468_n1.jpg)")
            .Teaser_txtWrap
                h4.Teaser_head Материнский капитал
                .Teaser_text
                    p Материнский капитал можно использовать при 100% оплате или ипотеке.
                    p При 100% оплате предоставляется отсрочка платежа до 3 месяцев
        section.TextIncut.TextIncut-v1
            h3.TextIncut_head 100% оплата
            .TextIncut_content
                p Если вы планируете внести платёж за квартиру единовременно, мы предложим вам действующие на момент покупки специальные условия, а также подберём бонусы и подарки — в зависимости от того, в каком жилом квартале находится заинтересовавшая вас квартира.
                p При покупке квартиры стопроцентная оплата совсем не обязательно состоит только из ваших собственных средств. В сумму, необходимую для полной оплаты по договору, могут входить и субсидии (в том числе и материнский капитал), и займы (ипотека, кредит).

block page_bottom
    script(src="/js/mortgage.js")