extends layout
block vars
    - var title = "Для тех, кто быстро принимает решения!";
block content
    header.PageHead
        +Breadcrumbs([ 
            {url: "/promos.html", title: "Акции"}
        ])
        h1.PageHead_title #{title}
    +PopupBtn(style="opacity:0;")
    .Bird.Bird-n2.wow.fadeIn(data-wow-delay="0.4s")
    .Bird.Bird-n2.Bird-animate
    .Box.Box-smExtended
        article.PromoDesc
            .PromoDesc_picWrap
                .PromoDesc_pic(style="background-image:url(/tmp/718x468_n1.jpg)")
                +Share("Share-n1 hidden-xs hidden-sm")
            .PromoDesc_textWrap
                .TextBlock.TextBlock-notPadded.TextBlock-promoArticle
                    p Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо… не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки. 
                    p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона.
                    h4 Lorem Ipsum
                    p "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц.

                    p Срок действия акции до 15 октярября 2017г.

                    p Переходите на выбор квартир по акциям: 
                        br
                        a(href="#") http://www.serebrica.ru/flats
                +Share("hidden-md")
block page_bottom
    //-script(src="/js/script_file_for_this_page.js")