extends layout
block vars
    - var title = "Акции";
block content
    header.PageHead.wow.fadeInUp
        +Breadcrumbs
        h1.PageHead_title #{title}
    +PopupBtn(style="opacity:0;")
    .Bird.Bird-n2.wow.fadeIn(data-wow-delay="0.4s")
    .Bird.Bird-n2.Bird-animate
    .Box.Box-smExtended
        .Teaser.wow.fadeInUp(data-wow-delay="0.1s")
            .Teaser_picWrap
                a.Teaser_picture.Teaser_picture-v1(href="/promo_single.html" style="background-image:url(/tmp/718x468_n1.jpg)") &nbsp;
            .Teaser_txtWrap
                .Teaser_date До 15.10.17
                h4.Teaser_head Для тех, кто быстро принимает решения!
                .Teaser_text
                    p Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые&nbsp;...
                a.Teaser_readMoreLink(href="/promo_single.html") Перейти
                    include ./includes/svg/angle_right.svg
        .Teaser.wow.fadeInUp(data-wow-delay="0.2s")
            .Teaser_picWrap
                a.Teaser_picture.Teaser_picture-v1(href="/promo_single.html" style="background-image:url(/tmp/718x468_n2.jpg)") &nbsp;
            .Teaser_txtWrap
                .Teaser_date Закончилось
                h4.Teaser_head Счастливый месяц первый взнос - 0%
                .Teaser_text
                    p Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые&nbsp;...
                a.Teaser_readMoreLink(href="/promo_single.html") Перейти
                    include ./includes/svg/angle_right.svg
block page_bottom
    //-script(src="/js/script_file_for_this_page.js")