extends layout
include includes/blocks/BldNav
block vars
    - var title = "Секция 4";
block content
    a.StickyBtn.StickyBtn-green.StickyBtn-settings.StickyBtn-forFlatTypePage(href="/filters_typicals.html" title="Подбор по параметрам")
    header.PageHead
        a.PageHead_toBack(href="/house_floor_1.html") 
            include includes/svg/angle_right.svg
            |Вернуться
    .Box.Box-smExtended
        .FlatInfo
            .FlatInfo_schemeWrap
                include includes/svg/section_scheme_example.svg
            .FlatInfo_descWrap
                .FlatInfo_miniPlan(style="background-image:url(/tmp/plans/section_place_minscheme_example.svg);")
                h1.FlatInfo_title=title 
                +BldNav({
                    items:[
                        {name: "Секция", val: 4, nextArrowLink: "/section2.html", prevArrowLink: "/section.html"},
                        {name: "Этаж", val: 5,}
                    ]
                })

                +ColorLegend([
                    {
                        hashCode: "#ca6e86",
                        label: "1-я квартира",
                    },
                    {
                        hashCode: "#a6b961",
                        label: "2-я квартира",
                    },
                    {
                        hashCode: "#a09acc",
                        label: "3-я квартира",
                    },
                    {
                        hashCode: "#f7eda9",
                        label: "Квартира-студия",
                    },
                    {
                        hashCode: "#a4d3da",
                        label: "Нежилое помещение",
                    },
                    {
                        hashCode: "#e9e7e7",
                        label: "Проданные",
                    },
                ], mods={
                    list: "ColorLegend_list-tight",
                })

block page_bottom
    script(src="/js/section.js")