extends layout
block vars
    - var title="Заглушка";
block content
    .Splash
        .Splash_inner
            .Splash_plate
                .Splash_plateTop
                    .Splash_logoWrap
                        img.Splash_logo(src="/img/logo_white.svg", alt="LOGO")
                    .Splash_slogan
                        strong ЖИТЬ -
                        br
                        | НЕ ТУЖИТЬ
                .Splash_plateBottom
                    .Splash_divider
                    .Splash_buttonWrap
                        a.Btn.Btn-size2(href="/") Перейти на сайт
                    .Splash_plateBottomSpacer
        a.StickyBtn.StickyBtn-close.StickyBtn-forSplashscreen(href="/")

block page_bottom
    //-script(src="/js/script_file_for_this_page.js")