extends layout
block vars
   - var title = "Август";
block content
   header.PageHead
      +Breadcrumbs([{url: "/diary_by_years.html", title: "Динамика строительства"}])
      h1.PageHead_title #{title}
   +PopupBtn
   .Box.Box-smExtended.Box-noPadding
      .diaryTop.diaryTop-sub
         .diaryTop_count <span class="diaryTop_count-current">1</span> / <span class="diaryTop_count-total"></span> Фото
         .diaryTop_select
            select
               option(selected disabled hidden) По месяцам
               option Все
               option Август
               option Сентябрь
      .diary.diary-sub.swiper-container
         .swiper-wrapper
            .swiper-slide.diary_item
               a(href="/diary_by_years.html").diary_close
                  include ../assets/img/close__gallery.svg
               .diary_img(style="background-image: url('/tmp/gallery/gallery1.jpg')")
                  .diary_infoBtn i
                     .diary_info
                        .diary_infoTitle
                           span Загружено:
                           span 16.08.2017
                        .diary_infoTitle
                           span Загрузил:
                           span Воздвиженский Илья
            .swiper-slide.diary_item
               a(href="/diary_by_years.html").diary_close
                  include ../assets/img/close__gallery.svg
               .diary_img(style="background-image: url('/tmp/gallery/gallery1.jpg')")
                  .diary_infoBtn i
                     .diary_info
                        .diary_infoTitle
                           span Загружено:
                           span 16.08.2017
                        .diary_infoTitle
                           span Загрузил:
                           span Воздвиженский Илья
            .swiper-slide.diary_item
               a(href="/diary_by_years.html").diary_close
                  include ../assets/img/close__gallery.svg
               .diary_img(style="background-image: url('/tmp/900.png')")
                  .diary_infoBtn i
                     .diary_info
                        .diary_infoTitle
                           span Загружено:
                           span 16.08.2017
                        .diary_infoTitle
                           span Загрузил:
                           span Воздвиженский Илья
         .diary_btn.diary_btn-prev
         .diary_btn.diary_btn-next

block page_bottom
   script(src="/js/diary.js")