extends layout
block vars
    - var title = "Транспортная доступность";
    - var withouBottomPusher = true;
block content
    .FullScreenContainer
        .InfrasExternal
            a.StickyBtn.StickyBtn-settings.StickyBtn-forContactsPage(href="/filters_typicals.html" title="Подбор по параметрам")
            a.StickyBtn.StickyBtn-orange.StickyBtn-cinema.StickyBtn-forContactsPage3(data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" title="Посмотреть видеообзор")
            .PopupBtn.PopupBtn-v2(title="Показать маршруты")
                #showRoutesListBtn.PopupBtn_btn.PopupBtn_btn-routesIco.PopupBtn_btn-greenBg
                .PopupBtn_content.PopupBtn_content-whiteBg
                    #listsOfRoutes.PopupBtn_wrp
                      h6 Общественный транспорт                        
                      ul
                        li
                          a(href="#route_0") Автобусы, маршрутки от ст. м. «Митино» до офиса продаж — 52 мин. с учетом пересадок и ожидания                                                                 
                        li
                          a(href="#route_1") От ж/д ст. «Тушино» до ж/д ст. «Опалиха» – 16 мин.                                                                 
                        li
                          a(href="#route_2") От Рижского вокзала до ж/д ст. «Опалиха» — 40 мин.                                                         
                      h6 Личный транспорт                             
                      ul
                        li
                          a(href="#route_3") От МКАД по Волоколамскому шоссе – 13 км                                                                 
                        li
                          a(href="#route_4") От МКАД по Новорижскому шоссе – 16 км                                                         
                      h6 Маршруты                             
                      ul
                        li
                          a(href="#route_5") Автобус/Маршрутное такси № 833/833к                                                                 
                        li
                          a(href="#route_6") Автобус № 492                                                                 
                        li
                          a(href="#route_7") Автобус № 542п                                                                 
                        li
                          a(href="#route_8") Пройти пешком

            .InfrasExternal_map#transportMap
            .InfrasExternal_title Транспортная #[br] доступность
    div(style="position: relative")
        .Message(style="display:none;")
            .Message_dialog.Message_dialog-v1
                .Message_content
                    //- .Message_title.Message_title-redColor Маршрут с м. Митино
                    //- .Message_text
                        p Метро «Митино» → Пройти пешком 140 метров (2 минуты) → Остановка «м. Митино» → Автобус № 492 (16 минут в пути) → Остановка «Госпиталь» ул. Кирова → Автобус или маршрутное такси № 833/833к (5 минут в пути) → Остановка «Платформа Опалиха» → Пройти пешком 11 минут.
                button.Message_closeBtn
                    <svg class="Message_closeCross" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M1.4 0l18.4 18.4-1.4 1.4L0 1.4z"/><path d="M19.8 1.4L1.4 19.8 0 18.4 18.4 0z"/></svg>
block page_bottom
    include includes/chunks/transport_page_inline_script
    script(src="/js/transport.js")