extends layout
block vars
    - var title = "Транспортная доступность";
block content
    header.PageHead.wow.fadeInUp
        +Breadcrumbs
    //- +ArticleBurger
    +PopupBtn
    article.Utp
        .Box.Box-smExtended.wow.fadeInUp(data-wow-delay="0.2s")
            
            h1.PageHead_title.PageHead_title-noDesc #{title}
            .Utp_desc

        .Box.Box-smExtended.wow.fadeInUp(data-wow-delay="0.2s")
            .Utp_desc
                .Teaser.Teaser-smReverse.wow.fadeInUp
                    .Teaser_picWrap
                        .Teaser_video
                            .Teaser_videoPlay
                            //- <iframe width="560" height="315" src="https://www.youtube.com/embed/KFFT1mUHlvI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <div id="player"></div>
                            script.
                                // 2. This code loads the IFrame Player API code asynchronously.
                                var tag = document.createElement('script');

                                tag.src = "https://www.youtube.com/iframe_api";
                                var firstScriptTag = document.getElementsByTagName('script')[0];
                                firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

                                // 3. This function creates an <iframe> (and YouTube player)
                                //    after the API code downloads.
                                var player;
                                function onYouTubeIframeAPIReady() {
                                    player = new YT.Player('player', {
                                    height: '360',
                                    width: '640',
                                    videoId: 'M7lc1UVf-VE', //Сюды индетнификатор видео
                                    events: {
                                        'onReady': onPlayerReady,
                                        'onStateChange': onPlayerStateChange
                                    }
                                    });
                                }

                                // 4. The API will call this function when the video player is ready.
                                function onPlayerReady(event) {
                                    event.target.stopVideo();
                                }

                                // 5. The API calls this function when the player's state changes.
                                //    The function indicates that when playing a video (state=1),
                                //    the player should play for six seconds and then stop.
                                var done = false;
                                function onPlayerStateChange(event) {
                                    if (event.data == YT.PlayerState.PLAYING && !done) {
                                    setTimeout(stopVideo, 6000);
                                    done = true;
                                    }
                                }
                                function stopVideo() {
                                    player.stopVideo();
                                }


                    .Teaser_txtWrap
                        h4.Teaser_head  15 минут и вы в Москве
                        .Teaser_text
                            p А для более серьезного шоппинга всегда под рукой гипермаркеты «Лента», «Ашан», «Леруа Мерлен», «OBI» и «Hoff». Продуктовые сети представлены всеми основными игроками: от повседневной «Пятёрочки» до изысканного «Глобус Гурмэ». На случай, когда совсем не хочется готовить, всегда можно отправиться в близлежащее кафе или ресторан.

        .Utp_mapWrap.wow.fadeInUp(data-wow-delay="0.2s")
            .TransportMap
                .TransportMap_mapWrap
                    .PopupBtn_btn.PopupBtn_btn-routesIco.PopupBtn_btn-greenBg.TransportMap_open
                    .TransportMap_map
                    .TransportMap_filter
                        .TransportMap_close
                        .TransportMap_content#listsOfRoutes
                            h6 Общественный транспорт
                            ul
                                li
                                    a(href="#route_0") Автобусы, маршрутки от ст. м. «Митино» до офиса продаж — 52 мин. с учетом пересадок и ожидания                                                                 
                                li
                                    a(href="#route_1") От ж/д ст. «Тушино» до ж/д ст. «Опалиха» – 16 мин.                                                                 
                                li
                                    a(href="#route_2") От Рижского вокзала до ж/д ст. «Опалиха» — 40 мин.                                                         
                            h6 Личный транспорт                             
                            ul
                                li
                                    a(href="#route_3") От МКАД по Волоколамскому шоссе – 13 км                                                                 
                                li
                                    a(href="#route_4") От МКАД по Новорижскому шоссе – 16 км                                                         
                            h6 Маршруты                             
                            ul
                                li
                                    a(href="#route_5") Автобус/Маршрутное такси № 833/833к                                                                 
                                li
                                    a(href="#route_6") Автобус № 492                                                                 
                                li
                                    a(href="#route_7") Автобус № 542п                                                                 
                                li
                                    a(href="#route_8") Пройти пешком

        .Box.Box-smExtended.wow.fadeInUp(data-wow-delay="0.2s")
            .Utp_desc
                .Teaser.wow.fadeInUp
                    .Teaser_picWrap
                        .Teaser_picture(style="background-image:url(/tmp/718x468_n1.jpg)")
                    .Teaser_txtWrap
                        .Teaser_text
                            p А для более серьезного шоппинга всегда под рукой гипермаркеты «Лента», «Ашан», «Леруа Мерлен», «OBI» и «Hoff». Продуктовые сети представлены всеми основными игроками: от повседневной «Пятёрочки» до изысканного «Глобус Гурмэ». На случай, когда совсем не хочется готовить, всегда можно отправиться в близлежащее кафе или ресторан. 
                            p Вокруг «Серебрицы» есть государственные и частные детские сады, школы, лицеи, гимназии, в том числе — гимназия с дошкольной ступенью. Неподалеку расположены фитнес-центры, городская поликлиника, круглосуточные аптеки.
            .Utp_desc
                .Teaser.Teaser-reversed.wow.fadeInUp
                    .Teaser_picWrap
                        .Teaser_picture(style="background-image:url(/tmp/718x468_n1.jpg)")
                    .Teaser_txtWrap
                        .Teaser_text
                            p В 15 минутах от миниполиса «Серебрица» расположен огромный спортивный кластер: знаменитый стадион «Зоркий», теннисная академия Шамиля Тарпищева, футбольная академия Сергея Юрана, лыжный стадион, плавательный бассейн, биатлонное стрельбище, футбольный стадион «Машиностроитель». В ближайшее время этот впечатляющий список дополнится академией хоккея имени Владимира Петрова и Федеральным центром по подготовке национальных сборных  по борьбе, который разместится на территории  в 20 тысяч квадратных метров! Здесь ваши будущие чемпионы смогут добиться своих первых побед и начать путь к настоящим мировым и олимпийским рекордам!
            .Utp_desc
                .Teaser.wow.fadeInUp
                    .Teaser_picWrap
                        .Teaser_picture(style="background-image:url(/tmp/718x468_n1.jpg)")
                    .Teaser_txtWrap
                        .Teaser_text
                            p К услугам любителей культурного отдыха ландшафтный парк в районе Митино и природно-исторический парк  в Строгино, усадьба Архангельское, Красногорский историко-художественный музей, музей Покорителей Вселенной.
                            p Для тех, кто предпочитает более активный досуг, в районе есть фитнес-центры. Рядом с ними располагаются салоны красоты и парикмахерская.
                            p «Серебрица» — территория благополучия
            
            .Utp_desc
                .Teaser.Teaser-reversed.wow.fadeInUp
                    .Teaser_picWrap
                        .Teaser_picture(style="background-image:url(/tmp/718x468_n1.jpg)")
                    .Teaser_txtWrap
                        .Teaser_text
                            p В 15 минутах от миниполиса «Серебрица» расположен огромный спортивный кластер: знаменитый стадион «Зоркий», теннисная академия Шамиля Тарпищева, футбольная академия Сергея Юрана, лыжный стадион, плавательный бассейн, биатлонное стрельбище, футбольный стадион «Машиностроитель». В ближайшее время этот впечатляющий список дополнится академией хоккея имени Владимира Петрова и Федеральным центром по подготовке национальных сборных  по борьбе, который разместится на территории  в 20 тысяч квадратных метров! Здесь ваши будущие чемпионы смогут добиться своих первых побед и начать путь к настоящим мировым и олимпийским рекордам!

            
            .Utp_desc
                .Teaser.Teaser-reversed.Teaser-metro.wow.fadeInUp
                    .Teaser_picWrap
                        ul.Teaser_metroList
                            li.Teaser_metroItem.Teaser_metroItem-brown Курская <span class="Teaser_metroDesc">(Кольцевая и Арбатско-Покровская линии);</span>
                            li.Teaser_metroItem.Teaser_metroItem-lightGreen Чкаловская <span class="Teaser_metroDesc">(Люблинская линия);</span>
                            li.Teaser_metroItem.Teaser_metroItem-red Комсомольская <span class="Teaser_metroDesc">(Сокольническая линия);</span>
                            li.Teaser_metroItem.Teaser_metroItem-orange Рижская <span class="Teaser_metroDesc">(Калужско-Рижская линия);</span>
                            li.Teaser_metroItem.Teaser_metroItem-grey Дмитровская <span class="Teaser_metroDesc">(Серпуховско-Тимирязевском линия);</span>
                            li.Teaser_metroItem.Teaser_metroItem-green Войковская, Царицино <span class="Teaser_metroDesc">(Замоскворецкая линия);</span>
                            li.Teaser_metroItem.Teaser_metroItem-purple Тушинская, Текстильщики <span class="Teaser_metroDesc">(Таганско-Краснопресненская линия);</span>
                    .Teaser_txtWrap
                        .Teaser_text
                            p Так возможно осуществить пересадку без использования наземного транспорта на следующие станции метро:

            
            .Utp_desc
                .Teaser.wow.fadeInUp
                    .Teaser_picWrap
                        .Teaser_picture(style="background-image:url(/tmp/718x468_n1.jpg)")
                    .Teaser_txtWrap
                        .Teaser_text
                            p А для более серьезного шоппинга всегда под рукой гипермаркеты «Лента», «Ашан», «Леруа Мерлен», «OBI» и «Hoff». Продуктовые сети представлены всеми основными игроками: от повседневной «Пятёрочки» до изысканного «Глобус Гурмэ». На случай, когда совсем не хочется готовить, всегда можно отправиться в близлежащее кафе или ресторан. 
                            p Вокруг «Серебрицы» есть государственные и частные детские сады, школы, лицеи, гимназии, в том числе — гимназия с дошкольной ступенью. Неподалеку расположены фитнес-центры, городская поликлиника, круглосуточные аптеки.
            .Utp_desc
                .Teaser.Teaser-reversed.wow.fadeInUp
                    .Teaser_picWrap
                        .Teaser_picture(style="background-image:url(/tmp/718x468_n1.jpg)")
                    .Teaser_txtWrap
                        .Teaser_text
                            p В 15 минутах от миниполиса «Серебрица» расположен огромный спортивный кластер: знаменитый стадион «Зоркий», теннисная академия Шамиля Тарпищева, футбольная академия Сергея Юрана, лыжный стадион, плавательный бассейн, биатлонное стрельбище, футбольный стадион «Машиностроитель». В ближайшее время этот впечатляющий список дополнится академией хоккея имени Владимира Петрова и Федеральным центром по подготовке национальных сборных  по борьбе, который разместится на территории  в 20 тысяч квадратных метров! Здесь ваши будущие чемпионы смогут добиться своих первых побед и начать путь к настоящим мировым и олимпийским рекордам!
            .Utp_desc
                .Teaser.wow.fadeInUp
                    .Teaser_picWrap
                        .Teaser_picture(style="background-image:url(/tmp/718x468_n1.jpg)")
                    .Teaser_txtWrap
                        .Teaser_text
                            p К услугам любителей культурного отдыха ландшафтный парк в районе Митино и природно-исторический парк  в Строгино, усадьба Архангельское, Красногорский историко-художественный музей, музей Покорителей Вселенной.
                            p Для тех, кто предпочитает более активный досуг, в районе есть фитнес-центры. Рядом с ними располагаются салоны красоты и парикмахерская.
                            p «Серебрица» — территория благополучия

        .Box.Box-smExtended.wow.fadeInUp(data-wow-delay="0.2s")
            .Utp_desc
                .Teaser.Teaser-reversed.wow.fadeInUp
                    .Teaser_txtWrap
                        h4.Teaser_head(data-titleScroll="title2")  Действующие транспортные узлы

        .Utp_mapWrap.Utp_mapWrap-metroScheme.wow.fadeInUp(data-wow-delay="0.2s")
            a.ZoomPicture(href="/img/metro-scheme.jpg")
                img.ZoomPicture_img(src="./img/brackets.svg")
            +Fitblock('/img/metro-scheme.jpg', 2664, 1264, 'Fitblock-xsScrollable Fitblock-smScrollable Fitblock-transportArticle')

        .Box.Box-smExtended.wow.fadeInUp(data-wow-delay="0.2s")
            .MetroScheme
                .MetroScheme_title МЦД-2 будет включать <br>в себя следующие остановки:
                .MetroScheme_wrap
                    .MetroScheme_col
                        ul.MetroScheme_list
                            li.MetroScheme_item
                                include includes/svg/metro-scheme/dot.svg
                                | Нахабино
                            li.MetroScheme_item
                                include includes/svg/metro-scheme/dot.svg
                                | Аникеевка
                            li.MetroScheme_item
                                include includes/svg/metro-scheme/dot.svg
                                | Опалиха
                            li.MetroScheme_item
                                include includes/svg/metro-scheme/dot.svg
                                | Красногорск
                            li.MetroScheme_item
                                include includes/svg/metro-scheme/dot.svg
                                | Павшино
                            li.MetroScheme_item
                                include includes/svg/metro-scheme/dot.svg
                                | Пенягино
                                <span class="MetroScheme_desc"> (проектируется)</span>
                            li.MetroScheme_item
                                include includes/svg/metro-scheme/green-blue.svg
                                | Волоколамская
                                <span class="MetroScheme_desc"> (проектируется, пересадка на Волоколамскую)</span>
                            li.MetroScheme_item
                                include includes/svg/metro-scheme/dot.svg
                                | Трикотажная
                            li.MetroScheme_item
                                include includes/svg/metro-scheme/green-purple.svg
                                | Тушино
                                <span class="MetroScheme_desc"> (пересадка на Тушинскую)</span>
                            li.MetroScheme_item
                                include includes/svg/metro-scheme/green-purple.svg
                                | Щукинская
                                <span class="MetroScheme_desc"> (проектируется, пересадка на Щукинскую)</span>
                            li.MetroScheme_item
                                include includes/svg/metro-scheme/green-green_pink.svg
                                | Ленинградская
                                <span class="MetroScheme_desc"> (пересадка на Войковскую и Стрешнево)</span>
                            li.MetroScheme_item
                                include includes/svg/metro-scheme/dot.svg
                                | Красный Балтиец
                            li.MetroScheme_item
                                include includes/svg/metro-scheme/dot.svg
                                | Гражданская
                            li.MetroScheme_item
                                include includes/svg/metro-scheme/green-grey.svg
                                | Дмитровская
                                <span class="MetroScheme_desc"> (пересадка на Дмитровскую и МЦД1)</span>
                            li.MetroScheme_item
                                include includes/svg/metro-scheme/green-green_blue.svg
                                | Марьина роща
                                <span class="MetroScheme_desc"> (проектируется; пересадка на Марьину рощу и Шереметьевскую)</span>
                            li.MetroScheme_item
                                include includes/svg/metro-scheme/green-orange_blue.svg
                                | Ржевская
                                <span class="MetroScheme_desc"> (пересадка на Рижскую и Ржевскую)</span>
                            li.MetroScheme_item
                                include includes/svg/metro-scheme/green-red_brown.svg
                                | Каланчевская
                                <span class="MetroScheme_desc"> (пересадка на Комсомольскую, Ленинградский, Казанский и Ярославский вокзалы)</span>
                            li.MetroScheme_item
                                include includes/svg/metro-scheme/green-triple.svg
                                | Курский вокзал
                                <span class="MetroScheme_desc"> (пересадка на Курскую и Чкаловскую)</span>
                            li.MetroScheme_item
                                include includes/svg/metro-scheme/green-yellow_green.svg
                                | Москва-Товарная
                                <span class="MetroScheme_desc"> (пересадка на  Площадь Ильича и Римскую)</span>
                    .MetroScheme_col
                        ul.MetroScheme_list
                            li.MetroScheme_item
                                include includes/svg/metro-scheme/green-green.svg
                                | Калитники
                            li.MetroScheme_item
                                include includes/svg/metro-scheme/green-pink.svg
                                | Новохохловская
                                <span class="MetroScheme_desc"> (пересадка на Новохохловскую)</span>
                            li.MetroScheme_item
                                include includes/svg/metro-scheme/green-purple_blue.svg
                                | Текстильщики
                                <span class="MetroScheme_desc"> (пересадка на Текстильщики)</span>
                            li.MetroScheme_item
                                include includes/svg/metro-scheme/green-green_blue.svg
                                | Печатники
                                <span class="MetroScheme_desc"> (проектируется; пересадка на Печатники)</span>
                            li.MetroScheme_item
                                include includes/svg/metro-scheme/dot.svg
                                | Люблино
                            li.MetroScheme_item
                                include includes/svg/metro-scheme/dot.svg
                                | Депо
                            li.MetroScheme_item
                                include includes/svg/metro-scheme/dot.svg
                                | Перерва
                            li.MetroScheme_item
                                include includes/svg/metro-scheme/dot.svg
                                | Курьяново
                                <span class="MetroScheme_desc"> (проектируется)</span>
                            li.MetroScheme_item
                                include includes/svg/metro-scheme/dot.svg
                                | Москворечье
                            li.MetroScheme_item
                                include includes/svg/metro-scheme/green-green.svg
                                | Царицыно
                                <span class="MetroScheme_desc"> (пересадка на Царицыно)</span>
                            li.MetroScheme_item
                                include includes/svg/metro-scheme/dot.svg
                                | Котляково
                                <span class="MetroScheme_desc"> (проектируется)</span>
                            li.MetroScheme_item
                                include includes/svg/metro-scheme/dot.svg
                                | Покровская
                            li.MetroScheme_item
                                include includes/svg/metro-scheme/dot.svg
                                | Красный строитель
                            li.MetroScheme_item
                                include includes/svg/metro-scheme/dot.svg
                                | Битца
                            li.MetroScheme_item
                                include includes/svg/metro-scheme/dot.svg
                                | Бутово
                            li.MetroScheme_item
                                include includes/svg/metro-scheme/dot.svg
                                | Щербинка
                            li.MetroScheme_item
                                include includes/svg/metro-scheme/dot.svg
                                | Остафьево
                                <span class="MetroScheme_desc"> (строится)</span>
                            li.MetroScheme_item
                                include includes/svg/metro-scheme/dot.svg
                                | Силикатная
                            li.MetroScheme_item
                                include includes/svg/metro-scheme/dot.svg
                                | Подольск

        .Box.Box-smExtended.wow.fadeInUp(data-wow-delay="0.2s")
            .Utp_desc
                .Teaser.Teaser-reversed.wow.fadeInUp
                    .Teaser_picWrap
                        .Teaser_picture(style="background-image:url(/tmp/718x468_n1.jpg)")
                    .Teaser_txtWrap
                        .Teaser_text
                            p В 15 минутах от миниполиса «Серебрица» расположен огромный спортивный кластер: знаменитый стадион «Зоркий», теннисная академия Шамиля Тарпищева, футбольная академия Сергея Юрана, лыжный стадион, плавательный бассейн, биатлонное стрельбище, футбольный стадион «Машиностроитель». В ближайшее время этот впечатляющий список дополнится академией хоккея имени Владимира Петрова и Федеральным центром по подготовке национальных сборных  по борьбе, который разместится на территории  в 20 тысяч квадратных метров! Здесь ваши будущие чемпионы смогут добиться своих первых побед и начать путь к настоящим мировым и олимпийским рекордам!
            .Utp_desc
                .Teaser.wow.fadeInUp
                    .Teaser_picWrap
                        .Teaser_picture(style="background-image:url(/tmp/718x468_n1.jpg)")
                    .Teaser_txtWrap
                        .Teaser_text
                            p К услугам любителей культурного отдыха ландшафтный парк в районе Митино и природно-исторический парк  в Строгино, усадьба Архангельское, Красногорский историко-художественный музей, музей Покорителей Вселенной.
                            p Для тех, кто предпочитает более активный досуг, в районе есть фитнес-центры. Рядом с ними располагаются салоны красоты и парикмахерская.
                            p «Серебрица» — территория благополучия
            .Utp_desc
                .Teaser.Teaser-reversed.wow.fadeInUp
                    .Teaser_picWrap
                        .Teaser_picture(style="background-image:url(/tmp/718x468_n1.jpg)")
                    .Teaser_txtWrap
                        .Teaser_text
                            p В 15 минутах от миниполиса «Серебрица» расположен огромный спортивный кластер: знаменитый стадион «Зоркий», теннисная академия Шамиля Тарпищева, футбольная академия Сергея Юрана, лыжный стадион, плавательный бассейн, биатлонное стрельбище, футбольный стадион «Машиностроитель». В ближайшее время этот впечатляющий список дополнится академией хоккея имени Владимира Петрова и Федеральным центром по подготовке национальных сборных  по борьбе, который разместится на территории  в 20 тысяч квадратных метров! Здесь ваши будущие чемпионы смогут добиться своих первых побед и начать путь к настоящим мировым и олимпийским рекордам!

        .Box.Box-smExtended.wow.fadeInUp(data-wow-delay="0.2s")
            .Utp_desc
                .Teaser.Teaser-reversed.wow.fadeInUp
                    .Teaser_txtWrap
                        h4.Teaser_head(data-titleScroll="title2")  Перспективные  транспортные узлы

        .Utp_mapWrap.Utp_mapWrap-metroScheme.wow.fadeInUp(data-wow-delay="0.2s")
            a.ZoomPicture(href="/img/metro-perspective.jpg  ")
                img.ZoomPicture_img(src="./img/brackets.svg")
            +Fitblock('/img/metro-perspective.jpg', 2664, 1264, 'Fitblock-xsScrollable Fitblock-smScrollable Fitblock-transportPerspective')
block page_bottom
    include includes/chunks/transport_page_inline_script
    script(src="/js/transport_article.js")