html
    height 100%

body
    font-family "Gotham Pro", Arial, Helvetica, sans-serif;
    color #575759
    min-height 100%
    position relative
    @media $xs
        padding-bottom $xsFooterHeight
    @media $sm
        padding-bottom $smFooterHeight
    @media $md
        padding-bottom $mdFooterHeight

a,
a:hover
    color inherit