@font-face
    font-family 'Gotham Pro'
    src url('../fonts/GothamPro-BlackItalic.woff2') format('woff2'),
        url('../fonts/GothamPro-BlackItalic.woff') format('woff'),
        url('../fonts/GothamPro-BlackItalic.ttf') format('truetype')
    font-weight 900
    font-style italic

@font-face
    font-family 'Gotham Pro'
    src url('../fonts/GothamPro-LightItalic.woff2') format('woff2'),
        url('../fonts/GothamPro-LightItalic.woff') format('woff'),
        url('../fonts/GothamPro-LightItalic.ttf') format('truetype')
    font-weight 300
    font-style italic

@font-face
    font-family 'Gotham Pro Narrow'
    src url('../fonts/GothamProNarrow-Medium.woff2') format('woff2'),
        url('../fonts/GothamProNarrow-Medium.woff') format('woff'),
        url('../fonts/GothamProNarrow-Medium.ttf') format('truetype')
    font-weight 500
    font-style normal

@font-face
    font-family 'Gotham Pro'
    src url('../fonts/GothamPro-Bold.woff2') format('woff2'),
        url('../fonts/GothamPro-Bold.woff') format('woff'),
        url('../fonts/GothamPro-Bold.ttf') format('truetype')
    font-weight bold
    font-style normal

@font-face
    font-family 'Gotham Pro'
    src url('../fonts/GothamPro.woff2') format('woff2'),
        url('../fonts/GothamPro.woff') format('woff'),
        url('../fonts/GothamPro.ttf') format('truetype')
    font-weight normal
    font-style normal

@font-face
    font-family 'Gotham Pro'
    src url('../fonts/GothamPro-BoldItalic.woff2') format('woff2'),
        url('../fonts/GothamPro-BoldItalic.woff') format('woff'),
        url('../fonts/GothamPro-BoldItalic.ttf') format('truetype')
    font-weight bold
    font-style italic

@font-face
    font-family 'Gotham Pro'
    src url('../fonts/GothamPro-MediumItalic.woff2') format('woff2'),
        url('../fonts/GothamPro-MediumItalic.woff') format('woff'),
        url('../fonts/GothamPro-MediumItalic.ttf') format('truetype')
    font-weight 500
    font-style italic

@font-face
    font-family 'Gotham Pro Narrow'
    src url('../fonts/GothamProNarrow-Bold.woff2') format('woff2'),
        url('../fonts/GothamProNarrow-Bold.woff') format('woff'),
        url('../fonts/GothamProNarrow-Bold.ttf') format('truetype')
    font-weight bold
    font-style normal

@font-face
    font-family 'Gotham Pro'
    src url('../fonts/GothamPro-Light.woff2') format('woff2'),
        url('../fonts/GothamPro-Light.woff') format('woff'),
        url('../fonts/GothamPro-Light.ttf') format('truetype')
    font-weight 300
    font-style normal

@font-face
    font-family 'Gotham Pro'
    src url('../fonts/GothamPro-Black.woff2') format('woff2'),
        url('../fonts/GothamPro-Black.woff') format('woff'),
        url('../fonts/GothamPro-Black.ttf') format('truetype')
    font-weight 900
    font-style normal

@font-face
    font-family 'Gotham Pro'
    src url('../fonts/GothamPro-Medium.woff2') format('woff2'),
        url('../fonts/GothamPro-Medium.woff') format('woff'),
        url('../fonts/GothamPro-Medium.ttf') format('truetype')
    font-weight 500
    font-style normal

@font-face
    font-family 'Gotham Pro'
    src url('../fonts/GothamPro-Italic.woff2') format('woff2'),
        url('../fonts/GothamPro-Italic.woff') format('woff'),
        url('../fonts/GothamPro-Italic.ttf') format('truetype')
    font-weight normal
    font-style italic