.hidden
  display none!important
.hidden-xs
  @media $xs
    display none!important
.hidden-sm
  @media $sm
    display none!important
.hidden-md
  @media $md
    display none!important

.hidden-md-low
  @media (max-width: 1440px)
    display none!important

.fade
  opacity 0
  transition opacity 0.4s

.lock
  overflow hidden
