-
    let banks = 
        [
            {
                "name": "Металлинвестбанк",
                "logo": "/tmp/bank_logos/item_706.png",
                "rate": 13,
                "firstPay": 0,
                "yearsTo": 25,
            },
            {
                "name": "СМП банк",
                "logo": "/tmp/bank_logos/item_714.png",
                "rate": 14,
                "firstPay": 0,
                "yearsTo": 25,
            },
            {
                "name": "СНГБ",
                "logo": "/tmp/bank_logos/item_711.svg",
                "rate": 12,
                "firstPay": 0,
                "yearsTo": 30,
            },
            {
                "name": "Совкомбанк",
                "logo": "/tmp/bank_logos/item_710.png",
                "rate": 10.4,
                "firstPay": 5,
                "yearsTo": 30,
            },
            {
                "name": "ТКБ",
                "logo": "/tmp/bank_logos/item_720.png",
                "rate": 11.4,
                "firstPay": 5,
                "yearsTo": 25,
            },
            {
                "name": "Возрождение",
                "logo": "/tmp/bank_logos/item_583.png",
                "rate": 11.8,
                "firstPay": 10,
                "yearsTo": 30,
            },
            {
                "name": "ПСБ",
                "logo": "/tmp/bank_logos/item_599.svg",
                "rate": 11.8,
                "firstPay": 10,
                "yearsTo": 25,
            },
            {
                "name": "Газпромбанк",
                "logo": "/tmp/bank_logos/item_588.svg",
                "rate": 9.5,
                "firstPay": 10,
                "yearsTo": 30,
            },
            {
                "name": "Совкомбанк",
                "logo": "/tmp/bank_logos/item_710.png",
                "rate": 9.9,
                "firstPay": 10,
                "yearsTo": 30,
            },
            {
                "name": "Металлинвестбанк",
                "logo": "/tmp/bank_logos/item_597.png",
                "rate": 10.75,
                "firstPay": 10,
                "yearsTo": 25,
            },
            {
                "name": "Уралсиб",
                "logo": "/tmp/bank_logos/item_715.png",
                "rate": 9.9,
                "firstPay": 10,
                "yearsTo": 30,
            },
            {
                "name": "МКБ",
                "logo": "/tmp/bank_logos/item_598.svg",
                "rate": 11.25,
                "firstPay": 10,
                "yearsTo": 20,
            },
            {
                "name": "СНГБ",
                "logo": "/tmp/bank_logos/item_712.svg",
                "rate": 9.3,
                "firstPay": 10,
                "yearsTo": 30,
            },
            {
                "name": "ВТБ",
                "logo": "/tmp/bank_logos/item_585.svg",
                "rate": 9.7,
                "firstPay": 15,
                "yearsTo": 30,
            },
            {
                "name": "Сбербанк",
                "logo": "/tmp/bank_logos/item_707.svg",
                "rate": 7.4,
                "firstPay": 15,
                "yearsTo": 7,
            },
            {
                "name": "Сбербанк ",
                "logo": "/tmp/bank_logos/item_708.svg",
                "rate": 7.9,
                "firstPay": 15,
                "yearsTo": 12,
            },
            {
                "name": "Сбербанк",
                "logo": "/tmp/bank_logos/item_709.svg",
                "rate": 9.4,
                "firstPay": 15,
                "yearsTo": 30,
            },
            {
                "name": "Совкомбанк",
                "logo": "/tmp/bank_logos/item_710.png",
                "rate": 9.4,
                "firstPay": 15,
                "yearsTo": 30,
            },
            {
                "name": "ТКБ",
                "logo": "/tmp/bank_logos/item_720.png",
                "rate": 10.4,
                "firstPay": 15,
                "yearsTo": 25,
            },
            {
                "name": "Российский капитал",
                "logo": "/tmp/bank_logos/item_718.svg",
                "rate": 9.75,
                "firstPay": 15,
                "yearsTo": 25,
            },
            {
                "name": "СМП банк",
                "logo": "/tmp/bank_logos/item_714.png",
                "rate": 10.6,
                "firstPay": 15,
                "yearsTo": 25,
            },
            {
                "name": "СНГБ",
                "logo": "/tmp/bank_logos/item_713.svg",
                "rate": 9,
                "firstPay": 15,
                "yearsTo": 30,
            },
            {
                "name": "Росевробанк",
                "logo": "/tmp/bank_logos/item_719.svg",
                "rate": 9.45,
                "firstPay": 15,
                "yearsTo": 20,
            },
            {
                "name": "БИН банк",
                "logo": "/tmp/bank_logos/item_717.png",
                "rate": 9.5,
                "firstPay": 20,
                "yearsTo": 30,
            },
            {
                "name": "Сбербанк ",
                "logo": "/tmp/bank_logos/item_707.svg",
                "rate": 6,
                "firstPay": 20,
                "yearsTo": 30,
            },
            {
                "name": "Возрождение",
                "logo": "/tmp/bank_logos/item_583.png",
                "rate": 9.9,
                "firstPay": 20,
                "yearsTo": 30,
            },
            {
                "name": "ПСБ",
                "logo": "/tmp/bank_logos/item_599.svg",
                "rate": 9.5,
                "firstPay": 20,
                "yearsTo": 25,
            },
            {
                "name": "Металлинвестбанк",
                "logo": "/tmp/bank_logos/item_706.png",
                "rate": 10.5,
                "firstPay": 20,
                "yearsTo": 25,
            },
            {
                "name": "Российский капитал",
                "logo": "/tmp/bank_logos/item_718.svg",
                "rate": 6,
                "firstPay": 20,
                "yearsTo": 25,
            },
            {
                "name": "ДомРФ",
                "logo": "/tmp/bank_logos/item_734.png",
                "rate": 6,
                "firstPay": 20,
                "yearsTo": 30,
            },
            {
                "name": "ДомРФ",
                "logo": "/tmp/bank_logos/item_734.png",
                "rate": 9.5,
                "firstPay": 20,
                "yearsTo": 30,
            },
            {
                "name": "МКБ",
                "logo": "/tmp/bank_logos/item_598.svg",
                "rate": 9.99,
                "firstPay": 20,
                "yearsTo": 20,
            },
            {
                "name": "МИнБ",
                "logo": "/tmp/bank_logos/item_591.png",
                "rate": 10,
                "firstPay": 20,
                "yearsTo": 30,
            },
            {
                "name": "Глобэкс",
                "logo": "/tmp/bank_logos/item_589.png",
                "rate": 12.5,
                "firstPay": 20,
                "yearsTo": 30,
            },
            {
                "name": "Металлинвестбанк",
                "logo": "/tmp/bank_logos/item_706.png",
                "rate": 10,
                "firstPay": 30,
                "yearsTo": 25,
            },
            {
                "name": "Уралсиб",
                "logo": "/tmp/bank_logos/item_716.png",
                "rate": 9.4,
                "firstPay": 30,
                "yearsTo": 30,
            },
            {
                "name": "ДомРФ",
                "logo": "/tmp/bank_logos/item_734.png",
                "rate": 6.98,
                "firstPay": 30,
                "yearsTo": 30,
            },
            {
                "name": "ТКБ",
                "logo": "/tmp/bank_logos/item_720.png",
                "rate": 9.9,
                "firstPay": 35,
                "yearsTo": 25,
            },
            {
                "name": "Глобэкс",
                "logo": "/tmp/bank_logos/item_589.png",
                "rate": 12,
                "firstPay": 40,
                "yearsTo": 30,
            },
            {
                "name": "ТКБ",
                "logo": "/tmp/bank_logos/item_720.png",
                "rate": 9.4,
                "firstPay": 50,
                "yearsTo": 25,
            },
            {
                "name": "Российский капитал",
                "logo": "/tmp/bank_logos/item_718.svg",
                "rate": 9.25,
                "firstPay": 50,
                "yearsTo": 25,
            },
            {
                "name": "МИнБ",
                "logo": "/tmp/bank_logos/item_591.png",
                "rate": 10.5,
                "firstPay": 50,
                "yearsTo": 5,
            }
        ]