#orderModal(style="display:none;")
    .Modal
        form.Form(data-action="/ajax/form-response.json" autocomplete="off")
            h4.Modal_head 
                span Оставить заявку
            .Modal_headDivider
                img(src="/img/red_branch.svg", alt="------")
            .Modal_desc
                p Оставьте вашу заявку и наш менеджер #[br] перезвонит вам в ближайшее время
            .Form_grid.Form_grid-v1
                .Form_col
                    .Form_item
                            input.Form_field(placeholder="Имя *" name="name" required)                         
                    .Form_item
                            input.Form_field(placeholder="Телефон *" type="tel" name="phone" required)
                    .Form_item.Form_item-captchaItem
                        .Form_captchaPicWrap
                            img(src="/tmp/104x53.png", alt="" title="обновить картинку").Form_captchaPic
                        div
                            input.Form_field(name="captcha" placeholder="Код с картинки*" required)
                .Form_col
                    .Form_item
                        textarea.Form_field.Form_field-longText(name="message" placeholder="Ваш комментарий")
                    .Form_item.Form_item-chkItem
                        .Form_checkbox
                            label
                                input.Form_chkbInp(type="checkbox" name="agree" required)
                                i.Form_chkbView &nbsp;
                            .Form_chkText Согласие на 
                                a.Form_chkLinkTxt(href="http://www.pdf995.com/samples/pdf.pdf" target="_blank" rel="nofollow noopener") обработку персональных данных
            .Form_item.Form_item-btn
                button.Btn.Btn-extended(type="submit") Отправить