script.
    window.routesDesctiptions = [
        {
            title: "Автобусы, маршрутки от ст. м. «Митино» до офиса продаж — 52 мин. с учетом пересадок и ожидания",
            sid: "32",
            text:
                "1) От&nbsp;ст.&nbsp;м. «Митино» до&nbsp;авт. остановки «Улица Кирова»&nbsp;— 17&nbsp;мин.<br> 2) От&nbsp;авт. остановки «Улица Кирова» до&nbsp;авт. остановки «Платформа Опалиха»&nbsp;— 11&nbsp;мин.<br>3) От&nbsp;авт. остановки «Платформа Опалиха» до&nbsp;офиса продаж 0,65&nbsp;км&nbsp;— 8&nbsp;мин.",
            origin: [55.845504783781, 37.358509551197],
            destination: [55.827375430542, 37.235416574907],
            travelMode: "transit",
            waypoints: [{ lat: 55.83390569955, lng: 37.299773677422 }, { lat: 55.824058220648, lng: 37.246155449626 }],
        },

        {
            title: "От ж/д ст. «Тушино» до ж/д ст. «Опалиха» – 16 мин.",
            sid: "32",
            text: "с&nbsp;4:30 утра до&nbsp;1:04&nbsp;ночи, всего 91&nbsp;рейс по&nbsp;будням",
            origin: [55.826877215698, 37.441191673279],
            destination: [55.827767995975, 37.234398860168],
            travelMode: "transit",
            waypoints: [{ lat: 55.823751656105, lng: 37.247089150043 }],
        },

        {
            title: "От Рижского вокзала до ж/д ст. «Опалиха» — 40 мин.",
            sid: "32",
            text: "с&nbsp;4:10 утра до&nbsp;0:40&nbsp;ночи, всего 39&nbsp;рейсов по&nbsp;будням",
            origin: [55.792548114705, 37.632658481598],
            destination: [55.827297052966, 37.235790410575],
            travelMode: "transit",
            waypoints: [{ lat: 55.823345621811, lng: 37.246828079224 }],
        },

        {
            title: "От МКАД по Волоколамскому шоссе – 13 км",
            sid: "33",
            text: "Без пробок&nbsp;&mdash; от&nbsp;22&nbsp;мин.<br>В&nbsp;час-пик&nbsp;&mdash; от&nbsp;30&nbsp;мин.",
            origin: [55.827620664446, 37.23477293096],
            destination: [55.83258786407, 37.395373873878],
            travelMode: "driving",
        },

        {
            title: "От МКАД по Новорижскому шоссе – 16 км",
            sid: "33",
            text: "Без пробок&nbsp;&mdash; от&nbsp;24&nbsp;мин.<br>В&nbsp;час-пик&nbsp;&mdash; от&nbsp;46&nbsp;мин.",
            origin: [55.788538571535, 37.380612335799],
            destination: [55.827479888158, 37.235185837378],
            travelMode: "driving",
            waypoints: [{ lat: 55.827479888158, lng: 37.235185837378 }],
        },

        {
            title: "Автобус/Маршрутное такси № 833/833к",
            sid: "36",
            text:
                "<p>Остановка &laquo;Госпиталь&raquo; ул. Кирова &rarr; Остановка &laquo;Платформа Опалиха&raquo; (5&nbsp;минут в&nbsp;пути)</p>",
            origin: [55.834460891741, 37.282660407491],
            destination: [55.823743394141, 37.247471809387],
            travelMode: "transit",
            waypoints: [
                { lat: 55.831174026845, lng: 37.279936356081 },
                { lat: 55.824007364685, lng: 37.265057877787 },
                { lat: 55.82192988822, lng: 37.253490585192 },
            ],
        },

        {
            title: "Автобус № 492",
            sid: "36",
            text:
                "<p>Остановка &laquo;м. Митино&raquo; &rarr; Остановка &laquo;Госпиталь&raquo; ул. Кирова (16&nbsp;минут в&nbsp;пути)</p>",
            origin: [55.847409551562, 37.361294031143],
            destination: [55.834566061912, 37.282608747482],
            travelMode: "transit",
            waypoints: [
                { lat: 55.84087387806, lng: 37.350822687149 },
                { lat: 55.839699147439, lng: 37.350790500641 },
                { lat: 55.833059746254, lng: 37.355886697769 },
                { lat: 55.81973535062, lng: 37.358365058899 },
                { lat: 55.818312847936, lng: 37.34915971756 },
                { lat: 55.836433812298, lng: 37.294195890427 },
            ],
        },

        {
            title: "Автобус № 542п",
            sid: "36",
            text:
                "<p>Метро &laquo;Тушинская&raquo; &rarr; Остановка &laquo;Госпиталь&raquo; ул. Кирова (26 минут в&nbsp;пути)</p>",
            origin: [55.827431634767, 37.436739206314],
            destination: [55.834566061912, 37.282608747482],
            travelMode: "transit",
            waypoints: [
                { lat: 55.826660266955, lng: 37.425956726074 },
                { lat: 55.828974324503, lng: 37.370703220367 },
                { lat: 55.818969857757, lng: 37.338066101074 },
            ],
        },

        {
            title: "Пройти пешком",
            sid: "36",
            text: "11 минут",
            origin: [55.823743394141, 37.247471809387],
            destination: [55.827226741684, 37.235931873583],
            travelMode: "walking",
        },
    ];

    window.routesDesctiptions2 = [
        {
            title: "Автобусы, маршрутки от ст. м. «Митино» до офиса продаж — 52 мин. с учетом пересадок и ожидания",
            text:
                "1) От&nbsp;ст.&nbsp;м. «Митино» до&nbsp;авт. остановки «Улица Кирова»&nbsp;— 17&nbsp;мин.<br> 2) От&nbsp;авт. остановки «Улица Кирова» до&nbsp;авт. остановки «Платформа Опалиха»&nbsp;— 11&nbsp;мин.<br>3) От&nbsp;авт. остановки «Платформа Опалиха» до&nbsp;офиса продаж 0,65&nbsp;км&nbsp;— 8&nbsp;мин.",

            waypoints: [
                { lat: 55.845504783781, lng: 37.358509551197, mode: "DRIVING" },
                { lat: 55.83390569955, lng: 37.299773677422, mode: "TRANSIT" },
                { lat: 55.824058220648, lng: 37.246155449626, mode: "TRANSIT" },
                { lat: 55.827375430542, lng: 37.235416574907, mode: "WALKING" },
            ],
        },

        {
            title: "От ж/д ст. «Тушино» до ж/д ст. «Опалиха» – 16 мин.",
            text: "с&nbsp;4:30 утра до&nbsp;1:04&nbsp;ночи, всего 91&nbsp;рейс по&nbsp;будням",

            waypoints: [
                { lat: 55.826877215698, lng: 37.441191673279, mode: "DRIVING" },
                { lat: 55.823751656105, lng: 37.247089150043, mode: "TRANSIT" },
                { lat: 55.827767995975, lng: 37.234398860168, mode: "WALKING" },
            ],
        },

        {
            title: "От Рижского вокзала до ж/д ст. «Опалиха» — 40 мин.",
            text: "с&nbsp;4:10 утра до&nbsp;0:40&nbsp;ночи, всего 39&nbsp;рейсов по&nbsp;будням",

            waypoints: [
                { lat: 55.792548114705, lng: 37.632658481598, mode: "DRIVING" },
                { lat: 55.823345621811, lng: 37.246828079224, mode: "TRANSIT" },
                { lat: 55.827297052966, lng: 37.235790410575, mode: "WALKING" },
            ],
        },

        {
            title: "От МКАД по Волоколамскому шоссе – 13 км",
            text: "Без пробок&nbsp;&mdash; от&nbsp;22&nbsp;мин.<br>В&nbsp;час-пик&nbsp;&mdash; от&nbsp;30&nbsp;мин.",

            waypoints: [
                { lat: 55.827620664446, lng: 37.23477293096, mode: "DRIVING" },
                { lat: 55.83258786407, lng: 37.395373873878, mode: "DRIVING" },
            ],
        },

        {
            title: "От МКАД по Новорижскому шоссе – 16 км",
            text: "Без пробок&nbsp;&mdash; от&nbsp;24&nbsp;мин.<br>В&nbsp;час-пик&nbsp;&mdash; от&nbsp;46&nbsp;мин.",

            waypoints: [
                { lat: 55.788538571535, lng: 37.380612335799, mode: "DRIVING" },
                { lat: 55.827479888158, lng: 37.235185837378, mode: "DRIVING" },
                { lat: 55.827479888158, lng: 37.235185837378, mode: "DRIVING" },
            ],
        },

        {
            title: "Автобус/Маршрутное такси № 833/833к",
            text:
                "<p>Остановка &laquo;Госпиталь&raquo; ул. Кирова &rarr; Остановка &laquo;Платформа Опалиха&raquo; (5&nbsp;минут в&nbsp;пути)</p>",

            waypoints: [
                { lat: 55.834460891741, lng: 37.282660407491, mode: "TRANSIT" },
                { lat: 55.831174026845, lng: 37.279936356081, mode: "TRANSIT" },
                { lat: 55.824007364685, lng: 37.265057877787, mode: "TRANSIT" },
                { lat: 55.82192988822, lng: 37.253490585192, mode: "DRIVING" },
                { lat: 55.823743394141, lng: 37.247471809387, mode: "DRIVING" },
            ],
        },

        {
            title: "Автобус № 492",
            text:
                "<p>Остановка &laquo;м. Митино&raquo; &rarr; Остановка &laquo;Госпиталь&raquo; ул. Кирова (16&nbsp;минут в&nbsp;пути)</p>",

            waypoints: [
                { lat: 55.847409551562, lng: 37.361294031143, mode: "TRANSIT" },
                { lat: 55.84087387806, lng: 37.350822687149, mode: "TRANSIT" },
                { lat: 55.839699147439, lng: 37.350790500641, mode: "TRANSIT" },
                { lat: 55.833059746254, lng: 37.355886697769, mode: "DRIVING" },
                { lat: 55.81973535062, lng: 37.358365058899, mode: "DRIVING" },
                { lat: 55.818312847936, lng: 37.34915971756, mode: "TRANSIT" },
                { lat: 55.836433812298, lng: 37.294195890427, mode: "DRIVING" },
                { lat: 55.834566061912, lng: 37.282608747482, mode: "DRIVING" },
            ],
        },

        {
            title: "Автобус № 542п",
            text:
                "<p>Метро &laquo;Тушинская&raquo; &rarr; Остановка &laquo;Госпиталь&raquo; ул. Кирова (26 минут в&nbsp;пути)</p>",

            waypoints: [
                { lat: 55.827431634767, lng: 37.436739206314, mode: "TRANSIT" },
                { lat: 55.826660266955, lng: 37.425956726074, mode: "TRANSIT" },
                { lat: 55.828974324503, lng: 37.370703220367, mode: "TRANSIT" },
                { lat: 55.818969857757, lng: 37.338066101074, mode: "DRIVING" },
                { lat: 55.834566061912, lng: 37.282608747482, mode: "DRIVING" },
            ],
        },

        {
            title: "Пройти пешком",
            text: "11 минут",

            waypoints: [
                { lat: 55.823743394141, lng: 37.247471809387, mode: "DRIVING" },
                { lat: 55.827226741684, lng: 37.235931873583, mode: "WALKING" },
            ],
        },
    ];

    window.infrasObjsMarkers = [
        {
            title: "Офис продаж",
            coord: [55.827613460333, 37.23504188717],
            img: "/img/map_markers/building.png",
            hover: true,
        },
        {
            title: "ЖД станция &quot;Опалиха&quot;",
            coord: [55.823330086598, 37.246837497384],
            img: "/img/map_markers/transport.png",
            hover: true,
        },
        {
            title: "Метро Митино",
            coord: [55.84633729458, 37.361181039293],
            img: "/img/map_markers/metro.png",
            hover: true,
        },
        {
            title: "Остановка улица Кирова",
            coord: [55.832421770268, 37.302541622966],
            img: "/img/map_markers/ostanovka.png",
            hover: true,
        },
        {
            title: "Остановка &quot;Опалиха&quot;",
            coord: [55.823733885911, 37.247481227548],
            img: "/img/map_markers/ostanovka.png",
            hover: true,
        },
        {
            title: "ЖД станция Тушино",
            coord: [55.826873734573, 37.441222549111],
            img: "/img/map_markers/transport.png",
            hover: true,
        },
        {
            title: "ЖД станция Рижский вокзал",
            coord: [55.79252050388, 37.632678628594],
            img: "/img/map_markers/transport.png",
            hover: true,
        },
        {
            title: "Остановка «Госпиталь»",
            coord: [55.834482374599, 37.282700424286],
            img: "/img/map_markers/ostanovka.png",
            hover: true,
        },
    ];

    function exx() {
        var waypoints = routesDesctiptions2[1].waypoints;

        for (var ii = 1; ii < waypoints.length; ii++) {
            start_p = [waypoints[ii - 1].lat, waypoints[ii - 1].lng];
            finish_p = [waypoints[ii].lat, waypoints[ii].lng];

            if (waypoints[ii].mode == "WALKING") {
                transportMap.drawRoute({
                    origin: start_p,
                    destination: finish_p,
                    strokeColor: "#006400",
                    strokeOpacity: 0,
                    icons: [
                        {
                            icon: {
                                path: "M 0,-1 0,1",
                                strokeOpacity: 1,
                                strokeColor: "#c43f60",
                                //strokeWeight: 6,
                                scale: 4,
                            },
                            offset: "0",
                            repeat: "25px",
                        },
                    ],
                    waypoints: [],
                    travelMode: "WALKING",
                });
            } else {
                transportMap.drawRoute({
                    origin: start_p,
                    destination: finish_p,
                    strokeColor: "#9f64d1",
                    waypoints: [],
                    travelMode: waypoints[ii].mode,
                });
            }
        }
    }