.Accordion
    &_label
        color #575759
        font-weight 400
        background-color #ffffff
        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .1)
        display block
        cursor pointer
        position relative
        @media $xs
            font-size 20px
            padding 19px 54px 19px 24px
            margin-bottom 3px
        @media $sm
            font-size 25px
            padding 16px 54px 16px 26px
            margin-bottom 3px
        @media $md
            padding 18px 46px
            font-size 30px
            margin-bottom 4px
        &:after
            content ''
            position absolute
            width 14px
            height 12px
            display block
            transition .2s
            top 50%
            margin-top -5px
            background url(/img/accordion_angle.svg) center no-repeat
            background-size 100% auto
            @media $smMinus
                right 32px
            @media $md
                right 50px
        &-active
            &:after
                transform rotate(180deg)