.ArticleBurger
    min-width 230px
    color #fff
    position fixed
    transform translate(0, -50%)
    top 50%
    left 0
    z-index 100
    overflow hidden

    @media (max-width 1023px)
        display none

    &_list
        list-style none
        margin 0
        padding 0
        transition width 0.2s
        width 54px
        overflow hidden
        font-size 0
        white-space: nowrap
        &:hover
            width 100%
            font-size 16px

    &_item
        height 54px
        background-color #91a34c
        position relative
        word-break keep-all

        & .ArticleBurger_itemImgWrap
            background-color #91a34c

        &:hover
            & .ArticleBurger_itemImgWrap
                background-color darken(#91a34c, 3)

        &-red
            background-color #ac3149
            & .ArticleBurger_itemImgWrap
                background-color #ac3149
            &:hover
                & .ArticleBurger_itemImgWrap
                    background-color darken(#ac3149, 3)
        
        &-purple
            background-color #9699c7
            & .ArticleBurger_itemImgWrap
                background-color #9699c7
            &:hover
                & .ArticleBurger_itemImgWrap
                    background-color darken(#9699c7, 3)

        &-yellow
            background-color #d4c445
            & .ArticleBurger_itemImgWrap
                background-color #d4c445
            &:hover
                & .ArticleBurger_itemImgWrap
                    background-color darken(#d4c445, 3)

    &_itemName
        display block
        width: 100%
        height: 100%
        display flex
        align-items center
        padding 15px
        border-bottom 1px solid #fff
    &_link
        display flex
        align-items center
        width 100%
        height 100%

    &_itemImgWrap
        width 54px
        height 54px
        display flex
        justify-content center
        align-items center
        flex-shrink: 0
        border-bottom 1px solid #fff
