.articles
  &__link
    color #8f3149
    position relative
    padding-right 20px
    transition color .3s ease
    font-size 15px
    &:after
      content ''
      position absolute
      right 0
      top 0
      background url("/img/angle.svg") no-repeat center / contain
      opacity 1
      width 11px
      height 100%
    &:first-of-type
      padding-left 20px
      &:after
        left 0
        right inherit
        transform rotate(180deg)
    &:hover
      color lighten(#8f3149, 20%)
    &--inactive
      color #575759
      opacity .3
      cursor default
      pointer-events none

  &__header
    display flex
    align-items center
    justify-content space-between
    max-width 575px
    margin 0 auto
    font-family 'Gotham Pro'
    font-size 14px
    position relative
    z-index 1
    @media $md
      max-width 992px
  &__select
    display inline-block
    line-height 1.6
    margin-right 14px
    width 150px
    &:last-of-type
      width 95px
    @media $sm
      width 190px
      &:last-of-type
        width 120px
    @media $md
      width 120px
      &:last-of-type
        width 60px

    .ui-selectmenu-button.ui-button
      @media $md
        padding 10px
        background transparent
        box-shadow none
    .ui-selectmenu-text
        @media $md
            color #575759
            opacity .7
            font-weight 400
    .ui-selectmenu-icon
        @media $md
            background url("/img/select-ico.svg") no-repeat center / contain
            right 0
            opacity 1
            transform rotate(0)

    .ui-menu .ui-menu-item-wrapper
        @media $md
            padding 10px
  &__search
    max-width 50px
    width 100%
    height 50px
    background-color #fff
    box-shadow 0 5px 12px 0 rgba(0, 0, 0, .08)
    position absolute
    right 0
    top 0
    z-index 102
    transition max-width .5s ease
    @media $md
      max-width 175px
      height 40px
      box-shadow none
      border-bottom 1px solid #efefef
    input
      outline 0
      border 0
      vertical-align middle
      padding 0
    input[type="text"]
      width 50px
      height 100%
      font-size 0
      position relative
      z-index 2
      background transparent
      @media $md
        font-size 15px
        width 85%
    input[type="submit"]
      height 50px
      width 50px
      background url("/img/search-ico.svg") no-repeat center / 12px
      font-size 0
      cursor pointer
      opacity .7
      position absolute
      right 0
      top 0
      z-index 1
      @media $md
        height 100%
        background-position center right
        width 15%
    @media $smMinus
      &--active
        max-width 100%
        input[type="text"]
          width 85%
          padding-left 10px
          font-size 14px
  &__wrp
    max-width 575px
    margin 50px auto 0
    @media $md
      margin-top 35px
      display flex
      flex-wrap wrap
      max-width 100%
  &--single
    .articles__wrp
      display block
    .articles__header
      width 90%
      @media $smPlus
        width 100%
    .article
      width 100%
      opacity 1
      &__title
        color #8f3149
        &:after
          display none
      &__text
        max-height 100%
        overflow visible
        margin 10px 0 20px
        @media $smPlus
          margin 20px 0
          &:first-of-type
            margin 35px 0 20px
      &__link
        display none
      &:hover
        &:before
          height 70px
      &:after
        opacity 1

.article
  font-family 'Gotham Pro'
  opacity .7
  color #575759
  width 100%
  position relative
  transition opacity .2s ease
  margin-bottom 60px
  padding 0 16px
  &:hover
    opacity 1
    &:before
      height 110px
    &:after
      opacity 1
    .article__title
      color #8f3149
    .article__link
      opacity 1
  &__date
    font-size 18px
    color #859938
    font-weight 600
    line-height 1
    margin-bottom 20px
    @media $smPlus
      position absolute
      left -23px
      top 0
      margin-bottom 0
  &__date-show-smPlus
    font-size 10px
    display none
    text-align right
    @media $smPlus
      display block
  &__date-hide-smPlus
    display inline-block
    font-size 18px
    @media $smPlus
      display none
  &__title
    font-size 20px
    transition color .2s ease
    line-height 1
    &:hover
      color lighten(#8f3149, 10%)
    @media $sm
      font-size 25px
    @media $md
      font-size 30px
  &__text
    font-size 14px
    line-height 24px
    margin 10px 0
    @media $smPlus
      margin 25px 0
      max-height 70px
      overflow hidden
    @media $md
      font-size 15px
      margin 35px 0
  &__link
    color #8f3149
    position relative
    float right
    padding-right 20px
    opacity 0
    transition opacity .2s ease, color .2s ease
    display none
    &:after
      content ''
      position absolute
      right 0
      top 0
      background url("/img/angle.svg") no-repeat center / contain
      opacity 1
      width 11px
      height 100%
    @media $smPlus
      display block
      &:hover
        color lighten(#8f3149, 10%)
  @media $smPlus
    padding 0 25px 25px 56px
    margin-bottom 0
    &:before
      content ''
      position absolute
      top 60px
      left 0
      width 1px
      height 70px
      background #859938
      transition height .3s ease
    &:after
      content ''
      position absolute
      top 70px
      left -15px
      background url("/img/news-leafs.svg") no-repeat center / contain
      width 30px
      height 35px
      opacity 0
      transition opacity .3s ease
  @media $md
    width 50%
    &:before
      top 80px
    &:after
      top 85px
  &__form
    @media $xs
      padding  0 16px
    @media $sm
      padding  0 46px 0 56px
    @media $md
      padding  0 56px 80px