.AwardsIcon
    position absolute
    left 123px
    top 0
    width 150px
    height 150px
    display flex
    justify-content center
    align-items center
    z-index 201
    @media $smMinus
        left 78px
    @media (max-width: 1023px)
        left 0
        top 46px
    @media $xs
        left 120px
        top 0
        width 100px
        height 100px
    & img
        display block
        @media $xs
            width 60px