.BankList
    @media $xs
        padding-bottom 42px
    @media $sm
        padding-bottom 66px
    @media $md
        padding-bottom 52px
    &_plate
        background #fff
        box-shadow 0 4px 10px 0 rgba(0, 0, 0, .1)
        position relative
        @media $xs
            margin-bottom 36px
        @media $sm
            margin-bottom 40px
        @media $md
            margin-bottom 43px
        &:after
            content ''
            position absolute
            pointer-events none
            top 0
            bottom 0
            left 0
            right 0
            border 15px solid white
            border-top 0
            border-bottom 0
            @media $sm
                border-width 27px
            @media $md
                border-width 47px

    &_tbl
        width 100%
        table-layout fixed
    &_tblBody-closed > &_row
        display none
    &_tblBody-closed > &_row-primary
        display table-row
    &_colHead,
    &_cell
        text-align center
        @media $xs
            padding 20px 10px
        @media $sm
            padding 30px 10px
        @media $md
            padding 30px 10px
        &:first-child
            @media $smMinus
                width 32%
        
    &_cell
        &:first-child
            text-align left
            @media $xs
                padding-left 16px
            @media $sm
                padding-left 28px
            @media $md
                padding-left 48px
        &:last-child
            padding-right 0
            
            
    &_colHead
        font-weight 400
        color #575759
        @media $xs
            font-size 10px
        @media $smPlus
            font-size 12px
    &_cell
        border-bottom 1px solid #ebebeb
        color #0e0e0e
        @media $xs
            font-size 12px
    &_logo
        max-width 100%
    &_bottomRow
        display flex
        justify-content center
        align-items center
        @media $xs
            height 65px
        @media $sm
            height 98px
        @media $md
            height 102px
    &_showMore
        color #859938
        display inline-block
        font-weight 500
        @media $smMinus
            font-size 14px
        @media $md
            font-size 15px
        &:hover
            color #859938
            text-decoration underline
        & > .SvgIco-angleDown
            transform scale(1.4)
            margin-left 10px
    &_footer
        @media $xs
            padding-left 16px
        @media $sm
            padding-left 26px
        @media $md
            padding-left 5px