.Bird
  background-image embedurl("../../../assets/img/bird_fly/1.svg")
  width 36px
  height 39px
  margin-top -37px
  background-size contain
  background-position center
  background-repeat no-repeat
  position absolute
  z-index 100
  will-change top, left
  @media $xs
      display none
  @supports (-ms-ime-align:auto)
      // MS Edge only
      display none
  @media all and (-ms-high-contrast:none)
      // IE11 only
      display none
  &-flipHead
    background-image embedurl("../../../assets/img/bird_fly/2.svg")
  &-animate
    animation flapWings .1s infinite linear
    width 46px
    height 49px
    margin-top -47px
  &-n1
    @media $sm
        left 50%
    @media $md
        left 50%
  &-n2
    @media $sm
        left 50%
    @media $md
        left calc(50% - 78px)
  &-n3
    @media $sm
        left calc(50% + 122px)
    @media $md
        left calc(50% - 38px)
  &-n4
    @media $sm
        left calc(50% + 122px)
    @media $md
        left calc(50% + 122px)
@keyframes flapWings
  0%
    background-image embedurl("../../../assets/img/bird_fly/3.svg")
  100%
    background-image embedurl("../../../assets/img/bird_fly/4.svg")