.BldNav
    @media $sm
        padding-top 10px
    @media $md
        padding-top 24px
    &-forHousePage
        padding-top 0
    &_item,
    &_linksWrap
        display flex
        align-items center
    &_item
        width 100%
        border-bottom 1px solid #d9d9d9
        @media $xs
            padding 16px 0
        @media $sm
            padding 23px 0
        @media $md
            padding 23px 0
    &_label
        flex 1
        font-size 14px
        letter-spacing .1px
        color #3c3c43
        font-family Verdana, sans-serif
        @media $md
            font-size 15px
    &_arrow
        color #bebecd
        display inline-block
        padding-left 20px
        cursor pointer
        &:hover
            @media $smMinus
                color #bebecd
            @media $md
                color #c35975
        &-prev
            transform scaleX(-1)
            order -1
        &-disabled
            opacity .3
            pointer-events none
            
    &_currentVal
        font-size 15px
        font-weight 500
        color #c35975
        pointer-events none
        width 26px
        text-align center
        padding 0
        border 0
        background none
        outline 0
        caret-color rgba(0, 0, 0, 0)
    &_item-huge > &_label
        font-size 24px
        letter-spacing .2px
        @media $md
            font-size 24px
    &_item-huge > &_linksWrap > &_currentVal
        font-size 24px
        letter-spacing .2px
        width 56px
    &-forHousePage > &_item
        border-bottom none