.BldScheme
    display block
    width 100%
    height auto
    max-height 630px
    @media $smMinus
        margin-bottom 20px
    @media $ie11
        height 630px
    &_link
        fill #c43f60
        opacity 0
        transition all .2s
        cursor pointer
        &-active
            opacity .5