.Box
    width 100%
    margin-right auto
    margin-left auto
    @media $xs
        padding-right 16px
        padding-left 16px
    @media $sm
        max-width $smBoxWidth
    @media $md
        max-width $mdBoxWidth
    &-smExtended
        @media $sm
            max-width 674px
    &-noPadding
        position relative
        max-width 100%
        @media $smMinus
            padding 0
    &-xsNoPadding
        @media $xs
            padding 0
    &-filtersPageTop
        @media $xs
            padding-top 118px
            padding-bottom 10px
        @media $sm
            padding 97px 25px 20px
        @media $md
            padding 46px 50px 0px 14px
    
    &-filtersPageTopNoBird
        @media $xs
            padding-top 60px
            padding-bottom 10px
        @media $sm
            padding 50px 0px 20px 0
        @media $md
            padding 46px 0px 20px 0px