.Breadcrumbs
    &_list
        display flex
        flex-wrap wrap
        padding 0
        list-style none
        @media $smMinus
            margin-bottom 8px
        @media $md
            margin-bottom 10px
    &_item
        color #3c3c3c
        position relative
        margin-bottom 10px
        font-family Verdana, Arial, sans-serif
        @media $sm
            font-size 14px
            letter-spacing 0.1px
        @media $md
            font-size 15px
        & + &
            padding-left 33px
            &:before
                content ''
                left 16px
                margin-left -10px
                top 50%
                margin-top -3px
                position absolute
                height 8px
                width 20px
                background embedurl("../../../assets/img/angle.svg", "utf8") center no-repeat
                background-size contain
    &_link
        color #8f3149
        &:hover
            color #8f3149
            text-decoration underline