.Btn
	display inline-block
	font-weight 500
	text-align center
	white-space nowrap
	vertical-align middle
	user-select none
	background-color #859938
	box-shadow 7px -7px rgba(133, 153, 56, .3)
	color #fff
	font-size inherit
	cursor pointer
	line-height 1.5
	border 0
	transition all .1s
	@media $smMinus
		padding 10px 17px
		font-size 14px
	@media $md
		padding 11px 21px
		font-size 15px
	&:hover
		color #fff
		background-color mix(#859938, #000, 80%)
		box-shadow 1px -1px rgba(133, 153, 56, .3)

	&-color2
		background-color #c63f61
		box-shadow 7px -7px mix(#c63f61, #fff, 30%)
		&:hover
			background-color mix(#c63f61, #000, 80%)
			box-shadow 1px -1px mix(#c63f61, #fff, 30%)

			@media $xs
				background-color #c63f61
				box-shadow 7px -7px mix(#c63f61, #fff, 30%)
	&-color3
		background-color #9893c0
		box-shadow 7px -7px rgba(152, 147, 192, .3)
		&:hover
			background-color  mix(#9893c0, #000, 80%)
			box-shadow 1px -1px rgba(152, 147, 192, .3)
	&-ghost
		box-shadow none
		background rgba(0, 0, 0, 0)
		border 1px solid #c43f60
		color #c43f60
		&:hover
			background rgba(0, 0, 0, 0)
			color #c43f60
			box-shadow none
	&-white
		background-color #fff
		color #8f3149
		box-shadow 7px -7px mix(#c63f61, #fff, 70%)
		&:hover
			background-color mix(#fff, #8f3149, 80%)
			box-shadow 1px -1px mix(#c63f61, #fff, 30%)
	&-big
		width 100%
		max-width 290px
		font-size 15px
		padding 14px 17px
		@media $smPlus
			width auto
			padding 14px 35px

		@media $xs
			font-size 14px

	&-extended
		@media $smMinus
			padding 10px 32px
		@media $md
			padding 11px 54px
	&-forPageHeading
		@media $xs
			width calc(100% - 12px)
			margin-top 44px
		@media $smPlus
			position absolute
			right 0
			transform translateY(-100%)
	&-size2
		@media $xs
			padding 13px 34px
		@media $smPlus
			padding 11px 32px

	&._simple
		padding 0
		width 52px
		height 52px
		box-shadow none
		background-repeat no-repeat
		background-position 50% 50%

		&._print
			background-image url('/img/calculator/Print_icon.svg')

			@media $smMinus
				display none !important

		&._email
			background-image url('/img/calculator/Mail_icon.svg')

.BtnPresentation
	display block
	padding-left 50px
	position relative
	color #575759
	font-size 15px
	font-weight 500

	&:after
		content ''
		display block
		width 40px
		height 40px
		transform: translate(0, -50%)
		left 0
		top 50%
		position absolute
		background url('../img/presentation.svg') center/contain no-repeat
