.calculator
  padding-bottom 100px

  h2
    font-size 30px
    padding-left 41px
    margin-bottom 40px
    font-weight 500

  p
    &:last-child
      margin-bottom 0

  &__section
    margin-bottom 80px

    &:nth-last-child(2)
      margin-bottom 0

  @media $sm
    padding-bottom 60px

    .Box-smExtended
      max-width 720px

    .Teaser_txtWrap
      padding 30px 40px 0
      margin-bottom 40px

    &__section
      margin-bottom 40px

  @media $xs
    padding-bottom 60px

    h2
      font-size 22px
      padding 0
      margin-bottom 30px

    p
      font-size 14px

    .Teaser_txtWrap
      padding 0
      margin-bottom 25px

    &__section
      margin-bottom 40px

.calculator-desc
  display flex
  flex-direction row
  justify-content flex-start
  align-items flex-start
  height 820px

  &__item
    position relative
    width calc(100% - 510px)
    height 100%
    padding 40px 45px 0
    background-color #fff
    box-shadow 0 2px 14px 0 rgba(0, 0, 0, 0.12)

    &._hide
      display none

      &._active
        display block;

    &._empty
      .calculator-result__more
        display none

      .calculator-result
        height auto
        margin 0

        &__empty
          position static
          transform none
          padding 0 15px 60px

    &._short
      .calculator-result__more
        display none

      .calculator-result
        height auto
        margin 0

    &:first-child
      width 490px
      margin-right 20px

      &:before,
      &:after
        content ''
        position absolute
        bottom 0

      &:before
        right 5px
        width 46px
        height 133px
        background transparent url('/img/calculator/calc_tree.svg') 0 0 no-repeat

        @media $sm
          transform scale(1.5)
          right 135px
          bottom 33px

      &:after
        right 65px
        width 31px
        height 88px
        background transparent url('/img/calculator/calc_tree_shadow.svg') 0 0 no-repeat

        @media $sm
          transform scale(1.5)
          right 65px
          bottom 22px

    &:last-child
      padding-right 10px

  &__tlt
    position relative
    font-size 20px
    color #575759
    line-height 38px
    padding-bottom 30px
    margin-bottom 25px

    &:before
      content ''
      position absolute
      bottom 0
      left 0
      background transparent url('/img/calc-tlt-branch.svg') 0 0 no-repeat
      width 70px
      height 27px

  @media $sm
    flex-wrap wrap
    height auto

    &__item
      width 100%

      &:first-child
        width 100%
        margin-right 0
        margin-bottom 0
        z-index 100
        padding-bottom 35px

      &:last-child
        padding 40px 45px 35px

  @media $xs
    width calc(100% + 32px)
    margin-left -16px
    height auto
    flex-wrap wrap

    &__tlt
      margin-bottom 25px
      padding-left 0
      font-size 16px

      &:before
        left 0

    &__item
      width 100%

      &:first-child
        width 100%
        padding 30px 15px
        margin 0
        z-index 100

        &:before,
        &:after
          display none

      &:last-child
        width calc(100% - 30px)
        margin 0 auto
        padding 40px 0

        .calculator-desc__tlt
          padding-left 20px

          &:before
            left 20px

.calculator-params
  &__item
    margin-bottom 35px

    &:last-child
      margin-bottom 0
      display flex
      flex-direction row
      justify-content flex-start
      align-items center

      @media $xs
        justify-content space-between

    .Btn
      width 190px
      height 45px
      line-height 45px
      padding 0
      display none
      margin 0 auto

      &._simple
        width 52px

        @media $smMinus
          height 52px
          margin-top -5px !important

      &:first-child
        display block

    &._active
      @media $smMinus
        padding 0 10px

      .Btn
        display block
        margin 0 25px 0 0

        &:last-child
          margin-right 0

  &__lbl
    display block
    font-size 15px
    line-height 35px
    margin-bottom 5px
    color #575759

  &__double
    display flex
    flex-direction row
    justify-content space-between
    align-items flex-start
    width 100%

  &__input
    display block
    padding 0
    border 0
    background transparent
    font-size 15px
    font-family 'Verdana'
    width 50%

    &[readonly]
      cursor default

    &._percent
      text-align right

    &:focus
      outline none

  @media $sm
    display flex
    flex-direction row
    flex-wrap wrap

    &__item
      width calc(50% - 20px)

      &:nth-child(2n - 1)
        margin-right 40px

      &:last-child
        width 100%

        .Btn
          margin-left 0

  @media $xs
    &__item
      &._active
        .Btn
          margin-right 20px

.calculator-result
  height calc(100% - 121px)
  overflow-y auto

  &__inner
    position relative
    padding-right 25px
    height 100%

  &__empty
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)
    max-width 330px
    text-align center
    padding-bottom 60px

    &:before
      content ''
      position absolute
      bottom 0
      left 50%
      width 40px
      height 30px
      background transparent url('/img/calculator/bird_simple.svg') 0 0 no-repeat
      margin-left -20px

  &__item
    padding 20px 0
    border-bottom solid 1px #979797
    animation animateElement linear .3s
    animation-iteration-count 1
    height 110px

    &:first-child
      padding-top 0

    &:last-child
      border-bottom 0

  &__more
    display none
    position absolute
    bottom 40px
    left 50%
    transform translateX(-50%)
    color #859938
    font-size 15px
    font-family 'Verdana'
    padding-right 30px
    cursor pointer

    &:before,
    &:after
      content ''
      position absolute
      right 0
      top 50%
      width 10px
      height 1px
      background-color #859938

    &:before
      transform rotate(45deg)
      right 7px

    &:after
      transform rotate(-45deg)

    &._active
      &:before
        transform rotate(-45deg)
      &:after
        transform rotate(45deg)

  &::-webkit-scrollbar
    width 10px

  &::-webkit-scrollbar-button
    display none

  &::-webkit-scrollbar-track
    background transparent

  &::-webkit-scrollbar-thumb
    background #859938
    border-radius 5px

  &::-webkit-scrollbar-thumb:hover
    background rgba(#859938, .8)

  @media $smMinus
    overflow hidden
    height 549px
    margin-bottom 65px

    &__inner
      padding 0

    &__more
      display block

  @media $xs
    margin-bottom 40px

    &__item
      height auto

    &__more
      font-size 15px
      white-space nowrap

.calculator-result-item
  display flex
  flex-direction row
  justify-content flex-start
  align-items center

  &__td
    margin-right 45px
    text-align center

    &:last-child
      margin-right 0

    &:first-child
      margin-right 50px

  &__img
    width 70px
    height 70px

  &__val
    color #0e0e0e
    font-family 'Verdana'

  &__key
    color #575759

  @media $sm
    &__td
      margin 0
      width 25%

      &:first-child
        margin-right 0

    &__img
      display block
      margin 0 auto

  @media $xs
    flex-wrap wrap

    &__td
      margin 0
      width 27.5%
      font-size 14px

      &:first-child
        width 100%
        margin 0 0 10px 0

      &:last-child
        width 45%

    &__img
      width 50px
      height 50px

.calculator-slider
  margin-bottom 15px
  height 2px
  border 0
  background-color #d8d6e5

  &__range
    background-color #859938

  &__handle
    transition ease .3s transform
    width 22px
    height 22px
    border-radius 50%
    border solid 1px rgba(#859938, .3)
    background-color transparent
    padding 4px
    cursor default
    top -11px
    margin-left -11px

    &:before
      transition ease .1s background-color
      content ''
      background-color #859938
      display block
      height 100%
      border-radius 50%

    &.ui-state-hover
      &:before
        background-color rgba(#859938, .9)

    &.ui-state-active
      transform scale(.9)

    &:focus
      outline none

  &.ui-slider-disabled
    .calculator-slider__range
      width 100% !important

    .calculator-slider__handle
      display none

.calculator-benefits
  display flex
  flex-direction row
  flex-wrap wrap
  justify-content flex-start
  padding 0 40px
  margin-bottom -30px

  &__item
    position relative
    width 50%
    padding 0 0 0 74px
    margin-bottom 30px

    &:nth-child(2n - 1)
      padding-right 40px

  &__tlt
    font-size 20px
    line-height 24px
    color #363738
    font-weight 500
    margin-bottom 5px

  &__txt
    font-size 16px
    line-height 24px
    color #7c7c7c

  &__ico
    position absolute
    width 54px
    height 54px
    left 0
    top 50%
    margin-top -27px
    background-repeat no-repeat
    background-position 50% 50%

    &._manager
      background-color #ac3149
      background-image url('/img/calculator/calc_ico_person.svg')

    &._time
      background-color #9699c7
      background-image url('/img/calculator/calc_ico_clock.svg')

    &._hypo
      background-color #91a34c
      background-image url('/img/calculator/calc_ico_hypo.svg')

    &._rate
      background-color #d4c445
      background-image url('/img/calculator/calc_ico_money.svg')

  @media $sm
    padding-right 0

    &__item
      padding-left 0

    &__ico
      top 0
      margin 0

    &__tlt
      display flex
      align-items center
      padding-left 74px
      height 54px
      line-height 1.2
      margin-bottom 15px

  @media $xs
    margin 0
    padding 0

    &__item
      width 100%
      padding-right 0
      padding-left 64px

      &:nth-child(2n - 1)
        padding-right 0

      &:last-child
        margin-bottom 0

    &__tlt
      font-size 16px

    &__txt
      font-size 14px
      line-height 20px

.calculator-order
  display flex
  flex-direction row
  justify-content flex-start
  align-items center

  h2
    position relative
    font-size 30px
    color #575759
    line-height 38px
    padding-bottom 30px
    margin-bottom 40px
    padding-left 0

    &:before
      content ''
      position absolute
      bottom 0
      left 0
      background transparent url('/img/calc-tlt-branch.svg') 0 0 no-repeat
      width 70px
      height 27px

  h3
    font-size 20px
    font-weight 500
    margin-bottom 40px

  &__part
    width calc(100% - 490px)

    &:first-child
      position relative
      z-index 10
      width 490px
      padding 40px 45px
      background-color #fff
      box-shadow 0 2px 14px 0 rgba(0, 0, 0, 0.12)

    &:last-child
      position relative
      padding 55px 40px 55px
      background-color #ededed
      box-shadow 0 2px 10px 0 rgba(87, 87, 89, 0.28)

      &:before
        content ''
        position absolute
        top 25px
        right 0
        width 157px
        height 121px
        background transparent url('/img/calculator/birds.svg') 0 0 no-repeat;

  @media $sm
    &__part
      &:first-child
        width 390px

      &:last-child
        width calc(100% - 390px)

        &:before
          display none

  @media $xs
    flex-wrap wrap
    width calc(100% + 32px)
    margin-left -16px

    h2
      font-size 22px

    h3
      font-size 16px

    &__part
      width 100%

      &:first-child
        padding 30px 15px
        z-index 100
        width 100%

      &:last-child
        width calc(100% - 32px)
        margin 0 auto
        padding 40px 25px

        &:before
          display none

.calculator-docs
  &__item
    position relative
    padding-left 33px
    margin-bottom 25px
    color #575759

    &:before
      content ''
      position absolute
      top 50%
      left 0
      width 13px
      height 13px
      margin-top -6.5px
      border-radius 50%

    &:last-child
      margin-bottom 0
    &:first-child
      &:before
        background-color #9893c0
    &:nth-child(2)
      &:before
        background-color #859938
    &:nth-child(3)
      &:before
        background-color #c63f61

  @media $xs
    &__item
      font-size 14px

.calculator-form
  &__field
    margin-bottom 25px

    &:last-child
      margin-bottom 0

      .Btn
        display block
        width 190px
        height 45px
        margin 0 auto

    &:nth-last-child(2)
      margin-bottom 45px

  &__input
    width 100%
    padding 0
    line-height 40px
    border 0
    border-bottom solid 1px #979797

    &::placeholder
      font-size 14px
      color #3c3c43
      font-family 'Verdana'

    &:focus
      outline none

  &__note
    display block
    font-size 12px
    color #6e6e6e
    font-style normal
    margin-bottom 20px

.custom-checkbox
  position relative
  display flex
  flex-direction row
  justify-content flex-start
  align-items center
  overflow hidden

  &__inp
    position absolute
    bottom 0px
    opacity 0

    &:checked
      +.custom-checkbox__ico
        &:before
          display block
  &__ico
    position relative
    display block
    width 19px
    height 19px
    border solid 1px #979797
    margin-right 8px

    &:before
      content ''
      position absolute
      top 50%
      left 50%
      transform translate(-50%, -50%)
      background transparent url('/img/checkbox.png') 0 0 no-repeat
      width 16px
      height 12px
      display none

  &__txt
    font-size 12px

    a
      color #859938
      text-decoration underline

  @media $xs
    &__txt
      font-size 11px

.calculator-print
  display none

.calculator-email
  display none
  padding 45px 80px
  width 470px
  font-size 15px

  .calculator-form__input
    margin-bottom 25px

  p
    text-align center

  &__tlt
    position relative
    font-size 30px
    color #575759
    line-height 38px
    padding-bottom 30px
    margin-bottom 10px
    padding-left 0
    text-align center

    @media $xs
      font-size 24px
      line-height 1.2

    &:before
      content ''
      position absolute
      bottom 0
      left 50%
      background transparent url('/img/calc-tlt-branch.svg') 0 0 no-repeat
      width 70px
      margin-left -35px
      height 27px

  @media $xs
    width 100%
    padding 50px 20px 40px

@keyframes animateElement
  0%
    opacity 0
    transform translate(0px, 10px)

  100%
    opacity 1
    transform translate(0px, 0px)
