.ColorLegend
    padding-top 28px
    border-top 1px solid #d9d9d9
    margin-top -1px
    &_list
        list-style none
        padding 0
        margin 0

        &-filter
            & .ColorLegend_item
                cursor pointer
                text-decoration underline

                &:hover
                    text-decoration none

                &-notFiltered
                    text-decoration none
                    cursor initial

                &-activeFilter
                    & .ColorLegend_spot
                        &:after
                            content ''
                            display block
                            position absolute
                            left 1px
                            right 1px
                            top 1px
                            bottom 1px
                            border-radius 50%
                            border 1px solid #fff
    &_item
        display block
        position relative
        padding-left 31px
        padding-bottom 20px
        letter-spacing .1px
        font-size 12px
        line-height normal
        color #575759
        font-family Verdana, Arial, sans-serif
        display inline-block
        padding-right 40px
    &_spot
        content ''
        display block
        position absolute
        top 0
        left 3px
        width 15px
        height 15px
        border-radius 50%
        background-color val()

    &_list-tight > &_item
        padding 0 14px 11px 26px

    &_list-tight > &_item > &_spot
        width 13px
        height 13px
        top 2px