.Compass
    position absolute
    width 67px
    height 69px
    z-index 10
    pointer-events none
    background url("/img/compass_white.svg") center no-repeat
    background-size contain 
    @media $smMinus
        left 20px
        top 100px
    @media $md
        left 22px
        top 126px