.contacts
  position absolute
  left 0
  top 0
  width 100%
  height 100%
  @media $xs
    height auto
    position relative

  &_map
    width 100%
    height 100%
    display block
    @media $xs
        height "calc(100vh - %s - 154px)" % ($xsHeaderHeight)
        min-height 330px

  &_accordion
    width 100%
    box-shadow 0 4px 10px 0 rgba(0, 0, 0, .08)
    @media $sm
      max-width 389px
      position absolute
      top 115px
      right 70px
    @media $md
      max-width 570px
      position absolute
      top 130px
      right 65px

  &_accordionLabel
    margin-bottom 0
    background-color #859938
    box-shadow 0 4px 10px 0 rgba(0, 0, 0, .08)
    border-bottom 1px solid #fff
    color #fff
    font-size 15px
    padding 0 25px
    height 51px
    line-height 51px
    outline 0
    transition background-color .3s ease
    &:after
      background url("/img/angle_down.svg") no-repeat center / 100% auto
      right 25px
    &.Accordion_label-active
      background-color #c43f60
    &:last-of-type
      border-bottom none
    @media $sm
      font-size 18px
    @media $md
      font-size 20px

  &_accordionContent
    padding 28px 10px 20px 30px
    background #fff
    font-size 14px

    @media $smPlus
      padding 22px 20px 22px 40px
    @media $md
      font-size 15px

  &_accordionContentWrp
    position relative
    height 210px
    padding-right 30px
    line-height 1.6

    &:hover
      .ps__rail-y,
      .ps__thumb-y
        opacity 1

    .ps__rail-y
      right 10px
      background rgba(152, 147, 192, .3)
      width 1px
      height 90%
      opacity 1
      &:hover
        background-color rgba(152, 147, 192, .3)
        opacity 1
        .ps__thumb-y
          background-color rgba(152, 147, 192, 1)
          width 14px

    .ps__thumb-y
      width 14px
      height 14px !important
      background-color #9893c0
      padding 5px
      right -6px
      z-index 3
      margin-top 5px
      &:after
        content ''
        position absolute
        border 1px solid #9893c0
        top -4px
        left -4px
        border-radius 50px
        width 22px
        height 22px

  &_address
    margin-bottom 30px
    span
      font-weight 600
    p
      margin-bottom 0