.CustomCheckbox
    user-select none
    margin-right: 5px
    &_input
        opacity 0
        position absolute
        pointer-events none
    &_view
        @extend $flexCentered
        background mix(#9893c0, #fff, 16%)
        border-radius 50%
        border 6px solid #fff
        width 50px
        height 50px
        overflow hidden
        font-size 14px
        font-weight 500
        text-align center
        cursor pointer
        transition all .1s
        color #85858e
        @media $xs
            width 46px
            height 46px
    &_input:checked + &_view
        background #859938
        color #fff
        box-shadow 0 0 0 1px mix(#859938, #fff, 30%)
    // &_input:focus + &_view
    //     box-shadow 0 0 0 1px mix(#9893c0, #fff, 30%)

    &-elips
        & .CustomCheckbox_view
            width 110px
            height 50px
            border-radius: 40px
            font-size 14px
            font-weight 400
            color #142547

/*  &_input:not(:checked).error+&_view
        border-color: #d07b7b*/