.DefList
    @media $xs
        padding 0 14px
        margin-bottom 61px
    @media $sm
        margin-bottom 85px
    @media $md
        display flex
        flex-wrap wrap
    &_item
        @media $md
            padding 0 34px 20px 46px
            width 50%
            max-width 50%
    &_title
        font-weight 400
        color #859938
        @media $xs
            margin-bottom 20px
            font-size 20px
            line-height 1.5
        @media $sm
            margin-bottom 20px
            font-size 25px
            line-height 1.2
        @media $md
            margin-bottom 15px
            font-size 30px
            line-height 1.27
        &-red
            color #c85d78
    &_desc
        @media $smMinus
            font-size 14px
            line-height 1.64
        @media $md
            font-size 15px
            line-height 1.53
        & > p
            @media $smMinus
                margin-bottom 10px
            @media $md
                margin-bottom 12px