.Dialog
    filter drop-shadow(0 4px 10px rgba(0, 0, 0, .12))
    color #555
    &_head
        padding 9px 20px
        color #fff
        background #c43f60
        font-size 15px
        font-weight 500
        position relative
    &_content
        padding 24px 20px
        background #f8fafd
    &_dl
        display flex
        flex-wrap wrap
        margin-bottom 0
    &_dt
        font-size 14px
        font-weight 400
        width 45%
        padding-top 6px
    &_dd
        text-align right
        font-size 20px
        font-weight 500
        margin-bottom 0
        padding-bottom 11px
        width 55%

        &-pricePromo
            color #c63f61
    &_btnWrap
        text-align center
        padding-top 18px
    &_closeBtn
        position absolute
        width 38px
        height 38px
        border-radius 50% !important
        display block
        background #c43f60 url(/img/close.svg) center no-repeat
        background-size 40% 40%
        border 3px solid #f8fafd
        overflow hidden
        color #c43f60
        right -16px
        top -16px
        cursor: pointer

        &-left
            right auto
            left -16px

    &_btnStore
        margin: 15px auto
        display: block

    &-genplan
        & .Dialog_head
            background-color #fff
            box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1)
            color #859938
            padding 13px 20px
            display flex
            justify-content space-between
            align-items center

            &:after
                content ''
                border: solid #859938
                border-width: 0 3px 3px 0
                display: inline-block
                padding: 3px
                position relative
                transform: rotate(-45deg)

        & .Dialog_content
            padding 13px 20px

        & .Dialog_dt
            font-size 12px
            width 70%

        & .Dialog_dd
            font-size 12px
            width 30%
            text-align right

    &-complex

        & .Dialog_content
            display flex
            justify-content space-between
            align-items flex-start

        & .Dialog_leftBlock
            width 33%
            background-size contain
            background-repeat no-repeat
            background-position center center
            height 170px
        & .Dialog_rightBlock
            width 63%