.diary
  padding 0 16px
  margin-top 42px
  @media $sm
    padding 84px 47px 65px
  @media $md
    padding 0 0 75px
    margin-top 58px
  @media $xs
    padding 0 16px
  @media $smPlus
    padding 0
  .swiper-wrapper
    align-items center
    @media $sm
      height 384px
      .swiper-slide
        height auto
        .diary_bottom
          opacity 0
          height 70px
      .swiper-slide-active
        .diary_img
          height 294px
        .diary_bottom
          opacity 1
  &_item
    width 328px
    position relative
    padding-bottom 20px
    @media $sm
      width 576px
    @media $md
      width 542px
  &_link
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    z-index 2

  &_img
    background no-repeat center / cover
    height auto
    padding-bottom 64%
    position relative
    @media $sm
      padding-bottom 0
      transition height .7s cubic-bezier(0.25, 0.2, 0.71, 0.71)
      height 228px
    @media $md
      height 272px
      padding-bottom 0
  &_info
    width 100%
    background-color #fff
    box-shadow 0 5px 12px 0 rgba(0, 0, 0, 0.08)
    padding 22px 75px 17px 14px
    opacity 0
    transition opacity .5s ease
    font-weight 400
    text-align left
    position absolute
    bottom 0
    left 0
    visibility hidden
    @media $smPlus
      padding 22px 5px 17px 35px
      width 316px
      position absolute
      right 12px
      bottom 12px
      &:before
        content ''
        position absolute
        left 0
        top -4px
        width 3px
        height calc(100% + 9px)
        background #9893c0
  &_infoTitle
    font-size 14px
    line-height 1.21
    color #575759
    margin-bottom 12px
    &:last-of-type
      margin-bottom 0
    span
      display: inline-block;
      &:first-of-type
        width 100px
  &_infoBtn
    color #fff
    font-size 18px
    font-family 'Arial'
    font-weight bold
    border-radius 50px
    background #9893c0
    width 26px
    height 26px
    text-align center
    cursor pointer
    position absolute
    right 13px
    bottom 12px
    z-index 2
    &:after
      content 'i'
      position absolute
      font-size 18px
      z-index 2
      top 0
      left 0
      right 0
      bottom 0
      background #9893c0
      border-radius 50px
    &:hover
      width 100%
      bottom 0
      right 0
      background transparent
      font-size 0
      &:after
        width 26px
        height 26px
        right 13px
        bottom 12px
        top inherit
        left inherit
      >.diary_info
        opacity 1
        visibility visible
      @media $smPlus
        width 26px
        bottom 12px
        right 13px
        &:after
          right 0
          bottom 0
        >.diary_info
          width 316px
          right 12px
          bottom 12px
          left inherit
  &_bottom
    padding 0 16px
    background #fff
    box-shadow 0 7px 13px 0 rgba(0, 0, 0, .05)
    font-size 14px
    text-align right
    line-height 45px
    height 45px
    @media $smPlus
      padding 0 41px 0 36px
      line-height 70px
      height 70px
      font-size 15px
      transition opacity .5s ease

  &_title
    font-weight 500
    color #575759
    text-decoration none
    float left

  &_count
    color #717171

  &_btn
    box-shadow 0 7px 13px 0 rgba(0, 0, 0, .05)
    background #fff
    position absolute
    top calc(50% - 25px)
    transform translateY(-50%)
    width 48px
    height 50px
    z-index 2
    cursor pointer
    &:after
      content ''
      background url(/img/gallery-slider-btn.svg) center no-repeat
      width 100%
      height 100%
      display block
    &-prev
      left 0
      &:after
        transform rotate(180deg)
      @media $sm
        left 12px
      @media $md
        left calc(50% - 355px)
    &-next
      right 0
      @media $sm
        right 12px
      @media $md
        right inherit
        left calc(50% + 295px)
    @media $smPlus
      width 60px
      height 60px
      top 40%
    &.swiper-button-disabled
      opacity .5
      transition opacity .5s ease
      cursor default

  &-sub
    padding 60px 0 65px
    margin-top 0
    @media $sm
      padding 0 47px 65px
    @media $md
      padding 0 0 75px
      margin-top 0
    .swiper-wrapper
      align-items center
      .swiper-slide
        @media $sm
          height 100%
      @media $sm
        height auto
      @media $md
        height 621px
        .swiper-slide
          height 85%
        .swiper-slide-active
          height 100%
  &-sub &
    &_item
      width 360px
      padding 0
      position relative
      @media $sm
        width 673px
        height 425px
      @media $md
        transition height .8s cubic-bezier(.4, 0, 1, 1)
        width 986px
      &.swiper-slide-active
        .diary_close
          opacity 1
        .diary_desc
          opacity 1
        .diary_img
          @media $sm
            height 100%
    &_desc
      font-size 14px
      color #575759
      text-align center
      margin-top 38px
      @media $md
        opacity 0
        transition opacity .3s ease
        margin-top 50px
        font-size 15px
    &_img
      height 100%
      box-shadow: 0 13px 25px 0 rgba(0,0,0,0.17);
      @media $sm
        height auto
        padding-bottom 50%
    &_btn
      top 50%
      @media $sm
        top 40%
      @media $md
        top 45%
        &-prev
          left calc(50% - 581px)
        &-next
          right inherit
          left calc(50% + 521px)
    &_close
      position absolute
      right 0
      top -52px
      z-index 3
      opacity 0
      transition opacity .8s ease-in-out
      display block
      width 52px
      height 52px
      cursor pointer
      svg
        height 14px
        width 14px
        position absolute
        top 0
        left 0
        right 0
        bottom 0
        margin auto
      @media $smPlus
        top 0
        background #fff
  &-subBuild &
    &_btn
      top calc(50% - 30px)
      @media $sm
        top calc(50% - 70px)
      @media $md
        top calc(50% - 60px)

.diaryTop
  font-family 'Gotham Pro'
  font-size 14px
  color #575759
  text-align right
  padding-right 16px
  margin-top 15px
  position relative
  @media $sm
    padding-right: 0
    max-width 575px
    margin 0 auto
  @media $md
    font-size 15px
    color #717171
    max-width 992px
    margin 0 auto
    padding-right 9px

  &_count
    display inline-block
    vertical-align middle
    margin-right 36px
    text-align left
    @media $smPlus
      margin-right 61px

  &_select
    display inline-block
    line-height 1.6
    width 178px
    vertical-align middle
    text-align left
    @media (max-width: 360px)
      width 160px
    @media $smPlus
      width 190px

    &-year
      width 124px
      margin-right 22px
      @media (max-width: 360px)
        width 100px
        margin-right 25px
  &_grab
    display none
    @media $md
      display block
      position absolute
      top -8px
      right -135px
      width 61px
      height 61px
      background url("/img/grab-ico.svg") no-repeat center / contain
  &-sub
    margin 15px 0 25px
    @media $smPlus
      margin 0 auto 40px

.diaryThumb
  margin-top 30px
  position relative
  padding-bottom 30px
  &:after
    content ''
    position absolute
    bottom 10px
    left 0
    width 100%
    background #efefef
    height 1px
  .swiper-wrapper
    align-items center
  &_item
    width auto
    line-height 1
    color #4d4d4d
    transition color .3s ease, font-size .3s cubic-bezier(0.4, 0, 1, 1)
    cursor pointer
    position relative
    height 35px
    &:after
      content ''
      position absolute
      bottom -25px
      left 50%
      transform translateX(-50%)
      height 10px
      width 10px
      border-radius 50px
      background-color #c7c554
    &:before
      content ''
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      height 60px
    &.swiper-slide-active
      color #8f3149
      &:after
        background url("/img/leaf-red.svg") no-repeat center / contain
        width 20px
        height 12px
      .diaryThumb_text
        font-size 20px
        @media $smPlus
          font-size 25px
        @media $md
          font-size 30px
  &_text
    font-size 14px
    position relative
    top 50%
    left 50%
    transform translate(-50%, -50%)
    transition font-size .3s cubic-bezier(0.32, 0.4, 0.55, 0.61)
    @media $smPlus
      font-size 15px
  @media $md
    margin-top 40px