.DocCard
    background #ffffff
    box-shadow 0 4px 10px 0 rgba(0, 0, 0, .1)
    margin-bottom 20px
    display flex
    flex-direction column
    padding 30px 24px 12px
    @media $sm
        width 48.6%
        margin-right 2.8%
    @media $md
        width 32%
        margin-right 2%
    &:nth-child(2n)
        @media $sm
            margin-right 0
    &:nth-child(3n)
        @media $md
            margin-right 0
    &_head
        color #859938
        font-size 15px
        font-weight 500
        line-height 1.53
        letter-spacing .3px
        flex 1
        min-height 110px
    &_downloads
        display flex
        justify-content space-between
        align-items center
        color #ad687a
        padding-bottom 16px
    &_acrobatIcon
        background url(/img/acrobat_reader_logo.svg) center no-repeat
        background-size contain
        width 26px
        height 27px
    &_downloadLink
        font-weight 500
        font-size 13px
    &_info
        border-top solid 1px mix(#979797, #fff, 30%)
        padding-top 21px
        min-height 82px
        position relative
    &_infoItem
        color #575759
        display flex
        justify-content space-between
        font-size 12px
        margin-bottom 12px
    &_infoLabel
        padding-right 14px
    &_infoVal
        text-align right
    &_btnWrap
        position absolute
        font-size 15px
        top 14px
        bottom 0
        left 0
        width 100%
        background #fff
        opacity 0
        visibility hidden
        transition all .2s
        @extend $flexCentered
    &-desktop > &_downloads > &_downloadLink
        pointer-events none
        
    &-desktop:hover > &_info > &_btnWrap
        opacity 1
        visibility visible