.DocList
    @media $xs
        padding 16px 16px 0
    @media $sm
        padding 16px 14px 0
    @media $smPlus
        display flex
        flex-wrap wrap
    @media $md
        padding 16px 14px 0