.DottedLineList
    list-style none
    padding 0
    &_row
        display flex
        justify-content space-between
        align-items flex-end
        line-height 1
        color #474747
        margin-top 15px
        &:first-child
            margin-top 0
        &:before
            content ''
            flex 1
            height 2px
            background url("/img/dots_pattern.svg")
            background-size  auto 100%
            background-repeat repeat-x
            order 2
            margin 0 5px 2px 6px

    &_label
        order 1
        @media $xs
            font-size 14px
        @media $smPlus
            font-size 15px

    &_value
        order 3
        font-weight 500
        font-size 20px
