.Err
    text-align center
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    background #fff
    display flex
    flex-direction column
    justify-content center
    color #575759
    padding 0 26px
    z-index 100
    &_code
        color #9893c0
        font-weight 700
        font-size 100px
        line-height 1
    &_title
        padding-bottom 40px
    &_btnWrap
        padding-top 8px