.EstateCard
    background #fff
    box-shadow 0 4px 10px 0 rgba(0, 0, 0, .1)
    color #555555
    @media $xs
        margin-bottom 25px
    @media $sm
        margin-bottom 18px
    &_head
        background #c43f60
        color #fff
        font-weight 500
        font-size 15px
        padding 16px 28px
    &_inner
        padding 24px 28px 36px
    &_params
        display grid
        grid-template-columns 3fr 4fr
        align-items baseline
        margin-bottom 18px
    &_paramName
        font-size 14px
        font-weight 400

    &_paramValue
        text-align right
        font-size 20px
        font-weight 500
        margin-bottom 0
        padding-bottom 11px
    &_btnWrap
        text-align center