.EstatePickup
    user-select none
    @media $sm
        padding-top 20px
        padding-bottom 10px
    @media $smPlus
        display grid
        grid-template-columns 1fr 1fr
    @media $md
        padding-top 56px

    @media $ie11
        display flex
        justify-content space-between
        margin-bottom 130px
    &_scheme
        display flex
        justify-content center
        @media $ie11
            width 49%

        @media $xs
            margin-top 30px
            margin-bottom 30px
    &_svgWrap
        order 2
        padding 0 8px
        display flex
        justify-content center
        align-items center
        &-fullWidth
            padding 0
            width 100%
    &_arrow
        font-size 12px
        letter-spacing .1px
        color mix(#575759, #fff, 70%)
        white-space nowrap
        align-self center
        & > .SvgIco-angleRight
                margin 0 0 0 8px
                transform scale(1.2) translateY(-1px)
        &-prev
            order 1
            & > .SvgIco-angleRight
                transform scale(1.2) rotate(180deg)
                margin 0 8px 0 0
        &-next
            order 3
    &_mapWrap
        @media $xs
           padding 17px 0 30px
        @media $sm
           padding 0 0 0 26px
        @media $md
           padding 0 25px
        
        @media $ie11
            width 49%