.EstScheme
    display block
    width auto
    height auto
    max-width 100%
    &-parking
        max-width 156px
    &_cell
        stroke  #898989
        stroke-width 1
        fill #F3F5EB
        &-active
            fill #a6b961
            cursor pointer
            pointer-events unset
        &-rent
            fill #a4d3da
        &-sold
            fill #e9e7e7
    &_text
        pointer-events none