.Favorites
    & .PageHead_title
        padding 35px 0 73px 48px
        position relative
        z-index 1
        @media $smMinus
            padding 65px 0 45px
        @media $xs
            padding 95px 0 40px
    & .CardsList_groupList
        position relative
        &:after
            display none
            content ''
            position absolute
            left 0
            top -150px
            width 100%
            height 200px
            background-image linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.86) 58%, #ffffff)
            z-index -1
            @media $smMinus
                display block
            @media $xs
                top -100px
    & .FlatCard_head
        padding 20px 16px 0
        font-size 12px
        line-height 15px
        @media $smMinus
            padding 10px 50px 0 10px
        @media $xs
            font-size 14px
            line-height 19px
    & .FlatCard_paramsCell
        padding-left 16px
        padding-right 16px
        white-space nowrap
        &:nth-child(2)
            width 80%
    &_btn
        text-align center
        padding 47px 0 67px
        @media $smMinus
            padding 28px 0 48px
        @media $xs
            padding-top 18px
    &_empty
        padding 100px 0
        text-align center
        @media $xs
            padding 0 0 50px
        @media (max-height: 1050px)
            padding 45px 0
        &Tlt
            font-size 15px
            line-height 27px
            margin-bottom 10px
        & p
            font-size 15px
            line-height 27px
            margin-bottom 30px
        & .Favorites_btn
            padding 0
            margin-top 80px
            @media $xs
                margin-top 60px
.FlatCard
    position relative
    &_link
        position absolute
        left 0
        top 8px
        right 0
        bottom 0
        z-index 1
    &_starLink
        position absolute
        right 16px
        top 8px
        width 27px
        height 26px
        z-index 2
        & span
            position absolute
            left 0
            top 0
            transition all ease .3s
        & .FlatCard_starLink1
            opacity 0
            z-index 0
        & .FlatCard_starLink2
            z-index 1
        &:hover,
        &._active
            & .FlatCard_starLink1
                opacity 1
                z-index 1
            & .FlatCard_starLink2
                opacity 0
                z-index 0
.Header
    &_center
        position relative
    &_item
        &._item1
            & span
                display inline-block
                @media $smMinus
                    margin-right 75px
        &._item2
            justify-content flex-start
            padding-left 33px
        &._item3
            justify-content flex-start
            padding-left 5px
        &._item4
            justify-content flex-start
            & a
                margin-left -78px
                @media $smMinus
                    margin-left -30px
    &_favoritesCount
        position absolute
        right calc(25% - 175px)
        top 26px
        width 37px
        height 35px
        background url('../img/icon_starFavor_active.svg') center no-repeat / cover
        text-align center
        font-size 15px
        line-height 37px
        font-weight 500
        color #fff !important
        overflow hidden
        @media $smMinus
            right calc(50% - 200px)
        @media $xs
            right calc(50% - 78px)
            top 8px
        & svg
            width 100%
    &_menuBurger
        @media $xs
            display none

.FlatSingle
    &_favorites
        position relative
    & .FlatCard_starLink
        position absolute
        right 0
        top -50px
        background #ededed
        width 40px
        height 40px
        border-radius 50%
        display flex
        justify-content center
        align-items center
        @media $smMinus
            right 15px
            top -65px
        @media $xs
            right calc(50% - 151px)
            top -30px
        &:hover .FlatSingle_starToolp
            opacity .6
            visibility visible
    & .FlatCard_starLink1,
    & .FlatCard_starLink2
        left 7px
        top 6px
    &_starToolp
        position absolute
        left 50% !important
        top calc(100% + 5px) !important
        transform translateX(-50%)
        font-size 12px
        color #3c3c43
        white-space nowrap
        opacity 0
        visibility hidden
        @media $xs
            display none
        &._del
            display none
.FlatCard_starLink._active
    & .FlatSingle_starToolp
        &._add
            display none
        &._del
            display block
            @media $xs
                display none

.Tbl_td
    &._favorites
        padding 0 20px
        & .FlatCard_starLink
            display inline-block
            position relative
            right auto
            top -3px
.Tbl_tr-link:hover .FlatCard_starLink path
    fill #fff
