.FeatureCard
    @media $xs
        padding-bottom 60px
    @media $sm
        padding-bottom 90px
    @media $md
        padding-bottom 50px
    &_topWrap
        @media $xs
            display grid
            grid-template-columns 1fr 2fr
        @media $smPlus
            position relative
    &_details
        color #fff
        border-radius 1px
        text-align center
        background #93a841 url('/img/feature_cards_pics/default_head_pattern.svg') bottom center no-repeat 
        @media $xs
             background-size auto 40% 
        @media $sm
            position absolute
            width 160px
            height 314px
            left 0
            background-size auto 40% 
        @media $md
            position absolute
            width 160px
            height 378px
            left 0
            background-size auto 26%
        
        &-redBg
            background-color #8f3149
        &-greenBg
            background-color #859938
        &-yellowBg
            background-color #b8b55b
        &-violetBg
            background-color #7b769d
    &_num
        font-weight 700
        line-height 1
        @media $xs
            font-size 50px
            letter-spacing -4.5px
            padding-top 21px
            padding-bottom 15px
        @media $smPlus
            font-size 90px
            letter-spacing -8.1px
            padding-top 25px
            padding-bottom 15px
        &:after
            content ''
            height 2px
            display block
            background rgba(255,255,255,0.15)
            @media $xs
                margin 15px 21px 0
            @media $smPlus
                margin 15px 35px 0
    &_head
        letter-spacing -0.5px
        font-weight 500
        @media $xs
            font-size 14px
            line-height 11px
        @media $md
            font-size 15px
            
    &_mainPicture
        background-position center
        background-size cover
        @media $sm
            margin-left 80px
        @media $md
            margin-left 106px
        &:after
            content ''
            display block
            @media $xs
                padding-top 95%
            @media $sm
                padding-top 65%
            @media $md
                padding-top 52%

    &_textPlate
        background #fff
        box-shadow 0 12px 32px 0 rgba(0, 0, 0, 0.1)
        position relative
        @media $md
            margin-left 367px
            margin-top -55px
        &-mdExtended
            @media $md
                margin-left 226px

    &_textContent
        @media $xs
            padding 24px 16px 14px 17px
            background none
        @media $sm
            padding 36px 25px 26px 194px
        @media $md
            padding 34px 33px 23px 210px
    &_textPicture
        position absolute
        left 0
        top 0
        //background-color pink!important
        overflow hidden
        bottom 0
        @media $xs
            display none
        @media $sm
            width 168px
        @media $md
            width 180px
        &:before
            content ''
            display block
            padding-top 100%
    &_text
        line-height 23px
        letter-spacing -0.5px
        @media $smMinus
            font-size 14px
        @media $md
            font-size 15px
            
        &-red
            color #8f3149
        &-green
            color #859938
        &-yellow
            color #b8b55b
        &-violet
            color #7b769d
        & > p
            margin-bottom 10px
    &_details
        @media $xs
            grid-column 1
    &_mainPicture
        @media $xs
            grid-column 2

    // START: reversed mod
    &-reversed > &_topWrap
        @media $xs
            grid-template-columns 2fr 1fr
    &-reversed > &_topWrap > &_details
        @media $xs
            order 2
            grid-column 2
        @media $smPlus
            left auto
            right 0
    &-reversed > &_topWrap > &_mainPicture
        margin-left 0
        @media $xs
            grid-column 1
        @media $sm
            margin-right 80px
        @media $md
            margin-right 106px
    &-reversed > &_textPlate
        @media $md
            margin-left 0
            margin-right 367px
        &-mdExtended
            @media $md
                margin-right 226px
    // END: reversed mod