.FilterComplex
    
    &_wrap
        display flex
        justify-content space-between
    &_left
        width 73%
        margin-right 2%
    
    &_right
        width: 25%
        padding 0 3%

    &_blockTitle
        color #3c3c43
        margin 25px 0
        padding-left 4px
        font-size 15px
        font-family 'Verdana'

    &_sectionScheme
        position relative

    &_sectionSchemeDesc
        width 260px
        display flex
        justify-content space-between
        align-items center
        position absolute
        transform translate(-50%, -50%)
        top 50%
        left 50%
        font-size 36px
        color rgba(#85858e, 0.2)
        font-family 'Gotham Pro'
        font-weight bold
    &_sectionSchemeCompass
        width 55px
        position relative

    & .ColorLegend
        padding-left 29px