.FilterForm
    @media $xs
        padding 32px 26px 0 32px
    @media $sm
        padding 25px 23px 0 46px
    @media $md
        padding 10px 60px 0 47px
    &_item
        padding-bottom 30px
        &-disabled
            opacity .5
            pointer-events none
            filter grayscale(100%)
    &_label
        padding-bottom 13px
        color #575759
        font-size 15px
    &_checkboxesRow
        display flex
        align-items center
        margin-top -12px
        flex-wrap wrap
        margin-left -7px
        @media $sm
            padding-right 6px
        @media $md
            padding-right 6px
        & > .CustomCheckbox
            // margin 0 2px
            &:first-child
                // margin-left -6px
    &_chksGroup
        @media $sm
            // padding-right 8px

    &_horizCol
        width 31%
        @media $smMinus
            width 46%

        @media $xs
            width 100%
            padding-bottom 10px
    &_groupHead
        text-align center
        padding-right 24px
        color #c63f61
        padding-bottom 22px
        font-size 14px
        font-weight 500
        @media $md
            font-size 15px

        @media $xs
            font-size 13px
    &_groupToggler
        color inherit
        font inherit
        border 0
        outline none !important
        background none
        & > .SvgIco-angleDown
            width 14px
            height auto
            margin-left 7px
        &-active
            & > .SvgIco-angleDown
                transform scaleY(-1)
                transition all .2s

    &_horizonBottom
        display flex
        justify-content space-between
        align-items center
        width 100%

        @media $xs
            flex-direction column
            align-items center
    &_horizonWrap
        display flex
        justify-content space-between
        flex-wrap wrap
        align-items flex-start

    &-horizontal
        & .FilterForm_blockGroup
            width 100%
            position relative

        & .FilterForm_item-corpusCheck
            display none

            @media $smMinus
                display block
        
        & .FilterForm_item-corpusScheme

            @media $smMinus
                display none

        &.FilterForm-horizontalCommercial
            & .FilterSidebar_resetBtnWrap
                margin-left 0

    &-horizontalComplex
        & .FilterForm_blockGroup
            width 31%
            @media $smMinus
                width 46%

            @media $xs
                width 100%

        & .FilterForm_item-corpusCheck
            display block
