.FilterSidebar
    height 100%
    background: #fff
    position fixed
    top 0
    left 0
    border-right 10px solid #e3e3e6
    display flex
    flex-direction column
    user-select none
    transition all .3s
    z-index 290
    @media $xs
        width 314px
        transform translateX(-110%)
    @media $sm
        width 362px
        transform translateX(-334px)
    @media $md
        width 393px
        transform translateX(-356px)

    &-horizontal
        position relative
        width 98%
        transform:  translate(0)
        border-right: none
        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.08)
        margin 0 auto
        margin-top 15px
        z-index: 25
        & .FilterForm_item
            width 100%

        & .FilterSidebar_resetBtnWrap
            width 200px
            margin-left auto
            flex: none

            @media $smMinus
                width 46%

            @media $xs
                width 100%
                margin-left 0
                padding 0
                margin 0
            &-groupBlock
                width 100%
                margin-top 15px
                
                & .FilterSidebar_reset
                    display flex
                    justify-content space-between
                    align-items center
                    width 100%

        & .FilterSidebar_reset
            color #575759

            @media $smMinus
                width 100%
                display flex
                justify-content space-between
                align-items center

            @media $xs
                padding 0
                margin 0

        & .FilterForm
            padding 24px
            padding-bottom 15px

            @media $xs
                padding 15px
            & .SvgIco-angleDown
                margin-left 20px
                border 1px solid #d72e60
                border-radius 50%
                width 22px
                height 22px

        & .FilterForm_item-group
            width 100%
            padding-bottom 0
        
        & .FilterForm_chksGroup-groupBlock
            position absolute
            background-color #fff
            padding 10px
            left -24px
            right 0
            box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.08)
            z-index 350

            @media $xs
                right -24px


        & .FilterForm_groupHead
            padding-bottom 0px
            padding-right 4px
            @media $smMinus
                padding-bottom 0

            @media $xs
                padding-right 4px
                margin-bottom 25px

        & .FilterForm_groupToggler
                width 100%
                padding 0
                display flex
                justify-content space-between
                align-items center

        & .FilterForm_item-icncludeRoom
            @media $xs
                order 2

    &-horizontalInfras
        position static !important
        width 100%
        margin-top 0
        z-index 500

        & .FilterSidebar_zones
            display flex
            min-height 350px
            padding-bottom 0px

    &-mobile
        display none
        @media $smMinus
            display flex
    &-active
        transform translateX(0)

    &-notFixed
        position absolute
        padding-top 30px
        padding-right 15px
        & .FilterSidebar_logo
            display none

        & .FilterSidebar_top
            display flex
            justify-content flex-end

        & .FilterSidebar_resetBtnWrap
            display flex
            justify-content flex-end
    &_grip
        position absolute
        right -31px
        display block
        height 354px
        width 47px
        background url('/img/filter_sidepane.svg') center no-repeat
        top 50%
        margin-top -152px
        text-align center
        cursor pointer
        z-index 1
    &_gripText
        transform translate(-54%, -50%) rotate(-90deg)
        position absolute
        top 50%
        left 50%
        white-space nowrap
        font-weight 500
        font-size 15px
        color #c63f61
        & > .SvgIco-angleDown
            width 19px
            height auto
            margin-left 8px
            transition all .2s

    &-active > &_grip > &_gripText > .SvgIco-angleDown
        transform scaleY(-1)
        
    &_top
        display flex
        align-items flex-end
        flex-shrink 0
        @media $xs
            padding 12px 0 12px 7%

    &_logo
        opacity 0
        @media $xs
            flex 29
            background-size contain
            &:after
                content ''
                display block
                padding-top 132%
        @media $sm
            width 156px
            height 170px
            background-size 60%
        @media $md
            width 177px
            height 194px
            background-size 60%
        
    &_resetBtnWrap
        @media $xs
            padding-bottom 3px
            flex 73
        @media $sm
            padding-bottom 6px
            text-align center
            flex 71
        @media $md
            padding-bottom 3px
            text-align center
            flex 67

        &-tablet
            display none
            @media $smMinus
                display flex
        
        &-desktop
            display flex
            @media $smMinus
                display none
    &_reset
        color #c63f61
        border 0
        background none
        font-size 15px
        font-weight 500
        & > .SvgIco-reload
            margin-left 12px
        @media $xs
            margin-left 10px
        @media $md
            font-size 15px
            margin-right 5px
    &_scroll
        overflow hidden
        flex 1
        position relative
    & + .StickyBtn-settings
        z-index 290

.FilterSidebar_scroll
    & > .ps__rail-y
        right auto
        opacity 1 !important
        left 11px
        width 5px !important
        background linear-gradient(90deg, transparent, transparent, #dcdcdc, transparent, transparent) center no-repeat!important
        transform scaleY(.92)
        & > .ps__thumb-y
            width 100% !important
            right 0
            background #dcdcdc
            border-radius 2px
            opacity 1 !important