.FiltersNav
	justify-content space-between
	font-weight 500
	font-family 'Gotham Pro'
	color #575759
	&-typical
		margin-bottom 30px
	@media $sm
		font-size 18px
	@media $md
		font-size 26px
	&,
	&_left
		display flex
		align-items center
	&_opt
		// 
	&_link
		color #c63f61
		text-decoration underline
		&:hover
			text-decoration none
			color #c63f61
	&_switch
		width 44px
		height 25px
		border-radius 12.5px
		background-color #c63f61
		position relative
		transition: all 0.3s
		@media $sm
			margin 0 10px
		@media $md
			margin 0 15px
		&:after
			content ''
			position absolute
			width 17px
			height 17px
			box-shadow 0 2px 4px 0 #a42f4c
			background-color #ffffff
			top 4px
			left 4px
			border-radius 50%
			transition: all 0.3s
		&-right
			transition: 0.3s
			&:after
				left 23px
				transition: 0.3s
		