.Fitblock
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    overflow hidden
    user-select none
    &_inner
        position absolute
        top 50%
        left 50%
        visibility hidden
        overflow hidden
    &_pusher
        display block
        pointer-events none
        max-width unset
    &_cloud
        display block
        position absolute
        top 0
        left 0
        z-index 100
        opacity .6
    &-xsScrollable
        @media $xs
            overflow-x scroll
    &-xsScrollable>&_inner
        @media $xs
            margin-left 0 !important
            left 0
    &-smScrollable
        @media $sm
            overflow-x scroll
    &-smScrollable>&_inner
        @media $sm
            margin-left 0!important
            left 0
