.FlatListContainer
	&:empty
		text-align center
		&:before
			display block
			padding-bottom 10px
			font-size 25px
			color #000
			content "Квартир по вашим параметрам не найдено."
		&:after
			display block
			font-size 18px
			content "Попробуйте изменить параметры фильтров."