.FlatInfo
    @media $xs
        margin-top -24px
    @media $md
        display grid
        grid-template-columns 1fr 1fr
    &-disabled
        pointer-events none
        opacity .9
    &_schemeWrap
        @media $xs
            padding-bottom 6px
        @media $sm
            padding-bottom 37px
        @media $md
            grid-column 1
    &_descWrap
        position relative
        padding-top 28px
        @media $md
            padding-right 38px
            padding-left 38px
            grid-column 2
    &_scheme
        display block
        width 100%
        height auto
    &_title
        color #8f3149
        @media $xs
            font-size 20px
            margin-bottom 8px
        @media $sm
            font-size 36px
            margin-bottom 16px
        @media $md
            font-size 36px
            font-weight 700
    &_miniPlan
        position absolute
        margin-top -10px
        background right center no-repeat
        background-size contain
        @media $xs
            width 46px
            height 46px
            right 0
        @media $smPlus
            width 102px
            height 76px
            right 0
        @media $md
            right 36px