.FlatSingle
  @media $xs
    padding-top 70px

  &_plan, &_info
    display block
    @media $md
      display inline-block
      max-width 50%
      width 50%
      vertical-align top

  &_planThumb
    margin-bottom 30px
    position relative
    .swiper-container
      padding-bottom 1px
      @media $sm
        width 70%
      @media $md
        width 85%

  &_planThumbBtn
    position absolute
    z-index 2
    top 50%
    transform translateY(-50%)
    height 18px
    cursor pointer
    display none
    & > .SvgIco-angleRight
      height 100%
      width 8px
      vertical-align baseline
      color #85858e

    &-prev
      left 20px
      & > .SvgIco-angleRight
        transform rotate(180deg) translateY(-1px)
    &-next
      right 20px
      & > .SvgIco-angleRight
        transform translateY(-1px)
    @media $smPlus
      display block

  &_planThumbItem
    font-family 'Verdana'
    font-size 15px
    color #9e9e9e
    transition color .3s ease
    padding 13px 16px
    cursor pointer
    width auto
    &-active
      color #8f3149
      border solid 1px #eaeaea

  &_slider
    .swiper-slide-active
      .FlatSingle_slide
        opacity 1
    &-singleImg
      .FlatSingle_slide
        opacity 1
  &_slide
    display block
    width 100%
    height auto
    opacity 0
    transition opacity .9s ease
    background-color #fff

    @media $smMinus
      width: 95%
      margin: 0 auto

  &_preview
    margin-top 40px
    position relative
    .swiper-container
      width 80%
      @media $sm
        width 76%
      @media $md
        width 70%
  
  &_location
    display flex
    padding 0 20px
    margin-top 30px
  
  &_compass
    width 80px
    height 80px
    margin-right 30px
    transform-origin: center
  
  &_compassImg
    width 100%

  &_buildLayout
    width 140px
    position relative
    & svg
      width 100%
  
  &_infrastruct
    width 20px
    height 20px
    position absolute
    background-position center center
    background-repeat no-repeat
    background-size contain
    right -10px
    cursor help
    &-school
      background-image url('../img/genplan/school.svg')
      top 60%
    &-kinder
      background-image url('../img/genplan/kindergarten.svg')
      top 30%
  
  &_metro
      text-transform uppercase
      font-size 12px

      &:after
        content: '→'
        margin-left 10px
        font-size 14px

  &_previewTitle
    padding-left 16px
    margin-bottom 22px
    color #575759
    font-size 15px
    @media $sm
      margin-bottom 26px
      padding-left 20px
    @media $md
      padding-left 60px
      margin-bottom 30px

  &_previewBtn
    position absolute
    top 70%
    transform translateY(-50%)
    width 10px
    height 16px
    z-index 2
    cursor pointer
    @media (min-width 450px)
      top 65%
    @media $smPlus
      top 60%
      box-shadow 0 4px 13px 0 rgba(0, 0, 0, .1)
      background #fff
      width 60px
      height 60px
    @media $md
      top 65%
    &.swiper-button-disabled
      filter opacity(50%)
      pointer-events none

    &:after
      content ''
      background url(/img/gallery-slider-btn.svg) center no-repeat
      width 100%
      height 100%
      display block
      @media $smPlus
        background url(/img/angle.svg) center no-repeat / 20%

    &-prev
      left 1px
      &:after
        transform rotate(180deg)

    &-next
      right 0

  &_previewItem
    background no-repeat center / cover
    position relative
    height auto
    padding-bottom 80%
    width 100%
    margin-right 10px
    cursor pointer
    &:after
      content ''
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      background-color rgba(255, 255, 255, .4)
    &:before
      content ''
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      margin auto
      background url("/img/zoom_black.svg") no-repeat center / contain
      opacity .2
      height 18px
      width 18px
      z-index 3
    @media $sm
      height 129px
      width 161px
      padding-bottom 0
      margin-right 19px
    @media $md
      padding-bottom 0
      height 92px
      width 115px
      margin-right 14px

  &_info
    padding 37px 16px 0
    @media $sm
      padding 37px 24px 0
    @media $md
      padding 37px 38px 0 43px
      max-width 49%
    
    @media $xs
      padding-left 0
      padding-right 0

  &_desc
    padding 35px 0 15px
    @media $smPlus
      display flex
      flex-wrap wrap
      justify-content space-between
      padding-bottom 25px
    @media $md
      padding 40px 0
  &_descItem
    display flex
    max-width 90%
    flex-basis 100%
    justify-content space-between
    align-items center
    margin-bottom 23px
    color #575759
    font-size 14px
    & > .SvgIco-checkBold
      color #859938
    @media $smPlus
      max-width 45%
      flex-basis 50%
      font-size 15px
  &_footage
    padding-top 96px
    @media $xs
      margin-right -16px
      margin-left -16px
    @media $md
      display none
  &_prices
    position relative
  &_oldPrice
    position absolute
    font-size 12px
    font-weight 500
    letter-spacing .1px
    top 100%
    text-decoration none
    margin-top -3px
    &:after
      content ""
      position absolute
      left -1px
      right -1px
      top 50%
      height 2px
      margin-top -1px
      background #c63f61
  &_newPrice
    color #c63f61
    text-decoration none

  &_commercialBlock
    width 100%
    margin-top 60px

    @media $smMinus
      width 95%
      margin 0 auto
      margin-top 42px
    @media $xs
      margin-top 42px

  &_commercialBlockWrap
    width 100%
    display flex
    justify-content space-between
    @media $xs
      overflow-x scroll

  &_commercialBlockTitle
    font-size 15px
    margin-bottom 20px

  &_commercialBlockLeft
    margin-right 3%

  &_commercialBlockLeft, &_commercialBlockRight
    width 49%

    @media $xs
      width 85%
      flex-shrink: 0
    & svg
      width 100%
      height auto

  &_commercialControls
    @media $smMinus
      display flex
      justify-content space-between
      align-items center
    @media $xs
      flex-direction: column

    & .Btn-big
      @media $xs
        width 100%
        max-width none

  &_presentationLink
    margin-top 60px
    @media $smMinus
      margin-top 0
    @media $xs
      margin-top 45px
