.FlatCard
    background #fff
    box-shadow 0 3px 10px 0 rgba(0, 0, 0, .1)
    display block
    @media $xs
        margin-bottom 30px
    @media $sm
        width 48.6%
        margin-right 2.8%
        margin-bottom 20px
    @media $md
        position relative
        overflow hidden
        border-bottom 2px solid #859938
        width 32%
        max-width 32%
        margin-right 2%
        margin-bottom 25px
        transition all .1s
    &:nth-child(2n)
        @media $sm
            margin-right 0
    &:nth-child(3n)
        @media $md
            margin-right 0
    &:after
        @media $md
            content ""
            position absolute
            top 0
            right 0
            bottom 0
            left 0
            border 1px solid #859938
            pointer-events none
            opacity 0
            transition all .1s
    &:hover
        @media $md
            box-shadow 0 3px 10px 0 rgba(0, 0, 1px, .2)
        &:after
            @media $md
                opacity 1
    &_head
        color #85858e
        font-weight 500
        @media $xs
            padding 13px 18px 0
            font-size 14px
        @media $smPlus
            padding 10px 18px 0
    &_schemeWrap
        position relative
        @media $xs
            margin 30px
        @media $sm
            margin 22px 30px 28px
        @media $md
            margin 34px 50px 55px
        &:before
            content ''
            display block
            @media $xs
                padding-top 56%
            @media $sm
                padding-top 55%
            @media $md
                padding-top calc(44% + 74px)
    &_scheme
        position absolute
        top 0
        left 0
        width 100%
        height 100%
        object-fit contain
        @media $md
            height calc(100% - 34px)
    &_paramsWrap
        background #859938
        position relative
        padding 16px 0
        @media $md
            height 74px
            transform-origin bottom
            transition all .3s
            position absolute
            width 100%
            bottom 0

    &_paramsTbl
        color #fff
        width 100%
    &_paramsCell
        text-align center
        line-height 1
        padding-top 4px
    &_paramsVal
        font-size 15px
        font-weight 500
    &_paramsLabel
        color mix(#859938, #fff, 20%)
        font-size 12px
        font-weight 300
    &_leafLine
        background #fff
        border-top 2px solid #859938
        border-bottom 1px solid #fff
        position absolute
        top 0
        width 100%
        pointer-events none
        &:after
            content ''
            z-index 10
            position absolute
            width 30px
            height 25px
            top 50%
            margin-top -13px
            background url('/img/leafs.svg') center right -5px no-repeat
            right 0
    // START: promo card
    &-promo
        background #c63f61
        color #fafafa
        text-align center
        position relative
        border-bottom 2px solid #8f3149
        @media $xs
            padding 53px 16px 36px
        @media $sm
            padding 48px 16px 26px
        @media $md
            padding 44px 16px 26px
        &:before
            content ''
            position absolute
            top 0
            left 0
            width 100%
            height 100%
            display block
            opacity .5
            background url("/img/menu_bg_pic.svg") right -36px bottom -55px no-repeat
            background-size auto 76%
            pointer-events none
        &:after
            @media $md
                content none
    &_promoInner
        position relative
        z-index 10
    &_discountVal
        font-size 36px
        line-height 20px
        padding-bottom 16px
    &_promoHead
        font-weight 500
        font-size 20px
        line-height 20px
        @media $xs
            margin-bottom 10px
        @media $sm
            margin-bottom 6px
        @media $md
            margin-bottom 10px
        &:after
            content ''
            display block
            background url('/img/red_branch.svg') center bottom no-repeat
            @media $smMinus
               height 39px
            @media $md
                height 44px 
    &_promoText
        line-height 24px
        font-weight 500
        @media $smMinus
            font-size 14px
            margin-bottom 28px
        @media $md
            font-size 15px
            margin-bottom 36px
            
    // END: promo card