.FloorBuildNav
    position relative
    &_links
        position absolute
        width 100%
        left 0
        right 0
        height 100%
        padding-top 7%
        padding-bottom 7%

    &_link
        height 12.5%
        width 100%
        transition background 0.2s
        display flex
        justify-content center
        align-items center
        color #fff
        font-size 0
        &:hover
            background-color rgba(#c63f61, 0.7)
            color #fff
            font-size 15px
            font-weight bold
            font-family 'Verdana'

        &-active
            background-color rgba(#c63f61, 0.7)
            color #fff
            font-size 15px
            font-weight bold
            font-family 'Verdana'