.Footer
	position absolute
	bottom 0
	left 0
	width 100%
	display flex
	align-items center
	justify-content space-between

	&_side
		display flex
		justify-content flex-start
		align-items center

		@media $xs
			height 32px

			&:first-child
				order 1

	&_soc
		display block
		font-size 13px
		color $gray
		margin-right 30px

		@media $xs
			margin-right 10px

		&:last-child
			margin-right 0

	&_copy
		display block
		font-size 13px
		margin-right 20px

		@media $xs
			display none

	&_logo
		display block
		margin-right 20px

		@media $xs
			margin-right 15px

		&:last-child
			margin-right 0

	@media $xs
		height $xsFooterHeight
		align-items flex-start
		padding 20px

	@media $sm
		height $smFooterHeight
		padding 0 48px

	@media $md
		height $mdFooterHeight
		padding 0 55px
