.Form
    &_grid
        &-v1
            @media $md
                width 742px
                display grid
                grid-template-columns 1fr 1fr
                padding 0 28px
    &_grid-v1 > &_col
        &:nth-child(1)
            @media $md
                grid-column 1
                padding-right 25px
        &:nth-child(2)
            @media $md
                grid-column 2
                padding-left 25px
        font-size 14px
    &_grid-v2
        box-shadow 0 10px 60px 0 rgba(0, 0, 0, .08)
        background-color #fff
        @media $xs
          padding 16px 30px 25px
        @media $sm
          padding 36px 60px 46px
          
        @media $md
            padding 36px 50px 30px
            @extend $clearfix
    &_grid-v2 > &_col
        @media $md
            float left
            width 33.33333%
            padding-right 32px
            &:nth-child(3n)
                padding-right 0
        &-forAccept
            @media $md
                width 70%
                padding-right 0
        &-forBtn
            @media $md
                width 30%
                padding-right 0
                text-align right
    &_grid-v2 > &_col > &_item

        &-captchaItem
            @media $md
              padding-top 0
        &-btn
            @media $xs
                padding-top 34px
            @media $sm
                padding-top 34px
            @media $md
                text-align right
                padding-top 13px
    &_grid-v2 > &_col > .Form_hintText
        @media $xs
            padding-top 18px
        @media $md
            text-align right
    &_item
        margin 0 0 22px
        &-btn
            text-align center
            padding-top 42px
        &-captchaItem
            display flex
            align-items flex-end
            padding-top 10px
        &-chkItem
            padding-top 26px
    &_captchaPicWrap
        padding-right 13px
    &_captchaInputWrap
        flex 1
    &_field
        display block
        width 100%
        padding 14px 0
        font-family Verdana
        font-size 15px
        letter-spacing .1px
        color #3c3c43
        background-color #fff
        background-clip padding-box
        border 0
        border-bottom 1px solid #DADADA
        border-radius 0
        min-height 52px
        &::placeholder
            color #3c3c43
            opacity 1
        
        &-longText
            height ((52*2)+22)px
            resize none

        &.error
            border-color #c83234
            color #c83234
            &::placeholder
                color #c83234
        &:focus
            border-color #dcc8c9
            outline 0
        &:focus,
        &.error:focus
            &::placeholder
                color #e1e1e3
    &_checkbox
        user-select none
        display flex
        align-items center
    &_chkText
        padding-left 10px
        font-size 12px
        line-height 1.08
        color #6e6e6e
    &_chkLinkTxt
        color #859938 !important
        text-decoration underline
        &:hover
            text-decoration none
    &_chkbInp
        opacity 0
        pointer-events none
        position absolute
    &_chkbView
        width 19px
        height 19px
        border solid 1px #979797
        overflow hidden
        display block
        font-size 12px
        background-size contain
        background-position center
        background-repeat no-repeat
        cursor pointer
        margin-bottom auto
    &_chkbInp:checked + &_chkbView
        background-image embedurl("../../../assets/img/checkmark.svg", "utf8")
    &_chkbInp:focus + &_chkbView
        border-color #dcc8c9
    &_chkbInp.error + &_chkbView
        border-color #c83234
    &_hint
        font-size 12px
        position absolute
        font-style normal
        &-error
            color #c83234
    &_success
        max-width  300px
        text-align center
        margin 0 auto
        font-size 15px
        line-height 1.5
    &_successPicwrap
        padding-bottom 10px
    &_hintText
        font-size 12px
        font-family 'Gotham Pro'
        color #6e6e6e
        text-align center