.gallery
  @media $xs
    padding 0 16px
  @media $smPlus
    padding 0
  &__item
    width 328px
    position relative
    padding-bottom 20px
    a
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      z-index 2
    @media $sm
      width 576px
    @media $md
      width 542px

  &__img
    background no-repeat center / cover
    height 162px
    @media $sm
      height 294px
    @media $md
      height 272px

  &__bottom
    padding 0 16px
    background #fff
    box-shadow 0 7px 13px 0 rgba(0, 0, 0, .05)
    font-size 14px
    text-align right
    line-height 45px
    height 45px
    @media $smPlus
      padding 0 41px 0 36px
      line-height 70px
      height 70px
      font-size 15px

  &__title
    font-weight 500
    color #575759
    text-decoration none
    float left

  &__count
    color #717171

  &__btn
    box-shadow 0 7px 13px 0 rgba(0, 0, 0, .05)
    background #fff
    position absolute
    top 40%
    transform translateY(-50%)
    width 48px
    height 50px
    z-index 2
    cursor pointer

    &:after
      content ''
      background url(/img/gallery-slider-btn.svg) center no-repeat
      width 100%
      height 100%
      display block

    &--prev
      left 0
      &:after
        transform rotate(180deg)
      @media $sm
        left 12px
      @media $md
        left 31%

    &--next
      right 0
      @media $sm
        right 12px
      @media $md
        right 31%

    @media $smPlus
      width 60px
      height 60px
    &.swiper-button-disabled
      opacity .5
      transition opacity .5s ease
      cursor default

  &--detail
    padding 62px 0 35px
    @media $xs
      padding-top 38px
    @media $sm
      padding 84px 47px 35px
    @media $md
      padding 0 0 35px
    .swiper-wrapper
      align-items center
      @media $md
        height 621px
        .swiper-slide
          height 85%
        .swiper-slide-active
          height 100%
  &--detail &
    &__item
      width 360px
      padding 0
      height 229px
      position relative
      box-shadow: 0 13px 25px 0 rgba(0, 0, 0, .17)
      @media $sm
        width 673px
        height 425px
      @media $md
        transition height .8s cubic-bezier(.4, 0, 1, 1)
        width 986px
      &.swiper-slide-active
        .gallery__nav
          opacity 1

    &__img
      height 100%
    &__btn
      top 55%
      @media $md
        top 45%
        &--prev
          left calc(50% - 520px)
        &--next
          right inherit
          left calc(50% + 465px)
    &__nav
      position absolute
      right 0
      top -52px
      z-index 3
      opacity 0
      transition opacity .8s ease-in-out
      @media $smPlus
        top 0
        background #fff
    &__fullscr
      float left
      svg
        height 18px
        width 18px
    &__close
      position relative
      float right
      display block
      svg
        height 14px
        width 14px
      @media $smPlus
        &:after
          content ''
          position absolute
          bottom 0
          left 0
          right 0
          background #575759
          opacity .5
          height 1px
          width 70%
          margin 0 auto
    &__close, &__fullscr
      width 52px
      height 52px
      cursor pointer
      position relative
      svg
        position absolute
        top 0
        left 0
        right 0
        bottom 0
        margin auto
      @media $smPlus
        float none

.gallery-count
  position absolute
  right 16px
  top -45px
  font-family 'Gotham Pro'
  font-size 14px
  color #575759
  @media $sm
    right 47.5px
    top 20px
  @media $md
    right auto
    left calc(50% + 415px)
    top -80px
    font-size 15px
    color #717171
  @media $xs
    right auto
    left 20px
    top 0px

.gallery-fancybox
  .fancybox-infobar
    color #fff
    font-size 14px
    font-family 'Gotham Pro'
  .fancybox-bg
    background #232323
    opacity .9
    @media $sm
      background #080808
