.Genplan
    height 100%
    position absolute
    top 0
    left 0
    bottom 0
    right 0
    &_tooltip
        background-color #fff
        max-width 141px
        position absolute
        color #c14040
        font-size 12px
        padding 8px 15px
        &:before
            content ''
            width 6px
            height 6px
            display block
            position absolute
            background-color #fff
            transform translate(0, -50%) rotate(45deg)
            bottom -5px
            left 50%
        &-red
            background-color #c43f60
            color #fff
            &:before
                background-color #c43f60

    &_poligonLink
        &:hover path
            fill #8f3149


    &_marker
        position absolute
        width 38px
        height 38px
        margin-left -19px
        margin-top -19px
        border-radius 50%
        pointer-events none
        color #c14040
        box-shadow 0 4px 15px 0 rgba(0, 0, 0, .2)
        z-index 10

        &-bow
            &:after
                content ''
                width 19px
                height 17px
                display block
                background url('../img/genplan/bow.svg') center/contain no-repeat
                position absolute
                right 0
                top 0
                z-index 30


        &-v1
            width 42px
            height 42px
            margin-left -21px
            margin-top -21px
        &-disabled
            pointer-events none
            opacity .75

    &_buildMask
        position absolute
        z-index 9
        & svg
            width 100%
        
        & svg path
            fill transparent
            transition 0.2s

        &:hover svg path
            fill #c14040;
    a&_marker
        cursor pointer
    &_markerNum
        position absolute
        top 0
        left 0
        height 100%
        width 100%
        color #fff !important
        font-size 15px
        font-weight 500
        background #c43f60
        border-radius 50%
        z-index 10
        display flex
        justify-content center
        align-items center
        border 3px solid #FFEDF2
        ^[0]_marker-disabled > &
            background gray

    &_route
        position absolute
        color #fff
        font-size 14px
        font-weight 500
        font-family 'Gotham Pro'
        transform: rotate(50deg)
        &:after
            content ''
            display block
            position absolute
            width 19px
            height 18px
            background url('../img/genplan/arrow.svg') center/contain no-repeat
            top 3px

        &-left
            &:after
                left -25px
                transform: rotate(-55deg)
        
        &-right
            &:after
                right -25px
                transform: rotate(125deg)
    
    &_markerIcon
        position absolute
        top 0
        left 0
        height 100%
        width 100%
        border-radius: 50%
        background-position: center center
        background-size: contain
        background-repeat: no-repeat
        z-index: 10

        &-parking
            width 100%
            background-color #f26060
            border 3px solid #FFEDF2
            background-size 70%

    &_markerIco
        background center no-repeat
        background-size contain
        width 60%
        &:after
            content ''
            display block
            padding-top 100%
    &_markerRibbon
        position absolute
        transition all 0.2s
        font-size 12px
        height 24px
        line-height 24px
        white-space nowrap
        display block
        background #fff
        padding 0 10px 0 26px
        left 50%
        top 50%
        margin-top -12px
        filter drop-shadow(0 2px 10px rgba(0, 0, 0, .1))
        color: #c43f60
        &:after
            content ''
            position absolute
            display block
            height 100%
            width 16px
            right -15px
            top 0
            background url(/img/marker_ribbon_corner.svg) center no-repeat
            background-size 100% 100%
        &-blueText
            color: #4d88b1
        &-greenText
            color: #2fa389

    &_marker-v1 > &_markerNum
        background #f26060
        font-size 24px
        font-weight 400