.Header
    position relative
    z-index 250
    @media $xs
        padding 0 105px 0 120px
    @media $sm
        padding 0 156px
    @media $md
        padding 0 177px

    &_center
        display flex
        margin 0 auto
        @media $sm
            max-width $smBoxWidth
        @media $md
            max-width $mdBoxWidth

    &_item
        font-size 15px
        font-weight 500
        flex 1
        @extend $flexCentered
        @media $xs
            height $xsHeaderHeight
            font-size 14px
        @media $sm
            height $smHeaderHeight
        @media $md
            height $mdHeaderHeight
        &-menuBtnWrap
            position absolute
            top 0
            right 0
            @media $xs
                padding-right 17px
            @media $sm
                padding-right 48px
            @media $md
                padding-right 52px

    &_logo
        position absolute
        box-shadow: 0 -2px 10px 0 rgba(0, 0, 0, .1)
        top 0
        left 0
        z-index 100
        background #ffffff url('/img/logo.svg') center no-repeat
        background-size 60%
        transition all .3s
        @media $xs
            width 120px
            height 130px
        @media $sm
            width 126px
            height 140px
        @media $md
            width 177px
            height 194px
        &-fixed
            position fixed
            z-index 290
        &-notShadowed
            box-shadow none
            pointer-events none
    &_menuBtn
        display flex
        align-items center
    &_menuBurger
        width 41px
        height 28px
        overflow visible
        // position relative
        @media $xs
            margin-left 5px
        @media $sm
            margin-left 13px
        @media $md
            margin-left 18px
