.HouseInfo
    user-select none
    transition opacity .1s
    @media $md
        display grid
        grid-template-columns 1fr 1fr
    &-disabled
        pointer-events none
        opacity .9
    &_leftCol
        @media $md
            padding-top 46px
    &_rightCol
        @media $xs
            padding 0 16px
        @media $md
            padding 47px 43px 0 47px
            grid-column 2
    &_photoWrap
        position relative
        box-shadow 0 4px 15px rgba(0, 0, 0, .17)
        @media $xs
            margin-bottom 14px
        @media $smMinus
            pointer-events none
        @media $md
            margin-left -120px
    &_photo
        display block
        width 100%
        @media $sm
            margin-bottom 75px
    &_shemeWrap
        position relative
        @media $sm
            margin-bottom 10px
        @media $md
            margin-bottom 30px
    &_title
        position absolute
        color #85858e
        opacity .2
        text-align center
        top 50%
        left 50%
        transform translate(-50%, -50%)
        pointer-events none
        @media $xs
            font-size 20px
        @media $sm
            font-size 34px
        @media $md
            font-size 36px
    &_subtitle
        display block
        font-size 75%
        font-weight 500
        letter-spacing .1px
        font-size 14px
        @media $md
            font-size 15px