.Hr
    border 0
    border-bottom solid 2px #91a34c
    position relative
    font-size 30px
    line-height 70px
    font-weight 400
    @media $xs
        margin 15px auto 69px
    @media $sm
        margin 15px auto 89px
    @media $md
        max-width 1000px
        margin 15px auto 77px
    &:after
        content ''
        position absolute
        width 30px
        height 25px
        bottom -14px
        margin-top -13px
        background url('/img/leafs.svg') center no-repeat
        @media $xs
            right 48px
        @media $smPlus
            right 40px
        
