.InfrasExternal
  height 100%
  width 100%
  position relative

  &_map
    height 100%
    width 100%

  &_title
    position absolute
    top 30px
    left 148px
    font-size 14px
    font-weight 700
    color #747476
    line-height 1.2
    @media $sm
      font-size 18px
    @media $md
      font-size 20px
      top 45px
      left 150px
