.InfrasInternal
  height 100%
  width 100%
  position absolute
  top 0
  left 0
  &_map
    height 100%
    width 100%

  &_psiMarker
    position absolute
    cursor pointer
    z-index 50
    width 170px
    animation: pulse .5s linear infinite .75s
    animation-direction: alternate-reverse
    &:hover
      animation-play-state: paused
  
  &_marker
      position absolute
      width 38px
      height 38px
      display flex
      justify-content center
      align-items center
      background-color #859938
      border 2px solid #fff
      border-radius 50%
      z-index 80
      transform translateY(15px);
      transition 0.2s
      opacity 0
      visibility hidden
      & svg path, svg circle
        fill #fff
      &:before
        content ''
        border 5px solid transparent;	
        border-top 5px solid #859938;
        display block
        position absolute
        transform translate(0, -50%)
        bottom -17px
        left 37%
      &-visible
          transform translateY(0) !important
          opacity 1 !important
          visibility visible !important
    &_sidebar
        & .FilterSidebar
          @media $xs
            transform translateX(-91%)
          &-active
            transform translateX(0)


@keyframes pulse {

    0% {
    transform scale(1)
    }

    50% {
    transform scale(1.05)
    }
    100% {
    transform scale(1.1)
    }
}