.InfrasArticleScheme
    position absolute
    transform: translate(-50%, -50%);
    top 50%
    left 50%
    width 80%
    max-width: 1030px
    z-index 280
    opacity: 0
    &-visible
        opacity: 1

    &_img
        width 100%

    &_marker
        position absolute
        width 50px
        height 50px
        margin-left -19px
        margin-top -19px
        border-radius 50%
        color #c14040
        z-index 30
        @media screen and (max-width: 1920px)
            width 43px
            height 43px

        &-hover
            & .InfrasArticleScheme_markerRibbon
                display none
                opacity 0
                transition opacity 0.2s

            &:hover
                z-index 50
                & .InfrasArticleScheme_markerRibbon
                    display block
                    opacity 1

    &_markerPic
        position absolute
        top 0
        left 0
        height 100%
        width 100%
        color #fff !important
        font-size 15px
        font-weight 500
        background #C43F60
        border-radius 50%
        z-index 30
        display flex
        justify-content center
        align-items center
        border 2px solid #fff
        animation: pulse .5s linear infinite .75s
        animation-direction: alternate-reverse

        &:hover
            animation-play-state: paused

        & svg
            width 60%

    &_markerRibbon
        position absolute
        transition all 0.2s
        font-size 12px
        height 24px
        line-height 24px
        white-space nowrap
        display block
        background #fff
        padding 0 10px 0 26px
        left 50%
        top 50%
        margin-top -12px
        filter drop-shadow(0 2px 10px rgba(0, 0, 0, .1))
        color: #c43f60
        &:after
            content ''
            position absolute
            display block
            height 100%
            width 16px
            right -15px
            top 0
            background url(/img/marker_ribbon_corner.svg) center no-repeat
            background-size 100% 100%

    
    &_close
        width: 50px
        height: 50px
        background #c43f60 url('../img/close.svg') center/30% no-repeat
        position: absolute
        border-radius: 50%
        right: 15px
        top 15px
        z-index: 300
        cursor: pointer


@keyframes pulse {

    0% {
    box-shadow: 0px 0px 0px 0px #fff
    }

    50% {
    box-shadow: 0px 0px 0px 1px #fff
    }
    100% {
    box-shadow: 0px 0px 0px 2px #fff
    }
}