.InfrasArticleGenplan
    width calc(100% - 355px)
    position relative
    height auto
    margin 0 auto
    margin-bottom 50px
    margin-top: -25px
    @media $smMinus
        display none

    &_psi
        position absolute
        z-index 70
        cursor pointer

    &_wrap
        height 100%
        position relative
        height 755px

        & .Genplan_marker
            z-index 200
            transform: translateY(15px)
            transition: .2s
            opacity: 0
            visibility: hidden

    &_overlay
        position relative
        height 100%

    &_sidebar
        // display none

        & .FilterSidebar_zone-left
            width 40%
            padding-right 35px

            & .FilterSidebar_zoneItem
                width 48%

            & .FilterSidebar_zoneTitle
                width 100%

        & .FilterSidebar_zone-right
            width 58%
            & .FilterSidebar_zoneItem
                width 30%

            & .FilterSidebar_zoneTitle
                width 100%

        & .FilterSidebar_zoneList
            display flex
            justify-content space-between
            flex-wrap: wrap
            align-items: flex-start

        & .FilterSidebar_zoneItem
            margin-bottom 12px
            font-size 14px

            & .FilterSidebar_zoneName
                font-size 14px

        & .FilterSidebar_zone
            margin-bottom 10px