.MapFilter
    height 640px
    width 100%
    background-color grey
    position relative

    &_map
        height 100%
        width 77%

        @media $smMinus
            width 100%

    &_filter
        position absolute
        right 0
        bottom 0
        width 23%
        height 100%
        background-color #fff
        z-index 300
        padding 50px 30px

        @media $smMinus
            width 40%

        @media $xs
            width 100%
            display none

    &_filterTitle
        color #8f3149
        font-family: 'Gotham Pro'
        font-size: 20px
        font-weight 400
        margin-bottom 25px

    &_filterList
        margin 0
        padding 0

    &_close
        background url('../img/map-filter_close.svg') center/contain no-repeat
        width 54px
        height 54px
        position absolute
        top 16px
        right 20px
        cursor pointer
        display none

        @media $smMinus
            display block

    &_filterItem
        list-style: none
        display flex
        justify-content space-between
        align-items center
        cursor pointer

        &:not(:last-of-type)
            margin-bottom 15px

        &-active
            &.MapFilter_filterItem-orange
                & .MapFilter_itemPic
                    background-color #fec919

            &.MapFilter_filterItem-green
                & .MapFilter_itemPic
                    background-color #438c7e
            
            &.MapFilter_filterItem-blue
                & .MapFilter_itemPic
                    background-color #4a6ead

            &.MapFilter_filterItem-red
                & .MapFilter_itemPic
                    background-color #ff5240

            &.MapFilter_filterItem-lightGreen
                & .MapFilter_itemPic
                    background-color #859938

            &.MapFilter_filterItem-darkRed
                & .MapFilter_itemPic
                    background-color #c43f60
            
            &.MapFilter_filterItem-yellow
                & .MapFilter_itemPic
                    background-color #dcda61

            &.MapFilter_filterItem-lightRed
                & .MapFilter_itemPic
                    background-color #ff7365
    &_itemName
        color #575759
        font-size 15px

    &_itemPic
        width 38px
        height 38px
        border-radius 50%
        background-color #efeef5
        flex-shrink: 0
        display flex
        justify-content center
        align-items center

        & svg path, g
            fill #fff

        & .MedicalSvg path
            fill: none
            stroke #fff

    &_reset
        display block
        width 100%
        border none
        color #c63f61
        background-color #fff
        display flex
        justify-content space-between
        align-items center
        padding 0
        margin-top 40px
        font-family: 'Gotham Pro';
        font-size: 15px
        font-weight: 500