.marker
  position absolute
  top 50px
  left 50%
  z-index 2
  &-hover
    cursor pointer
    .marker_text
      display inline-block
      width 0
      transition width .6s ease
      overflow hidden
      &:after
        width 0
        transition width .9s ease
  &-active
    z-index 10
    .marker_text
      width 100%
      transition width .5s ease
      &:after
        transition width .3s ease
        width 100%

  &_ico
    height 60px
    width 60px
    background no-repeat center / contain
    position relative
    z-index 2
  &_textWrp
    position absolute
    top 20px
    left 70%
    pointer-events none
  &_text
    color #c43f60
    font-size 12px
    height 22px
    line-height 22px
    span
      position relative
      padding 0 20px
      z-index 2
      white-space nowrap

    &:after
      content ''
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      background #fff
      transform-origin top right
      transform skew(-30deg)
      z-index 1