.Menu
  position absolute
  right 0
  top 0
  bottom 0
  margin 0
  height 100%
  overflow auto
  transition all .4s
  transform translateX(100%)
  &-active
    transform translateX(0%)

  &_inner
    background #8f3149 url(/img/menu_pattern.png)
    background-size 100% auto
    color #ffffff
    min-height 100%
    position relative
    @media $xs
      padding 17px 16px
      width 240px
    @media $sm
      padding 34px 48px 84px 46px
      width 480px
    @media $md
      padding 38px 67px 84px 53px
      width 582px

    &:before
      content ''
      width 192px
      height 284px
      position absolute
      display block
      background url('/img/bird_menu.svg') center no-repeat
      background-size 100% 100%
      bottom 0
      right 26px

  &_head
    display flex
    justify-content space-between
    @media $xs
      margin-bottom 45px
    @media $smPlus
      margin-bottom 73px

  &_title
    font-weight 500
    margin 0
    @media $xs
      font-size 15px
    @media $smPlus
      font-size 18px
  &_closeBtn
    border 0
    background none
    position relative
    color #ffffff
    font-weight 500
    cursor pointer
    @media $xs
      font-size 14px
      padding-right 35px
    @media $smPlus
      font-size 15px
      padding-right 42px
    &:after
      content ''
      position absolute
      width 20px
      top 50%
      margin-top -9px
      right 0
      height 20px
      background center no-repeat
      background-size contain
      background-image embedurl("../../../assets/img/close.svg", "utf8")
  &_group
    position relative
    z-index 10
    @media $xs
      margin-bottom 26px
    @media $sm
      margin-bottom 34px
    @media $md
      margin-bottom 36px
  &_groupHead
    font-weight 500
    text-transform uppercase
    cursor pointer
    @media $xs
      font-size 15px
      letter-spacing -.4px
      margin-bottom 11px
      position relative
    @media $smPlus
      margin-bottom 7px
      font-size 18px
      letter-spacing -.5px
    &:hover,
    &-active
      color #dfdd81

    &-withSubmenu
      @media $smPlus
        pointer-events none
      &:after
        @media $xs
          transition all .2s
          content ''
          width 11px
          height 7px
          right 0
          top 50%
          position absolute
          margin-top -4px
          display block
          background embedurl("../../../assets/img/angle_down.svg", "utf8") center no-repeat
          background-size 100% auto
    &-submenuOpen
      &:after
        @media $xs
          transform rotate(180deg)
  &_listWrap
    overflow hidden
    @media $xs
      display none

  &_groupHead-submenuOpen + &_listWrap
    @media $xs
      display block

  &_list
    list-style none
    padding-left 0
    margin-bottom 0
    @media $xs
      border solid 1px mix(#dfdd81, #8f3149)
      border-right 0
      border-left 0
      padding 11px 0 18px
    @media $smPlus
      margin-left -32px

  &_item
    @media $xs
      margin-bottom 22px
      line-height 1.2
    @media $sm
      margin-bottom 12px
    @media $smPlus
       display inline-block
       position relative
       padding-left 32px
    @media $md
      margin-bottom 6px
    &:last-child
      margin-bottom 0
    &:before
      @media $smPlus
        content ''
        position absolute
        top 50%
        left 12px
        width 4px
        height 4px
        margin-top -2px
        display block
        border-radius 50%
        background #fff


  &_link
    font-size 14px
    &:hover,
    &-active
      color #dfdd81
      text-shadow 0 0 0 #dfdd81

  &_footer
    height 84px
    display flex
    align-items center
    position absolute
    bottom 0
    font-size 15px
    @media $xs
      display none
