.Message
    $close_button_width = 54px
    position relative
    &_dialog
        position relative
        @media $smPlus
            padding-right ($close_button_width / 2)
            padding-top ($close_button_width / 2)
        &-v1
            @media $sm
                max-width 614px
            @media $smPlus
                position absolute
                z-index 100
                right 93px
                bottom 21px
    &_closeBtn
        line-height 0
        border 0
        background-color #fff
        position absolute
        top 0
        right 0
        @media $xs
            padding 14px 14px 4px 4px
        @media $smPlus
            width $close_button_width
            height $close_button_width
            border-radius 50%
            padding 0
            transition all .2s
            box-shadow 0 2px 10px 0 rgba(0, 0, 0, .1)
            display flex
            justify-content center
            align-items center
            &:hover
                transform scale(1.06)
    &_closeCross
        fill #859938
        margin 0
        width 22px
        height auto
    &_content
        background-color #fff
        box-shadow 0 4px 10px 0 rgba(0, 0, 0, .08)
        @media $xs
            padding 37px 16px 22px
        @media $sm
            max-width 610px
        @media $smPlus
            padding 26px 28px 20px
            max-width 610px
        @media $md
            max-width 654px
    &_title
        font-size 20px
        font-weight 500
        margin-bottom 12px
        &-redColor
            color #c43f60
    &_text
        line-height 1.6
        color #575759
        font-size 15px
        @media $smPlus
            max-height 156px
            overflow auto