.MetroScheme
    margin-bottom 80px
    &_title
        color #8f3149
        font-size 20px
        margin-bottom 35px

    &_wrap
        display flex
        justify-content space-between

        @media $xs
            flex-wrap wrap

    &_col
        width 49%
        @media $xs
            width 100%
            padding-right 5px

    &_list
        width 100%
        list-style none
        margin 0
        padding 0
        padding-left 54px
        position relative

        &:after
            content ''
            display block
            position absolute
            left 0
            top -15px
            bottom -15px
            width 7px
            background url('../img/metro-scheme/line.svg') center/cover repeat-x

    
    &_item
        margin-bottom 10px
        position relative
        color #575759
        font-size 15px
        font-family 'Gotham Pro'

        & svg
            display block
            position absolute
            transform: translate(0, -50%)
            top 10px
            left -60px
            z-index 5

    &_desc
        font-size 13px
        color #848497