.Modal
    background #fff
    padding 24px  
    &_head
        font-size 30px
        font-weight normal
        text-align center
        font-stretch normal
        @media $md
            padding-top 16px
    &_headDivider
        text-align center
        padding-bottom 10px
        margin-top -6px
    &_desc
        text-align center
        font-size 15px
        padding-bottom 22px
        line-height 1.5
    
    