.Multycheckbox
    display flex
    align-items center
    justify-content space-between
    cursor pointer
    padding-right 4px
    padding-bottom 17px
    &-disabled
        opacity .5
        pointer-events none
        filter grayscale(100%)
    &_lbl
        padding-right 10px
        color #575759
        display block
        border 0
        background none
        padding 0
        margin 0   left
        font-size 14px
        @media $md
            font-size 15px

        @media $xs
            font-size 15px
    &_ico
        &-type1
            width 22px
            height 22px
            border-radius 50%
            background-color #efeef5


.Multycheckbox_inp[value='1'] + .Multycheckbox_ico
    &-type1
            background #859938 center no-repeat
            background-image embedurl("../assets/img/checkmark_bold.svg", "utf8")

.Multycheckbox_inp[value='0'] + .Multycheckbox_ico
    &-type1
            background #c63f61 center no-repeat
            background-image embedurl("../assets/img/cross.svg", "utf8")
            background-size 50%
    