.NoPlansFound
    text-align center
    @media $smMinus
        font-size 18px
        padding-bottom 28px
        padding-top 20px
    @media $md
        font-size 20px
        padding-bottom 30px
        padding-top 48px
    &:before
        content ''
        display inline-block
        width 70px
        height 43px
        background url('/img/red_branch_with_bird.svg') center no-repeat
        @media $smMinus
            margin-bottom 11px
        @media $md
            margin-bottom 14px
    &_text
        color #142547
        @media $smMinus
            margin-bottom 36px
        @media $md
            margin-bottom 40px
        &-red
            color #c63f61