.OfferCard
    box-shadow 0 1px 10px 4px rgba(0, 0, 0, .1)
    background #fff
    border-bottom 2px solid #9893c0
    @media $xs
        padding 32px 16px 18px
        margin-bottom 40px
    @media $sm
        padding 42px 30px 32px
        margin-bottom 42px
    @media $md
        padding 36px 35px 77px
        margin-bottom 40px
        width 32%
        margin-right 2%
    &:nth-child(3n)
        @media $md
            margin-right 0
    &-v1
        border-color #c63f61
    &-v2
        border-color #859938
    
    &_head
        text-align center
        color #9893c0
        border-bottom 1px solid mix(#9893c0, #fff)
        @media $xs
            font-size 20px
            padding-bottom 20px
            margin-bottom 22px
        @media $sm
            font-size 25px
            padding-bottom 30px
            margin-bottom 33px
        @media $md
            font-size 36px
            padding-bottom 25px
            margin-bottom 44px
    &-v1 > &_head
        color #c63f61
        border-color mix(#c63f61, #fff)
    &-v2 > &_head
        color #859938
        border-color mix(#859938, #fff)
    &_desc
        color mix(#262626, #fff, 80%)
        font-family Verdana
        @media $smMinus
            font-size 14px
            line-height 1.71
        @media $md
            font-size 15px
            line-height 1.6