.PageBtn
  position absolute
  top 157px
  border solid 1px rgba(151, 151, 151, .19)
  font-size 15px
  transition color .3s ease, background .3s ease
  padding 12px 26px
  font-family 'Verdana'
  z-index 5
  color #c63f61

  &_txt,
  & >.SvgIco-angleRight
    display inline-block
  & > .SvgIco-angleRight
    vertical-align baseline
  &_txt
    vertical-align text-bottom

  &-prev
    left 0
    & > .SvgIco-angleRight
      margin-right 10px
      transform rotate(180deg) scale(1.2)
  &-next
    right 0
    & > .SvgIco-angleRight
      margin-left 10px
      transform translateY(-1px) scale(1.2)
  @media $sm
    background-color rgba(255, 255, 255, .45)
    top 47vh
    padding 26px 27px
  @media $md
    color #85858e
    top 317px
    padding 26px 52px
    &:hover
      color #c63f61