.PageHead
    width 100%
    margin-right auto
    margin-left auto
    @media $xs
        padding 102px 16px 27px
    @media $sm
        max-width ($smBoxWidth + 48px)
        padding-bottom 34px
        padding-top 100px
    @media $md
        max-width ($mdBoxWidth - 92px)
        padding-bottom 60px
        padding-top 25px

    &_commercialBread
        padding-left 20px
        padding-top 15px
        @media $smMinus
            padding-left 0
    &-withButton
        @media $smPlus
            position relative
            padding-right 200px

    &-flatType
        max-width none
        width 100%
        display flex
        justify-content flex-start

        & .PageHead_toBack
                position static
                left auto
                top auto
                transform: none
                @media $smMinus
                    position static
                    left auto
                    top auto
                    transform: none
                    margin-left 0
    &_title
        color #8f3149
        margin 0
        &-noDesc
            margin-bottom 60px
            @media $xs
                margin-bottom 40px
        @media $xs
            font-size 26px
            line-height 30px

        @media $sm
            font-size 34px
            line-height normal

        @media $md
            font-size 50px
            line-height 1.2
            max-width 70%
    &_toBack
        display inline-flex
        align-items center
        font-size 15px
        color #9e9e9e
        font-family Verdana, sans-serif
        letter-spacing .1px
        @media $xs
            position absolute
            left 50%
            transform translateX(-33%)
            top 93px
        @media $sm
            position absolute
            top 148px
            left 50%
            margin-left -194px
        @media $md
            font-size 15px
            color #9e9e9e
            position relative
            left 20px
        & > .SvgIco-angleRight
            transform rotate(180deg) scale(1.2) translateY(-1px)
            margin-right 10px
