.Panel
    border-radius 3px
    background-color #ffffff
    box-shadow 0 4px 10px 0 rgba(0, 0, 0, .08)
    &_head
        background-color #c43f60
        text-align center
        color #fff
        font-weight 500
        line-height normal
        border-top-left-radius 3px
        border-top-right-radius 3px
        @media $xs
            font-size 15px
            padding 17px
        @media $smPlus
            font-size 18px
            padding 17px
    &_content
        @media $xs
            padding 26px 30px
        @media $smPlus
            padding 21px 40px

    &-popup > &_head
        font-size 15px
        padding 12px
        position relative
        &:before
            content ''
            position absolute
            width 14px
            height 8px
            background-image embedurl('../../../assets/img/caret_up.svg')
            background-size 100% 100%
            top -6px
            left 50%
            margin-left -4px
    &-popup > &_content
        font-size 15px
        padding 26px 30px 24px