.PopupBtn
  color #fff
  position absolute
  top 6%
  right 6%
  z-index 200
  // transition all .3s
  @media $xs
    width 100%
    top 0
    right 0
  &-v1
    @media $xs
      top $xsHeaderHeight
    @media $sm
      top 116px
      right 72px
    @media $md
      top 138px
      right 92px
  &-v2
    @media $xs
        top 63px
    @media $sm
        top 116px
        right 68px
    @media $md
        top 114px
        right 60px
  &-n1
    @media $smPlus
      transform translateZ(40px)
      transform-style preserve-3d
      top 8%
      right 7%
  &-n2
    @media $xs
        top $xsHeaderHeight

  &-articleBurger
    top 36%
    right auto
    left 6%
    position fixed

    @media $smMinus
      top 26%
      // position sticky
    @media $xs
      width 100%
      top 30%
      left 0
      right auto

    & .PopupBtn_content
      left 0
      right auto
      background url("/img/green.png") no-repeat center / cover

    & .PopupBtn_btn
      // right auto
      // left 16px
      // border-radius: 50%

      @media $smMinus
        &:hover
          transform none
      &:before
        background: #91a34c url('../img/burger-menu.svg') no-repeat center center/60%

      &:after
        background: url(../img/popup-close-white.svg) no-repeat center/auto

    & .PopupBtn_wrp
        padding 0

  &_content
    background url("/img/popup-bg.png") no-repeat center / auto
    position absolute
    right 0
    top 0
    width 100%
    display none
    will-change: clip

    @media $smPlus
      width 448px
    @media $xs
      max-height: calc(100vh - 52px);
      overflow-y: scroll;
    &-whiteBg
      background #fff
      color #000000

  &_listLinks
    width 100%

  &_linkScroll
    display block
    padding 15px 35px
    border-bottom 1px solid rgba(#fff, 0.2)
  &_wrp
    opacity 1
    padding 115px 18px 40px
    @media $smPlus
      padding 34px 25px 34px 34px
    & > h4
      font-size 26px
      margin-bottom 20px
      font-weight 500
      line-height 1.1
      @media $md
        font-size 30px
    & > h5
      font-size 18px
      font-weight 500
      line-height 1.1
    & > h6
      font-size 20px
      font-weight 400
      line-height normal
    & > p
      font-size 14px
      @media $md
        font-size 15px
    & > ul
      list-style none
      font-size 15px
      padding 0
      & > li
        & > a
          font-size 15px
          color mix(#000, #fff, 60%)
          &:hover
            color #c43f60
  &_btn
    border-radius 50px
    width 60px
    height 65px
    cursor pointer
    position absolute
    top 25px
    right 16px
    z-index 50
    transition transform .2s
    &:hover
      transform scale(1.06)
    &:before,
    &:after
      content ''
      position absolute
      pointer-events none
    &:before
      width 85%
      height 80%
      top 4px
      right 5px
      background #8F3149 url("/img/star.svg") no-repeat center bottom / auto
      opacity 1
      border-radius 50px
    &:after
      top 0
      left 0
      width 98%
      height 98%
      background url("/img/popup-close.svg") no-repeat center / auto
      opacity 0
      transition opacity 1s ease
      z-index 2
    &-birdIco
      &:before
        background-color #8f3149
        background-image url('/img/bird_for_popup_btn.svg')
        background-size 70% auto
        background-position bottom left 66%
    &-routesIco
      &:before
        background-image url('/img/routes.svg')
        background-size 52% auto
        background-position top 50% center
    &-greenBg
      &:before
        background-color #859938
    &-open
      &:after
        opacity 1
    @media $smPlus
      right -25px
      top -25px
  &_btns
    text-align center
    padding-top 28px
    @media $smPlus
      padding-top 42px
      text-align left
  &_btns > &_link,
  &_btns > .Btn
      display block
      @media $smPlus
        display inline-block
  &_btns > .Btn
      margin-bottom 23px
      @media $smPlus
        margin-bottom 0
        margin-right 65px
        padding 14px 30px
  &_wave
      width 140%
      background-color transparent
      border 2px solid #8f3149
      position absolute
      border-radius 50%
      left 50%
      top 50%
      margin-top -3px
      animation buttonWave 2.2s infinite linear
      transition all .1s
      transform: translate(-50%, -50%)
      opacity 0
      z-index -100
      pointer-events none
      &:after
          content ''
          display block
          padding-top 100%
      &-n2
          width 120%
          animation-delay .3s
      @media all and (-ms-high-contrast:none)
        // IE11 only
        display none
  &_btn-open > &_wave
    opacity 0 !important
    visibility hidden
  &_readMoreLinkWrap
    text-align right

  &-fierfox
    & .PopupBtn_btn
      &:hover
        transform: none


@-webkit-keyframes buttonWave
    0%
        transform: translate(-50%, -50%) rotate(0) scale(.5)
        opacity 0
    50%
        transform: translate(-50%, -50%) rotate(0) scale(.7)
        opacity .5
    100%
        transform: translate(-50%, -50%) rotate(0) scale(1)
        opacity 0
