.Preloader
    position fixed
    // background rgba(255, 255, 255, 1)
    width 100%
    height 100%
    z-index 999999
    overflow hidden
    top 0
    left 0
    &_pic
        position absolute
        top 50%
        left 50%
        width 74px
        height 74px
        margin-left -37px
        margin-top -37px
        animation-name preloaderAnime
        animation-iteration-count infinite
        animation-duration 2.5s
        animation-timing-function linear
        

@keyframes preloaderAnime
    0%
        transform rotateY(0deg) scale(1, 1)
        opacity 0
        color #8F3149
    12%
        transform rotateY(16deg) scale(1.1, 1.1)
        opacity .42
        color #8F3149
    24%
        transform rotateY(32deg) scale(1.18, 1.09)
        opacity 1
        color #8F3149
    36%
        transform rotateY(0deg) scale(1.09, 1.08)
        opacity .5
        color #8F3149

    50%
        transform rotateY(0deg) scale(1, 1)
        opacity 0
        color #8F3149
    51%
        transform rotateY(0deg) scale(1, 1)
        opacity 0
        color #859a30
    62%
        transform rotateY(16deg) scale(1.1, 1.1)
        opacity .42
        color #859a30
    74%
        transform rotateY(32deg) scale(1.18, 1.09)
        opacity 1
        color #859a30
    86%
        transform rotateY(0deg) scale(1.09, 1.08)
        opacity .5
        color #859a30
    100%
        transform rotateY(0deg) scale(1, 1)
        opacity 0
        color #859a30
    
    