.PromoDesc
    @media $md
        display grid
        grid-template-columns 1fr 1fr
    &_pic
        background-size cover
        background-position top center
        display block
        box-shadow 0 13px 32px 0 rgba(0, 0, 0, .17)
        @media $xs
            margin-bottom 28px
        @media $sm
            margin-bottom 37px
        &:before
            content ''
            display block
            @media $xs
                padding-top 63%
            @media $sm
                padding-top 46.5%
            @media $md
                padding-top 63%
    &_textWrap
        @media $xs
            padding-left 16px
            padding-right 12px
        @media $sm
            padding-left 24px
            padding-right 24px
        @media $md
            padding-left 48px
            padding-right 32px
            -ms-grid-column 2