.RangeSlider
	width 100%
	padding 0 7px
	&_track
		width 100%
		height 2px
		border 0
		&:before
			content ''
			position absolute
			display block
			top 0
			left -7px
			right -7px
			height 100%
			background #d8d6e5

	&_progress
		background #859938
		border 0
		outline 0
		width 100%
	&_handle
		width 22px
		height 22px
		margin-top -11px
		margin-left -11px
		border-radius 50%
		border 1px solid rgba(133, 153, 56, 0.3)
		&:hover
			cursor grab
		&.ui-state-active
			cursor grabbing
		&:after
			content ''
			background #859938
			position absolute
			width 14px
			height 14px
			border-radius 50%
			top 50%
			left 50%
			margin-top -7px
			margin-left -7px
			display block

	&_rangeVals
		display flex
		color #142547
		font-size 14px
		padding-top 14px
		margin 0 -7px
	&_valViewWrap
		width 50%
		max-width 50%
		position relative
		&-max
			text-align right
	&_minValViewEl,
	&_maxValViewEl
		margin-right 4px
		transform translateZ(0)
		display inline-block
		position relative
	&_popupInp
		position absolute
		top 0
		bottom 0
		left 0
		right 0
		font inherit
		border 0
		background #fff
		text-align inherit
		padding 0 6px
		width 100%