.Scheme
    display block
    width 100%
    max-width 100%
    height auto
    @media $xs
        margin 0 auto 17px
        max-width 435px
    @media $sm
       margin 0 0 26px
    @media $md
       margin 0 0 22px
    &_shape
        fill #e7e7e7
        &-active
            fill #c35975!important