.Share
    &_head
        color #434343
        font-weight 700
        font-size 15px
        line-height 26px
        padding-bottom 16px
    &_link
        display inline-block
        @media $xs
            color #979797!important
            margin-right 15px
        @media $smPlus
            color #C1C1C1
            margin-right 18px
            &-tw
                &:hover
                    color #1DA1F2
            &-vk
                &:hover
                    color #6083AB
            &-fb
                &:hover
                    color #3A5998
    &_icoPath
        fill currentColor
    &_icoCircle
        stroke currentColor
    &-n1
        padding-top 58px
        padding-left 38px