.Slideshow
    user-select none
    height 100%
    width 100%
    position absolute
    top 0
    left 0
    z-index 10
    &-3Dlifted
        transform translateZ(39px) scale(.9)
        transform-style preserve-3d
        z-index 10
        @media $smPlus
            width calc(100% - 120px)
    &_slider,
    &_track,
    &_item
        height 100%
    &_item
        position relative
        background-position center
        background-repeat no-repeat
        background-size cover
        display flex
        align-items flex-end

        &-darkened
            &:before
                content ''
                z-index -1
                left 0
                top 0
                right 0
                bottom 0
                position absolute
                background rgba(0, 0, 0, .17)
                pointer-events none

    &_itemContent
        color #fff
        text-shadow 1px 1px 1px rgba(0, 0, 0, .15)
        @media $xs
            padding 26px 20px 85px
        @media $sm
            padding 44px 47px 96px
            max-width 798px
        @media $md
            padding 82px 86px 63px
            max-width 880px
    &_head
        font-weight 500
        @media $xs
            font-size 22px
            line-height 1.2
        @media $sm
            font-size 38px
            line-height 1.2
        @media $md
            font-size 48px
            line-height 1.1
        &:after
            content ''
            display block
            width 66px
            height 27px
            background url('/img/slideshow_header_branch.svg') center no-repeat
            @media $xs
                margin-top: 5px
                margin-bottom: 6px
            @media $sm
                margin-top 16px
                margin-bottom 16px
            @media $md
                margin-top 7px
                margin-bottom 16px
    &_text
        font-family Verdana, sans-serif
        letter-spacing 0.1px
        line-height 1.2
        @media $xs
            font-size 14px
            padding-bottom 19px
        @media $sm
            font-size 14px
            padding-bottom 30px
        @media $md
            font-size 15px
            padding-bottom 27px
        &>p
            margin-bottom .5em
    &_pagination
        position absolute
        bottom 0
        right 0
        z-index 1
        display flex
        @media $xs
            height 50px
            width 100px
        @media $smPlus
            height 60px
            width 120px
        &:after
            content ''
            position absolute
            height 50%
            display block
            background #efefef
            width 2px
            left 50%
            top 50%
            margin-left -1px
            transform translateY(-50%)
    &_arrow
        flex 1
        max-width 50%
        height 100%
        border 0
        outline 0!important
        overflow hidden
        color #fff
        padding 0
        background #fff  url('/img/slideshow_arrow.svg') center no-repeat
        background-size 7px auto
        &:hover
            background-size 9px auto
        &-prev
            transform scale(-1)
