.Splash
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    color #fff
    z-index 9999
    background #fff url('/img/splash.jpg') center no-repeat
    background-size cover
    overflow-y auto
    &_inner
        @media $xs
            right 60px
            background url('/img/sm_splash_bg_pattern.svg') top right repeat-y
            background-size auto
        @media $sm
            width 712px
            background url('/img/sm_splash_bg_pattern.svg') center
            background-size 100% 100%
        @media $md
            width 674px
            background url('/img/md_splash_bg_pattern.svg') center
            background-size 100% 100%
            
    &_plate
        min-height 100vh
        background #9699c7
        position relative
        display flex
        flex-direction column
        justify-content space-between
        @media $xs
            width 258px
        @media $sm
            width 352px
            margin-left -289px
            left 50%
        @media $md
            width 272px
            margin-left -160px
            left 50%
    &_logoWrap
        @media $xs
            padding 25px 42px 28px
        @media $sm
            padding 38px 36px 74px
        @media $md
            padding 33px 28px 56px
            
    &_logo
        width 100%
        max-height 30vh
    &_slogan
        position relative
        font-weight 300
        border-top 1px solid rgba(255, 255, 255, .17)
        border-bottom 1px solid rgba(255, 255, 255, .17)
        line-height 1.34
        font-size 30px
        @media $xs
            padding 10px 0 19px
            margin 0 28px 23px
        @media $sm
            padding 23px 0 36px
            margin 0 42px 23px
        @media $md
            padding 12px 0 15px
            margin 0 32px 23px

        &:after
            content ''
            position absolute
            width 39px
            height 17px
            background  url('/img/branch_leaf.svg') center no-repeat
            opacity .17
            bottom -7px
            right 22%
    &_divider
        border-bottom 2px solid #bdc1f3
        margin-bottom 2px
        &:before
            content ''
            position relative
            left 59%
            display block
            background url('/img/bird_for_violet_splash.svg') bottom center no-repeat
            background-size contain
            @media $xs
                width 36px
                height 35px
            @media $sm
                height 56px
                width 56px
            @media $md
                height 46px
                width 46px
    &_buttonWrap
        background #bdc1f3
        text-align center
        @media $xs
            padding 19px 0 17px
        @media $sm
            padding 32px 0
        @media $md
            padding 20px 0 18px
    &_plateBottomSpacer
        background url('/img/splash_bg_pattern_violet.svg') top center no-repeat
        background-size cover
        @media $xs
            height 103px
        @media $sm
            height 160px
        @media $md
            height 132px