.StickyBtn
    display block
    position fixed
    z-index 140
    bottom 16px
    right 16px
    width 54px
    height 54px
    border 0
    background #8f3149 center no-repeat
    border-radius 50%
    box-shadow 0 2px 10px 0 rgba(0, 0, 0, .15)
    transition all .2s
    &:hover
      transform scale(1.06)
    &-green
        background-color #859938
    &-orange
        background-color rgba(242, 96, 96, 1)
    &-settings
        background-image url('/img/settings.svg')
        background-size 50% auto

    &-mapFilter
        right 20px
        top 16px
        position absolute

    &-forGenplan,
    &-forSplashscreen
        position absolute
        @media $xs
            top 23px
            right 16px
        @media $sm
            top 25px
            right 24px
        @media $md
            top 51px
            right 32px
    &-forFlatTypePage
        position absolute
        @media $xs
            top 77px
            right 16px
        @media $sm
            top 117px
            right 72px
        @media $md
            top 137px
            right 88px
    &-forContactsPage,
    &-forContactsPage2,
    &-forContactsPage3
        position absolute
        top 23px
        right 20px
        @media $sm
            right 46px
        @media $md
            right 38px
    &-forContactsPage2
        top 92px
    &-forContactsPage3
        top 161px
    &-bird
        background-image url('/img/birdbtn.svg')
        opacity 0
        transition opacity .5s linear
    &-close
        background #fff url("/img/close_red.svg") center no-repeat
        background-size 36%
    &-route
        background-image url("/img/routes.svg")
    &-cinema
        background-image url("/img/cinema.svg")