.SvgIco
    display inline-block
    vertical-align middle
    &_path, &_fillGroup
      fill currentColor
    &_line
      stroke currentColor

.Svg
  width 100%
  height auto

.SvgSectionNav
  margin-top -5%
  margin-left -5%
  @media $ie11
    height 275px
  &_link:hover, &_link-active
    & g, path, polygon
      fill #ca6e84

  &_link
    &-notAvailable
      pointer-events none
      & text
        fill #c0c0c0