.SwingedBird

    &_marker
        width 85px
        height 85px
        background-color #8F3149
        border-radius: 50%
        overflow hidden
        border 3px solid #fff
        position: relative
        z-index: 5

    &_svg
        width 80%
        position: absolute
        transform: translate(-50%, 0)
        left 50%


    &_swing
        transform-origin: 50% 10%
        transform: rotate(0deg)
        animation: rotateSwing 1.2s linear infinite .75s
        animation-direction: alternate-reverse
    &_bird
        transform-origin: 42% 2%
        transform: rotate(0deg)
        animation: rotateBird 1.2s linear infinite .75s
        animation-direction: alternate-reverse

    &_desc
        color #8F3149
        font-size: 23px
        position: absolute
        min-width: 240px
        left 70px
        transform: translate(0, -50%)
        top 50%
        background-color #fff
        padding 10px
        padding-left: 25px
        z-index: 3
        white-space: nowrap
        &:after
            content: ''
            position: absolute
            display: block
            height: 100%
            width: 38px
            right: -37px
            top: 0
            background: url(/img/marker_ribbon_corner.svg) center no-repeat
            background-size: 100% 100%


@keyframes rotateSwing {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-15deg);
    }

    100% {
        transform: rotate(-23deg);
    }

}

@keyframes rotateBird {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-15deg);
    }

    100% {
        transform: rotate(-23deg);
    }

}
