.Tabs
    display flex
    width 100%
    list-style none
    padding 0
    border-bottom 1px solid mix(#898992, #fff, 20%)
    &_item
        text-align center
        color #575759
        font-size 15px
        font-weight 500
        border-bottom 3px solid transparent
        position relative
        bottom -2px
        &-active
            border-color #c63f61
            color #c63f61
    &_link
        display inline-block
        padding 14px 20px
        &:hover
            color #c63f61
    &-aligned > &_item
        @media $sm
            flex auto
        @media $md
            flex 1