.Tbl
    display table
    width 100%
    text-align center
    color #434343
    font-size 15px
    @media $xs
        font-size 14px
        margin-bottom 10px
        overflow-x scroll
    @media $sm
        margin-bottom 24px
    &_delText
        font-size .88em
    &_insText
        color #c63f61
        text-decoration none
        font-weight 700
    &-LeftTxt
        text-align left
        margin-bottom 0

        .Tbl_tr
            .Tbl_td,
            .Tbl_th
                padding-left 0
                padding-right 0
            &:last-child
                .Tbl_td
                    border none
    &_thead
        display table-header-group
    &_tbody
        display table-row-group
    &_tr
        display table-row
        &-link
            &:hover
                background-color #c63f61
                color #fff
        &-bold
            font-weight 600
        &-fontBig
            font-size 14px
            @media $smPlus
                font-size 20px

    &_td,
    &_th
        display table-cell

    &_th
        color mix(#3c3c43, #fff, 60%)
        white-space nowrap
        @media $xs
            font-size 10px
            padding 12px 6px 4px
        @media $sm
            padding 15px 10px 4px
        @media $smPlus
            letter-spacing .1px
            font-size .8em
        @media $md
            padding 14px 10px 4px
        &[data-sort-by]
            cursor pointer
            &:after
                content ''
                display inline-block
                width 0
                height 0
                border-style solid
                border-width 0 4px 6px 4px
                border-color transparent transparent #575759 transparent
                margin-left 5px
                position relative
                top -2px
                opacity 0.4

            &:hover
                &:after
                    opacity 0.7
        &-sortable
            cursor pointer
            position relative
            color #575759
            // @media $xs
            //     padding-right 0
            //     padding-left 3px

            &:after
                content ''
                display inline-block
                width 0
                height 0
                border-style solid
                border-width 0 4px 6px 4px
                border-color transparent transparent #575759 transparent
                margin-left 5px
                position relative
                top -2px
                opacity 1 !important


                // @media $xs
                //     border-width 0 2px 3px 2px
                //     display none


        &-sortableActive
            &:after
                transform rotate(180deg)

    &_thead-bordered > &_tr > &_th
        border-top 1px solid #D9D9D9
        border-bottom 1px solid #D9D9D9
        @media $xs
            padding-top 15px
            padding-bottom 15px
        @media $sm
            padding-top 20px
            padding-bottom 20px
        @media $md
            padding-top 21px
            padding-bottom 21px
    &_td
        border-bottom 1px solid #D9D9D9
        overflow hidden
        font-weight 500
        @media $xs
            padding 27px 8px
        @media $sm
            padding 30px 10px
        @media $md
            padding 32px 10px
        &-tightTop
            @media $xs
                padding-top 2px
            @media $sm
                padding-top 4px
            @media $md
                padding-top 5px
        &-nowrap
            white-space nowrap
        & > .SvgIco-checkBold
            color #859938
        & > .SvgIco-crossBold
            color #c63f61
    &_tr-link:hover > &_td > .SvgIco,
    &_tr-link:hover > &_td > &_insText
        color #fff

    &_tr-link:hover
        & .Tbl_bldTime
            color #fff

    &_caption
        color #000000
        font-weight 400
        display table-caption
        text-align left
        @media $xs
            font-size 20px
        @media $sm
            font-size 25px
        @media $md
            font-size 30px
            padding-bottom 6px
    &-flatList
        @media $xs
            font-size 11px
        @media $md
            table-layout fixed
        & > .Tbl_tr > .Tbl_td,
            vertical-align middle
            line-height 1.2
    &-flatList2
        @media $xs
            font-size 11px
        @media $sm
            margin-left 0
        @media $md
            table-layout fixed
        & > .Tbl_tbody > .Tbl_tr > .Tbl_td
            vertical-align middle
            line-height 1.2
            padding-top 10px
            padding-bottom 10px
            font-weight 400
            @media $xs
                padding 26px 8px
                padding-bottom 23px
        & > .Tbl_tbody > .Tbl_tr > .Tbl_td > .Tbl_insText
            font-weight 400

    &-commercial
        margin 0 auto
        margin-top 15px
        width 98%

        @media $xs
            width 100%
        & .Tbl_th
            border-top: none !important
    &_thumb
        width 62px
        height 62px
        background-position center
        background-repeat no-repeat
        background-size contain
        background-color #fff

    &_bldTime
        color: #7c7c7c
        font-size: 12px

        @media $xs
            display none
    &_popup
        background #fff
        width 350px
        height 350px
        padding 32px
        box-shadow 0 10px 60px 0 rgba(0, 0, 0, .08)
        pointer-events none
        display flex
        align-items center
        justify-content center
    &_popupImg
        display block
        width 100%
        height auto
        max-width 350px
        max-height 350px

    &-commercialSingle
        & .Tbl_th
            @media $xs
                font-size 12px

        & .Tbl_tr-fontBig
            @media $xs
                font-size 20px

        & .Tbl_td
            border-bottom: none
            width: 103px

        & .Tbl_th, .Tbl_td
            padding-left 0
