.Teaser
    @media $xs
        margin-bottom 70px
    @media $sm
        margin-bottom 94px
    @media $md
        display flex
        align-items center
        margin-bottom 74px

    &-smReverse
        @media $smMinus
            display flex
            flex-direction: column-reverse

            & .Teaser_txtWrap
                padding-left 0
                padding-right 0
                padding-bottom 20px
                padding-top 0

    &-metro
        align-items flex-start

        @media $smMinus
            display: flex
            flex-direction: column-reverse

            & .Teaser_txtWrap
                padding 0
                margin-bottom 30px
        & .Teaser_text
            color #8f3149
            font-size 20px
            line-height 1.6
    &-noMargin
        margin-bottom 0

    &-fullText
        @media $xs
            margin-bottom 30px
    &_picWrap
        @media $md
            align-self flex-start
            flex 1
            max-width 50%
    &_picture
        background-size cover
        background-position center
        display block
        will-change transform
        box-shadow 0 13px 32px 0 rgba(0, 0, 0, .17)
        &.hover-out
            transition .2s ease-out
        &.hover-in
            transition .2s ease-out
        &:before
            content ''
            display block
            @media $xs
                padding-top 63%
            @media $sm
                padding-top 46.5%
            @media $md
                padding-top 63%
        &-withGallery
            position relative
            &:after
                content ''
                position absolute
                width 50px
                height 50px
                background url('/img/zoom.svg') center no-repeat
                background-size 100% 100%
                opacity 0
                visibility hidden
                top 50%
                left 50%
                margin-left -25px
                margin-top -25px
                transition .2s
                @media $xs
                    visibility visible
                    transition none
                    opacity .5
            &:hover:after
                visibility visible
                opacity .5
        &-vertical
            height 630px
        &-v1
            &:before
                @media $xs
                    padding-top 56%
                @media $sm
                    padding-top 43%
                @media $md
                    padding-top 59%

    &_video
        position relative
        & iframe
            width 100%

    &_videoPlay
        position absolute
        transform: translate(-50%, -50%);
        top 50%
        left 50%
        width 85px
        height 85px
        background-color #fff
        border-radius: 50%
        cursor pointer
        &:after
            content ''
            display block
            width 75px
            height 75px
            border 1px solid #8f3149
            border-radius: 50%
            position absolute
            transform: translate(-50%, -50%)
            top 50%
            left 50%

        &:before
            content ''
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 6px 0 6px 9px;
            border-color: transparent transparent transparent #8f3149
            position absolute
            transform: translate(-50%, -50%)
            top 50%
            left 53%


    &_txtInner
        margin-bottom 30px
        &:last-child
            margin-bottom 0

    &_txtWrap
        @media $xs
            padding 28px 16px 0
        @media $sm
            padding 31px 23px 0
        @media $md
            padding 22px 41px 22px 46px
            flex 1
            max-width 50%
        &-fullWidth
            padding-left 0
           @media $md
                max-width 100%

    &-reversed > &_txtWrap
        @media $md
            order -1
    &_date
        color #7f7f7f
        font-size 13px
        margin-bottom 12px

    &_text
        color #575759
        @media $smMinus
            font-size 14px
            line-height 1.64
        @media $md
            font-size 15px
            line-height 1.53
        & > p
            @media $smMinus
                margin-bottom 10px
            @media $md
                margin-bottom 12px
    &_readMoreLink
        display inline-block
        color mix(#8f3149, #fff, 80%)
        font-weight 500
        font-size 15px
        &:hover
            color #8f3149
            text-decoration underline
        @media $xs
            font-size 15px
        & > .SvgIco-angleRight
            transform scale(1.4) translateY(-1px)
            margin-left 14px

    &_metroList
        margin 0
        padding 0
        padding-left 30px
        position relative
        &:after
            content ''
            display block
            position absolute
            left 0
            top -20px
            bottom -20px
            width 6px
            background-color #acadaf
            opacity 0.1

    &_metroItem
        list-style none
        position relative
        margin-bottom 15px
        color #575759
        font-size 15px
        font-family 'Gotham Pro'

        &:after
            content ''
            display block
            width 20px
            height 20px
            border-radius: 50%
            transform: translate(0, -50%)
            border 3px solid #ffffff
            position absolute
            left -37px
            top 50%

        &-brown
            &:after
                background-color #745c2f

        &-lightGreen
            &:after
                background-color #b1d333
        &-red
            &:after
                background-color #ef1e24

        &-orange
            &:after
                background-color #fbaa33
        &-grey
            &:after
                background-color #acadaf

        &-green
            &:after
                background-color #019a55

        &-purple
            &:after
                background-color #b61d8e

    &_metroDesc
        font-size 13px
        color #848497

    &_head
        margin-bottom 0
        font-weight 400
        @media $xs
            font-size 25px
            font-size 20px
            line-height 1.26
        @media $smMinus
            color #575759
        @media $sm
            font-size 25px
            line-height 1.3
        @media $md
            color #000000
            font-size 30px
            line-height 1.3
        &:after
            content ''
            display block
            background  url('/img/red_branch.svg') no-repeat
            @media $xs
                height 62px
                background-position left 54%
            @media $sm
                height 56px
                background-position left 55%
            @media $md
                height 53px
                background-position left 50%

        &-noDesktopDecore
            &:after
                display none

                @media $xs
                    display block

        &.Simple,
        &-simple
            margin-bottom 20px
            &:after
                display none
