.TechBtns
  display flex
  width 100%
  flex-direction row
  justify-content space-between
  align-items center
  max-width 420px
  padding-bottom 30px

  + .Tbl
    border-top solid 1px #d9d9d9

  &__item
    display block
    position relative
    overflow hidden
    padding-left 50px
    cursor pointer

    &._active
      ._email
        &:before
          background-image url('/img/email_icon_white.svg')

  &__inp
    position absolute
    top -9999px
    opacity 0

    &:checked
      + .TechBtns__ico
        background-color #c63f61

  &__txt
    font-size 15px
    font-weight 500
    line-height 40px

  &__ico
    transition ease .3s all
    position absolute
    top 0
    left 0
    width 40px
    height 40px
    background-color #ededed
    border-radius 50%

    &:before
      content ''
      position absolute
      top 50%
      left 50%
      transform translate(-50%, -50%)
      background-color transparent
      background-repeat no-repeat
      background-position 0 0

    &._email
      &:before
        width 20px
        height 14px
        background-image url('/img/email_icon.svg')

    &._pdf
      &:before
        width 18px
        height 24px
        background-image url('/img/PDF_icon.svg')

.TechFormWrapper
  position relative
  width 445px
  height 0
  overflow hidden
  box-shadow 0 2px 10px 0 rgba(87, 87, 89, 0.16)
  background-color #fff
  @media (max-width: 491px)
    width 100%

  &._active
    + .Tbl
      margin-top 30px

  &__close
    transition ease .3s all
    position absolute
    top 10px
    right 10px
    width 15px
    height 15px
    cursor pointer

    &:hover
      transform rotate(180deg)

    &:before,
    &:after
      content ''
      position absolute
      top 0
      left 50%
      width 1px
      height 100%
      background-color #8f3149

    &:before
      transform rotate(45deg)

    &:after
      transform rotate(-45deg)

.TechForm
  padding 40px 50px
  @media (max-width: 491px)
    padding 40px 20px

  p
    font-size 15px
    line-height 20px
    letter-spacing 0
    color #575759

  &__tlt
    position relative
    font-size 30px
    line-height 1.2
    padding-bottom 36px
    margin-bottom 15px

    + p
      margin 0

    &:before
      content ''
      position absolute
      left 50%
      bottom 0
      width 70px
      height 26px
      transform translateX(-50%)
      background transparent url('/img/red_branch.svg') 0 0 no-repeat

  &__step
    display flex
    flex-direction row
    justify-content space-between

    &._success
      text-align center
      display none

  &__inp
    border 0
    padding 0
    border-bottom solid 1px #979797
    color #575759
    font-size 15px
    line-height 30px
    margin-right 15px
    width 100%

    &::placeholder
      color #575759
      font-weight 500

    &:focus,
    &:active
      outline 0

  &__sbmt
    background-color transparent
    padding 0
    margin 0
    border 0
    font-weight 500
    font-size 15px
    line-height 30px

    &:focus,
    &:active
      outline 0

  &._submited
    > p
      display none

    .TechForm__step
      display none

      &._success
        display block
