.TextIncut
    margin-bottom 70px
    &-v1
        @media $xs
            padding 0 16px
        @media $sm
            padding 0 23px
    &_head
        font-weight 400
        color #8f3149
        border-bottom 1px solid mix(#8f3149, #fff, 30%)
        @media $xs
            font-size 25px
            padding-bottom 17px
            margin-bottom 21px
        @media $sm
            font-size 25px
            padding-bottom 32px
            margin-bottom 38px
        @media $md
            font-size 30px
            padding 0 50px 36px
            margin-bottom 44px
    &_content
        line-height 23px
        @media $smMinus
            font-size 14px
        @media $md
            padding 0 50px
            font-size 15px
            column-count 2
            column-gap 102px
        