.TextBlock
    @media $smMinus
        font-size 14px
        line-height 1.71
    @media $sm
        padding 0 21px
    @media $md
        padding 0 37px
        font-size 15px
        line-height 1.6
    &-notPadded
        padding 0
    &-promoArticle
        @media $xs
            line-height 1.65
            padding-bottom 56px
        @media $sm
            padding-bottom 46px
        @media $md
            line-height 1.7
            padding 0
    & > ul
        list-style none
        padding 0
        margin 0
        @media $xs
            margin-bottom 10px
        & > li
            position relative
            @media $xs
                padding 0 16px
                font-size 14px
                line-height 23px
                margin-bottom 10px
            @media $sm
                padding 0
                font-size 14px
                line-height 23px
                margin-bottom 10px
            @media $md
                padding-left 10px
                font-size 15px
                margin-bottom 22px
            &:before
                content ''
                position absolute
                top 8px
                height 8px
                width 13px
                background url('/img/leaf.svg') left top no-repeat
                pointer-events none
                @media $xs
                    top 8px
                    left -6px
                @media $sm
                    top 8px
                    left -28px
                @media $md
                    top 10px
                    left -44px
            
    & > p,
    & > ul > li
        & > a
            color #c63f61
            &:hover
                text-decoration underline
                color #c63f61