.TimeCounter
    width 447px
    background url("/img/timeCounter/bg.jpg") center -8px
    @media $xs
        width 290px
    &_index
        position absolute
        right 80px
        top 70px
        z-index 201
        @media $smMinus
            right 50px
            top 50px
        @media $xs
            right 15px
            top 165px
    &_cont
        padding 21px 30px 20px
        @media $xs
            padding 21px 15px 20px
    &_tlt
        font-weight 500
        font-size 20px
        line-height 35px
        color #fff
        text-align center
        background url("/img/timeCounter/branch.svg") center bottom no-repeat
        padding-bottom 26px
        margin-bottom 12px
        @media $xs
            line-height 30px
    &_numbs
        display flex
        justify-content center
        margin-bottom 26px
        &Par
            display flex
            position relative
            padding-bottom 19px
            margin-left 18px
            &:first-child
                margin 0
                &:before
                    display none
            &:before
                content ':'
                position absolute
                left -18px
                top 0
                width 18px
                height 37px
                font 600 27px/37px 'GothamPro'
                color #fff
                text-align center
        &Item
            width 25px
            height 37px
            padding-top 4px
            background #fff
            border-radius 5px
            text-align center
            font-size 27px
            line-height 1
            font-weight bold
            color #8f3149
            &:first-child
                margin-right 1px
        &Name
            position absolute
            left 0
            bottom 0
            width 100%
            font-weight 300
            font-size 11px
            text-align center
            color #fff
    & .Btn
        display block
        width 198px
        height 50px
        padding 0
        margin 0 auto
        font-size 15px
        line-height 50px
        background #fff !important
        color: #8f3149
    &_close
        position absolute
        right -27px
        top -27px
        width 54px
        height 54px
        border-radius 50%
        background url("/img/timeCounter/close.svg") center no-repeat #fff
        transition all .3s ease
        @media $xs
            right -14px
            top -14px
            width 28px
            height 28px
            background-size 11px auto
        &:hover
            transform scale(0.9)