.TransportMap
    width 100%
    height 672px
    margin 120px auto

    @media $xs
        height 600px
        margin 60px auto

    &_mapWrap
        width 100%
        height 100%
        position relative

    &_map
        width 100%
        height 100%

    &_filter
        width 35%
        height 100%
        position absolute
        right 0
        top 0
        bottom 0
        background-color #fff
        padding-top 100px
        padding-right 57px
        padding-left 30px
        padding-bottom 30px
        z-index 30
        @media $smMinus
            width 60%

        @media $xs
            width 100%
            padding-top 69px
            padding-left 17px
            padding-right 46px
            padding-bottom 30px
            overflow-y: scroll
            display none

    &_content
        & h6
            color #000
            font-size 20px
            font-weight 400
            font-family 'Gotham Pro'
            margin-top 10px
        & ul
            margin 0
            padding 0

        & li
            list-style none
            margin-bottom 3px
            font-size 15px

    
    &_close
        background url('../img/map-filter_close.svg') center/contain no-repeat
        width 54px
        height 54px
        position absolute
        top 16px
        right 20px
        cursor pointer
        display block

    &_open
        right 20px
        top 20px