.Underlay
	position absolute
	z-index -99999
	bottom 0
	top 0
	right 0
	width 100%
	height 100%
	pointer-events none
	overflow hidden

	&_grid
		position relative
		left 50%
		transform translateX(-50%)
		width 100%
		height 100%

		@media $xs
			max-width 264px

		@media $sm
			max-width 544px

		@media $md
			max-width $mdBoxWidth

	&_line
		position absolute
		top 0
		bottom 0
		width 1px
		background #EFEFEF

		&-n1
			left 0
		&-n2
			left 25%
		&-n3
			left 50%
		&-n4
			left 75%
		&-n5
			left calc(100% - 1px)

		@media $smMinus
			&-n2,
			&-n4
				display none

	&_pattern
		position absolute
		background-size cover

		&-n1,
		&-n2
			background-image url('/img/underlay_patterns/Pattern_1.svg')
			width 271px
			height 431px
			background-size cover

		&-n3,
		&-n4
			background-image url('/img/underlay_patterns/Pattern_2.svg')
			top 50%
			transform translateY(-50%)
			width 588px
			height 347px

			@media $xs
				display none

		&-n1
			top 0
			left 50%
			transform translateX(-100%)

			@media $xs
				width 132px
				height 210px

		&-n2
			bottom 0
			left 50%
			transform rotate(180deg)

			@media $xs
				display none

		&-n3
			left 0

		&-n4
			right 0
