.Utp
    &_picWrap
        position relative
        box-shadow 0 13px 32px 0 rgba(0, 0, 0, .2)
        @media $xs
            margin-bottom 32px
        @media $sm
            margin-bottom 32px
        @media $md
            margin-bottom 40px
        &:before
            content ''
            display block
            @media $xs
                padding-top 63%
            @media $sm
                padding-top 46.6%
            @media $md
                padding-top 32%

    &_mapWrap
        width 90%
        max-width 1330px
        box-shadow 0 13px 32px 0 rgba(0, 0, 0, .2)
        margin -30px auto 70px
        position relative

        @media $smMinus
            max-width 800px
            width 100%

        &-infrasArticle
            height 713px
            @media $xs
                max-width none
                height 558px
                display none

        &-metroScheme
            height 748px

            @media $xs
                height 560px

    &_genplanWrap
        position relative
        width 100%
        height 698px
        margin 120px auto

        @media $xs
            display none

        & .FilterSidebar
            position absolute
    &_picture
        object-fit cover
        top 0
        left 0
        height 100%
        width 100%
        position absolute
    &_colSplitter
        @media $smPlus
            display flex
    &_col
        @media $xs
            padding 0 16px
        @media $smPlus
            flex 1