.ZoomPicture
    background-color #8F3149
    width 54px
    height 54px
    position absolute
    right 20px
    top 20px
    z-index 30
    border-radius: 50%
    display flex
    justify-content center
    align-items center
    cursor pointer

.ZoomPictureFull
    width 100%
    position absolute
    transform: translate(0, -50%)
    top 50%

.ZoomPictureOverlay
    position fixed
    top 0
    left 0
    right 0
    bottom 0
    width 100%
    height 100%
    z-index 700
    background-color rgba(0, 0, 0, 0.7)
