mixin ArticleBurger
    nav.ArticleBurger
        ul.ArticleBurger_list
            li.ArticleBurger_item.ArticleBurger_item-red
                a(href="#" data-scrollTo="title1").ArticleBurger_link
                    span.ArticleBurger_itemImgWrap
                        img.ArticleBurger_itemImg(src="./img/article_burger/home.svg")
                    span.ArticleBurger_itemName Дом
            li.ArticleBurger_item
                a(href="#" data-scrollTo="title2").ArticleBurger_link
                    span.ArticleBurger_itemImgWrap
                        img.ArticleBurger_itemImg(src="./img/article_burger/eco.svg")
                    span.ArticleBurger_itemName Эко-девелопмент
            li.ArticleBurger_item.ArticleBurger_item-purple
                a(href="#" data-scrollTo="title3").ArticleBurger_link
                    span.ArticleBurger_itemImgWrap
                        img.ArticleBurger_itemImg(src="./img/article_burger/leaf.svg")
                    span.ArticleBurger_itemName Безопасность
            li.ArticleBurger_item.ArticleBurger_item-yellow
                a(href="#" data-scrollTo="title4").ArticleBurger_link
                    span.ArticleBurger_itemImgWrap
                        img.ArticleBurger_itemImg(src="./img/article_burger/water.svg")
                    span.ArticleBurger_itemName Дом
            li.ArticleBurger_item
                a(href="#" data-scrollTo="title5").ArticleBurger_link
                    span.ArticleBurger_itemImgWrap
                        img.ArticleBurger_itemImg(src="./img/article_burger/home.svg")
                    span.ArticleBurger_itemName Дом