mixin BldNav(opts)
    nav.BldNav(class=(opts.additionalClasses || ""))
        each item in opts.items

            -let prevArrowLink =  item.prevArrowLink || "#";
            -let nextArrowLink =  item.nextArrowLink || "#";

            -let prevArrowClass = "BldNav_arrow BldNav_arrow-prev";
            -let nextArrowClass = "BldNav_arrow BldNav_arrow-next";

            -if(item.disablePrevArrow) prevArrowClass += " BldNav_arrow-disabled"
            -if(item.disableNextArrow) nextArrowClass += " BldNav_arrow-disabled"

            .BldNav_item(class=(item.huge ? "BldNav_item-huge" : ""))
                .BldNav_label #{item.name}
                .BldNav_linksWrap
                    a(class=prevArrowClass href=prevArrowLink)
                        include ../svg/arrow_right_bold.svg
                    .BldNav_currentVal #{item.val}
                    a(class=nextArrowClass href=nextArrowLink)
                        include ../svg/arrow_right_bold.svg