mixin Breadcrumbs(path)
    nav.Breadcrumbs.hidden-xs
        ol.Breadcrumbs_list
            li.Breadcrumbs_item
                a.Breadcrumbs_link(href="/") Главная
            if path
                each p in path
                    li.Breadcrumbs_item
                        a.Breadcrumbs_link(href=`${p.url}`) #{p.title}
            li.Breadcrumbs_item #{title}