.DocList
    each i in [1,2,3,4,5]
        .DocCard
            h5.DocCard_head Проект ДДУ 2 корпус
            .DocCard_downloads
                .DocCard_acrobatIcon
                a.DocCard_downloadLink(href="http://www.pdf995.com/samples/pdf.pdf" target="_blank") PDF - 1290,14 КБ
            .DocCard_info
                .DocCard_infoItem
                    .DocCard_infoLabel Загрузил:
                    .DocCard_infoVal ООО «Синий муравей»
                .DocCard_infoItem
                    .DocCard_infoLabel Загружено:
                    .DocCard_infoVal 12:56 14.08.17
                .DocCard_btnWrap.DocCard_btnWrap-hidden
                    a.Btn.Btn-color2.DocCard_btn(href="http://www.pdf995.com/samples/pdf.pdf" target="_blank") Скачать документ