mixin FilterForm(formAction, isItForFlatTypePage, type, version)
	if (type == 'horizontal')
		form#filterFormHorizon.FilterForm.FilterForm-horizontal(autocomplete="off" action=formAction)
			.FilterForm_horizonWrap
				.FilterForm_horizCol
					.FilterForm_item(class=`${isItForFlatTypePage ? "FilterForm_item-disabled" : ""}`)
						.FilterForm_label Комнат:
						.FilterForm_checkboxesRow
							each item in ['0', '1', '2', '2e', '3', '3e']
								.CustomCheckbox
									label.CustomCheckbox_label
										input(type="checkbox" name="bedrooms[]" data-persist-id=`item_${item}` value=`${item}`).CustomCheckbox_input
										span.CustomCheckbox_view #{item === '0' ? 'C' : item}

					.FilterForm_item.FilterForm_item-icncludeRoom
						.FilterForm_chksGroup
							.Multycheckbox
								button(type="button").Multycheckbox_lbl C отделкой
								input.Multycheckbox_inp(name="finish" data-possible-values="[2, 1, 0]" value="2" type="hidden")
								.Multycheckbox_ico.Multycheckbox_ico-type1
							.Multycheckbox
								button(type="button").Multycheckbox_lbl По акции
								input.Multycheckbox_inp(name="promo" data-possible-values="[2, 1, 0]" value="2" type="hidden")
								.Multycheckbox_ico.Multycheckbox_ico-type1
					.FilterForm_blockGroup
						h6.FilterForm_groupHead
							button.FilterForm_groupToggler(data-form-group-toggle="#additionalOptionsHorizon" type="button") Дополнительные параметры
								include /includes/svg/angle_down.svg
						.FilterForm_item.FilterForm_item-group#additionalOptionsHorizon(style="display:none;")
							.FilterForm_chksGroup.FilterForm_chksGroup-groupBlock
								.Multycheckbox(class=`${isItForFlatTypePage ? "Multycheckbox-disabled" : ""}`)
									button(type="button").Multycheckbox_lbl С балконом
									input.Multycheckbox_inp(name="balcony" data-possible-values="[2, 1, 0]" value="2" type="hidden")
									.Multycheckbox_ico.Multycheckbox_ico-type1
								.Multycheckbox
									button(type="button").Multycheckbox_lbl Солнечная сторона
									input.Multycheckbox_inp(name="sunny" data-possible-values="[2, 1, 0]" value="2" type="hidden")
									.Multycheckbox_ico.Multycheckbox_ico-type1
								.Multycheckbox(class=`${isItForFlatTypePage ? "Multycheckbox-disabled" : ""}`)
									button(type="button").Multycheckbox_lbl Раздельный санузел
									input.Multycheckbox_inp(name="separated_wc" data-possible-values="[2, 1, 0]" value="2" type="hidden")
									.Multycheckbox_ico.Multycheckbox_ico-type1
								.Multycheckbox(class=`${isItForFlatTypePage ? "Multycheckbox-disabled" : ""}`)
									button(type="button").Multycheckbox_lbl Два санузла
									input.Multycheckbox_inp(name="multiple_wc" data-possible-values="[2, 1, 0]" value="2" type="hidden")
									.Multycheckbox_ico.Multycheckbox_ico-type1
								.Multycheckbox(class=`${isItForFlatTypePage ? "Multycheckbox-disabled" : ""}`)
									button(type="button").Multycheckbox_lbl Гардеробная
									input.Multycheckbox_inp(name="wardrobe" data-possible-values="[2, 1, 0]" value="2" type="hidden")
									.Multycheckbox_ico.Multycheckbox_ico-type1
								// START: new checkboxes
								.Multycheckbox(class=`${isItForFlatTypePage ? "Multycheckbox-disabled" : ""}`)
									button(type="button").Multycheckbox_lbl Большая лоджия
									input.Multycheckbox_inp(name="bigloggia" data-possible-values="[2, 1, 0]" value="2" type="hidden")
									.Multycheckbox_ico.Multycheckbox_ico-type1
								.Multycheckbox(class=`${isItForFlatTypePage ? "Multycheckbox-disabled" : ""}`)
									button(type="button").Multycheckbox_lbl Остекление лоджии в пол
									input.Multycheckbox_inp(name="steklovpol" data-possible-values="[2, 1, 0]" value="2" type="hidden")
									.Multycheckbox_ico.Multycheckbox_ico-type1
								.Multycheckbox(class=`${isItForFlatTypePage ? "Multycheckbox-disabled" : ""}`)
									button(type="button").Multycheckbox_lbl Кладовая
									input.Multycheckbox_inp(name="klad" data-possible-values="[2, 1, 0]" value="2" type="hidden")
									.Multycheckbox_ico.Multycheckbox_ico-type1
								.Multycheckbox(class=`${isItForFlatTypePage ? "Multycheckbox-disabled" : ""}`)
									button(type="button").Multycheckbox_lbl Большая кухня/ кухня-ниша
									input.Multycheckbox_inp(name="bigkitchen" data-possible-values="[2, 1, 0]" value="2" type="hidden")
									.Multycheckbox_ico.Multycheckbox_ico-type1
								.Multycheckbox(class=`${isItForFlatTypePage ? "Multycheckbox-disabled" : ""}`)
									button(type="button").Multycheckbox_lbl Большая спальня
									input.Multycheckbox_inp(name="bigbedroom" data-possible-values="[2, 1, 0]" value="2" type="hidden")
									.Multycheckbox_ico.Multycheckbox_ico-type1
								.Multycheckbox(class=`${isItForFlatTypePage ? "Multycheckbox-disabled" : ""}`)
									button(type="button").Multycheckbox_lbl Большая гостиная
									input.Multycheckbox_inp(name="biglounge" data-possible-values="[2, 1, 0]" value="2" type="hidden")
									.Multycheckbox_ico.Multycheckbox_ico-type1
								.Multycheckbox(class=`${isItForFlatTypePage ? "Multycheckbox-disabled" : ""}`)
									button(type="button").Multycheckbox_lbl Окна на 2 стороны
									input.Multycheckbox_inp(name="bothSides" data-possible-values="[2, 1, 0]" value="2" type="hidden")
									.Multycheckbox_ico.Multycheckbox_ico-type1
								.Multycheckbox(class=`${isItForFlatTypePage ? "Multycheckbox-disabled" : ""}`)
									button(type="button").Multycheckbox_lbl Постирочная
									input.Multycheckbox_inp(name="laundry" data-possible-values="[2, 1, 0]" value="2" type="hidden")
									.Multycheckbox_ico.Multycheckbox_ico-type1
								.FilterSidebar_resetBtnWrap.FilterSidebar_resetBtnWrap-groupBlock
									button.FilterSidebar_reset#FilterSidebarResetGroup Сбросить фильтр
										include ../svg/reload.svg
								// END: new checkboxes

					.FilterForm_item
						.FilterForm_label Срок сдачи:
						.FilterForm_checkboxesRow
							.CustomCheckbox.CustomCheckbox-elips
								label.CustomCheckbox_label
									input(type="checkbox" name="date[]" data-persist-id=`item_1` value=`1593464400`).CustomCheckbox_input
									span.CustomCheckbox_view IV кв. 2020

							.CustomCheckbox.CustomCheckbox-elips
								label.CustomCheckbox_label
									input(type="checkbox" name="date[]" data-persist-id=`item_2` value=`1593464400`).CustomCheckbox_input
									span.CustomCheckbox_view IV кв. 2020

				.FilterForm_horizCol
					.FilterForm_item
						.FilterForm_label Площадь:
						.RangeSlider(data-slider-opts='{"min":24, "max":84}')
							.RangeSlider_rangeVals
								.RangeSlider_valViewWrap.RangeSlider_valViewWrap-min
									span.RangeSlider_minValViewEl
									span м#[sup 2]
								.RangeSlider_valViewWrap.RangeSlider_valViewWrap-max
									span.RangeSlider_maxValViewEl
									span м#[sup 2]
							input(type='hidden', name='area_from' value="31")
							input(type='hidden', name='area_to' value="84")
					.FilterForm_item
						.FilterForm_label Цена:
						.RangeSlider(data-slider-opts='{"min":2199008, "max":7724370, "counterType":"formatted_num"}')
							.RangeSlider_rangeVals
								.RangeSlider_valViewWrap.RangeSlider_valViewWrap-min
									span.RangeSlider_minValViewEl
									span ₽
								.RangeSlider_valViewWrap.RangeSlider_valViewWrap-max
									span.RangeSlider_maxValViewEl
									span ₽
							input(type='hidden', name='price_from' value="2199008")
							input(type='hidden', name='price_to' value="7724370")
					.FilterForm_item
						.FilterForm_label Этаж:
						.RangeSlider(data-slider-opts='{"min":2, "max":25}')
							.RangeSlider_rangeVals
								.RangeSlider_valViewWrap.RangeSlider_valViewWrap-min
									span.RangeSlider_minValViewEl
								.RangeSlider_valViewWrap.RangeSlider_valViewWrap-max
									span.RangeSlider_maxValViewEl
							input(type='hidden', name='floor_from' value="2")
							input(type='hidden', name='floor_to' value="8")
				.FilterForm_horizCol
					.FilterForm_item.FilterForm_item-corpusCheck(class=`${isItForFlatTypePage ? "FilterForm_item-disabled" : ""}`)
						.FilterForm_label Выбрать корпус:
						.FilterForm_checkboxesRow
							each item in [ '1', '2', '3', '4', '5']
								.CustomCheckbox
									label.CustomCheckbox_label
										input(type="checkbox" name="corpus[]" data-persist-id=`item_${item}` value=`${item}`).CustomCheckbox_input
										span.CustomCheckbox_view #{item === '0' ? 'C' : item}

					.FilterForm_item.FilterForm_item-corpusScheme
						.FilterForm_label Выберите корпус:
						include ../svg/complex-houses4.svg
				//- .FilterForm_item
				//- 	.FilterForm_label Стадия строительства
				//- 	.RangeSlider#finishRangeSliderCont(data-slider-opts='{"min":1609362000, "max":1609362000, "counterType":"date_quarters"}')
				//- 		.RangeSlider_rangeVals
				//-		span.RangeSlider_minValViewEl
				//- 			.RangeSlider_valViewWrap.RangeSlider_valViewWrap-max
				//- 				span.RangeSlider_maxValViewEl
				//- 		// в инпуты нужно выводить дату в формате 'UTC' (в секундах)
				//- 		input(type='hidden' name="entry_date_from" value='1593464400' )
				//- 		input(type='hidden' name="entry_date_to" value='1609362000' )
				//- .FilterForm_item
				//- 	.FilterForm_label Вид из окна:
				//- 	.FilterForm_checkboxesRow
				//- 		each view in [{ttl:'С', id: 7}, {ttl:'Ю', id: 8}, {ttl:'З', id: 9}, {ttl:'В', id: 10}]
				//- 			.CustomCheckbox
				//- 				label.CustomCheckbox_label
				//- 					input(type="checkbox" name="views[]" data-persist-id=`view_${view.id}` value=`${view.id}`).CustomCheckbox_input
				//- 					span.CustomCheckbox_view #{view.ttl}
			.FilterForm_horizonBottom
				.FilterSidebar_resetBtnWrap
					button.FilterSidebar_reset#FilterSidebarResetFull Сбросить фильтр
						include ../svg/reload.svg
			block

	else if (type == 'horizontalComplex')
		form#filterFormHorizon.FilterForm.FilterForm-horizontal.FilterForm-horizontalComplex(autocomplete="off" action=formAction)
			.FilterForm_horizonWrap
				.FilterForm_horizCol
					.FilterForm_item(class=`${isItForFlatTypePage ? "FilterForm_item-disabled" : ""}`)
						.FilterForm_label Комнат:
						.FilterForm_checkboxesRow
							each item in ['0', '1', '2', '2e', '3', '3e']
								.CustomCheckbox
									label.CustomCheckbox_label
										input(type="checkbox" name="bedrooms[]" data-persist-id=`item_${item}` value=`${item}`).CustomCheckbox_input
										span.CustomCheckbox_view #{item === '0' ? 'C' : item}

					.FilterForm_item.FilterForm_item-icncludeRoom
						.FilterForm_chksGroup
							.Multycheckbox
								button(type="button").Multycheckbox_lbl C отделкой
								input.Multycheckbox_inp(name="finish" data-possible-values="[2, 1, 0]" value="2" type="hidden")
								.Multycheckbox_ico.Multycheckbox_ico-type1
							.Multycheckbox
								button(type="button").Multycheckbox_lbl По акции
								input.Multycheckbox_inp(name="promo" data-possible-values="[2, 1, 0]" value="2" type="hidden")
								.Multycheckbox_ico.Multycheckbox_ico-type1

				.FilterForm_horizCol
					.FilterForm_item
						.FilterForm_label Площадь:
						.RangeSlider(data-slider-opts='{"min":24, "max":84}')
							.RangeSlider_rangeVals
								.RangeSlider_valViewWrap.RangeSlider_valViewWrap-min
									span.RangeSlider_minValViewEl
									span м#[sup 2]
								.RangeSlider_valViewWrap.RangeSlider_valViewWrap-max
									span.RangeSlider_maxValViewEl
									span м#[sup 2]
							input(type='hidden', name='area_from' value="31")
							input(type='hidden', name='area_to' value="84")
					.FilterForm_item
						.FilterForm_label Цена:
						.RangeSlider(data-slider-opts='{"min":2199008, "max":7724370, "counterType":"formatted_num"}')
							.RangeSlider_rangeVals
								.RangeSlider_valViewWrap.RangeSlider_valViewWrap-min
									span.RangeSlider_minValViewEl
									span ₽
								.RangeSlider_valViewWrap.RangeSlider_valViewWrap-max
									span.RangeSlider_maxValViewEl
									span ₽
							input(type='hidden', name='price_from' value="2199008")
							input(type='hidden', name='price_to' value="7724370")
				.FilterForm_horizCol
					.FilterForm_item(class=`${isItForFlatTypePage ? "FilterForm_item-disabled" : ""}`)
						.FilterForm_label Корпус:
						.FilterForm_checkboxesRow
							each item in [ '1', '2', '3', '4', '5']
								.CustomCheckbox
									label.CustomCheckbox_label
										if (item === '1')
											input(type="radio" name="corpus[]" data-persist-id=`item_${item}` value=`${item}` checked).CustomCheckbox_input
										else
											input(type="radio" name="corpus[]" data-persist-id=`item_${item}` value=`${item}`).CustomCheckbox_input
										span.CustomCheckbox_view #{item === '0' ? 'C' : item}

					.FilterForm_item
						.FilterForm_label Срок сдачи:
						.FilterForm_checkboxesRow
							.CustomCheckbox.CustomCheckbox-elips
								label.CustomCheckbox_label
									input(type="checkbox" name="date[]" data-persist-id=`item_1` value=`1593464400`).CustomCheckbox_input
									span.CustomCheckbox_view IV кв. 2020

							.CustomCheckbox.CustomCheckbox-elips
								label.CustomCheckbox_label
									input(type="checkbox" name="date[]" data-persist-id=`item_2` value=`1593464400`).CustomCheckbox_input
									span.CustomCheckbox_view IV кв. 2020
				//- .FilterForm_item
				//- 	.FilterForm_label Стадия строительства
				//- 	.RangeSlider#finishRangeSliderCont(data-slider-opts='{"min":1609362000, "max":1609362000, "counterType":"date_quarters"}')
				//- 		.RangeSlider_rangeVals
				//- 			.RangeSlider_valViewWrap.RangeSlider_valViewWrap-min
				//- 				span.RangeSlider_minValViewEl
				//- 			.RangeSlider_valViewWrap.RangeSlider_valViewWrap-max
				//- 				span.RangeSlider_maxValViewEl
				//- 		// в инпуты нужно выводить дату в формате 'UTC' (в секундах)
				//- 		input(type='hidden' name="entry_date_from" value='1593464400' )
				//- 		input(type='hidden' name="entry_date_to" value='1609362000' )
				//- .FilterForm_item
				//- 	.FilterForm_label Вид из окна:
				//- 	.FilterForm_checkboxesRow
				//- 		each view in [{ttl:'С', id: 7}, {ttl:'Ю', id: 8}, {ttl:'З', id: 9}, {ttl:'В', id: 10}]
				//- 			.CustomCheckbox
				//- 				label.CustomCheckbox_label
				//- 					input(type="checkbox" name="views[]" data-persist-id=`view_${view.id}` value=`${view.id}`).CustomCheckbox_input
				//- 					span.CustomCheckbox_view #{view.ttl}
			.FilterForm_horizonBottom
				.FilterForm_blockGroup
						h6.FilterForm_groupHead
							button.FilterForm_groupToggler(data-form-group-toggle="#additionalOptionsHorizon" type="button") Дополнительные параметры
								include /includes/svg/angle_down.svg
						.FilterForm_item.FilterForm_item-group#additionalOptionsHorizon(style="display:none;")
							.FilterForm_chksGroup.FilterForm_chksGroup-groupBlock
								.Multycheckbox(class=`${isItForFlatTypePage ? "Multycheckbox-disabled" : ""}`)
									button(type="button").Multycheckbox_lbl С балконом
									input.Multycheckbox_inp(name="balcony" data-possible-values="[2, 1, 0]" value="2" type="hidden")
									.Multycheckbox_ico.Multycheckbox_ico-type1
								.Multycheckbox
									button(type="button").Multycheckbox_lbl Солнечная сторона
									input.Multycheckbox_inp(name="sunny" data-possible-values="[2, 1, 0]" value="2" type="hidden")
									.Multycheckbox_ico.Multycheckbox_ico-type1
								.Multycheckbox(class=`${isItForFlatTypePage ? "Multycheckbox-disabled" : ""}`)
									button(type="button").Multycheckbox_lbl Раздельный санузел
									input.Multycheckbox_inp(name="separated_wc" data-possible-values="[2, 1, 0]" value="2" type="hidden")
									.Multycheckbox_ico.Multycheckbox_ico-type1
								.Multycheckbox(class=`${isItForFlatTypePage ? "Multycheckbox-disabled" : ""}`)
									button(type="button").Multycheckbox_lbl Два санузла
									input.Multycheckbox_inp(name="multiple_wc" data-possible-values="[2, 1, 0]" value="2" type="hidden")
									.Multycheckbox_ico.Multycheckbox_ico-type1
								.Multycheckbox(class=`${isItForFlatTypePage ? "Multycheckbox-disabled" : ""}`)
									button(type="button").Multycheckbox_lbl Гардеробная
									input.Multycheckbox_inp(name="wardrobe" data-possible-values="[2, 1, 0]" value="2" type="hidden")
									.Multycheckbox_ico.Multycheckbox_ico-type1
								// START: new checkboxes
								.Multycheckbox(class=`${isItForFlatTypePage ? "Multycheckbox-disabled" : ""}`)
									button(type="button").Multycheckbox_lbl Большая лоджия
									input.Multycheckbox_inp(name="bigloggia" data-possible-values="[2, 1, 0]" value="2" type="hidden")
									.Multycheckbox_ico.Multycheckbox_ico-type1
								.Multycheckbox(class=`${isItForFlatTypePage ? "Multycheckbox-disabled" : ""}`)
									button(type="button").Multycheckbox_lbl Остекление лоджии в пол
									input.Multycheckbox_inp(name="steklovpol" data-possible-values="[2, 1, 0]" value="2" type="hidden")
									.Multycheckbox_ico.Multycheckbox_ico-type1
								.Multycheckbox(class=`${isItForFlatTypePage ? "Multycheckbox-disabled" : ""}`)
									button(type="button").Multycheckbox_lbl Кладовая
									input.Multycheckbox_inp(name="klad" data-possible-values="[2, 1, 0]" value="2" type="hidden")
									.Multycheckbox_ico.Multycheckbox_ico-type1
								.Multycheckbox(class=`${isItForFlatTypePage ? "Multycheckbox-disabled" : ""}`)
									button(type="button").Multycheckbox_lbl Большая кухня/ кухня-ниша
									input.Multycheckbox_inp(name="bigkitchen" data-possible-values="[2, 1, 0]" value="2" type="hidden")
									.Multycheckbox_ico.Multycheckbox_ico-type1
								.Multycheckbox(class=`${isItForFlatTypePage ? "Multycheckbox-disabled" : ""}`)
									button(type="button").Multycheckbox_lbl Большая спальня
									input.Multycheckbox_inp(name="bigbedroom" data-possible-values="[2, 1, 0]" value="2" type="hidden")
									.Multycheckbox_ico.Multycheckbox_ico-type1
								.Multycheckbox(class=`${isItForFlatTypePage ? "Multycheckbox-disabled" : ""}`)
									button(type="button").Multycheckbox_lbl Большая гостиная
									input.Multycheckbox_inp(name="biglounge" data-possible-values="[2, 1, 0]" value="2" type="hidden")
									.Multycheckbox_ico.Multycheckbox_ico-type1
								.Multycheckbox(class=`${isItForFlatTypePage ? "Multycheckbox-disabled" : ""}`)
									button(type="button").Multycheckbox_lbl Окна на 2 стороны
									input.Multycheckbox_inp(name="bothSides" data-possible-values="[2, 1, 0]" value="2" type="hidden")
									.Multycheckbox_ico.Multycheckbox_ico-type1
								.Multycheckbox(class=`${isItForFlatTypePage ? "Multycheckbox-disabled" : ""}`)
									button(type="button").Multycheckbox_lbl Постирочная
									input.Multycheckbox_inp(name="laundry" data-possible-values="[2, 1, 0]" value="2" type="hidden")
									.Multycheckbox_ico.Multycheckbox_ico-type1
								.FilterSidebar_resetBtnWrap.FilterSidebar_resetBtnWrap-groupBlock
									button.FilterSidebar_reset#FilterSidebarResetGroup Сбросить фильтр
										include ../svg/reload.svg
								// END: new checkboxes
				.FilterSidebar_resetBtnWrap
					button.FilterSidebar_reset#FilterSidebarResetFull Сбросить фильтр
						include ../svg/reload.svg
			block

	else if (type == 'horizontalCommercial')
		form#filterFormHorizon.FilterForm.FilterForm-horizontal.FilterForm-horizontalCommercial(autocomplete="off" action=formAction)
			.FilterForm_horizonWrap
				.FilterForm_horizCol

					.FilterForm_item.FilterForm_item-icncludeRoom
						.FilterForm_chksGroup
							.Multycheckbox
								button(type="button").Multycheckbox_lbl Продажа
								input.Multycheckbox_inp(name="sales" data-possible-values="[2, 1, 0]" value="2" type="hidden")
								.Multycheckbox_ico.Multycheckbox_ico-type1
							.Multycheckbox
								button(type="button").Multycheckbox_lbl Аренда
								input.Multycheckbox_inp(name="rent" data-possible-values="[2, 1, 0]" value="2" type="hidden")
								.Multycheckbox_ico.Multycheckbox_ico-type1

							.Multycheckbox
								button(type="button").Multycheckbox_lbl По акции
								input.Multycheckbox_inp(name="promo" data-possible-values="[2, 1, 0]" value="2" type="hidden")
								.Multycheckbox_ico.Multycheckbox_ico-type1

					.FilterForm_item
						.FilterForm_label Срок сдачи:
						.FilterForm_checkboxesRow
							.CustomCheckbox.CustomCheckbox-elips
								label.CustomCheckbox_label
									input(type="checkbox" name="date[]" data-persist-id=`item_1` value=`1593464400`).CustomCheckbox_input
									span.CustomCheckbox_view IV кв. 2020

							.CustomCheckbox.CustomCheckbox-elips
								label.CustomCheckbox_label
									input(type="checkbox" name="date[]" data-persist-id=`item_2` value=`1593464400`).CustomCheckbox_input
									span.CustomCheckbox_view IV кв. 2020

					.FilterForm_item.FilterForm_item-corpusCheck(class=`${isItForFlatTypePage ? "FilterForm_item-disabled" : ""}`)
						.FilterForm_label Выбрать корпус:
						.FilterForm_checkboxesRow
							each item in [ '1', '2', '3', '4', '5']
								.CustomCheckbox
									label.CustomCheckbox_label
										input(type="checkbox" name="corpus[]" data-persist-id=`item_${item}` value=`${item}`).CustomCheckbox_input
										span.CustomCheckbox_view #{item === '0' ? 'C' : item}

				.FilterForm_horizCol
					.FilterForm_item
						.FilterForm_label Площадь:
						.RangeSlider(data-slider-opts='{"min":24, "max":84}')
							.RangeSlider_rangeVals
								.RangeSlider_valViewWrap.RangeSlider_valViewWrap-min
									span.RangeSlider_minValViewEl
									span м#[sup 2]
								.RangeSlider_valViewWrap.RangeSlider_valViewWrap-max
									span.RangeSlider_maxValViewEl
									span м#[sup 2]
							input(type='hidden', name='area_from' value="31")
							input(type='hidden', name='area_to' value="84")
					.FilterForm_item
						.FilterForm_label Цена:
						.RangeSlider(data-slider-opts='{"min":2199008, "max":7724370, "counterType":"formatted_num"}')
							.RangeSlider_rangeVals
								.RangeSlider_valViewWrap.RangeSlider_valViewWrap-min
									span.RangeSlider_minValViewEl
									span ₽
								.RangeSlider_valViewWrap.RangeSlider_valViewWrap-max
									span.RangeSlider_maxValViewEl
									span ₽
							input(type='hidden', name='price_from' value="2199008")
							input(type='hidden', name='price_to' value="7724370")

					.FilterSidebar_resetBtnWrap.FilterSidebar_resetBtnWrap-desktop
						button.FilterSidebar_reset#FilterSidebarResetFull(data-reset="") Сбросить фильтр
							include ../svg/reload.svg

					//- .FilterForm_item
					//- 	.FilterForm_label Этаж:
					//- 	.RangeSlider(data-slider-opts='{"min":2, "max":25}')
					//- 		.RangeSlider_rangeVals
					//- 			.RangeSlider_valViewWrap.RangeSlider_valViewWrap-min
					//- 				span.RangeSlider_minValViewEl
					//- 			.RangeSlider_valViewWrap.RangeSlider_valViewWrap-max
					//- 				span.RangeSlider_maxValViewEl
					//- 		input(type='hidden', name='floor_from' value="2") 
					//- 		input(type='hidden', name='floor_to' value="25")
				.FilterForm_horizCol
					.FilterForm_item.FilterForm_item-corpusScheme
						.FilterForm_label Выберите корпус:
						include ../svg/complex-houses4.svg
				//- .FilterForm_item
				//- 	.FilterForm_label Стадия строительства
				//- 	.RangeSlider#finishRangeSliderCont(data-slider-opts='{"min":1609362000, "max":1609362000, "counterType":"date_quarters"}')
				//- 		.RangeSlider_rangeVals
				//- 			.RangeSlider_valViewWrap.RangeSlider_valViewWrap-min
				//- 				span.RangeSlider_minValViewEl
				//- 			.RangeSlider_valViewWrap.RangeSlider_valViewWrap-max
				//- 				span.RangeSlider_maxValViewEl
				//- 		// в инпуты нужно выводить дату в формате 'UTC' (в секундах)
				//- 		input(type='hidden' name="entry_date_from" value='1593464400' )
				//- 		input(type='hidden' name="entry_date_to" value='1609362000' )
				//- .FilterForm_item
				//- 	.FilterForm_label Вид из окна:
				//- 	.FilterForm_checkboxesRow
				//- 		each view in [{ttl:'С', id: 7}, {ttl:'Ю', id: 8}, {ttl:'З', id: 9}, {ttl:'В', id: 10}]
				//- 			.CustomCheckbox
				//- 				label.CustomCheckbox_label
				//- 					input(type="checkbox" name="views[]" data-persist-id=`view_${view.id}` value=`${view.id}`).CustomCheckbox_input
				//- 					span.CustomCheckbox_view #{view.ttl}
			.FilterForm_horizonBottom
				.FilterSidebar_resetBtnWrap.FilterSidebar_resetBtnWrap-tablet
					button.FilterSidebar_reset#FilterSidebarResetFull-tablet Сбросить фильтр
						include ../svg/reload.svg
			block

	else
		form#filterForm.FilterForm(autocomplete="off" action=formAction)
			.FilterForm_item
				.FilterForm_label Цена:
				.RangeSlider(data-slider-opts='{"min":2199008, "max":7724370, "counterType":"formatted_num"}')
					.RangeSlider_rangeVals
						.RangeSlider_valViewWrap.RangeSlider_valViewWrap-min
							span.RangeSlider_minValViewEl
							span ₽
						.RangeSlider_valViewWrap.RangeSlider_valViewWrap-max
							span.RangeSlider_maxValViewEl
							span ₽
					input(type='hidden', name='price_from' value="2199008")
					input(type='hidden', name='price_to' value="7724370")
			.FilterForm_item
				.FilterForm_label Площадь:
				.RangeSlider(data-slider-opts='{"min":24, "max":84}')
					.RangeSlider_rangeVals
						.RangeSlider_valViewWrap.RangeSlider_valViewWrap-min
							span.RangeSlider_minValViewEl
							span м#[sup 2]
						.RangeSlider_valViewWrap.RangeSlider_valViewWrap-max
							span.RangeSlider_maxValViewEl
							span м#[sup 2]
					input(type='hidden', name='area_from' value="31")
					input(type='hidden', name='area_to' value="84")
			.FilterForm_item(class=`${isItForFlatTypePage ? "FilterForm_item-disabled" : ""}`)
				.FilterForm_label Спален:
				.FilterForm_checkboxesRow
					each item in ['0', '1', '2', '3']
						.CustomCheckbox
							label.CustomCheckbox_label
								input(type="checkbox" name="bedrooms[]" data-persist-id=`item_${item}` value=`${item}`).CustomCheckbox_input
								span.CustomCheckbox_view #{item === '0' ? 'C' : item}
			.FilterForm_item
				.FilterForm_chksGroup
					.Multycheckbox
						button(type="button").Multycheckbox_lbl C отделкой
						input.Multycheckbox_inp(name="finish" data-possible-values="[2, 1, 0]" value="2" type="hidden")
						.Multycheckbox_ico.Multycheckbox_ico-type1
					.Multycheckbox
						button(type="button").Multycheckbox_lbl По акции
						input.Multycheckbox_inp(name="promo" data-possible-values="[2, 1, 0]" value="2" type="hidden")
						.Multycheckbox_ico.Multycheckbox_ico-type1
			.FilterForm_item
				.FilterForm_label Этаж:
				.RangeSlider(data-slider-opts='{"min":2, "max":25}')
					.RangeSlider_rangeVals
						.RangeSlider_valViewWrap.RangeSlider_valViewWrap-min
							span.RangeSlider_minValViewEl
						.RangeSlider_valViewWrap.RangeSlider_valViewWrap-max
							span.RangeSlider_maxValViewEl
					input(type='hidden', name='floor_from' value="2")
					input(type='hidden', name='floor_to' value="25")
			.FilterForm_item
				.FilterForm_label Стадия строительства:
				.RangeSlider#finishRangeSliderCont(data-slider-opts='{"min":1609362000, "max":1609362000, "counterType":"date_quarters"}')
					.RangeSlider_rangeVals
						.RangeSlider_valViewWrap.RangeSlider_valViewWrap-min
							span.RangeSlider_minValViewEl
						.RangeSlider_valViewWrap.RangeSlider_valViewWrap-max
							span.RangeSlider_maxValViewEl
					// в инпуты нужно выводить дату в формате 'UTC' (в секундах)
					input(type='hidden' name="entry_date_from" value='1593464400' )
					input(type='hidden' name="entry_date_to" value='1609362000' )
			.FilterForm_item
				.FilterForm_label Вид из окна:
				.FilterForm_checkboxesRow
					each view in [{ttl:'С', id: 7}, {ttl:'Ю', id: 8}, {ttl:'З', id: 9}, {ttl:'В', id: 10}]
						.CustomCheckbox
							label.CustomCheckbox_label
								input(type="checkbox" name="views[]" data-persist-id=`view_${view.id}` value=`${view.id}`).CustomCheckbox_input
								span.CustomCheckbox_view #{view.ttl}
			h6.FilterForm_groupHead
				button.FilterForm_groupToggler(data-form-group-toggle="#additionalOptions" type="button") Прочие особенности
					include /includes/svg/angle_down.svg
			.FilterForm_item#additionalOptions(style="display:none;")
				.FilterForm_chksGroup
					.Multycheckbox(class=`${isItForFlatTypePage ? "Multycheckbox-disabled" : ""}`)
						button(type="button").Multycheckbox_lbl С балконом
						input.Multycheckbox_inp(name="balcony" data-possible-values="[2, 1, 0]" value="2" type="hidden")
						.Multycheckbox_ico.Multycheckbox_ico-type1
					.Multycheckbox
						button(type="button").Multycheckbox_lbl Солнечная сторона
						input.Multycheckbox_inp(name="sunny" data-possible-values="[2, 1, 0]" value="2" type="hidden")
						.Multycheckbox_ico.Multycheckbox_ico-type1
					.Multycheckbox(class=`${isItForFlatTypePage ? "Multycheckbox-disabled" : ""}`)
						button(type="button").Multycheckbox_lbl Раздельный санузел
						input.Multycheckbox_inp(name="separated_wc" data-possible-values="[2, 1, 0]" value="2" type="hidden")
						.Multycheckbox_ico.Multycheckbox_ico-type1
					.Multycheckbox(class=`${isItForFlatTypePage ? "Multycheckbox-disabled" : ""}`)
						button(type="button").Multycheckbox_lbl Два санузла
						input.Multycheckbox_inp(name="multiple_wc" data-possible-values="[2, 1, 0]" value="2" type="hidden")
						.Multycheckbox_ico.Multycheckbox_ico-type1
					.Multycheckbox(class=`${isItForFlatTypePage ? "Multycheckbox-disabled" : ""}`)
						button(type="button").Multycheckbox_lbl Гардеробная
						input.Multycheckbox_inp(name="wardrobe" data-possible-values="[2, 1, 0]" value="2" type="hidden")
						.Multycheckbox_ico.Multycheckbox_ico-type1
					// START: new checkboxes
					.Multycheckbox(class=`${isItForFlatTypePage ? "Multycheckbox-disabled" : ""}`)
						button(type="button").Multycheckbox_lbl Большая лоджия
						input.Multycheckbox_inp(name="bigloggia" data-possible-values="[2, 1, 0]" value="2" type="hidden")
						.Multycheckbox_ico.Multycheckbox_ico-type1
					.Multycheckbox(class=`${isItForFlatTypePage ? "Multycheckbox-disabled" : ""}`)
						button(type="button").Multycheckbox_lbl Остекление лоджии в пол
						input.Multycheckbox_inp(name="steklovpol" data-possible-values="[2, 1, 0]" value="2" type="hidden")
						.Multycheckbox_ico.Multycheckbox_ico-type1
					.Multycheckbox(class=`${isItForFlatTypePage ? "Multycheckbox-disabled" : ""}`)
						button(type="button").Multycheckbox_lbl Кладовая
						input.Multycheckbox_inp(name="klad" data-possible-values="[2, 1, 0]" value="2" type="hidden")
						.Multycheckbox_ico.Multycheckbox_ico-type1
					.Multycheckbox(class=`${isItForFlatTypePage ? "Multycheckbox-disabled" : ""}`)
						button(type="button").Multycheckbox_lbl Большая кухня/ кухня-ниша
						input.Multycheckbox_inp(name="bigkitchen" data-possible-values="[2, 1, 0]" value="2" type="hidden")
						.Multycheckbox_ico.Multycheckbox_ico-type1
					.Multycheckbox(class=`${isItForFlatTypePage ? "Multycheckbox-disabled" : ""}`)
						button(type="button").Multycheckbox_lbl Большая спальня
						input.Multycheckbox_inp(name="bigbedroom" data-possible-values="[2, 1, 0]" value="2" type="hidden")
						.Multycheckbox_ico.Multycheckbox_ico-type1
					.Multycheckbox(class=`${isItForFlatTypePage ? "Multycheckbox-disabled" : ""}`)
						button(type="button").Multycheckbox_lbl Большая гостиная
						input.Multycheckbox_inp(name="biglounge" data-possible-values="[2, 1, 0]" value="2" type="hidden")
						.Multycheckbox_ico.Multycheckbox_ico-type1
					.Multycheckbox(class=`${isItForFlatTypePage ? "Multycheckbox-disabled" : ""}`)
						button(type="button").Multycheckbox_lbl Окна на 2 стороны
						input.Multycheckbox_inp(name="bothSides" data-possible-values="[2, 1, 0]" value="2" type="hidden")
						.Multycheckbox_ico.Multycheckbox_ico-type1
					.Multycheckbox(class=`${isItForFlatTypePage ? "Multycheckbox-disabled" : ""}`)
						button(type="button").Multycheckbox_lbl Постирочная
						input.Multycheckbox_inp(name="laundry" data-possible-values="[2, 1, 0]" value="2" type="hidden")
						.Multycheckbox_ico.Multycheckbox_ico-type1
					// END: new checkboxes
			block
