mixin FilterSidebar(type)
    if type == 'horizontal'
        aside#filterSidebar.FilterSidebar.FilterSidebar-horizontal
            .FilterSidebar_horizontalContent
                block

    else if type == 'mobile'
        aside#filterSidebarMobile.FilterSidebar.FilterSidebar-mobile
            .FilterSidebar_grip
                .FilterSidebar_gripText #{label}&nbsp;
                    include ../svg/angle_down.svg
            .FilterSidebar_top
                a.FilterSidebar_logo(href="/")
                .FilterSidebar_resetBtnWrap
                    button.FilterSidebar_reset Сбросить фильтр
                        include ../svg/reload.svg
            .FilterSidebar_scroll
                block

    else if type == 'notfixed'
        aside#filterSidebar.FilterSidebar.FilterSidebar-notFixed
            .FilterSidebar_grip
                .FilterSidebar_gripText #{label}&nbsp;
                    include ../svg/angle_down.svg
            .FilterSidebar_top
                a.FilterSidebar_logo(href="/")
                .FilterSidebar_resetBtnWrap
                    button.FilterSidebar_reset Сбросить фильтр
                        include ../svg/reload.svg
            .FilterSidebar_scroll
                block

    else if type == 'horizontalInfras'
        aside#filterSidebar.FilterSidebar.FilterSidebar-horizontal.FilterSidebar-horizontalInfras
            .FilterSidebar_horizontalContent
                block

    else
        aside#filterSidebar.FilterSidebar
            .FilterSidebar_grip
                .FilterSidebar_gripText #{label}&nbsp;
                    include ../svg/angle_down.svg
            .FilterSidebar_top
                a.FilterSidebar_logo(href="/")
                .FilterSidebar_resetBtnWrap
                    button.FilterSidebar_reset Сбросить фильтр
                        include ../svg/reload.svg
            .FilterSidebar_scroll
                block