mixin Fitblock(img, width, height, additionalClasses, cloud)
    div(class=`Fitblock${additionalClasses ? ' ' + additionalClasses : ''}`)
        .Fitblock_inner
            img(src=`${img}` width=`${width}` height=`${height}` alt="").Fitblock_pusher
            if cloud
                img(src=`${cloud}` width=`${width}` height=`${height}` alt="").Fitblock_cloud
            block