.Menu#mainMenuModal(style="display:none;")
    .Menu_inner
        .Menu_head
            h5.Menu_title Меню
            button.Menu_closeBtn Закрыть
        nav.Menu_sked
            .Menu_group
                h6.Menu_groupHead.Menu_groupHead-withSubmenu О проекте
                .Menu_listWrap.Menu_listWrap-active
                    ul.Menu_list
                        li.Menu_item
                            a.Menu_link(href="/about.html") Описание
                        li.Menu_item
                            a.Menu_link(href="/diary_by_years.html") Динамика строительства
                        li.Menu_item
                            a.Menu_link(href="/gallery.html") Галерея
                        li.Menu_item
                            a.Menu_link(href="/articles.html") Новости
                        li.Menu_item
                            a.Menu_link(href="/docs.html") Документы
                        li.Menu_item
                            a.Menu_link(href="/developer.html") О застройщике
                        li.Menu_item
                            a.Menu_link(href="/promos.html") Акции
                        li.Menu_item
                            a.Menu_link(href="/eco_development.html") Эко-девелопмент
                        li.Menu_item
                            a.Menu_link(href="/i_technology.html") Инетелектуальные технологии
            .Menu_group
                h6.Menu_groupHead.Menu_groupHead-withSubmenu Преимущества
                .Menu_listWrap
                    ul.Menu_list
                        li.Menu_item
                            a.Menu_link(href="/feature_single.html") Комфорт продуманный до мелочей
                        li.Menu_item
                            a.Menu_link(href="/feature_single_n3.html") Эко-пространство
                        li.Menu_item
                            a.Menu_link(href="/feature_single_n2.html") Жильё высокого класса
                        li.Menu_item
                            a.Menu_link(href="/feature_single_n4.html") Безопасность

            .Menu_group
                h6.Menu_groupHead.Menu_groupHead-withSubmenu Инфраструктура
                .Menu_listWrap
                    ul.Menu_list
                        li.Menu_item
                            a.Menu_link(href="/infras_external.html") Район
                        li.Menu_item
                            a.Menu_link(href="/infras_internal.html") Благоустройство
            .Menu_group
                h6.Menu_groupHead.Menu_groupHead-withSubmenu Как купить?
                .Menu_listWrap
                    ul.Menu_list
                        li.Menu_item
                            a.Menu_link(href="/installment.html") Рассрочка
                        li.Menu_item
                            a.Menu_link(href="/mortgage.html") Ипотека
            .Menu_group
                h6.Menu_groupHead.Menu_groupHead-withSubmenu Квартиры
                .Menu_listWrap
                    ul.Menu_list
                        li.Menu_item
                            a.Menu_link(href="/filters_typicals.html") Подбор по параметрам
                        //- li.Menu_item
                            a.Menu_link(href="/genplan.html") Геплан
            .Menu_group
                a.Menu_groupHead(href="/contacts.html") Контакты
        footer.Menu_footer @ 2017 «Серебрица»
