a(href="/flat_single.html" data-wow-delay="0.5s").PageBtn.PageBtn-prev.wow.fadeInLeft
        include ../svg/angle_right.svg
        span.PageBtn_txt №9
a(href="/flat_single2.html" data-wow-delay="0.5s").PageBtn.PageBtn-next.wow.fadeInRight
    span.PageBtn_txt №11
    include ../svg/angle_right.svg