mixin PopupBtn(type)
    if (type == 'article')
        .PopupBtn.PopupBtn-articleBurger
            .PopupBtn_btn

            .PopupBtn_content
                .PopupBtn_listLinks
                    a(href="#" data-scrollTo="title1").PopupBtn_linkScroll BIM-проектирование
                    a(href="#" data-scrollTo="title2").PopupBtn_linkScroll BIM-проектирование
                    a(href="#" data-scrollTo="title3").PopupBtn_linkScroll BIM-проектирование
                    a(href="#" data-scrollTo="title4").PopupBtn_linkScroll BIM-проектирование
                    a(href="#" data-scrollTo="title5").PopupBtn_linkScroll BIM-проектирование

    else
        .PopupBtn.PopupBtn-v1&attributes(attributes)
            .PopupBtn_btn.PopupBtn_btn-birdIco
                .PopupBtn_wave.PopupBtn_wave-n1
                .PopupBtn_wave.PopupBtn_wave-n2

            .PopupBtn_content
                .PopupBtn_wrp
                    h5 А вы знаете что:
                    p В 10 минутах от миниполиса расположена ж/д станция «Опалиха». На электричке можно добраться до метро Дмитровская (30 минут) и Рижская (40 минут). На автобусе до метро Митино (35 минут) и Тушинская (45 минут).
                    .PopupBtn_readMoreLinkWrap
                        a(href="/promo_single.html").PopupBtn_readMore Подробнее&nbsp;
                            include ../svg/arrow_right_bold.svg