mixin Share(additionalClasses) 
    .Share(class!=additionalClasses)
        .Share_head Поделиться в соц.сетях&nbsp;:
        .Share_iconsWrap
            a.Share_link.Share_link-tw(href="https://twitter.com" target="_blank" rel="nofollow noopener")
                include ../svg/twitter.svg
            a.Share_link.Share_link-vk(href="https://vk.com" target="_blank" rel="nofollow noopener")
                include ../svg/vk.svg
            a.Share_link.Share_link-fb(href="https://facebook.com" target="_blank" rel="nofollow noopener")
                include ../svg/fb.svg