.TimeCounter
    .TimeCounter_cont
        .TimeCounter_tlt До повышения цен осталось
        .TimeCounter_numbs
            .TimeCounter_numbsPar
                .TimeCounter_numbsItem 0
                .TimeCounter_numbsItem 2
                .TimeCounter_numbsName Дней
            .TimeCounter_numbsPar
                .TimeCounter_numbsItem 1
                .TimeCounter_numbsItem 6
                .TimeCounter_numbsName Часов
            .TimeCounter_numbsPar
                .TimeCounter_numbsItem 2
                .TimeCounter_numbsItem 8
                .TimeCounter_numbsName Минут
            .TimeCounter_numbsPar
                .TimeCounter_numbsItem 3
                .TimeCounter_numbsItem 7
                .TimeCounter_numbsName Секунд
        a(href="#").Btn.Btn-white Подробнее
    a.TimeCounter_close(href="#")