mixin filtersHeader(ActiveLinkIndex)
    -
        let links = [
            {
                href: "/filters_typicals.html",
                title: "Квартира"
            },
            //- {
            //-     href: "/filters_parking.html",
            //-     title: "Парковка"
            //- },
            {
                href: "/filters_storerooms.html",
                title: "Кладовая"
            },
            {
                href: "/filters_commercial.html",
                title: "Коммерческие помещения"
            }
        ];
        links[ActiveLinkIndex].isActive = true;
    header.Box.Box-filtersPageTop
        ul.Tabs.Tabs-aligned.hidden-xs
            each link in links
                li(class=`Tabs_item ${link.isActive ? "Tabs_item-active" : ""}`)
                    a.Tabs_link(href=link.href) #{link.title}

        .hidden-sm.hidden-md
            select.FilterMobileSwitcher(autocomplete="off")
                each link in links
                    option(value=link.href selected=link.isActive) #{link.title}