include ../blocks/ColorLegend
include ../blocks/Breadcrumbs
include ../blocks/FilterSidebar
include ../blocks/Fitblock
include ../blocks/Share
include ../blocks/PopupBtn
include ../blocks/ArticleBurger
include ../blocks/FilterForm
include filters_header.pug